<% if params[:type].present? %>
  <% current_item = params[:type] %>
<% end %>
<label for="<%= vamc_type_selector %>" class="usa-label line-height-26">Type</label>
<div class="margin-top-1 margin-bottom-2 desktop:margin-y-0">
  <select id="<%= vamc_type_selector %>" class="usa-select" name="<%= vamc_type_selector %>">
    <option value>- Select -</option>
    <% @types.each do |type| %>
      <option value=<%= type[:fy17_parent_station_complexity_level] %>>
          <%= type[:fy17_parent_station_complexity_level] %>
        </option>
    <% end %>
  </select>
</div>