<div class="usa-combo-box margin-top-1 margin-bottom-2 desktop:margin-y-0 desktop:grid-col-12">
  <label for="<%= vamc_selector %>" class="line-height-26">VAMC</label>
    <select id="<%= vamc_selector %>" class="usa-select" name="<%= vamc_selector %>">
      <% @vamcs.each do |v| %>
        <option value=<%= v.id %>>
          <%= v.common_name %>
        </option>
      <% end %>
    </select>
</div>