<label for="<%= visn_selector %>" class="usa-label line-height-26">VISN</label>
<div class="margin-top-1 margin-bottom-2 desktop:margin-y-0">
  <select id="<%= visn_selector %>" class="usa-select" name="<%= visn_selector %>">
    <option value>- Select -</option>
    <% @visns.each do |v| %>
      <option value=<%= v.id %>>
        <%= v.number %> - <%= v.name %>
      </option>
    <% end %>
  </select>
</div>