<% provide :main_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>

<% provide :head_tags do %>
  <%= javascript_include_tag 'vamc_directory', 'data-turbolinks-track': 'reload' %>
<% end %>

<section class="usa-section padding-y-0 grid-col-12">
  <div class="grid-container position-relative grid-col-12">
    <div class="grid-row grid-gap">
      <div class="grid-col-12">
        <h1 class="font-sans-2x1 desktop:margin-top-5 desktop:margin-bottom-3">
          VAMC directory
        </h1>
        <div class="text-base">
          Looking for a full list of VISNs? <a href="/visn">Click here</a>
        </div>
        <div class="desktop:margin-top-5 desktop:margin-bottom-3">
          <table>
            <tr>
              <td width="380px"><%= render partial: 'vamcs/vamc_directory_combo_box', locals: {vamc_selector: 'vamc_directory_select'} %></td>
              <td width="25px"></td>
              <td width="236px"><%= render partial: 'vamcs/visn_combo_box', locals: {visn_selector: 'vamc_directory_visn_select'} %></td>
              <td width="25px"></td>
              <td width="308px"><%= render partial: 'vamcs/vamc_directory_type_combo_box', locals: {vamc_type_selector: 'vamc_type_select'} %></td>
            </tr>
          </table>
        </div>
        <div class="desktop:margin-bottom-3">
          <%= @vamcs.count %> results:
        </div>
        <div>
          <table class="usa-table usa-table--borderless grid-col-12">
            <thead>
            <tr>
              <th scope="col">Facility</th>
              <th scope="col">Common name</th>
              <th scope="col">VISN</th>
              <th scope="col">Type</th>
              <th scope="col">Created</th>
              <th scope="col">Adopted</th>
            </tr>
            </thead>
            <tbody>
            <% ctr = 0 %>
            <%= @vamcs.each do |v| %>
              <tr>
                <td><%= v.official_station_name %></td>
                <td><%= v.common_name %></td>
                <td><%= v.visn_id %></td>
                <td><%= v.fy17_parent_station_complexity_level %></td>
                <td></td>
                <td></td>
              </tr>
            <% ctr += 1 %>
              <% if ctr > 20 %>
              <% break %>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>