<% provide :main_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>

<% provide :head_tags do %>
  <%= javascript_include_tag 'vamc_directory', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render partial: 'vamcs/vamc_map'%>
<section class="usa-section padding-y-0 grid-col-12">
  <div class="grid-container position-relative grid-col-12">
    <div class="grid-row grid-gap">
      <div class="grid-col-12">
        <h1 class="font-sans-2x1 desktop:margin-top-5 desktop:margin-bottom-3">
          <%= @vamc.official_station_name %>
        </h1>
        <div style="width: 100%; overflow: hidden;">
          <div class="text-base-darkest grid-col-6" style="float: left;"> This facility has created <%= @created_practices %> practices and has adopted <%= @adoptions %> practices. </div>
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</section>

