<% provide :main_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>

<% provide :head_tags do %>
  <%= javascript_include_tag 'vamc_directory', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render partial: 'vamcs/vamc_map'%>
<section class="usa-section padding-y-0 grid-col-12">
  <div class="grid-container position-relative grid-col-12">
    <div class="grid-row grid-gap">
      <div class="grid-col-12">
        <h1 class="font-sans-2x1 desktop:margin-top-5 desktop:margin-bottom-3">
          <%= @vamc.official_station_name %>
        </h1>
        <div style="width: 100%; overflow: hidden;">
          <div class="text-base-darkest grid-col-6" style="float: left;"> This facility has created <%= @created_practices %> practices and has adopted <%= @adoptions %> practices.  It's a
            <% if @vamc.rurality == "R" %>
            rural
            <% end %>
            <% if @vamc.rurality == "U" %>
            urban
            <% end %>
            <%= @vamc.fy17_parent_station_complexity_level %>
            facility and serves veterans in <%= @vamc.mailing_address_city %>.  This facility opened in <%= @vamc.station_number_suffix_reservation_effective_date.to_s[0..3] %>.
            <div class="desktop:margin-top-2 vamc-address">
              Address
            </div>
            <div class="desktop:margin-top-1">
              <%= @vamc.official_station_name %>
            </div>
            <div class="desktop:margin-top-1">
              <%= @vamc.street_address %>
            </div>
            <div class="desktop:margin-top-1">
              <%= @vamc.street_address_city %>, <%= @vamc.street_address_state %> <%= @vamc.street_address_zip_code %>
            </div>
            <div class="desktop:margin-top-2">
              <%= @vamc.station_phone_number %>
            </div>
          </div>
          <div id="map"></div>
        </div>
      </div>
      <h1 class="font-sans-2x1 desktop:margin-top-5 desktop:margin-bottom-3">
        Practices created at this VAMC
      </h1>
    </div>
  </div>
</section>

