<%
  other_parent_category = other_parent_category
  parent_category_id = parent_category_id
  f = form
  link_to_add_link_slug = 'link_to_add_link_slug_' + other_parent_category
  add_category_link = "add-category-link-" + other_parent_category
  blue_print_id = "practice_categories_fields_blueprint_" + other_parent_category
  other_parent_category_place_holder = "OTHER_PARENT_CATEGORY_PLACE_HOLDER"
  li_class_place_holder = "LI_PLACE_HOLDER"
%>
<div id="<%= other_parent_category %>_other_categories_container" class="display-none position-relative">
  <%
    other_categories = @practice.categories.where(is_other: true, parent_category_id: parent_category_id)
    other_category_ids = other_categories.ids
  %>
  <ul id="<%= other_parent_category %>" class="practice-editor-<%= other_parent_category %>-categories-ul padding-left-0 x0" role="listbox" title="Practice categories" aria-label="Practice editor category list">
    <%= f.fields_for :categories, wrapper: false do |cat| %>
      <%
        other_category_id = cat.object.id || "new_categories"
        show_other_category_form = (cat.object.parent_category && cat.object.parent_category.name.downcase == other_parent_category && cat.object.is_other) || other_category_id == "new_categories"
      %>
      <% if show_other_category_form %>
        <% if cat.object.id %>
          <% provide :head_tags do %>
            <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
              $(document).arrive('<%= "#practice_categories_attributes_#{cat.index}_name" %>',
              function(newElem) {
              styleOriginFacility(
              $(newElem).closest('li'),
              <%= other_category_id %>,
              '.<%= other_parent_category %>-li',
              '.practice-editor-<%= other_parent_category %>-categories-ul',
              '8'
              );
              $(document).unbindArrive('<%= "#practice_categories_attributes_#{cat.index}_name" %>', newElem);
              }
              );
            <% end %>
          <% end %>
        <% end %>

        <div>Hello <%= other_parent_category %></div>
        <li class="<%= cat.object.id ? other_parent_category : li_class_place_holder %>-li fields" data-id="<%= other_category_id %>">
        <%= cat.hidden_field :id %>
          <div class="grid-row">
            <div class="grid-col-12">
              <%= cat.label :name, 'Category name', class: 'usa-label display-inline-block other-category-name x0-top' %>&nbsp;
              <%= cat.text_field :name, class: 'usa-input practice-input timeline-input grid-col-12' %>
              <%= cat.hidden_field :parent_category, value: cat.object.id ? other_parent_category : other_parent_category_place_holder %>
            </div>
            <div class="grid-col-12 trash-container">
              <%= cat.link_to_remove 'Delete entry',
                                    class: "dm-origin-trash usa-button--unstyled dm-btn-warning float-right line-height-26"
              %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= f.link_to_add :categories, id: link_to_add_link_slug, 'data-dm-blueprint-id': blue_print_id, class: add_category_link + " dm-add-another-link usa-button--unstyled dm-btn-primary line-height-26 cursor-pointer" do %>
    <span class="text-normal">Add another</span>
  <% end %>

  <% unless other_categories.any? %>
    <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
      console.log('hello')
      observePracticeEditorLiArrival(
      $(document),
      '.<%= other_parent_category %>-li',
      '.practice-editor-<%= other_parent_category %>-categories-ul',
      '12'
      );
      attachTrashListener(
      $(document),
      '#<%= other_parent_category %>_other_categories_container',
      '.<%= "#{li_class_place_holder}_clinical" %>-li'
      );
    $(document).arrive('#categories_fields_blueprint',
      function(blueprint) {
      console.log('hello 2')
      $('#<%= link_to_add_link_slug %>').click();
      var cloned_blue_print =  $(blueprint).clone(true);
<!--      console.log('clone', cloned_blue_print.data('blueprint'))-->
      cloned_blue_print.attr('id', '<%= blue_print_id %>');
<!--      console.log('parent cate', '<%#= other_parent_category %>')-->
      $(blueprint).before(cloned_blue_print);
<!--      console.log('clone 1', cloned_blue_print.data('blueprint'));-->
      cloned_blue_print.data('blueprint', cloned_blue_print.data('blueprint').replace('<%= li_class_place_holder %>', '<%= other_parent_category %>'));
      cloned_blue_print.data('blueprint', cloned_blue_print.data('blueprint').replace('<%= other_parent_category_place_holder %>', '<%= other_parent_category %>'));
<!--      console.log('clone 2', cloned_blue_print.data('blueprint'));-->
      $(document).unbindArrive('#categories_fields_blueprint', blueprint);
      }
      );
    <% end %>
  <% end %>
</div>

