<% provide :main_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>
<% provide :head_tags do %>
  <%= javascript_include_tag 'practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
  <div class="grid-row grid-gap practice-editor-min-height">
    <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

    <div id="about" class="desktop:grid-col-9 grid-col-12 p0">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
      <section class="usa-section padding-top-0 p0-bottom about">
        <h1 class="font-sans-2xl line-height-46px margin-bottom-3">About</h1>
        <h2 class="text-normal line-height-36 font-sans-lg">
          This section helps people understand how your practice started and introduces the original team.
        </h2>
        <div class="margin-top-3">
          <%= render 'pii_phi_alert' %>
        </div>
        <%= nested_form_for(@practice, html: {multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
          <fieldset class="usa-fieldset grid-col-11">
            <legend class="usa-sr-only">Practice About Information</legend>
            <div class="margin-bottom-5">
              <div class="practice-editor-rect-svg border-top-05 border-primary-dark"></div>
              <div>
                <%= f.label :origin_story, class: 'usa-label' do %>
                  <p class="text-bold margin-bottom-2 line-height-18px">Origin story</p>
                  <p class="line-height-26">Type a short story describing how your practice started.</p>
                <% end %>
                <%= f.text_area :origin_story, class: 'usa-input practice-input height-15 margin-bottom-5 origin-story-textarea' %>
              </div>
              <div class="practice-editor-rect-svg border-top-05 border-primary-dark"></div>
              <div class="margin-top-3 margin-bottom-2">
                <p class="text-bold margin-bottom-2 line-height-18px">Team members</p>
                <p class="line-height-26">Add the names of people who are responsible for this practice.</p>
              </div>
              <div class="grid-col-7">
                <div id="about_container" class="position-relative">
                  <ul class="practice-editor-about-ul" id="sortable_va_employees" role="listbox" title="Practice about" aria-label="Practice editor VA employee list">
                    <%= f.fields_for :va_employees, wrapper: false do |vae| %>
                      <%
                        vae_id = vae.object.id || "new_va_employees"
                      %>
                      <% if vae_id %>
                        <% provide :head_tags do %>
                          <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
                            $(document).arrive('<%= "#practice_va_employees_attributes_#{vae.index}_name" %>', function(newElem) {
                            styleOriginFacility(
                            $(newElem).closest('li'),
                            <%= vae_id %>,
                            '.practice-editor-about-li',
                            '.practice-editor-about-ul',
                            '12'
                            );
                            $(document).unbindArrive('<%= "#practice_va_employees_attributes_#{vae.index}_name" %>', newElem);
                            });
                          <% end %>
                        <% end %>
                      <% end %>
                      <li class="practice-editor-about-li fields" <%= "id=practice_va_employees_attributes_#{vae.index}_li" if vae_id %> role="option" data-id="<%= vae_id %>">
                        <div class="grid-row">
                          <div class="grid-col-12">

                              <%= vae.label :name, 'Name', class: 'usa-label x0-top', alt: 'hello' %>
                            <div>Type the name of the team member.</div>
                            <%= vae.text_field :name, class: 'usa-input practice-input va-employee-name-input' %>
                            <%= vae.label :role, 'Role', class: 'usa-label' %>
                            <div>Type the job title of the team member. </div>
                            <%= vae.text_field :role, class: 'usa-input practice-input va-employee-role' %>
                          </div>
                          <div class="trash-container grid-col-12">
                            <%= vae.link_to_remove 'Delete entry', class: "dm-origin-trash usa-button--unstyled dm-btn-warning float-right line-height-26" %>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                  <%= f.link_to_add :va_employees, id: 'link_to_add_link_va_employees', class: 'dm-add-another-link add-va-employee-link usa-button--unstyled dm-btn-primary line-height-26' do %>
                    <span class="text-normal">Add another</span>
                  <% end %>
                  <% provide :head_tags do %>
                    <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
                      observePracticeEditorLiArrival(
                      $(document),
                      '.practice-editor-about-li',
                      '.practice-editor-about-ul',
                      '12'
                      );
                      attachTrashListener(
                      $(document),
                      '#about_container',
                      '.practice-editor-about-li'
                      );
                      <% unless @practice.va_employees.any? %>
                        $(document).arrive('#va_employees_fields_blueprint', function(blueprint) {
                          $('.add-va-employee-link').click();
                          $(document).unbindArrive('#va_employees_fields_blueprint', blueprint);
                        });
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </fieldset>
        <% end %>

        <div class="grid-row">
          <%= link_to practice_contact_path(@practice), class: 'usa-button--outline dm-btn-base editor-back-to-link margin-right-1 text-no-underline' do %>
            Back
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>