<% provide :main_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>

<% provide :head_tags do %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    <%= render partial: 'practices/form/session_monitor', formats: [:js] %>
  <% end %>
  <%= javascript_include_tag 'practice_editor_adoptions', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="grid-container">
  <div class="grid-row grid-gap">
    <div id="dm-pe-adoptions" class="grid-col-12">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
      <section class="usa-section padding-top-0 padding-bottom-0">
        <h1>Adoptions</h1>
          <%= render partial: "practices/form/practice_last_updated", locals: {small_text: true} %>
        <div class="usa-prose-intro">
          Share which facilities have successfully adopted your innovation. All adoptions roll up to the VAMC level. Aim to update this data quarterly.
        </div>
        <%= render 'pii_phi_alert' %>
        <!-- start accordions -->
        <div id="adoptions">
          <%= render partial: 'practices/form/adoptions_forms/adoptions_content' %>
        </div>
      </section>
    </div>
  </div>
</div>
