<% provide :main_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>


<% provide :head_tags do %>
  <%= javascript_include_tag 'metrics_page', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
  <% end %>
<% end %>

<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
  <div class="grid-row grid-gap practice-editor-min-height">
    <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

    <div id="contact" class="desktop:grid-col-9 grid-col-12 p0">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
      <br /><br/>
      <section class="usa-section padding-top-0 p0-bottom contact">
        <p style="font-weight: bold; font-size: xx-large">
          Metrics
          <span style="float: right; font-size: small">
            <a href="#">Download excel file</a>
          </span>
        </p>
        <br/>
        <br/>
        <div>
          View your metrics for
          <select style="width: 75%" name="metrics_duration" id="metrics_duration">
            <option id="metrics_30_day_value" value="30" <%= 'selected' if @duration.to_i == 30 %>>the last 30 days</option>
            <option id="metrics_all_time_value" value="9999" <%= 'selected' if @duration.to_i == 9999 %>>all time</option>
          </select>
        </div>
        <br/>
        <br/>
          <div class="grid-col-10"  style="text-align: center;alignment: center; width: 100%">
          <table style="width: 80%; alignment: center">
            <td style="font-size: 13px">PAGE VIEWS</td>
            <td style="font-size: 13px">UNIQUE VISITORS</td>
            <td style="font-size: 13px">BOOKMARKS</td>
            <td style="font-size: 13px">ADOPTIONS</td>
            <tr>
              <td><h2><%= @page_views_for_practice %></h2></td>
              <td><h2><%= @unique_visitors_for_practice %></h2></td>
              <td><h2>9999</h2></td>
              <td><h2>9999</h2></td>
            </tr>
          </table>
          </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>


        <div class="margin-bottom-3">
          <table style="width: 100%">
            <tr>
              <td><h2>Leader board</h2></td>
              <td align="right"><button id="toggle_leader_board_view_30" class="usa-button usa-button--base usa-button--active">Last 30 days</button><button id="toggle_leader_board_view_all_time" class="usa-button usa-button--outline usa-button--active">All time</button></td>
            </tr>
          </table>
        </div>

        <div id="leader_board_page_views_30_days" class="">
          <table style="width: 100%">
            <th align="left" style="width: 80%">Practice</th>
            <th align="left">Views</th>
            <% @page_views_leader_board_30_days.each do |rec| %>
              <tr>
                <td style="width: 80%"><%=rec.practice_name %></td>
                <td><%= rec.count %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div id="leader_board_page_views_all_time" style="display: none">
          <table style="width: 100%">
            <th align="left" style="width: 80%">Practice</th>
            <th align="left">Views</th>
            <% @page_views_leader_board_all_time.each do |rec| %>
              <tr>
                <td style="width: 80%"><%=rec.practice_name %></td>
                <td><%= rec.count %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>



        <div class="border bg-white padding-2 margin-bottom-2 margin-top-1 radius-md padding-bottom-0">

<!--          <h4 class="margin-0">Search interest in Franklin D. and Theodore Roosevelt for the first week of March, 2020</h4>-->
<!--          <p class="margin-top-1 font-sans-2xs text-base margin-bottom--3">Search interest in Franklin D. Roosevelt has been consistently higher than Theodore Roosevelt. Numbers represent search interest relative to the highest point on the chart for the given region and time. A value of 100 is the peak popularity for the term. A value of 50 means that the term is half as popular. A score of 0 means there was not enough data for this term.</p>-->

          <!--?xml version="1.0" encoding="utf-8"?-->
          <!-- Generator: Adobe Illustrator 24.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="LineChart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1020.29 660.46" style="enable-background:new 0 0 1020.29 660.46;" xml:space="preserve" aria-hidden="true">
            <style type="text/css">
              .line-st0{fill:none;stroke:#71767a;stroke-miterlimit:10;}
              .line-st0-light{fill:none;stroke:#dfe1e2;stroke-miterlimit:10;}
              .line-st2{font-size:27px;}
              .line-st3{fill:none;stroke:#FA9441;stroke-width:5;stroke-miterlimit:10;}
              .line-st4{fill:none;stroke:#005EA2;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
              .line-st5{fill:none;stroke:#005EA2;stroke-width:6;stroke-linecap:round;stroke-miterlimit:10;}
              .line-st6{fill:#C05600;}
              .line-st7{fill:#005EA2;}
              .line-st8{font-size:24px;}
              .font-svg-main{font-size:26px;}
            </style>
            <g id="Roosevelts">
              <g>
                <line class="line-st0" x1="69.45" y1="574.89" x2="971.08" y2="574.89"></line>
              </g>
              <g>
                <g>
                  <text transform="matrix(1 0 0 1 41.5112 586.7432)" class="line-st1 line-st2">0</text>
                  <text transform="matrix(1 0 0 1 27.6606 469.9014)" class="line-st1 line-st2">25</text>
                  <text transform="matrix(1 0 0 1 27.6606 353.0591)" class="line-st1 line-st2">50</text>
                  <text transform="matrix(1 0 0 1 27.6606 236.2168)" class="line-st1 line-st2">75</text>
                  <text transform="matrix(1 0 0 1 13.8101 119.375)" class="line-st1 line-st2">100</text>
                </g>
                <line class="line-st0" x1="69.45" y1="574.89" x2="69.45" y2="107.53" stroke-width="1px" vector-effect="non-scaling-stroke"></line>
                <g>
                  <g>
                    <line class="line-st0" x1="69.45" y1="574.89" x2="971.08" y2="574.89" stroke-width="1px" vector-effect="non-scaling-stroke"></line>
                    <line class="line-st0-light" x1="69.45" y1="458.05" x2="971.08" y2="458.05" stroke-width="1px" vector-effect="non-scaling-stroke"></line>
                    <line class="line-st0-light" x1="69.45" y1="341.21" x2="971.08" y2="341.21" stroke-width="1px" vector-effect="non-scaling-stroke"></line>
                    <line class="line-st0-light" x1="69.45" y1="224.37" x2="971.08" y2="224.37" stroke-width="1px" vector-effect="non-scaling-stroke"></line>
                    <line class="line-st0-light" x1="69.45" y1="107.53" x2="971.08" y2="107.53" stroke-width="1px" vector-effect="non-scaling-stroke"></line>
                  </g>
                  <g>
                  </g>
                </g>
              </g>
              <g>
                <g>
                  <line class="line-st3" x1="73.43" y1="42.89" x2="186.14" y2="42.89" stroke-dasharray="4 1"></line>
                  <g>
                    <line class="line-st3" x1="262.66" y1="168.28" x2="133.85" y2="355.23" stroke-dasharray="4 1"></line>
                    <line class="line-st3" x1="391.46" y1="149.59" x2="262.66" y2="168.28" stroke-dasharray="4 1"></line>
                    <line class="line-st3" x1="520.27" y1="172.96" x2="391.46" y2="149.59" stroke-dasharray="4 1"></line>
                    <line class="line-st3" x1="649.07" y1="107.53" x2="520.27" y2="172.96" stroke-dasharray="4 1"></line>
                    <line class="line-st3" x1="777.88" y1="210.35" x2="649.07" y2="107.53" stroke-dasharray="4 1"></line>
                    <line class="line-st3" x1="906.68" y1="392.62" x2="777.88" y2="210.35" stroke-dasharray="4 1"></line>
                  </g>
                </g>
                <g>
                  <line class="line-st4" x1="622.43" y1="43" x2="735.14" y2="43"></line>
                  <g>
                    <line class="line-st4" x1="262.66" y1="341.21" x2="133.85" y2="434.68"></line>
                    <line class="line-st4" x1="391.46" y1="359.9" x2="262.66" y2="341.21"></line>
                    <line class="line-st4" x1="520.27" y1="378.6" x2="391.46" y2="359.9"></line>
                    <line class="line-st4" x1="649.07" y1="359.9" x2="520.27" y2="378.6"></line>
                    <line class="line-st5" x1="777.88" y1="392.62" x2="649.07" y2="359.9"></line>
                    <line class="line-st5" x1="906.68" y1="472.07" x2="777.88" y2="392.62"></line>
                  </g>
                </g>
              </g>
              <g>
                <g>
                  <g>
                    <circle class="line-st6" cx="129.79" cy="42.89" r="8"></circle>
                  </g>
                  <g>
                    <g>
                      <circle class="line-st6" cx="133.85" cy="355.23" r="8"></circle>
                    </g>
                    <g>
                      <circle class="line-st6" cx="262.66" cy="168.28" r="8"></circle>
                    </g>
                    <g>
                      <circle class="line-st6" cx="391.46" cy="149.59" r="8"></circle>
                    </g>
                    <g>
                      <circle class="line-st6" cx="520.27" cy="172.96" r="8"></circle>
                    </g>
                    <g>
                      <circle class="line-st6" cx="649.07" cy="107.53" r="8"></circle>
                    </g>
                    <g>
                      <circle class="line-st6" cx="777.88" cy="210.35" r="8"></circle>
                    </g>
                    <g>
                      <circle class="line-st6" cx="906.68" cy="392.62" r="8"></circle>
                    </g>
                  </g>
                </g>
                <g>
                  <g>
                    <circle class="line-st7" cx="678.79" cy="43" r="8"></circle>
                  </g>
                  <g>
                    <g>
                      <circle class="line-st7" cx="133.85" cy="434.68" r="8"></circle>
                    </g>
                    <g>
                      <circle class="line-st7" cx="262.66" cy="341.21" r="8"></circle>
                    </g>
                    <g>
                      <circle class="line-st7" cx="391.46" cy="359.9" r="8"></circle>
                    </g>
                    <g>
                      <circle class="line-st7" cx="520.27" cy="378.6" r="8"></circle>
                    </g>
                    <g>
                      <circle class="line-st7" cx="649.07" cy="359.9" r="8"></circle>
                    </g>
                    <g>
                      <circle class="line-st7" cx="777.88" cy="392.62" r="8"></circle>
                    </g>
                    <g>
                      <circle class="line-st7" cx="906.68" cy="472.07" r="8"></circle>
                    </g>
                  </g>
                </g>
              </g>
              <g>
                <g>
                </g>
                <text class="font-svg-main" transform="matrix(1 0 0 1 200.2261 50.7432)">Page views</text>
                <text class="font-svg-main" transform="matrix(1 0 0 1 749.2261 50.8486)">Unique visitors</text>
              </g>
              <g>
                <text class="font-svg-main" transform="matrix(1 0 0 1 88.8032 613.895)">Mar. 1</text>
                <text class="font-svg-main" transform="matrix(1 0 0 1 217.6079 613.895)">Mar. 2</text>
                <text class="font-svg-main" transform="matrix(1 0 0 1 346.4126 613.895)">Mar. 3</text>
                <text class="font-svg-main" transform="matrix(1 0 0 1 475.2173 613.895)">Mar. 4</text>
                <text class="font-svg-main" transform="matrix(1 0 0 1 604.022 613.895)">Mar. 5</text>
                <text class="font-svg-main" transform="matrix(1 0 0 1 732.8267 613.895)">Mar. 6</text>
                <text class="font-svg-main" transform="matrix(1 0 0 1 861.6313 613.895)">Mar. 7</text>
              </g>
            </g>
          </svg>

          <table class="usa-sr-only" aria-describedby="source_line" style="width: 726px; height: 400px">
            <caption>Metrics for <%= @practice.name %></caption>
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">March 1</th>
              <th scope="col">March 2</th>
              <th scope="col">March 3</th>
              <th scope="col">March 4</th>
              <th scope="col">March 5</th>
              <th scope="col">March 6</th>
              <th scope="col">March 7</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Franklin D. Roosevelt</th>
              <td>47</td>
              <td>87</td>
              <td>91</td>
              <td>86</td>
              <td>100</td>
              <td>78</td>
              <td>39</td>
            </tr>
            <tr>
              <th scope="row">Theodore Roosevelt</th>
              <td>30</td>
              <td>50</td>
              <td>46</td>
              <td>42</td>
              <td>46</td>
              <td>39</td>
              <td>22</td>
            </tr>
            </tbody>
          </table>
          <p id="source_line">Source: <a href="https://trends.google.com/trends/explore?date=2020-03-01%202020-03-07&amp;geo=US&amp;q=%2Fm%2F07hyk,%2Fm%2F02yy8">Google Trends</a></p>
        </div>
      </section>
    </div>
  </div>
</div>