<% provide :main_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>

<% provide :head_tags do %>
  <%= javascript_include_tag 'metrics_page', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
  <% end %>
<% end %>

<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
  <div class="grid-row grid-gap practice-editor-min-height">
    <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

    <div id="contact" class="desktop:grid-col-9 grid-col-12 p0">
      <div class="margin-bottom-4">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
    </div>
      <section class="usa-section padding-top-0 p0-bottom contact">
        <p style="font-weight: bold; font-size: 40px" class="margin-bottom-3">
          Metrics
          <span style="float: right; padding-right: 30px">
            <a class="dm-icon-link text-no-underline font-sans-xs text-primary desktop:grid-col-3 grid-col-6 margin-bottom-0"
               onclick="window.print(); return false;">
              <i class="fas fa-print margin-right-05"></i>
              <span>Print</span>
            </a>
          </span>
        </p>
        <div class="margin-bottom-10">
          View your metrics for
          <select style="width: 559px; height: 40px" name="metrics_duration" id="metrics_duration">
            <option id="metrics_30_day_value" value="30" <%= 'selected' if @duration.to_i == 30 %>>the last 30 days</option>
            <option id="metrics_all_time_value" value="99999" <%= 'selected' if @duration.to_i != 30 %>>all time</option>
          </select>
        </div>
          <div class="grid-col-8 margin-bottom-10"  style="text-align: center; width: 100%" >
          <table style="width: 80%; display: inline-table">
            <th style="font-size: 13px">PAGE VIEWS</th>
            <th style="font-size: 13px">UNIQUE VISITORS</th>
            <th style="font-size: 13px">BOOKMARKS</th>
            <th style="font-size: 13px">ADOPTIONS</th>
            <tr>
              <td style="font-size: 32px"><%= @page_views_for_practice_count %></td>
              <td style="font-size: 32px"><%= @unique_visitors_for_practice_count %></td>
              <td style="font-size: 32px"><%= @bookmarks_by_practice %></td>
              <td style="font-size: 32px"><%= @adoptions_by_practice %></td>
            </tr>
          </table>
          </div>
        <!--  CHARTS ------------------------------------------------------------>

        <div class="border bg-white padding-2 margin-bottom-10 radius-md padding-bottom-0">
          <div style="width: 726px; height: 400px" id="chart_div"></div>
         </div>


<!-- ADOPTIONS ------------------------------------------------------------->
        <div class="margin-bottom-2">
          <table style="width: 100%">
            <tr>
              <td style="font-size: 32px">Adoptions</td>
              <td align="right"><button style="alignment: right; margin: 0px" id="toggle_adoptions_view_30" class="usa-button usa-button--base usa-button--active">Last 30 days</button><button style="alignment: left; width: 101px; height: 40px;" id="toggle_adoptions_view_all_time" class="usa-button usa-button--outline usa-button--active">All time</button></td>
            </tr>
          </table>
        </div>
        <div class="margin-bottom-10">
          <div id="adoptions_by_practice_30">
            <table style="width: 100%" class="margin-bottom-5">
              <tr class="border_bottom">
                <td align="left" style="width: 80%; font-weight: bold">Phase</td>
                <td align="left" style="font-weight: bold">Adoptions</td>
              </tr>
                <tr class="border_bottom">
                  <td style="width: 80%">Completed</td>
                  <td><%= @adoptions_successful_total_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td style="width: 80%">In-progress</td>
                  <td><%= @adoptions_in_progress_total_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td style="width: 80%">Unsuccessful</td>
                  <td><%= @adoptions_unsuccessful_total_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td style="width: 80%">Total</td>
                  <td><%= @adoptions_total_30 %></td>
                </tr>
            </table>
            <table style="width: 100%" class="margin-bottom-5">
              <tr class="border_bottom">
                <td align="left" style="width: 80%; font-weight: bold">Facility type</td>
                <td align="left" style="font-weight: bold">Adoptions</td>
              </tr>
                <tr class="border_bottom">
                  <td style="width: 80%">Rural facility</td>
                  <td><%= @rural_facility_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td style="width: 80%">Urban facility</td>
                  <td><%= @urban_facility_30 %></td>
                </tr>
            </table>
            <table style="width: 100%">
            <tr class="border_bottom">
              <td align="left" style="width: 80%; font-weight: bold">Facility complexity</td>
              <td align="left" style="font-weight: bold">Adoptions</td>
            </tr>
                <tr class="border_bottom">
                  <td style="width: 80%">1a (High Complexity)</td>
                  <td><%= @a_high_complexity_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td style="width: 80%">1b (High Complexity)</td>
                  <td><%= @b_high_complexity_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td style="width: 80%">1c (High Complexity)</td>
                  <td><%= @c_high_complexity_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td style="width: 80%">2 (Medium Complexity)</td>
                  <td><%= @medium_complexity_2_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td style="width: 80%">3 (Low Complexity)</td>
                  <td><%= @low_complexity_3_30 %></td>
                </tr>
            </table>
          </div>

  <!--      ADOPTIONS for ALL TIME -------------------------------------------------------------------->
          <div id="adoptions_by_practice_all_time" class="margin-bottom-10" style="display: none">
            <table style="width: 100%" class="margin-bottom-5">
              <tr class="border_bottom">
                <td align="left" style="width: 80%; font-weight: bold">Phase</td>
                <td align="left" style="font-weight: bold">Adoptions</td>
              </tr>
              <tr class="border_bottom">
                <td style="width: 80%">Completed</td>
                <td><%= @adoptions_successful_total_at %></td>
              </tr>
              <tr class="border_bottom">
                <td style="width: 80%">In-progress</td>
                <td><%= @adoptions_in_progress_total_at %></td>
              </tr>
              <tr class="border_bottom">
                <td style="width: 80%">Unsuccessful</td>
                <td><%= @adoptions_unsuccessful_total_at %></td>
              </tr>
              <tr class="border_bottom">
                <td style="width: 80%">Total</td>
                <td><%= @adoptions_total_at %></td>
              </tr>
            </table>
            <table style="width: 100%" class="margin-bottom-5">
              <tr class="border_bottom">
                <td align="left" style="width: 80%; font-weight: bold">Facility type</td>
                <td align="left" style="font-weight: bold">Adoptions</td>
              </tr>
              <tr class="border_bottom">
                <td style="width: 80%">Rural facility</td>
                <td><%= @rural_facility_at %></td>
              </tr>
              <tr class="border_bottom">
                <td style="width: 80%">Urban facility</td>
                <td><%= @urban_facility_at %></td>
              </tr>
            </table>
            <table style="width: 100%">
              <tr class="border_bottom">
                <td align="left" style="width: 80%; font-weight: bold">Facility complexity</td>
                <td align="left" style="font-weight: bold">Adoptions</td>
              </tr>
              <tr class="border_bottom">
                <td style="width: 80%">1a (High Complexity)</td>
                <td><%= @a_high_complexity_at %></td>
              </tr>
              <tr class="border_bottom">
                <td style="width: 80%">1b (High Complexity)</td>
                <td><%= @b_high_complexity_at %></td>
              </tr>
              <tr class="border_bottom">
                <td style="width: 80%">1c (High Complexity)</td>
                <td><%= @c_high_complexity_at %></td>
              </tr>
              <tr class="border_bottom">
                <td style="width: 80%">2 (Medium Complexity)</td>
                <td><%= @medium_complexity_2_at %></td>
              </tr>
              <tr class="border_bottom">
                <td style="width: 80%">3 (Low Complexity)</td>
                <td><%= @low_complexity_3_at %></td>
              </tr>
            </table>
          </div>
       </div>

<!-- LEADER BOARD -------------------------------------------------------------------------------------------->
        <div class="margin-bottom-2">
          <table style="width: 100%">
            <tr>
              <td style="font-size: 32px">Leader board</td>
              <td align="right"><button style="alignment: right; margin: 0px" id="toggle_leader_board_view_30" class="usa-button usa-button--base usa-button--active">Last 30 days</button><button style="alignment: left;  width: 101px; height: 40px;" id="toggle_leader_board_view_all_time" class="usa-button usa-button--outline usa-button--active">All time</button></td>
            </tr>
          </table>
        </div>

        <div id="leader_board_page_views_30_days" class="margin-bottom-3">
          <table style="width: 100%">
            <tr class="border_bottom">
            <td align="left" style="width: 80%; font-weight: bold">Practice</td>
            <td align="left" style="font-weight: bold">Views</td>
            </tr>
            <% @page_views_leader_board_30_days.each do |rec| %>
              <tr class="border_bottom">
                <td style="width: 80%"><a target="_blank" href="/practices/<%= rec.practice_slug %>/"><%=rec.practice_name %></a></td>
                <td><%= rec.count %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="margin-bottom-3" id="leader_board_page_views_all_time" style="display: none">
          <table style="width: 100%">
            <th align="left" style="width: 80%">Practice</th>
            <th align="left">Views</th>
            <% @page_views_leader_board_all_time.each do |rec| %>
              <tr class="border_bottom">
                <td style="width: 80%"><a target="_blank" href="/practices/<%= rec.practice_slug %>/"><%=rec.practice_name %></a></td>
                <td><%= rec.count %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- GOOGLE CHARTS ----------------------------------------------------------->
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      const monthNames = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"
      ];

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawLineChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      google.charts.load('current', {
          packages: ['corechart', 'line']
      });

      function drawLineChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Date');
          data.addColumn('number', 'Page views');
          data.addColumn('number', 'Unique visitors');
          <% ctr = 0 %>
          data.addRows([
              <%= while ctr < @dates.count do %>
              ['<%= @dates[ctr] %>', <%= @views[ctr] %>, <%= @unique_visitors[ctr] %>],
              <% ctr += 1 %>
              <% end %>
          ]);

          var options = {
              hAxis: {
                  title: 'TIME'
              },
              vAxis: {
                  title: 'METRIC TOTAL'
              },
              backgroundColor: '#f1f8e9',
              legend: { position: 'top', alignment: 'start' },
              colors: ['#0000FF', '#FFD700']
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
      }
  </script>
