<% provide :main_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>

<% provide :head_tags do %>
  <%= javascript_include_tag 'metrics_page', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    <%= render partial: 'practices/form/metrics', formats: [:js] %>
  <% end %>
<% end %>

<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
  <div class="grid-row grid-gap practice-editor-min-height">
    <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

    <div id="metrics" class="desktop:grid-col-9 grid-col-12 p0">
      <div class="margin-bottom-4">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
    </div>
      <section class="usa-section padding-top-0 p0-bottom contact" aria-label="Metrics">
        <p style="font-weight: bold; font-size: 40px" class="margin-bottom-3">
          Metrics
          <span style="float: right; padding-right: 30px">
            <a class="dm-icon-link text-no-underline font-sans-xs text-primary desktop:grid-col-3 grid-col-6 margin-bottom-0"
               onclick="window.print(); return false;">
              <i class="fas fa-print margin-right-05"></i>
              <span>Print</span>
            </a>
          </span>
        </p>
        <div class="margin-bottom-10">
          <%= label_tag 'metrics_duration', 'View your metrics for', class: 'usa-label, display-inline-block' %>
          <span class="display-inline-block">
            <select class="usa-select metrics-select" name="metrics_duration" id="metrics_duration">
              <option id="metrics_30_day_value" value="30" <%= 'selected' if @duration.to_i == 30 %>>the last 30 days</option>
              <option id="metrics_all_time_value" value="99999" <%= 'selected' if @duration.to_i != 30 %>>all time</option>
            </select>
          </span>
        </div>
          <div class="grid-col-8 margin-bottom-10 text-center width-full">
          <table style="width: 80%; display: inline-table">
            <th style="font-size: 13px">PAGE VIEWS</th>
            <th style="font-size: 13px">UNIQUE VISITORS</th>
            <th style="font-size: 13px">BOOKMARKS</th>
            <th style="font-size: 13px">ADOPTIONS</th>
            <tr>
              <td style="font-size: 32px"><%= @page_views_for_practice_count %></td>
              <td style="font-size: 32px"><%= @unique_visitors_for_practice_count %></td>
              <td style="font-size: 32px"><%= @bookmarks_by_practice %></td>
              <td style="font-size: 32px"><%= @adoptions_by_practice %></td>
            </tr>
          </table>
          </div>
        <!--  CHARTS ------------------------------------------------------------>

        <div class="border bg-white padding-2 margin-bottom-10 radius-md padding-bottom-0">
          <div style="width: 726px; height: 400px" id="chart_div"></div>
         </div>


<!-- ADOPTIONS ------------------------------------------------------------->
        <div class="margin-bottom-3">
          <table class="width-full">
            <tr>
              <td style="font-size: 32px">Adoptions</td>
              <td align="right"><button style="alignment: right; margin: 0px" id="toggle_adoptions_view_30" class="usa-button usa-button--base usa-button--active">Last 30 days</button><button style="alignment: left; width: 101px; height: 40px; color: black" id="toggle_adoptions_view_all_time" class="usa-button usa-button--outline usa-button--active">All time</button></td>
            </tr>
          </table>
        </div>
        <div class="margin-bottom-10">
          <div id="adoptions_by_practice_30">
            <table style="width: 100%" class="margin-bottom-5">
              <tr class="border_bottom">
                <td align="left" class="metrics-table-style" style="font-weight: bold">Phase</td>
                <td align="left" style="font-weight: bold">Adoptions</td>
              </tr>
                <tr class="border_bottom">
                  <td class="metrics-table-style">Completed</td>
                  <td><%= @adoptions_successful_total_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td class="metrics-table-style">In-progress</td>
                  <td><%= @adoptions_in_progress_total_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td class="metrics-table-style">Unsuccessful</td>
                  <td><%= @adoptions_unsuccessful_total_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td class="metrics-table-style">Total</td>
                  <td><%= @adoptions_total_30 %></td>
                </tr>
            </table>
            <table class="margin-bottom-5 width-full">
              <tr class="border_bottom">
                <td align="left" class="metrics-table-style" style="font-weight: bold">Facility type</td>
                <td align="left" style="font-weight: bold">Adoptions</td>
              </tr>
                <tr class="border_bottom">
                  <td class="metrics-table-style">Rural</td>
                  <td><%= @rural_facility_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td class="metrics-table-style">Urban</td>
                  <td><%= @urban_facility_30 %></td>
                </tr>
            </table>
            <table class="width-full">
            <tr class="border_bottom">
              <td align="left" class="metrics-table-style" style="font-weight: bold">Facility complexity</td>
              <td align="left" style="font-weight: bold">Adoptions</td>
            </tr>
                <tr class="border_bottom">
                  <td class="metrics-table-style">1a (High Complexity)</td>
                  <td><%= @a_high_complexity_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td class="metrics-table-style">1b (High Complexity)</td>
                  <td><%= @b_high_complexity_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td class="metrics-table-style">1c (High Complexity)</td>
                  <td><%= @c_high_complexity_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td class="metrics-table-style">2 (Medium Complexity)</td>
                  <td><%= @medium_complexity_2_30 %></td>
                </tr>
                <tr class="border_bottom">
                  <td class="metrics-table-style">3 (Low Complexity)</td>
                  <td><%= @low_complexity_3_30 %></td>
                </tr>
            </table>
          </div>

  <!--      ADOPTIONS for ALL TIME -------------------------------------------------------------------->
          <div id="adoptions_by_practice_all_time" class="margin-bottom-10" style="display: none">
            <table class="width-full" class="margin-bottom-5">
              <tr class="border_bottom">
                <td align="left" class="metrics-table-style" style="font-weight: bold">Phase</td>
                <td align="left" style="font-weight: bold">Adoptions</td>
              </tr>
              <tr class="border_bottom">
                <td class="metrics-table-style">Completed</td>
                <td><%= @adoptions_successful_total_at %></td>
              </tr>
              <tr class="border_bottom">
                <td class="metrics-table-style">In-progress</td>
                <td><%= @adoptions_in_progress_total_at %></td>
              </tr>
              <tr class="border_bottom">
                <td class="metrics-table-style">Unsuccessful</td>
                <td><%= @adoptions_unsuccessful_total_at %></td>
              </tr>
              <tr class="border_bottom">
                <td class="metrics-table-style">Total</td>
                <td><%= @adoptions_total_at %></td>
              </tr>
            </table>
            <table class="width-full" class="margin-bottom-5">
              <tr class="border_bottom">
                <td align="left" class="metrics-table-style" style="font-weight: bold">Facility type</td>
                <td align="left" style="font-weight: bold">Adoptions</td>
              </tr>
              <tr class="border_bottom">
                <td class="metrics-table-style">Rural</td>
                <td><%= @rural_facility_at %></td>
              </tr>
              <tr class="border_bottom">
                <td class="metrics-table-style">Urban</td>
                <td><%= @urban_facility_at %></td>
              </tr>
            </table>
            <table class="width-full">
              <tr class="border_bottom">
                <td align="left" class="metrics-table-style" style="font-weight: bold">Facility complexity</td>
                <td align="left" style="font-weight: bold">Adoptions</td>
              </tr>
              <tr class="border_bottom">
                <td class="metrics-table-style">1a (High Complexity)</td>
                <td><%= @a_high_complexity_at %></td>
              </tr>
              <tr class="border_bottom">
                <td class="metrics-table-style">1b (High Complexity)</td>
                <td><%= @b_high_complexity_at %></td>
              </tr>
              <tr class="border_bottom">
                <td class="metrics-table-style">1c (High Complexity)</td>
                <td><%= @c_high_complexity_at %></td>
              </tr>
              <tr class="border_bottom">
                <td class="metrics-table-style">2 (Medium Complexity)</td>
                <td><%= @medium_complexity_2_at %></td>
              </tr>
              <tr class="border_bottom">
                <td class="metrics-table-style">3 (Low Complexity)</td>
                <td><%= @low_complexity_3_at %></td>
              </tr>
            </table>
          </div>
       </div>

<!-- LEADER BOARD -------------------------------------------------------------------------------------------->
        <div class="margin-bottom-3">
          <table class="width-full">
            <tr>
              <td style="font-size: 32px">Leader board</td>
              <td align="right"><button style="alignment: right; margin: 0px" id="toggle_leader_board_view_30" class="usa-button usa-button--base usa-button--active">Last 30 days</button><button style="alignment: left;  width: 101px; height: 40px; color: black" id="toggle_leader_board_view_all_time" class="usa-button usa-button--outline usa-button--active">All time</button></td>
            </tr>
          </table>
        </div>

        <div id="leader_board_page_views_30_days" class="margin-bottom-3">
          <table class="width-full">
            <tr class="border_bottom">
            <td align="left" style="width: 80%; font-weight: bold">Practice</td>
            <td align="left" style="font-weight: bold">Views</td>
            </tr>
            <%cur_rec = 1 %>
            <% @page_views_leader_board_30_days.each do |rec| %>
              <tr class="border_bottom">
                <td class="metrics-table-style"><%= cur_rec %>. <a target="_blank" href="/practices/<%= rec[:practice_slug] %>/"><%= rec[:practice_name] %></a></td>
                <td><%= rec[:count] %></td>
              </tr>
              <% cur_rec += 1 %>
            <% end %>
          </table>
        </div>
        <div class="margin-bottom-3" id="leader_board_page_views_all_time" style="display: none">
          <table class="width-full">
            <th align="left" style="width: 80%">Practice</th>
            <th align="left">Views</th>
            <%cur_rec = 1 %>
            <% @page_views_leader_board_all_time.each do |rec| %>
              <tr class="border_bottom">
                <td class="metrics-table-style"><%= cur_rec %>. <a target="_blank" href="/practices/<%= rec[:practice_slug] %>/"><%= rec[:practice_name] %></a></td>
                <td><%= rec[:count] %></td>
              </tr>
              <% cur_rec += 1 %>
            <% end %>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>

