<% provide :head_tags do %>
  <%= javascript_include_tag 'practice_editor_timeline', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '_practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="timeline" class="desktop:grid-col-10 grid-col-12 p0">
      <section class="usa-section padding-top-0 p0-bottom timeline">
        <h4 class="font-sans-sm margin-top-3 margin-bottom-2 line-height-18px">Timeline</h4>
        <p class="text-normal line-height-26">
          This section details the estimated timeline for another facility to implement your practice. List out each milestone separately.
        </p>
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Timeline</legend>
            <div id="practice-timeline-container" class="margin-top-2">
              <ul class="practice-editor-timeline-ul" id="sortable_timelines" role="listbox" aria-label="Practice editor timeline list">
                <%= f.fields_for :timelines, wrapper: false do |tl| %>
                  <%
                    tl_id = tl.object.id
                  %>
                  <% if tl_id %>
                    <% provide :head_tags do %>
                      <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
                        $(document).arrive('<%= "#practice_timelines_attributes_#{tl.index}_milestone" %>',
                        function(newElem) {
                        styleOriginFacility(
                        $(newElem).closest('li'),
                        <%= tl_id %>,
                        '.practice-editor-timeline-li',
                        '.practice-editor-timeline-ul',
                        '.add-practice-timeline-link',
                        '12'
                        );
                        $(document).unbindArrive('<%= "#practice_timelines_attributes_#{tl.index}_milestone" %>', newElem);
                        }
                        );
                      <% end %>
                    <% end %>
                  <% end %>

                  <li class="practice-editor-timeline-li fields" data-id="<%= tl_id %>">
                    <%= tl.hidden_field :position, class: 'timeline-position' %>
                    <%= tl.hidden_field :id %>
                    <div class="grid-row">
                      <div class="grid-col-12">
                        <%= tl.label :timeline, 'Time frame', class: 'usa-label display-inline-block timeline-duration' %>&nbsp;
                        <%= tl.text_field :timeline, class: 'usa-input practice-input timeline-input grid-col-6 dm-required-field', min: 1, required: true %>
                      </div>
                        <div class="grid-col-12">
                            <%= tl.label :milestone, 'Description of milestones (include context or disclaimers as needed)', class: 'usa-label width-full maxw-full grid-col-12' %>
                            <%= tl.text_area :milestone, class: 'usa-input practice-input height-10 milestone-textarea dm-required-field', 'counter-id': "milestone_#{tl_id}_textarea", required: true %>
                        </div>
                      <div class="grid-col-12 trash-container">
                        <%= tl.link_to_remove 'Delete entry',
                                              class: "dm-origin-trash usa-button--unstyled dm-btn-warning float-right line-height-26"
                        %>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>

                  <%= f.link_to_add :timelines, id: 'link_to_add_link_timeline', class: "dm-add-another-link add-practice-timeline-link usa-button--unstyled dm-btn-primary line-height-26 cursor-pointer #{'display-none' unless @practice.timelines.any?}" do %>
                    <span class="text-normal">Add another</span>
                  <% end %>
                  <%= f.link_to_add :timelines, id: 'link_to_add_button_timeline', class: "usa-button--outline dm-btn-primary add-timeline-link #{'display-none' if @practice.timelines.any?}" do %>
                    <span class="padding-left-1 text-normal text-no-underline">Add timeline step</span>
                  <% end %>
              <% provide :head_tags do %>
                <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
                  observePracticeEditorLiArrival(
                  $(document),
                  '.practice-editor-timeline-li',
                  '.practice-editor-timeline-ul',
                  '12',
                  'link_to_add_link_timeline',
                  'link_to_add_button_timeline'
                  );
                  attachTrashListener(
                  $(document),
                  '#practice-timeline-container',
                  '.practice-editor-timeline-li',
                  'link_to_add_link_timeline',
                  'link_to_add_button_timeline'
                  );
                  <% end %>
                <% end %>
            </div>
          </fieldset>
      </section>
    </div>
<!--</div>-->