<p id="notice"><%= notice %></p>

<h1>Impact Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th>Description</th>
      <th>Position</th>
      <th>Parent category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @impact_categories.each do |impact_category| %>
      <tr>
        <td><%= impact_category.name %></td>
        <td><%= impact_category.short_name %></td>
        <td><%= impact_category.description %></td>
        <td><%= impact_category.position %></td>
        <td><%= impact_category.parent_category_id %></td>
        <td><%= link_to 'Show', impact_category %></td>
        <td><%= link_to 'Edit', edit_impact_category_path(impact_category) %></td>
        <td><%= link_to 'Destroy', impact_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Impact Category', new_impact_category_path %>
