<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @impact_category.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @impact_category.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @impact_category.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @impact_category.position %>
</p>

<p>
  <strong>Parent category:</strong>
  <%= @impact_category.parent_category_id %>
</p>

<%= link_to 'Edit', edit_impact_category_path(@impact_category) %> |
<%= link_to 'Back', impact_categories_path %>
