<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @practice_management.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @practice_management.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @practice_management.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @practice_management.position %>
</p>

<%= link_to 'Edit', edit_area_of_affect_path(@practice_management) %> |
<%= link_to 'Back', area_of_affects_path %>
