<!-- Login Page -->
<div class='x0-top'>
  <section class="usa-section dm-background-linear-gradient-up-dark-blue" style="min-height: calc(100vh - 286px)">
    <div class="grid-container">
      <div class="login-card box-shadow-card">
        <div class="login-header">
          <div class="login-header-overlay">
            <h2 class="x0"> Diffusion Marketplace</h2>
            <p class="fw-100">Saving lives by diffusing best practices.</p>
          </div>
        </div>
        <div class="login-body">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'usa-form') do |f| %>
            <%= devise_error_messages! %>

            <%= f.label :email, class: 'usa-label x0 x1-top' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'usa-input' %>

            <%= f.label :password, class: 'usa-label x0 x1-top' %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'usa-input' %>

            <%= f.label :password_confirmation, class: 'usa-label x0 x1-top' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'usa-input' %>


            <div class="actions display-flex justify-center x2-top">
              <%= f.submit "Register", class: 'dm-button-primary' %>
            </div>
            <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
