<!-- Login Page -->
<div class="margin-top-0">
  <section class="usa-section" style="min-height: calc(100vh - 286px)">
    <div class="grid-container">
      <div class="login-card box-shadow-card">
        <%= render "devise/shared/login_header" %>
        <div class="login-body">
          <h2>Register</h2>

          <%= render partial: "shared/messages", locals: {small_text: false} %>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'usa-form margin-top-2'}) do |f| %>
            <% if devise_error_messages!.present? %>
              <div class="usa-alert usa-alert--error" >
                <div class="usa-alert__body">
                  <%= devise_error_messages! %>
                </div>
              </div>
            <% end %>

            <div class="usa-alert usa-alert--info" >
              <div class="usa-alert__body">
                <p class="usa-alert__heading" id="email-help">To register, use your @va.gov email address.</p>
              </div>
            </div>

            <%= f.label :email, class: 'usa-label margin-0 margin-top-2' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'usa-input', required: true, 'aria-describedby': 'email-help' %>

            <div class="usa-alert usa-alert--info" >
              <div class="usa-alert__body" id="password-help">
                <p class="usa-alert__heading">Password must:</p>
                <ul>
                  <li>Include 6 unique characters</li>
                  <li>Include three of the following:
                    <ul>
                      <li>1 uppercase character</li>
                      <li>1 lowercase character</li>
                      <li>1 digit (0-9)</li>
                      <li>1 special character such as: #?!@$%^&*-</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <%= f.label :password, class: 'usa-label margin-0 margin-top-2' %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'usa-input', required: true, 'aria-describedby': 'password-help' %>

            <%= f.label :password_confirmation, class: 'usa-label margin-0 margin-top-2' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'usa-input', required: true %>


            <div class="actions display-flex flex-justify-center margin-top-4">
              <%= f.submit "Register", class: 'usa-button' %>
            </div>
            <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
