<p id="notice"><%= notice %></p>

<h1>Va Secretary Priorities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th>Description</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @va_secretary_priorities.each do |va_secretary_priority| %>
      <tr>
        <td><%= va_secretary_priority.name %></td>
        <td><%= va_secretary_priority.short_name %></td>
        <td><%= va_secretary_priority.description %></td>
        <td><%= va_secretary_priority.position %></td>
        <td><%= link_to 'Show', va_secretary_priority %></td>
        <td><%= link_to 'Edit', edit_va_secretary_priority_path(va_secretary_priority) %></td>
        <td><%= link_to 'Destroy', va_secretary_priority, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Va Secretary Priority', new_va_secretary_priority_path %>
