<%= form_with(model: practice_partner, local: true) do |form| %>
  <% if practice_partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(practice_partner.errors.count, "error") %> prohibited this practice_partner from being saved:</h2>

      <ul>
      <% practice_partner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :short_name %>
    <%= form.text_field :short_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
