<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="partner-page-min-height">
  <section class="grid-container">
    <%= render partial: "shared/messages", locals: {small_text: false} %>
  </section>
  <div class="grid-container margin-top-3 margin-bottom-205">
      <%= link_to practice_partners_path(@practices), class: 'usa-button--unstyled dm-btn-primary' do %>
          <span class="fas fa-chevron-left margin-right-1"></span><span class="font-sans-md">Return to all partners</span>
      <% end %>
  </div>
  <section class="margin-bottom-4 grid-container">
    <div class="grid-row">
      <div class="grid-col-11">
        <h1 class="font-sans-2xl margin-top-0 margin-bottom-0"><%= "#{@practice_partner.name}#{@practice_partner.short_name.present? ? " (#{@practice_partner.short_name.upcase})" : ''}"%></h1>
        <p class="margin-0 font-sans-lg line-height-sans-6"><%= @practice_partner.description %></p>
      </div>
    </div>
  </section>
  <section>
    <div class="grid-container">
      <% @partner_practices = @practice_partner.practices %>
      <% if @partner_practices.any? %>
        <div class="grid-row grid-gap-3">
          <% @partner_practices.order(name: :asc).each do |p| %>
            <%= render partial: 'shared/practice_card', locals: {practice: p, featured: false} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</div>
