<p id="notice"><%= notice %></p>

<h1>Impacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th>Description</th>
      <th>Position</th>
      <th>Impact category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @impacts.each do |impact| %>
      <tr>
        <td><%= impact.name %></td>
        <td><%= impact.short_name %></td>
        <td><%= impact.description %></td>
        <td><%= impact.position %></td>
        <td><%= impact.category %></td>
        <td><%= link_to 'Show', impact %></td>
        <td><%= link_to 'Edit', edit_impact_path(impact) %></td>
        <td><%= link_to 'Destroy', impact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Impact', new_impact_path %>
