<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @impact.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @impact.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @impact.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @impact.position %>
</p>

<p>
  <strong>Impact category:</strong>
  <%= @impact.category %>
</p>

<%= link_to 'Edit', edit_impact_path(@impact) %> |
<%= link_to 'Back', impacts_path %>
