<% resource ||= nil
   placeholder = placeholder
   area = area
   type = type
   align ||= 'right'
   table_name ||= area
   resource_type ||= ''
%>
<% if resource&.id %>
  <div class="grid-col-12 margin-top-2" align="<%= align %>">
    <input type="hidden" value="false" name="practice[practice_<%= table_name %>_attributes][<%= placeholder %>][_destroy]"/>
    <button type="button" data-area="<%= area %>" data-type="<%= type %>" class="dm-button--unstyled-warning remove_nested_fields">Delete entry</button>
  </div>
<% else %>
  <div class="dm-cancel-add-button-row grid-row margin-top-2 margin-bottom-0">
    <button type="button" id="cancel_<%= area %>_<%= type %>" class="usa-button usa-button--outline margin-right-1">Cancel</button>
    <button type="button" class="add-resource usa-button">Add <%= type %></button>
  </div>
<% end %>
