<% resource ||= nil
   placeholder ||= 'RANDOM_NUMBER_OR_SOMETHING'
   placeholder = placeholder.to_s + '_image'
   area = area.to_s
%>

<div id="<%= area %>_image_form<%= "_#{placeholder}" if resource %>" <% if resource %> class="resource_container margin-bottom-5" <% end %>>
  <%# resource type %>
  <input type="hidden" name="practice[practice_<%= area %>_attributes][<%= placeholder %>][resource_type]" value="image"/>
  <% if resource&.id  %>
    <%# resource id %>
    <input type="hidden" value="<%= resource.id %>" name="practice[practice_<%= area %>_attributes][<%= placeholder %>][id]"/>
  <% end  %>

  <section class="dm-resource-image-editor">
    <div class="dm-cropper-boundary grid-col-12 margin-top-2" data-type="image" data-area="<%= area %>">
      <%# resource crop data %>
      <% [:crop_x, :crop_y, :crop_w, :crop_h].each { |attribute| %>
        <input class="<%= attribute.to_s %>" type="hidden" value="" name="practice[practice_<%= area %>_attributes][<%= placeholder %>][<%= attribute %>]"/>
      <% } %>
      <% if !resource&.id %>
        <div class="margin-y-1">
          <label class="usa-label dm-file-upload-label margin-bottom-2 overview-resource-label" for="practice_<%= area %>_<%= placeholder %>">
            Use a high-quality .jpg, .jpeg, or .png file that is less than 32MB. If you want to upload an image that features a Veteran you must have
            <%= link_to 'Form 3203', 'https://vaww.va.gov/vaforms/medical/pdf/VA%20Form%2010-3203%20Fill.pdf', target: '_blank' %>. Waivers must be filled out with the 'External to VA' check box selected.
          </label>
          <div class="dm-image-error-text margin-bottom-2 usa-alert usa-alert--error usa-alert--slim display-none">
            <p class="usa-alert__body">
            </p>
          </div>
          <%= render partial: 'practices/overview_error_partials/attachment', locals: {
              area: area,
              resource_type: 'image',
              message: 'Please upload an image'
          }
          %>
          <%# resource attachment %>
          <input <%= resource&.id ? 'required' : '' %> id="practice_<%= area %>_attributes_<%= placeholder %>" class="dm-cropper-upload-image usa-file-input usa-hint <%= area %>-image-attachment <%= resource&.id ? 'dm-required-field' : '' %>" type="file" name="practice[practice_<%= area %>_attributes][<%= placeholder %>][attachment]" accept=".jpg,.jpeg,.png" />
        </div>
      <% end %>

      <div class="dm-cropper-images-container margin-top-2 margin-bottom-1 <%= resource.nil? ? 'grid-col-6' : 'dm-resource-image'%>">
        <% if resource.present? %>
          <%= image_tag resource.attachment_s3_presigned_url,
                alt: "practice thumbnail for #",
                class: 'dm-cropper-thumbnail-original display-none' %>
          <%= image_tag resource.attachment_s3_presigned_url(:thumb),
                        alt: "practice thumbnail for #",
                        class: 'dm-cropper-thumbnail-modified' %>
          <%end %>
      </div>

      <div class="grid-col-12 margin-bottom-2">
        <a class="dm-cropper-cancel-edit usa-button--outline dm-btn-primary display-none margin-right-1" aria-controls='image-cancel-edit' aria-expanded='false'>
          Cancel edits
        </a>
        <a class="dm-cropper-save-edit usa-button dm-btn-primary display-none" aria-controls='image-save-edit' aria-expanded='false'>
          Save edits
        </a>
        <a class="dm-cropper-edit-mode usa-button--outline dm-btn-primary <%= resource.present? ? '' : 'display-none' %>" aria-controls="image-crop" aria-expanded='false'>
          Edit image
        </a>
      </div>

      <%# remove image %>
      <button type="button" class="usa-button--unstyled dm-btn-warning text-secondary dm-cropper-delete-image display-none">
        Remove image
      </button>

      <%# caption input %>
      <div class="<%= area %>-input-container">
        <%= label_tag "practice_#{area}_name", 'Caption', class: 'usa-label overview-resource-label', for: "practice_#{area}_attributes_#{placeholder}_name" %>
        <%= render partial: 'practices/overview_error_partials/name', locals: {
            area: area,
            resource_type: 'image',
            message: 'Please enter a caption'
        }
        %>
        <input <%= resource&.id ? 'required' : '' %> class="usa-input <%= resource&.id ? 'dm-required-field' : '' %>" value="<%= resource&.name %>" type="text" name="practice[practice_<%= area %>_attributes][<%= placeholder %>][name]" id="practice_<%= area %>_attributes_<%= placeholder %>_name"/>
      </div>
    </div>
  </section>

  <%# action buttons %>
  <%= render partial: "practices/overview_forms/form_actions", locals: { resource: resource, placeholder: placeholder, area: area, type: 'image' } %>
</div>
