<% resource ||= nil
   placeholder ||= 'RANDOM_NUMBER_OR_SOMETHING'
   placeholder = placeholder.to_s + '_image'
   area = area.to_s
%>

<div id="<%= area %>_resource_image_form<%= "_#{placeholder}" if resource %>" <% if resource %> class="resource_container margin-bottom-5" <% end %>>
  <%# resource type %>
  <input type="hidden" name="practice[practice_<%= area %>_resources_attributes][<%= placeholder %>][resource_type]" value="image"/>
  <% if resource&.id  %>
    <%# resource id %>
    <input type="hidden" value="<%= resource.id %>" name="practice[practice_<%= area %>_resources_attributes][<%= placeholder %>][id]"/>
  <% end  %>

  <section class="dm-resource-image-editor margin-bottom-2">
    <div class="dm-cropper-boundary grid-col-12 margin-top-2" data-type="image" data-area="<%= area %>">
      <%# resource crop data %>
      <% [:crop_x, :crop_y, :crop_w, :crop_h].each { |attribute| %>
        <input id="<%= attribute.to_s %>" type="hidden" value="" name="practice[practice_<%= area %>_resources_attributes][<%= placeholder %>][<%= attribute %>]"/>
      <% } %>
      <% if !resource&.id %>
        <div class="margin-y-1">
          <label class="usa-label dm-file-upload-label margin-bottom-2" for="input-single">
            Use a high-quality .jpg, .jpeg, or .png file that is less than 32MB. If you want to upload an image that features a Veteran you must have
            <%= link_to 'Form 3203', 'https://vaww.rtp.portal.va.gov/DEAN/IE/DOE/10-3203.pdf', target: '_blank' %>. Waivers must be filled out with the 'External to VA' check box selected.
          </label>
          <div class="dm-image-error-text margin-bottom-2 usa-alert usa-alert--error usa-alert--slim display-none">
            <p class="usa-alert__body">
            </p>
          </div>
          <%# resource attachment %>
          <input id="input-single" class="dm-cropper-upload-image usa-file-input usa-hint <%= area %>-image-attachment" type="file" name="practice[practice_<%= area %>_resources_attributes][<%= placeholder %>][attachment]" accept=".jpg,.jpeg,.png" aria-describedby="input-single-hint" />
          <input type="text" readonly class="margin-top-1 margin-bottom-3" style="display: none; color:red; border-color: darkred" id="<%= area %>_image_err_message_attachment" value="Please upload an image."/>

        </div>
      <% end %>

      <div class="dm-cropper-images-container margin-top-2 margin-bottom-1 <%= resource.nil? ? 'grid-col-6' : 'dm-resource-image'%>">
        <% if resource.present? %>
          <%= image_tag resource.attachment_s3_presigned_url(),
                alt: "practice thumbnail for #",
                class: 'dm-cropper-thumbnail-original display-none' %>
          <%= image_tag resource.attachment_s3_presigned_url(:thumb),
                        alt: "practice thumbnail for #",
                        class: 'dm-cropper-thumbnail-modified' %>
          <%end %>
      </div>

      <div class="grid-col-12 margin-bottom-2">
        <a class="dm-cropper-cancel-edit usa-button--outline dm-btn-primary display-none margin-right-1" aria-controls='image-cancel-edit' aria-expanded='false'>
          Cancel edits
        </a>
        <a class="dm-cropper-save-edit usa-button dm-btn-primary display-none" aria-controls='image-save-edit' aria-expanded='false'>
          Save edits
        </a>
        <a class="dm-cropper-edit-mode usa-button--outline dm-btn-primary <%= resource.present? ? '' : 'display-none' %>" aria-controls="image-crop" aria-expanded='false'>
          Edit image
        </a>
      </div>

      <%# remove image %>
      <button type="button" class="usa-button--unstyled dm-btn-warning text-secondary dm-cropper-delete-image display-none">
        Remove image
      </button>

      <%# caption input %>
      <%= label_tag "practice_#{area}_resources_name", 'Caption', class: 'usa-label', for: "practice_#{area}_resources_attributes_#{placeholder}_name" %>
      <input class="usa-input" value="<%= resource&.name %>" type="text" name="practice[practice_<%= area %>_resources_attributes][<%= placeholder %>][name]" id="practice_<%= area %>_resources_attributes_<%= placeholder %>_name"/>
      <input type="text" readonly class="margin-top-1 margin-bottom-3" style="display: none; color:red; border-color: darkred" id="<%= area %>_image_err_message_name" value="Please enter a caption."/>
    </div>
  </section>
  <% if resource&.id %>
    <div class="grid-col-12 trash-container">
      <input type="hidden" value="false" name="practice[practice_<%= area %>_resources_attributes][<%= placeholder %>][_destroy]"/>
      <button type="button" class=" usa-button--unstyled dm-btn-warning remove_nested_fields">Delete entry</button>
    </div>
  <% else %>
    <div id="cancelAddButtonRow" class="grid-row margin-bottom-8">
      <button type="button" id="cancel_<%= area %>_resource_image" class="usa-button--outline dm-btn-primary margin-right-1">Cancel</button>
      <button type="button" class="add-resource usa-button dm-btn-primary">Add image</button>
    </div>
  <% end %>
 </div>
