<div id="problem_resource_file_form">
<%= nested_form_for(@practice, html: { multipart: true, style: 'max-width: 100%', class: 'usa-form'}) do |form| %>
  <%= render 'shared/problem_image_editor', locals: { section_title: 'Thumbnail', form: form, practice: @practice } %>
<% end %>
<%= label_tag 'practice_problem_resources', 'File name', for: 'practice_problem_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_name' %>
<br />
<input type="text" id="practice_problem_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_name" name="practice_problem_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_name" style="width: 393px">
<br />
<br />
<%= label_tag 'practice_problem_resources', 'File description', for: 'practice_problem_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_description' %>
<input type="text" name="practice[problem_resources_attributes][RANDOM_NUMBER_OR_SOMETHING][description]" id="practice_problem_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_description" style="width: 643px">
<%#= text_field_tag :practice_problem_resources, nil, required: true, id: 'image_caption', class: 'usa-input', :options => {:size => "643", :placeholder => "Search Events", :class => "round shadow"} %>
</div>
<%= javascript_tag 'data-turbolinks-track':'reload' do %>
  $(document).on('click', '#add_problem_resource_file', function(e){
  debugger;
  e.preventDefault();
  var file_form = $('#problem_resource_file_form').clone();
  file_form.html(file_form.html().replace(/RANDOM_NUMBER_OR_SOMETHING/g, createGUID()));
  file_form.appendTo('#display_problem_resources_file');
  document.getElementById('display_problem_resources_file').style.display = 'block';
  });

  $(document).on('click', '#cancel_problem_resource_file', function(e){
  debugger;
  e.preventDefault();
  document.getElementById("problem_file_form").style.display = 'none';
  document.getElementById('practice_problem_file').checked = false;
  document.getElementById('problem_resource_file_form').style.display = 'none';
  document.getElementById('display_problem_resources_file').style.display = 'none';
  });
<% end %>
<div class="grid-row margin-bottom-8">
  <button type="button" id="cancel_problem_resource_file" class="usa-button usa-button--outline dm-btn-primary
            editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline">Cancel</button>

  <button type="button" id="add_problem_resource_file" class="usa-button usa-button-outline pe-continue padding-2
            margin-right-1 margin-bottom-5">Add link</button>
</div>