<% resource ||= nil
   placeholder ||= 'RANDOM_NUMBER_OR_SOMETHING'
   placeholder = placeholder.to_s + '_link'
%>
<div id="results_resource_link_form<%= "_#{placeholder}" if resource %>" <% if resource %> class="resource_container margin-bottom-5" <% end %>>
  <input type="hidden" name="practice[practice_results_resources_attributes][<%= placeholder %>][resource_type]" value="link"/>
  <% if resource&.id  %>
    <input value="<%= resource&.id %>" type="hidden" name="practice[practice_results_resources_attributes][<%= placeholder %>][id]"/>
  <% end %>
  <%= label_tag 'practice_results_resources_link', 'Link (paste the full address)', class: 'usa-label', for: "practice_results_resources_attributes_#{placeholder}_link_url" %>
  <input class="usa-input" value="<%= resource&.link_url %>" type="text" name="practice[practice_results_resources_attributes][<%= placeholder %>][link_url]" id="practice_results_resources_attributes_<%= placeholder %>_link_url" style="width: 643px"/>
  <input type="text" readonly class="margin-top-1 margin-bottom-3" style="display: none; color:red; border-color: darkred" id="results_link_err_message_link_url" value="Please enter a valid url/link."/>

  <%= label_tag 'practice_results_resources_name', 'Title', class: 'usa-label', for: "practice_results_resources_attributes_#{placeholder}_name" %>
  <input class="usa-input" value="<%= resource&.name %>" type="text" name="practice[practice_results_resources_attributes][<%= placeholder %>][name]" id="practice_results_resources_attributes_<%= placeholder %>_name" style="width: 393px"/>
  <input type="text" readonly class="margin-top-1 margin-bottom-3" style="display: none; color:red; border-color: darkred" id="results_link_err_message_name" value="Please enter a title."/>

  <%= label_tag 'practice_results_resources_description', 'Description', class: 'usa-label', for: "practice_results_resources_attributes_#{placeholder}_description" %>
  <input class="usa-input" value="<%= resource&.description %>" type="text" name="practice[practice_results_resources_attributes][<%= placeholder %>][description]" id="practice_results_resources_attributes_<%= placeholder %>_description" style="width: 643px"/>
  <input type="text" readonly class="margin-top-1 margin-bottom-3" style="display: none; color:red; border-color: darkred" id="results_link_err_message_description" value="Please enter a description."/>

  <% if resource %>
    <div class="grid-col-12 trash-container">
      <input type="hidden" value="false" name="practice[practice_results_resources_attributes][<%= placeholder %>][_destroy]"/>
      <button type="button" class="usa-button usa-button--unstyled text-red-50 remove_nested_fields">Delete entry</button>
    </div>
  <% else %>
    <div id="cancelAddButtonRow" class="grid-row margin-bottom-8">
      <button type="button" id="cancel_results_resource_link" class=" usa-button usa-button--outline dm-btn-primary
              editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline">Cancel</button>

      <button type="button" class="add-resource usa-button usa-button-outline pe-continue padding-2
              margin-right-1 margin-bottom-5">Add link</button>
    </div>
  <% end %>
</div>