<% resource ||= nil
   placeholder ||= 'RANDOM_NUMBER_OR_SOMETHING'
   placeholder = placeholder.to_s + '_video'
   area = area.to_s
%>

<div id="<%= area %>_video_form<%= "_#{placeholder}" if resource %>" <% if resource %> class="resource_container margin-bottom-5" <% end %>>
  <input type="hidden" name="practice[practice_<%= area %>_attributes][<%= placeholder %>][resource_type]" value="video"/>
  <% if resource&.id  %>
    <div class="grid-col-9 margin-bottom-3">
      <%= youtube_embed(resource.link_url) %>
    </div>
    <input value="<%= resource.id %>" type="hidden" name="practice[practice_<%= area %>_attributes][<%= placeholder %>][id]"/>
  <% end %>
  <div class="<%= area %>-input-container">
    <%= label_tag "practice_#{area}_video", 'Link (paste the full Youtube address)', class: 'usa-label overview-resource-label', for: "practice_#{area}_attributes_#{placeholder}_link_url" %>
    <%= render partial: 'practices/overview_error_partials/link', locals: {
        area: area,
        resource_type: 'video',
        message: 'Please enter a valid YouTube url'
    }
    %>
    <input <%= resource&.id ? 'required' : '' %> class="usa-input grid-col-12 <%= resource&.id ? 'dm-required-field' : '' %>" value="<%= resource&.link_url %> <%= resource&.id ? 'dm-required-field' : '' %>"  placeholder="https://www.youtube.com/watch?v=" type="text" name="practice[practice_<%= area %>_attributes][<%= placeholder %>][link_url]" id="practice_<%= area %>_attributes_<%= placeholder %>_link_url"/>
  </div>

  <div class="<%= area %>-input-container">
    <%= label_tag "practice_#{area}_name", 'Caption', class: 'usa-label overview-resource-label', for: "practice_#{area}_attributes_#{placeholder}_name" %>
    <%= render partial: 'practices/overview_error_partials/name', locals: {
        area: area,
        resource_type: 'video',
        message: 'Please enter a caption'
    }
    %>
    <input <%= resource&.id ? 'required' : '' %> class="usa-input grid-col-12 <%= resource&.id ? 'dm-required-field' : '' %>" value="<%= resource&.name %>" type="text" name="practice[practice_<%= area %>_attributes][<%= placeholder %>][name]" id="practice_<%= area %>_attributes_<%= placeholder %>_name"/>
  </div>

  <%# action buttons %>
  <%= render partial: "practices/overview_forms/form_actions", locals: { resource: resource, placeholder: placeholder, area: area, type: 'video' } %>
</div>