<div class="grid-container position-relative">
  <div class="grid-row flex-align-center position-relative margin-bottom-405 grid-col-8 margin-top-0 margin-bottom-2 margin-x-auto">
    <div class="width-full text-center">
      <div class="margin-bottom-3">
        <%= image_tag('go_fish_logo.png', alt: 'Go Fish Logo') %>
      </div>
    </div>
  </div>
    <section class="go-fish-info font-sans-sm grid-col-8 margin-y-0 margin-x-auto">
      <h1 class="font-sans-2xl">
        Go Fish!
      </h1>
      <p class="margin-bottom-2 line-height-sans-505">
        The <%= link_to 'VHA Innovators Network (iNET)', 'https://www.va.gov/INNOVATIONECOSYSTEM/views/explore/innovators-network.html', class: 'go-fish-link', target: '_blank' %> consists of 33 VHA facilities throughout the country and commands the power of
        hundreds of frontline employee innovators. Through a three-tiered evidence-based investment program,
        <%= link_to 'Spark-Seed-Spread', 'https://www.va.gov/INNOVATIONECOSYSTEM/views/solutions/spark-seed-spread.html', class: 'go-fish-link', target: '_blank' %>, iNET invests
        funding back into VHA employees and VAMCs, allowing employees to test and develop their ideas and solutions in an accelerated
        lifecycle. During this prototype development and pilot lifecycle, investees receive VHA-specific innovation competency training via
        the Innovation Accelerator Program.
      </p>
      <p class="margin-bottom-2 line-height-sans-505">
        Innovative thinking and passionate employees do not of course only exist at these 33 sites; creative and innovative work is being
        done by employees throughout VHA. iNET has recognized this as well, and is expanding the opportunity to participate in
        Spark-Seed-Spread nationally. Go Fish! is an innovation competition for employees not located at an iNET site to potentially
        participate in the Spark-Seed-Spread Investment Program.
      </p>
      <p class="margin-bottom-2 line-height-sans-505">
        If you have an innovative program, process, or just an idea; review the
        <%= link_to 'Go Fish! FAQs', 'https://vaww.vashare.vha.va.gov/sites/VAINNOVATORSNETWORK/iNET/_layouts/15/WopiFrame.aspx?sourcedoc=/sites/VAINNOVATORSNETWORK/iNET/Shared%20Documents/Go%20Fish!%20Materials/Go%20Fish!%20FAQ.docx&action=default', class: 'go-fish-link', target: '_blank' %>
        to see if Go Fish! is right for you.
      </p>
      <p class="text-bold">
        The application period opens April 1, 2020 and will close on May 1, 2020.
        <%= link_to 'Click here to apply', 'https://www.surveymonkey.com/r/GHC77WV', class: 'go-fish-link', target: '_blank' %>
      </p>
    </section>
  <hr class="flex-fill height-2px border border-base-lightest bg-base-lightest section-line grid-col-8 margin-top-5 margin-bottom-0 margin-x-auto">
  <section class="inet-practices">
    <h3 class="font-sans-lg text-center margin-top-2 margin-bottom-3 margin-x-auto">iNET Practices</h3>
    <% inet_badge = Badge.find_by(name: 'iNET') %>
    <% @inet_practices = Practice.joins(:badge_practices).where(badge_practices: { badge: inet_badge}).order(name: :asc) %>
    <% if @inet_practices.any? %>
      <div class="grid-row grid-gap">
        <% @inet_practices.each do |practice| %>
          <div class="tablet:grid-col-4 flex-column display-flex margin-bottom-28px">
            <%= render partial: 'practices/favorite_button', locals: {practice: practice, featured: false } %>
            <%= render partial: '/practices/marketplace_card', locals: {practice: practice, featured: false} %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
  <div class="margin-bottom-105">
    <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
  </div>
</div>