<div id="directory_table" class="usa-table-container--scrollable">
  <table class="usa-table grid-col-12">
    <thead>
    <tr>
      <th data-sortable scope="col" role="columnheader" aria-sort="descending">
        Facility
      </th>
      <th data-sortable scope="col" role="columnheader">
        State
      </th>
      <th data-sortable scope="col" role="columnheader">
        VISN
      </th>
      <th data-sortable scope="col" role="columnheader">
        Complexity <img class="fake-link_2" id="facility-complexity-modal" src="/assets/question_tooltip.svg"/>
<!--        <img src="/assets/question_tooltip.svg" title="Complexity definitions 1&#10;&#10;Complexity Definition 2&#10;&#10;Complexity definition 3" class="usa-tooltip" data-position="bottom"/>-->
      </th>
      <th data-sortable scope="col" role="columnheader">
        Created
      </th>
      <th data-sortable scope="col" role="columnheader">
        Adopted
      </th>
    </tr>
    </thead>
    <tbody>
    <% @filtered_facilities.each do |facility| %>
      <tr>
        <th scope="row" role="rowheader" class="grid-col-4"><a class="dm-internal-link" href='/facilities/<%= facility["slug"] %>'><%= facility["official_station_name"] %> (<%= facility["common_name"] %>)</a></th>
        <td data-sort-value="<%= facility["state"] %>" class="grid-col-2"><%= facility["state"] %></td>
        <td data-sort-value="<%= facility["visn_number"] %>" class="grid-col-2"><a class="dm-internal-link" href='/visns/<%= facility["visn_number"] %>'><%= facility["visn_number"] %></a></td>
        <td data-sort-value="<%= facility["fy17_parent_station_complexity_level"][0..1].upcase %>" class="grid-col-2"><%= facility["fy17_parent_station_complexity_level"][0..1].upcase %></td>
        <td data-sort-value="<%= facility["practices_created"] %>" class="grid-col-2"><%= facility["practices_created"] %></td>
        <td data-sort-value="<%= facility["adoptions"] %>" class="grid-col-2"><%= facility["adoptions"] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>