<label for="<%= facility_type_selector %>" class="usa-label line-height-26">Type</label>
<div class="margin-top-1 margin-bottom-2">

  <select id="<%= facility_type_selector %>" class="usa-select" name="<%= facility_type_selector %>">
    <option value="">- Select -</option>
    <% @types.each do |type| %>
      <% complexity_level =  type[:fy17_parent_station_complexity_level].to_s %>
      <option value=<%= type[:fy17_parent_station_complexity_level] %>
          <% if params[:type].present? && (complexity_level.include? params[:type].to_s) %>
            selected
          <% end %>
       >
          <%= type[:fy17_parent_station_complexity_level] %>
        </option>
    <% end %>
  </select>
</div>