<div class="usa-table-container--scrollable grid-col-12">
  <table class="usa-table usa-table--borderless grid-col-12">
    <caption></caption>
    <thead>
    <tr>
      <th data-sortable scope="col" role="columnheader" aria-sort="descending">Practice name</th>
      <th data-sortable scope="col" role="columnheader">Status <a href="#facility_status_def" aria-controls="facility_status_def" data-open-modal><span><img class="fake-link_2" id="facility-status-modal" src="/assets/question_tooltip.svg"/></span></a>
      <th data-sortable scope="col" role="columnheader">Start date</th>
      <th data-sortable scope="col" role="columnheader">Total VA adoptions</th>
    </tr>
    </thead>
    <tbody id="practices_adopted_by_facility_dyn">
    <% @adoptions_at_facility.each do |ad| %>
      <tr>
        <% start_date = ad["start_time"].to_date.strftime("%m/%d/%Y") %>
        <th scope="row" role="rowheader"><a class="dm-internal-link" href="<%= practice_path(ad["slug"]) %>"><%=ad["name"]%></a>
          <% if current_user %>
            <%= link_to practice_favorite_path(ad["id"], format: :js), method: :post, remote: true, 'title': "Bookmark #{ad["name"]}", 'aria-label': "Bookmark #{ad["name"]}", 'tabindex': '-1', 'aria-hidden': 'true', 'class': "dm-practice-bookmark-btn", 'id': "dm-bookmark-button-#{ad["id"]}" do %>
              <i class="<% if current_user.favorite_practice_ids.include?(ad["id"]) %>fas fa-bookmark<% else %>far fa-bookmark<% end %> dm-favorite-icon-<%= ad["id"] %>"></i>
            <% end %>
          <% end %>
          <br /> <%=ad["summary"] %>
        </th>
        <td data-sort-value="<%=ad["status"] %>"><%=ad["status"] %></td>
        <td data-sort-value="<%=start_date %>"><%=start_date %></td>
        <td data-sort-value="<%=ad["adoptions"] %>"><%= ad["adoptions"] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="usa-sr-only usa-table__announcement-region" aria-live="polite">
    <!-- this content will change when sort changes -->
  </div>
</div>