<label for="<%= facility_selector %>" class="usa-label line-height-26">Facilities</label>
<div class="usa-combo-box margin-top-1 margin-bottom-2" data-default-value="<%= default_value %>">
  <select id="<%= facility_selector %>" class="usa-select" name="<%= facility_selector %>">
    <% @facilities.each do |va| %>
      <option value=<%= va["id"] %>
          <% if params[:facility].present? && va["id"] == params[:facility].to_i%>
            selected
          <% end %>
      >
        <%= va["official_station_name"] + ' (' + va["common_name"] + ')' %>
      </option>
    <% end %>
  </select>
</div>
