<label class="usa-label margin-top-4" for="<%= facility_category_selector %>">All categories</label>
<div class="usa-combo-box" data-placeholder="- Select or start typing -">
  <select id="<%= facility_category_selector %>" class="usa-select facility_category_select_adoptions" name="<%= facility_category_selector %>">
<!--    <option value>- Select or start typing -</option>-->
    <% @categories.each do |c| %>
      <option value=<%= c.id %>>
        <%= c.name %>
      </option>
    <% end %>
  </select>
</div>