<% facilities.each do |facility| %>
  <% path = facility.class.name === "ClinicalResourceHub" ? "/crh/" + facility.visn.number.to_s : va_facility_path(facility)  %>
  <% if facility.class.name === "ClinicalResourceHub" %>
    <% created_count = crh_created_practices_count(facility.visn_id) %>
    <% adopted_count = crh_adopted_practices_count(facility.visn_id) %>
  <% else %>
    <% created_count = created_practices_count(facility.id) %>
    <% adopted_count = adopted_practices_count(facility.id) %>
  <% end %>
  <tr>
    <th scope="row" role="rowheader" class="grid-col-4"><a class="usa-link" href='<%= path %>'><%= facility["official_station_name"] %>
      <% if facility.class.name != "ClinicalResourceHub"  %> (<%= facility["common_name"] %>)<% end %></a>
    </th>
    <td class="grid-col-1"><%= facility.class.name === "ClinicalResourceHub" ? '-' : facility.street_address_state %></td>
    <td class="grid-col-1"><a class="usa-link" href='/visns/<%= facility.visn.number %>'><%= facility.visn.number %></a></td>
    <% if facility.class.name === "ClinicalResourceHub" %>
        <td class="grid-col-2">-</td>
     <% else %>
        <td class="grid-col-2">
          <% complexity = facility.fy17_parent_station_complexity_level %>
          <%= complexity.match(/^1/) ? complexity[0..1].upcase : complexity[0..0].upcase %>
        </td>
     <% end %>
    <td class="grid-col-2"><%= created_count %></td>
    <td class="grid-col-2"><%= adopted_count  %></td>
  </tr>
<% end %>
