<% facilities.each do |facility| %>
  <tr>
    <th scope="row" role="rowheader" class="grid-col-4"><a class="usa-link" href='<%= va_facility_path(facility) %>'><%= facility["official_station_name"] %> (<%= facility["common_name"] %>)</a></th>
    <td class="grid-col-1"><%= facility.street_address_state %></td>
    <td class="grid-col-1"><a class="usa-link" href='/visns/<%= facility.visn.number %>'><%= facility.visn.number %></a></td>
    <td class="grid-col-2"><%= facility.fy17_parent_station_complexity_level[0..1].upcase %></td>
    <td class="grid-col-2"><%= facility.practices_created_count %></td>
    <td class="grid-col-2"><%= facility.practices_adopted_count  %></td>
  </tr>
<% end %>