<% provide :main_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>

<% provide :head_tags do %>
  <%= javascript_include_tag 'facility_directory', 'data-turbolinks-track': 'reload' %>
<% end %>

<section class="usa-section padding-y-0 grid-col-12">
  <div class="grid-container position-relative grid-col-12">
    <div class="grid-row grid-gap">
      <div class="grid-col-12">
        <h1 class="font-sans-2x1 margin-top-5 margin-bottom-3">
          Facility directory
        </h1>
        <div class="text-base">
          Looking for a full list of VISNs? <a href="/visns">Click here</a>
        </div>
        <div class="margin-top-5 margin-bottom-3">
          <table>
            <tr>
              <td class="facility_directory_combo_box"><%= render partial: 'va_facilities/facility_directory_combo_box', locals: {facility_selector: 'facility_directory_select'} %></td>
              <td class="facility_directory_combo_box_spacing"></td>
              <td class="visn_combo_box"><%= render partial: 'va_facilities/visn_combo_box', locals: {visn_selector: 'facility_directory_visn_select'} %></td>
              <td class="facility_directory_combo_box_spacing"></td>
              <td class="facility_directory_type_combo_box"><%= render partial: 'va_facilities/facility_directory_type_combo_box', locals: {facility_type_selector: 'facility_type_select'} %></td>
            </tr>
          </table>
        </div>
        <div class="margin-bottom-3">
          Displaying <%= @filtered_facilities.count %> of <%= @results_count %> result<% if @results_count > 1 %>s<% end %>:
        </div>
        <% if @results_count > 0 %>
          <div>
            <table class="usa-table usa-table--borderless grid-col-12">
              <thead>
              <tr>
                <th scope="col"><a class="fake-link" id="toggle_by_facility">Facility
                  <% if params[:asc].blank? || params[:sortby] == "facility" %>
                    <% if params[:asc] == "true" %>
                      &#9650;
                    <% end %>
                    <% if params[:asc] == "false" %>
                      &#x25BC;
                    <% end %>
                    <% if params[:asc].blank? %>
                      &#9650;
                    <% end %>
                  <% end %>
                </a>
                </th>
                <th scope="col"><a class="fake-link" id="toggle_by_common_name">Common name
                  <% if params[:sortby] == "common_name" %>
                    <% if params[:asc] == "true" %>
                      &#9650;
                    <% end %>
                    <% if params[:asc] == "false" %>
                      &#x25BC;
                    <% end %>
                    <% if params[:asc].blank? %>
                      &#9650;
                    <% end %>
                  <% end %>
                </a>
                </th>
                <th scope="col"><a class="fake-link" id="toggle_by_visn">VISN
                  <% if params[:sortby] == "visn" %>
                    <% if params[:asc] == "true" %>
                      &#9650;
                    <% end %>
                    <% if params[:asc] == "false" %>
                      &#x25BC;
                    <% end %>
                    <% if params[:asc].blank? %>
                      &#9650;
                    <% end %>
                  <% end %>
                </a>
                </th>
                <th scope="col"><a class="fake-link" id="toggle_by_type">Complexity
                  <% if params[:sortby] == "type" %>
                    <% if params[:asc] == "true" %>
                      &#9650;
                    <% end %>
                    <% if params[:asc] == "false" %>
                      &#x25BC;
                    <% end %>
                    <% if params[:asc].blank? %>
                      &#9650;
                    <% end %>
                  <% end %>
                </a>
                </th>
                <th scope="col"><a class="fake-link" id="toggle_by_practices_created">Created
                  <% if params[:sortby] == "practices_created" %>
                    <% if params[:asc] == "true" %>
                      &#9650;
                    <% end %>
                    <% if params[:asc] == "false" %>
                      &#x25BC;
                    <% end %>
                    <% if params[:asc].blank? %>
                      &#9650;
                    <% end %>
                  <% end %>
                </a>
                </th>
                <th scope="col"><a class="fake-link" id="toggle_by_adoptions">Adopted
                  <% if params[:sortby] == "adoptions" %>
                    <% if params[:asc] == "true" %>
                      &#9650;
                    <% end %>
                    <% if params[:asc] == "false" %>
                      &#x25BC;
                    <% end %>
                    <% if params[:asc].blank? %>
                      &#9650;
                    <% end %>
                  <% end %>
                </a>
                </th>
              </tr>
              </thead>
              <tbody>
              <% @filtered_facilities.each do |facility| %>
                <tr>
                  <td width="30%"><a class="dm-internal-link" href='/facilities/<%= facility["id"] %>'><%= facility["official_station_name"] %></a></td>
                  <td width="20%"><%= facility["common_name"] %></td>
                  <td width="10%"><a class="dm-internal-link" href='/visns/<%= facility["visn_number"] %>'><%= facility["visn_number"] %></a></td>
                  <td width="10%"><%= facility["fy17_parent_station_complexity_level"][0..1].upcase %></td>
                  <td width="15%"><%= facility["practices_created"] %></td>
                  <td width="15%"><%= facility["adoptions"] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <% if @num_recs.to_i < @results_count %>
            <div align="center" class="margin-top-5 margin-bottom-3">
              <%= button_tag "Load more", num_recs: @num_recs, type: 'button', id: "btn_facility_directory_load_more", class: "usa-button--outline dm-btn-base dm-load-more-btn width-auto" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

