<section class="usa-section padding-top-4 padding-bottom-4">
  <div class="grid-container position-relative padding-x-9">
    <div class="grid-row padding-x-9">
      <div id="overview" class="grid-col-12">
        <%= render partial: "shared/messages", locals: {small_text: false} %>
        <div class="bg-white">
          <h1 class="font-sans-2xl margin-top-0 margin-bottom-2 font-family-sans text-heavy dm-word-break-break-word dm-hyphens-auto line-height-sans-205">
            <%= @practice.name %>
          </h1>
          <div class="margin-bottom-2">
            <a target="_blank" aria-label="Share <%= @practice.name %>" tabindex="-1" aria-hidden="true" href="mailto:?subject=<%= email_practice_subject(@practice) %>&body=<%= email_practice_body(@practice) %>" class="text-no-underline">
              <span class="text-no-underline text-primary-vivid"><i class="fas fa-external-link-alt padding-right-105"></i>Share link</span>
            </a>
          </div>
          <p class="font-sans-xl line-height-sans-5"><%= @practice.description %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="usa-section padding-0">
  <div class="grid-container position-relative padding-x-9">
    <div class="grid-row padding-x-9">
      <div class="grid-col-12">
        <div class="grid-row">
          <div>
            <p class="practice-summary dm-hyphens-auto dm-word-break-break-word margin-0 font-sans-xs-2 line-height-sans-505"><%= @practice.summary %></p>
          </div>
        </div>
      </div>
      <div class="padding-top-3 margin-bottom-6">
        <%= link_to 'Login to see full practice', new_user_session_path, id: 'practice-page-login-link', class: 'display-inline-block font-sans-xs-2 line-height-sans-505' %>
      </div>
    </div>
  </div>
</section>
