<div class="line-height-sans-1 map-infowindow-size">
  <div class="margin-top-1 visn-card-text">
    <%
      station_name = facility.official_station_name
      station_number = facility.station_number
      facility_name = facility.official_station_name
      facility_id = facility.id
      practice_list = @practices_list
      names = []
      taglines = []
      short_names = []
      practices_to_display_in_info_window facility_id, practice_list.split(","), names, taglines, short_names
      @num_practices_adopted = names.count
    %>
    <%= link_to "#{station_name} #{ show_common_name(station_name, facility.common_name)}", va_facility_path(facility), class: 'padding-for-map-component-infowindow-text usa-link font-sans-md text-bold' %>
    <div class="margin-top-2 text-normal theme-type-scale-sm padding-for-map-component-infowindow-text">
      <%= @num_practices_adopted %> <% if @short_name.length > 0 %> <%= @short_name %> <% else %> Total <% end %> Innovation<% if @num_practices_adopted != 1 %>s<% end %>
    </div>
    <div class="text-bold font-sans-3xs">
      <% i = 0 %>
      <% while i < names.length do %>
        <div class="map-infowindow-border margin-bottom-2">
        <%= names[i] %> <% if short_names[i].to_s.length > 0 %> <%= "(" +  short_names[i] + ")" %> <% end %>
          <div class="text-normal font-sans-3xs margin-top-3">
          <%= taglines[i] %>
          </div>
        </div>
        <% i = i + 1 %>
      <% end %>
    </div>
  </div>
</div>