<% diffused_practices = @diffusion_history_practices %>
<div id="filterResults" class="map-filters padding-y-0 position-absolute display-none">
  <div class="padding-left-1">
    <div class="margin-top-2 margin-bottom-105">
      <h3 class="font-sans-lg bold-height-2 margin-0 ">Filter results</h3>
    </div>
    <div class="margin-bottom-1">
      <p class="margin-bottom-1 margin-top-0">
        <span id="facility-results-count">
          <%= @dh_markers.size %> facility match<%= @dh_markers.size != 1 ? 'es' : '' %>
        </span>
        (of <%= @dh_markers.size %>)
      </p>
      <p class="margin-0">
        <span id="practice-results-count">
          <%= diffused_practices.size %> innovation<%= 's' unless diffused_practices.size === 1 %>
        </span>
        matched (of <%= diffused_practices.size %>)
      </p>
    </div>
    <button type="button" class="dm-button--unstyled-primary" id="allMarkersButton">Reset filters</button>
    <div class="margin-y-105">
      <button type="submit" class="usa-button update-map-results-button">Update results</button>
    </div>
  </div>
  <hr class="flex-fill height-2px border border-base-lighter bg-base-lighter dm-section-line margin-0">

  <form id="mapFilters" name="mapFilters" class="padding-left-1">
    <div class="map-filters-content">
      <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-105">Innovations</h4>
      <div id="practice-list-container" class="margin-bottom-2">
        <fieldset>
          <legend class="usa-sr-only">Innovations</legend>
          <%= collection_check_boxes(:practice, :ids, diffused_practices, :id, :name) do |p| %>
            <%= p.check_box class: 'usa-checkbox__input' %> <%= p.label class: 'usa-checkbox__label' %>
          <% end %>
        </fieldset>
      </div>

      <div class="margin-bottom-2">
        <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0">Innovation status</h4>
        <fieldset>
          <legend class="usa-sr-only">Statuses</legend>
          <% DiffusionHistoryStatus::STATUSES.each do |i, v| %>
            <input id="status_<%= v.downcase.gsub(' ', '_') %>" name="statuses" type="checkbox" value="<%= v %>" class="usa-checkbox__input">
            <label for="status_<%= v.downcase.gsub(' ', '_') %>" class="usa-checkbox__label adoption-status-label">
              <%= v %>
            </label>
          <% end %>
        </fieldset>
      </div>
      <div class="margin-bottom-2">
        <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0">Facility VISN<%= render partial: "visns/visns_tooltip" %></h4>
        <div id="visn-list-container" class="map-filters-list">
          <fieldset>
            <legend class="usa-sr-only">VISNs</legend>
            <% @visns.each do |v| %>
              <input id="VISN_<%= v.id %>" name="visns" type="checkbox" value="<%= v.id %>" class="usa-checkbox__input">
              <label for="VISN_<%= v.id %>" class="usa-checkbox__label">
                VISN <%= v.number %>
              </label>
            <% end %>
          </fieldset>
        </div>
      </div>

      <label for="facility_name" class="usa-label line-height-26 text-bold">Facility name</label>
      <div class="usa-combo-box margin-top-1 margin-bottom-2" data-set-facility="false">
        <select id="facility_name" class="usa-select" name="facility_name">
          <% @va_facilities.each do |f| %>
            <option value=<%= f.station_number %>>
              <%= f.street_address_state %>: <%= f.official_station_name + ' (' + f.common_name + ')' %>
            </option>
          <% end %>
        </select>
      </div>

      <div class="margin-bottom-2 clearfix">
        <button type="button" class="dm-button--unstyled-primary float-right margin-bottom-1" id="facilityListTrigger">
          View list of facilities
        </button>
        <div id="facilityListContainer" class="map-filters-list display-none">
          <fieldset>
            <legend class="usa-sr-only">Facilities</legend>
            <% @va_facilities.each do |f| %>
              <%
                station_number = f.station_number
                station_name = f.official_station_name
              %>
              <input id="<%= station_number %>" name="facilities" type="checkbox" value="<%= station_number %>" class="usa-checkbox__input">
              <label for="<%= station_number %>" class="usa-checkbox__label">
                <%= f.street_address_state %>: <%= station_name %>
                  <%= show_common_name(station_name, f.common_name) %>
              </label>
            <% end %>
          </fieldset>
        </div>
      </div>

      <div class="margin-bottom-2">
        <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0 display-inline-block">Facility complexity</h4>
        <%= render partial: 'shared/facility_complexity_modal', locals: { hide_modal_on_initial_load: false } %>
        <% complexity_levels = VaFacility.get_complexity %>
        <fieldset>
          <legend class="usa-sr-only">Facility Complexity Levels</legend>
          <% complexity_levels.each do |c| %>
            <input id="<%= c.gsub(' ', '').underscore %>" name="facility_complexities" type="checkbox" value="<%= c %>" class="usa-checkbox__input">
            <label for="<%= c.gsub(' ', '').underscore %>" class="usa-checkbox__label">
              <%= c.split('-').shift.upcase %> (<%= c.include?('High') ? 'High' : c.delete('-').split(' ')[1] %> complexity)
            </label>
          <% end %>
        </fieldset>
      </div>

      <div class="margin-bottom-2">
        <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0">Facility rurality</h4>
        <% ruralities = {R: "Rural", U: "Urban"} %>
        <fieldset>
          <legend class="usa-sr-only">Ruralities</legend>
          <% ruralities.each do |k, v| %>
            <input id="rurality_<%= k %>" name="ruralities" type="checkbox" value="<%= k %>" class="usa-checkbox__input">
            <label for="rurality_<%= k %>" class="usa-checkbox__label">
              <%= v %>
            </label>
          <% end %>
        </fieldset>
      </div>
    </div>
  </form>
</div>
