<div id="homeMapMarkerViewMoreModal-<%= facility.station_number %>" class="modal home-marker-modal">
  <div class="modal-content width-tablet padding-y-205 padding-x-3">
    <div class="first_el" tabindex="0" aria-label="Closing feedback form"></div>
    <div class="modal-body padding-y-205 padding-x-3">
      <div>
        <span class="close text-base-darker" tabindex="0" role="button" aria-label="Close modal"><span class="fas fa-times"></span></span>
        <div class="margin-bottom-2">
          <h2 class="margin-top-0 margin-bottom-1">
            <%= link_to "#{facility.official_station_name} #{ show_common_name(facility.official_station_name, facility.common_name)}", va_facility_path(facility), target: '_blank', class: 'usa-link' %>
          </h2>
          <p class="margin-top-1 margin-bottom-0"><%= in_progress %> in-progress
            adoption<%= in_progress == 1 ? '' : 's' %></p>
          <p class="margin-top-1 margin-bottom-0"><%= completed %> successful
            adoption<%= completed == 1 ? '' : 's' %></p>
          <p class="margin-top-1 margin-bottom-0"><%= unsuccessful %> unsuccessful
            adoption<%= unsuccessful == 1 ? '' : 's' %></p>
        </div>
        <div class="practice-list">
          <% diffusion_histories.each_with_index do |dh, i| %>
            <a href="<%= practice_path(dh.practice) %>" target="_blank" class="display-block padding-y-105 padding-x-2 map-marker-practice margin-bottom-1">
              <p class="margin-0 map-marker-practice-name margin-bottom-1"><%= dh.practice.name %></p>

              <%
                dh_status = dh.diffusion_history_statuses.order(id: :desc).first
                status = dh_status.get_status_display_name
                start_date = dh_status.start_time
                formatted_start_date = "(started #{start_date.strftime('%B %Y')})" if start_date.present?
                end_date = dh_status.end_time
                formatted_end_date = "(#{status === DiffusionHistoryStatus::STATUSES[0] ? 'completed ' : 'abandoned '}#{end_date.strftime('%B %Y')})" if end_date.present?
              %>

              <div class="map-marker-practice-content">
                <p class="margin-top-0 margin-bottom-105">
                  <span class="far fa-calendar"></span>
                  <%= status %> <%= status === DiffusionHistoryStatus::STATUSES[1] ? formatted_start_date : formatted_end_date %>
                </p>
                <p class="margin-top-0 margin-bottom-05 truncate-text one-line"><%= dh.practice.description %></p>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="last_el" tabindex="0" aria-label="Closing modal"></div>
  </div>
</div>