<% diffused_practices = @diffusion_history_practices %>
<div id="filterResults" class="map-filters">
  <div class="padding-left-1">
    <button type="button" class="dm-button--unstyled-primary margin-top-105" id="allMarkersButton">Reset filters</button>
    <div class="margin-y-105">
      <button type="submit" class="usa-button update-map-results-button">Update results</button>
    </div>
  </div>
  <hr class="flex-fill height-2px border border-base-lightest bg-base-lightest dm-section-line margin-0">

  <form id="mapFilters" name="mapFilters" class="padding-left-1">
    <div class="map-filters-content">
      <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-105">Innovations</h4>
      <div id="practice-list-container" class="margin-bottom-2 margin-right-1">
        <fieldset class="grid-row">
          <legend class="usa-sr-only">Innovations</legend>
          <input type="hidden" name="practices" value="">
          <% sliced_diffused_practices = split_data_into_three_columns(diffused_practices) %>
          <% if sliced_diffused_practices.present? %>
            <% sliced_diffused_practices.each_with_index do |practice_array, i| %>
              <% unless i === 3 %>
                <div class="grid-col-4">
                    <% practice_array.each do |p| %>
                      <%= render partial: 'shared/checkbox', locals: {
                        data_id: "practice_ids_#{p.id}",
                        data_name: 'practices',
                        data_value: p.id,
                        data_label_text: p.name,
                        data_class: ''
                      } %>
                    <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </fieldset>
      </div>

      <div class="margin-bottom-2">
        <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0">Innovation status</h4>
        <fieldset>
          <legend class="usa-sr-only">Statuses</legend>
          <% DiffusionHistoryStatus::STATUSES.each do |i, v| %>
            <input id="status_<%= v.downcase.gsub(' ', '_') %>" name="statuses" type="checkbox" value="<%= v %>" class="usa-checkbox__input">
            <label for="status_<%= v.downcase.gsub(' ', '_') %>" class="usa-checkbox__label adoption-status-label">
              <%= v %>
            </label>
          <% end %>
        </fieldset>
      </div>
      <div class="margin-bottom-2">
          <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0 display-inline-block">Facility VISN</h4>
          <%= render partial: 'shared/visn_info_modal', locals: { hide_modal_on_initial_load: false } %>
        <div id="visn-list-container" class="map-filters-list">
          <fieldset>
            <legend class="usa-sr-only">VISNs</legend>
            <% @visns.each do |v| %>
              <input id="VISN_<%= v.id %>" name="visns" type="checkbox" value="<%= v.id %>" class="usa-checkbox__input">
              <label for="VISN_<%= v.id %>" class="usa-checkbox__label">
                VISN <%= v.number %>
              </label>
            <% end %>
          </fieldset>
        </div>
      </div>

      <label for="facility_name" class="usa-label line-height-26 text-bold">Facility name</label>
      <div class="usa-combo-box margin-top-1 margin-bottom-2" data-set-facility="false">
        <select id="facility_name" class="usa-select" name="facility_name">
          <% @va_facilities.each do |f| %>
            <option value=<%= f.station_number %>>
              <%= f.street_address_state %>: <%= f.official_station_name + ' (' + f.common_name + ')' %>
            </option>
          <% end %>
        </select>
      </div>

      <div class="margin-bottom-2 clearfix">
        <button type="button" class="dm-button--unstyled-primary margin-bottom-1" id="facilityListTrigger">
          View list of facilities
        </button>
        <div id="facilityListContainer" class="map-filters-list display-none">
          <fieldset class="grid-row">
            <legend class="usa-sr-only">Facilities</legend>
              <% sliced_facilities = split_data_into_three_columns(@va_facilities) %>
              <% if sliced_diffused_practices.present? %>
                <% sliced_facilities.each_with_index do |facilities_array, i| %>
                  <% unless i === 3 %>
                    <div class="grid-col-4">
                      <% facilities_array.each do |f| %>
                        <%
                          station_number = f.station_number
                          station_name = f.official_station_name
                        %>
                        <%= render partial: 'shared/checkbox', locals: {
                          data_id: station_number,
                          data_name: 'facilities',
                          data_value: station_number,
                          data_label_text: "#{f.street_address_state}: #{facility_name_with_common_name(station_name, f.common_name)}",
                          data_class: ''
                        } %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
            <% end %>
          </fieldset>
        </div>
      </div>

      <div class="margin-bottom-2">
        <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0 display-inline-block">Facility complexity</h4>
        <%= render partial: 'shared/facility_complexity_modal', locals: { hide_modal_on_initial_load: false } %>
        <% complexity_levels = VaFacility.get_complexity %>
        <fieldset>
          <legend class="usa-sr-only">Facility Complexity Levels</legend>
          <% complexity_levels.each do |c| %>
            <input id="<%= c.gsub(' ', '').underscore %>" name="facility_complexities" type="checkbox" value="<%= c %>" class="usa-checkbox__input">
            <label for="<%= c.gsub(' ', '').underscore %>" class="usa-checkbox__label">
              <%= c.split('-').shift.upcase %> (<%= c.include?('High') ? 'High' : c.delete('-').split(' ')[1] %> complexity)
            </label>
          <% end %>
        </fieldset>
      </div>

      <div class="margin-bottom-2">
        <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0">Facility rurality</h4>
        <% ruralities = {R: "Rural", U: "Urban"} %>
        <fieldset>
          <legend class="usa-sr-only">Ruralities</legend>
          <% ruralities.each do |k, v| %>
            <input id="rurality_<%= k %>" name="ruralities" type="checkbox" value="<%= k %>" class="usa-checkbox__input">
            <label for="rurality_<%= k %>" class="usa-checkbox__label">
              <%= v %>
            </label>
          <% end %>
        </fieldset>
      </div>
    </div>
  </form>
</div>
