<% provide :head_tags do %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    <%= render partial: 'maps/facility_auto_complete', formats: [:js] %>
  <% end %>
<% end %>

<% diffused_practices = @diffused_practices.map(&:practice).uniq.sort_by(&:name) %>
<div id="filterResults" class="map-filters padding-y-0 position-absolute display-none">
  <div class="padding-left-1">
    <div class="margin-top-2 margin-bottom-105">
      <span id="filterClose" class="close text-base-darkest" tabindex="0" role="button" aria-label="Close map filters"><span class="fas fa-times"></span></span>
      <h3 class="font-sans-lg bold-height-2 margin-0 ">Filter results</h3>
    </div>
    <div class="margin-bottom-1">
      <p class="margin-bottom-1 margin-top-0"><span id="facility-results-count"><%= @diffusion_histories.length %></span>
        facility matches (of <%= @diffusion_histories.length %>)</p>
      <p class="margin-0">
        <span id="practice-results-count">
          <%= diffused_practices.length %>
        </span>
        practice matched (of <%= diffused_practices.length %>)
      </p>
    </div>
    <button type="button" class="usa-button--unstyled" id="allMarkersButton">Reset filters</button>
    <div class="margin-y-105">
      <button type="submit" class="usa-button padding-2 update-map-results-button">Update results</button>
    </div>
  </div>
  <hr class="flex-fill height-2px border border-base-lighter bg-base-lighter section-line margin-0">

  <form id="mapFilters" name="mapFilters" class="padding-left-1">
    <div class="map-filters-content">
      <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-105">Practices</h4>
      <div id="practice-list-container" class="margin-bottom-2">
        <fieldset>
          <legend class="usa-sr-only">Practices</legend>
          <%= collection_check_boxes(:practice, :ids, diffused_practices, :id, :name) do |p| %>
            <%= p.check_box class: 'usa-checkbox__input' %> <%= p.label class: 'usa-checkbox__label' %>
          <% end %>
        </fieldset>
      </div>

      <div class="margin-bottom-2">
        <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0">Practice status</h4>
        <% statuses = ['Complete', 'In progress', 'Unsuccessful'] %>
        <fieldset>
          <legend class="usa-sr-only">Statuses</legend>
          <% statuses.each do |v| %>
            <input id="status_<%= v.downcase.gsub(' ', '_') %>" name="statuses" type="checkbox" value="<%= v %>" class="usa-checkbox__input">
            <label for="status_<%= v.downcase.gsub(' ', '_') %>" class="usa-checkbox__label">
              <%= v %>
            </label>
          <% end %>
        </fieldset>
      </div>
      <div class="margin-bottom-2">
        <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0">Practice complexity</h4>
        <% complexities = {'No complexity': 0, 'Low complexity': 1, 'Moderate complexity': 2, 'High complexity': 3} %>
        <fieldset>
          <legend class="usa-sr-only">Complexity</legend>
          <% complexities.each do |k, v| %>
            <input id="complexity_<%= k.to_s.downcase.gsub(' ', '_') %>" name="complexities" type="checkbox" value="<%= v %>" class="usa-checkbox__input">
            <label for="complexity_<%= k.to_s.downcase.gsub(' ', '_') %>" class="usa-checkbox__label">
              <%= k %>
            </label>
          <% end %>
        </fieldset>
      </div>
      <div class="margin-bottom-2">
        <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0">Facility VISN</h4>
        <div id="visn-list-container" class="map-filters-list">
          <% visns = @vamc_facilities.map {|f| f["VISN"]}.uniq %>
          <fieldset>
            <legend class="usa-sr-only">VISNs</legend>
            <% visns.each do |v| %>
              <input id="VISN<%= v %>" name="visns" type="checkbox" value="<%= v %>" class="usa-checkbox__input">
              <label for="VISN<%= v %>" class="usa-checkbox__label">
                VISN <%= v %>
              </label>
            <% end %>
          </fieldset>
        </div>
      </div>

      <div class="margin-bottom-2 clearfix">
        <div class="usa-search usa-search--small" id="facility_name_container">
          <label class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0 text-bold" for="facility_name">Facility
            name</label>
          <input id="facility_name" class="usa-input typeahead" name="facility_name">
        </div>
        <button type="button" class="usa-button--unstyled float-right padding-top-1 padding-bottom-05 padding-right-1" id="practiceListTrigger">
          View list of facilities
        </button>
        <div id="practiceListContainer" class="map-filters-list display-none">
          <fieldset>
            <legend class="usa-sr-only">Facilities</legend>
            <% @vamc_facilities.sort_by {|f| [f["StreetAddressState"], f["OfficialStationName"], ]}.each do |f| %>
              <input id="<%= f["StationNumber"] %>" name="facilities" type="checkbox" value="<%= f["StationNumber"] %>" class="usa-checkbox__input">
              <label for="<%= f["StationNumber"] %>" class="usa-checkbox__label">
                <%= f["StreetAddressState"] %>: <%= f["OfficialStationName"] %>
              </label>
            <% end %>
          </fieldset>
        </div>
      </div>

      <div class="margin-bottom-2">
        <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0">Facility type</h4>
        <% complexity_levels = @vamc_facilities.map {|f| f["FY17ParentStationComplexityLevel"]}.uniq.sort %>
        <fieldset>
          <legend class="usa-sr-only">Facility Complexity Levels</legend>
          <% complexity_levels.each do |c| %>
            <input id="<%= c.gsub(' ', '').underscore %>" name="facility_complexities" type="checkbox" value="<%= c %>" class="usa-checkbox__input">
            <label for="<%= c.gsub(' ', '').underscore %>" class="usa-checkbox__label">
              <%= c %>
            </label>
          <% end %>
        </fieldset>
      </div>

      <div class="margin-bottom-2">
        <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0">Facility rurality</h4>
        <% ruralities = {R: "Rural", U: "Urban"} %>
        <fieldset>
          <legend class="usa-sr-only">Ruralities</legend>
          <% ruralities.each do |k, v| %>
            <input id="rurality_<%= k %>" name="ruralities" type="checkbox" value="<%= k %>" class="usa-checkbox__input">
            <label for="rurality_<%= k %>" class="usa-checkbox__label">
              <%= v %>
            </label>
          <% end %>
        </fieldset>
      </div>
    </div>
  </form>
</div>