
<div class="font-sans-sm line-height-sans-1">
  <p class="margin-top-1p5">
  <b>
    <%= facility['OfficialStationName'] %>
    <%= show_common_name(facility["OfficialStationName"], facility["CommonName"]) %>
  </b>
  </p>
  <% if home_page ||= false %>
    <p class="margin-top-1"><%= completed %> successful adoption<%= completed == 1 ? '' : 's' %></p>
    <p class="margin-top-1"><%= in_progress %> in-progress adoption<%= in_progress == 1 ? '' : 's' %></p>
    <p class="margin-top-1"><%= unsuccessful %> unsuccessful adoption<%= unsuccessful == 1 ? '' : 's' %></p>
    <button
      type="button"
      onclick="openMarkerModal('homeMapMarkerViewMoreModal-<%= facility["StationNumber"] %>')"
      id="homeMapMarkerViewMoreTrigger-<%= facility["StationNumber"] %>" data-marker-id="<%= facility["StationNumber"] %>"
      class="margin-bottom-2 display-block usa-button--unstyled dm-btn-primary margin-top-1">
      View more
    </button>
  <% end %>
</div>
