<section class="grid-container margin-top-10" id="map-of-diffusion">
  <% if ENV['GOOGLE_API_KEY'].present? %>
    <% provide :head_tags do %>
      <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
        <%= render partial: 'maps/marker_icons', formats: [:js] %>
        <%= render partial: 'maps/map_data', formats: [:js] %>
        var statuses = <%= raw DiffusionHistoryStatus::STATUSES.to_json %>;
      <% end %>
      <%= javascript_include_tag 'diffusion_history/home_map', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'diffusion_history/_map_utilities', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <%= render partial: "shared/messages", locals: {small_text: false} %>

    <h1>Diffusion map</h1>
    <p class="usa-prose-intro margin-bottom-4-important">
      Explore how innovations are being adopted across the country. There are currently <%= @successful_ct %> successful adoption<%= @successful_ct === 1 ? '' : 's' %>, <%= @in_progress_ct %> in-progress adoption<%= @in_progress_ct === 1 ? '' : 's' %>, and <%= @unsuccessful_ct %> unsuccessful adoption<%= @unsuccessful_ct === 1 ? '' : 's' %>.
    </p>
    <div class="diffusion-map-container display-none">
      <div class="usa-accordion usa-accordion--bordered map-filters-accordion">
        <h4 class="usa-accordion__heading">
          <button
            class="usa-accordion__button map-filters-accordion-button"
            aria-expanded="false"
            aria-controls="diffusion-map-filters"
          >
            Filter results
          </button>
        </h4>
        <div id="diffusion-map-filters" class="usa-accordion__content usa-prose padding-0">
          <%= render 'maps/home_map_filters' %>
        </div>
      </div>
      <% diffused_practices = @diffusion_history_practices %>
      <div class="margin-bottom-1">
        <h3 class="usa-prose-h3 margin-bottom-1">Results:</h3>
        <p class="margin-bottom-1 margin-top-0">
        <span id="facility-results-count">
          <%= @dh_markers.size %> facility match<%= @dh_markers.size != 1 ? 'es' : '' %>
        </span>
          (of <%= @dh_markers.size %>)
        </p>
        <p class="margin-0">
        <span id="practice-results-count">
          <%= diffused_practices.size %> innovation<%= 's' unless diffused_practices.size === 1 %>
        </span>
          matched (of <%= diffused_practices.size %>)
        </p>
      </div>
      <div class="width-full position-relative">
        <div id="map" style="width: 100%; height: 633px;"></div>
      </div>
    </div>
    <div class="dm-loading-spinner text-center margin-y-8">
      <i class="fas fa-circle-notch"></i>
    </div>
  <% else %>
    <p>The map is not enabled for this site.</p>
  <% end %>
</section>
