<section class="grid-container margin-top-3" id="map-of-diffusion">
  <% if ENV['GOOGLE_API_KEY'].present? %>
    <% provide :head_tags do %>
      <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
        <%= render partial: 'maps/marker_icons', formats: [:js] %>
        <%= render partial: 'maps/map_data', formats: [:js] %>
        var statuses = <%= raw DiffusionHistoryStatus::STATUSES.to_json %>;
      <% end %>
      <%= javascript_include_tag 'diffusion_history/home_map', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'diffusion_history/_map_utilities', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <%= render partial: "shared/messages", locals: {small_text: false} %>

    <h1>Diffusion map</h1>
    <p class="usa-prose-intro margin-bottom-4-important">
      Explore how innovations are being adopted across the country. There are currently <%= @successful_ct %> successful adoption<%= @successful_ct === 1 ? '' : 's' %>, <%= @in_progress_ct %> in-progress adoption<%= @in_progress_ct === 1 ? '' : 's' %>, and <%= @unsuccessful_ct %> unsuccessful adoption<%= @unsuccessful_ct === 1 ? '' : 's' %>.
    </p>
    <div class="diffusion-map-container display-none">
      <button id="filterResultsTrigger" class="map-filters-trigger usa-button width-full display-block margin-bottom-105">
        Filter results
      </button>
      <button type="button" class="usa-button usa-button--secondary width-full display-none margin-bottom-105" id="filterClose" aria-label="Close map filters">
        Close filters
      </button>
      <div class="width-full position-relative">
        <div id="map" style="width: 100%; height: 633px;"></div>
        <%= render 'maps/home_map_filters' %>
      </div>
    </div>
    <div class="dm-loading-spinner text-center margin-y-8">
      <i class="fas fa-circle-notch"></i>
    </div>
  <% else %>
    <p>The map is not enabled for this site.</p>
  <% end %>
</section>
