<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @badge.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @badge.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @badge.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @badge.position %>
</p>

<p>
  <strong>Strategic sponsor:</strong>
  <%= @badge.practice_partner %>
</p>

<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
