<% provide :main_classes, 'bg-gray-2' %>
<% provide :body_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>

<% visn_number = params["number"]  %>
<% s_title = @crh.official_station_name.split("Clinical Resource Hub") %>

<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_card_utilities', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'shared/_signed_resource', 'data-turbolinks-track': 'false', defer: true %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>

    <%= render partial: 'crh_show', formats: [:js] %>
    <%# set visnNumber before loading the crh/show file %>
    var visnNumber = <%= visn_number %>;
  <% end %>
<% end %>

<div id="crh-show" class="grid-col-12" data-reload="true">
  <section class="usa-section padding-y-0 grid-col-12 margin-top-0" id="dm-crh-show">
    <div class="grid-container position-relative grid-col-12">
        <h1 id="crh_info_modal" class="font-sans-2xl line-height-46px display-inline-block margin-bottom-105"><%= s_title[0] %>
        <a href="#crh-info-modal" aria-controls="crh-info-modal" data-open-modal class="dotted cursor-pointer">
          <span class="usa-sr-only">Open visn info modal</span>
          <span>Clinical Resource Hub</span>
        </a>
        <%= s_title[1] %>
        </h1>
          <%= render partial: 'shared/crh_info_modal', locals: { hide_modal_on_initial_load: false } %>
      <div class="grid-row grid-gap-3 padding-top-0<%= ' margin-bottom-128' if @practices_created_by_crh.count > 0 || @practices_adopted_by_crh.count > 0 %>">
        <div class="grid-col-12 line-height-36 font-sans-lg"> This Clinical Resource Hub (CRH) serves veterans in <%= get_facility_locations_by_visn(@visn) %>. It has created <%= @practices_created_by_crh.count %> innovation<% if @practices_created_by_crh.count != 1 %>s<% end %> and has adopted <%= @practices_adopted_by_crh.count %> innovation<% if @practices_adopted_by_crh.count  != 1 %>s<% end %>.</div>
      </div>
    </div>
  </section>
  <div class="grid-container">
    <%= render partial: 'crh_search' unless @practices_created_by_crh.count == 0 && @practices_adopted_by_crh.count == 0 %>
  </div>
</div>
