<% provide :main_classes, 'bg-gray-2' %>
<% provide :body_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>

<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_card_utilities', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'va_facilities/facility_adopted_practice_search', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'va_facilities/facility_created_practice_search', 'data-turbolinks-track': 'reload' %>
<% end %>
<section class="usa-section padding-y-0 grid-col-12" id="dm-va-facilities-show">
<!--  <input type="hidden" id="facility_station_number" value="<%#= @crh.station_number %>"/>-->
  <div class="grid-container position-relative grid-col-12">
    <h1 class="margin-top-0 margin-bottom-3">
      <%= @crh.official_station_name %>
    </h1>
    <div class="grid-row grid-gap-3">
      <div class="grid-col-12 line-height-26"> This Clinical Resource Hub (CRH) servers veterans in <%= @crh.visn.state %>. It has created <%= @crh.practices_created_by_crh_count %> innovations and has adopted <%= @crh.practices_adopted_by_crh_count %> innovations.
      </div>
    </div>
    <div>
      VISN Number: <%= params["id"] %>
      VISN_ID: <%= @crh.visn_id %>
    </div>
  </div>
</section>

