<% facilities.each do |facility| %>
  <% is_crh = facility.class.name === "ClinicalResourceHub" %>
  <% path = is_crh ? clinical_resource_hub_path(facility) : va_facility_path(facility)  %>
  <% created_count = is_crh ?  crh_created_practices_count(facility.visn_id) : facility.practices_created_count %>
  <% adopted_count = is_crh ?  crh_adopted_practices_count(facility.visn_id) : facility.practices_adopted_count %>
  <tr>
    <th scope="row" role="rowheader" class="grid-col-6">
      <a class="usa-link" href='<%= path %>'><%= facility["official_station_name"] %>
        <% if !is_crh  %> (<%= facility["common_name"] %>)<% end %></a>
    </th>
      <% if facility.class.name === "VaFacility" %>
        <td class="grid-col-2">
          <%= facility.fy17_parent_station_complexity_level.split('-').shift.upcase %>
        </td>
      <% else %>
        <td class="grid-col-2"> - </td>
      <% end %>
      <td class="grid-col-2"><%= created_count %></td>
      <td class="grid-col-2"><%= adopted_count %></td>
  </tr>
<% end %>
