<h2 class="va-facilities-header line-height-37px font-sans-xl<% ' margin-top-10' unless practices_created == 0 && practices_adopted == 0 %> margin-bottom-05">List of VA facilities in this VISN</h2>
<div class="usa-table-container--scrollable">
  <table class="usa-table usa-table--borderless width-100 visn-facilities-table">
    <caption class="usa-sr-only">VISN <%= @visn.number %> facilities</caption>
    <thead>
    <tr>
      <th data-sortable scope="col" role="columnheader">
        Facility name
      </th>
      <th data-sortable scope="col" role="columnheader" class="p0-right">
        Complexity
        <%= render partial: 'shared/facility_complexity_modal', locals: { hide_modal_on_initial_load: true } %>
      </th>
      <th data-sortable scope="col" role="columnheader">
        Created
      </th>
      <th data-sortable scope="col" role="columnheader">
        Adopted
      </th>
    </tr>
    </thead>
    <tbody>
      <% @visn_va_facilities.each do |facility| %>
        <tr>
          <th scope="row" role="rowheader" class="grid-col-6">
            <%= link_to "#{facility_name_with_common_name(facility.official_station_name, facility.common_name)}", va_facility_path(facility), class: 'dm-internal-link' %>
          </th>
          <td class="grid-col-2"><%= facility.fy17_parent_station_complexity_level.split('-').shift.upcase %></td>
          <td class="grid-col-2"><%= facility.practices_created_count %></td>
          <td class="grid-col-2"><%= facility.practices_adopted_count  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="usa-sr-only usa-table__announcement-region" aria-live="polite">
    <!-- this content will change when sort changes -->
  </div>
</div>