<% provide :body_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>
<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_card_utilities', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    <%= render partial: 'show', formats: [:js] %>
    <%# set visnNumber before loading the visns/show file %>
    var visnNumber = '<%= @visn.number %>';
  <% end %>
  <%= javascript_include_tag 'visns/show', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="visns-show" class="grid-container" data-reload="true">
  <%= render partial: "shared/messages", locals: { small_text: false } %>
  <section id="visn-introduction" class="margin-bottom-3 margin-top-8">
    <div class="display-inline-block">
    <h1 class="font-sans-2xl line-height-46px margin-top-0 display-inline-block">VISN
      <span class="text-top display-inline-block usa-prose-body"> <%= render partial: "visns/visns_tooltip", locals: { data_position: 'top'} %></span>
     <%= @visn.number %>: <%= @visn.name %>
    </h1>
    </div>
    <div class="grid-row grid-gap-3">
      <div class="<%= @primary_visn_liaison.present? ? 'grid-col-6' : 'grid-col-12' %> line-height-26">
        <p class="margin-bottom-3">
          <%
            visn_facilities_count = @visn_va_facilities.size
            visn_practices_created_count = @practices_created_by_visn.size
            visn_practices_adopted_count = @practices_adopted_by_visn.size
          %>

          This VISN has <%= visn_facilities_count %> facilit<%= visn_facilities_count != 1 ? 'ies' : 'y' %> and serves Veterans in <%= get_facility_locations_by_visn(@visn) %>.
          Collectively, its facilities have created <%= visn_practices_created_count %> innovation<%= 's' if visn_practices_created_count != 1 %> and have adopted
          <%= visn_practices_adopted_count %> innovation<%= 's' if visn_practices_adopted_count != 1 %>.
          This VISN has <%= get_facility_type_text_by_visn(@visn) %>.
        </p>
        <%= link_to 'Jump to list of VA facilities', va_facilities_path, class: 'usa-link' %>
      </div>
      <% user_type = session[:user_type] %>
      <% if @primary_visn_liaison.present? && ((ENV['VAEC_ENV'].nil? && user_type === 'guest') || user_type === 'ntlm') %>
        <div class="grid-col-6">
          <div class="visn-liaison-info padding-3 line-height-26 bg-base-lightest">
            <p class="text-bold margin-bottom-2">VISN Marketplace Liaison</p>
            <p class="margin-bottom-2"><%= @primary_visn_liaison.first_name %> <%= @primary_visn_liaison.last_name %></p>
            <% primary_liaison_email = @primary_visn_liaison.email %>
            <p><%= mail_to primary_liaison_email, primary_liaison_email, class: 'usa-link usa-link--external' %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="dm-visn-show-map display-none margin-top-2">
      <%
        visn_map_filters = [
          { label: 'vamc', value: 'VA Medical Center (VAMC)', checked: true },
          { label: 'primary-cboc', value: 'Primary Care CBOC', checked: false },
          { label: 'multi-cboc', value: 'Multi-Specialty CBOC', checked: false },
          { label: 'hcc', value: 'Health Care Center (HCC)', checked: false },
          { label: 'stand-alone', value: 'Residential Care Site (MH RRTP/DRRTP) (Stand-Alone)', checked: false },
          { label: 'oos', value: 'Other Outpatient Services (OOS)', checked: false },
          { label: 'Unclassified', value: 'Unclassified', checked: false }
        ]
      %>

      <form class="usa-form width-full">
        <fieldset class="usa-fieldset grid-row">
          <legend class="usa-legend text-normal font-sans-sm usa-sr-only">Display on map</legend>
          <p class="grid-col-1 filters-p">Display:</p>
          <% facility_types = get_facility_types_by_visn(@visn) %>

          <div class="grid-col-11">
            <div class="grid-row grid-gap-3">
              <!-- order the facility types in ascending alphabetical, and then place VAMC at the front (per research) -->
              <% facility_types.sort { |a, b| a <=> b }.rotate(-1).each do |ft| %>
                <% visn_map_filters.each do |filter| %>
                  <% if ft === filter[:value] %>
                    <div class="usa-checkbox facility-type-checkbox-container grid-col-4 margin-bottom-2">
                      <%= check_box_tag("visn-show-filter-#{filter[:label]}", value = "#{filter[:value]}", checked = filter[:checked], options = { class: 'usa-checkbox__input dm-visn-map-filter-checkbox'}) %>
                      <%= label_tag "visn-show-filter-#{filter[:label]}", "#{filter[:value]}", class: 'usa-checkbox__label margin-top-0 facility-type-checkbox-label' %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </fieldset>
      </form>
      <%= render partial: 'visns/maps/show_map' %>
    </div>
    <%= render partial: 'shared/loading_spinner', locals: { display: true, classes: 'dm-visn-map-loading-spinner flex-justify-center flex-align-self-center margin-y-8 desktop:margin-y-10 text-center' } %>
  </section>
  <%= render partial: 'visns/search' unless visn_practices_created_count == 0 && visn_practices_adopted_count == 0 %>
  <div>
    <%= render partial: 'visn_facilities_table', locals: { practices_created: visn_practices_created_count, practices_adopted: visn_practices_adopted_count } %>
  </div>
</div>

