<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @area_of_affect.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @area_of_affect.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @area_of_affect.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @area_of_affect.position %>
</p>

<%= link_to 'Edit', edit_area_of_affect_path(@area_of_affect) %> |
<%= link_to 'Back', area_of_affects_path %>
