<div class="grid-container margin-top-10">
  <div class="grid-row grid-gap">
    <div class="grid-col-3 margin-right-5">
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar_s3_presigned_url(:thumb), alt: "user avatar for #{@user.full_name}", class: 'avatar-profile-photo' %>
      <% else %>
        <div class="profile-avatar-container bg-base-lightest radius-md cropper-image-placeholder">
          <i class="fas fa-user empty-user-avatar text-base-lighter"></i>
        </div>
      <% end %>
    </div>

    <div class="grid-col">
      <!-- User Name, Job Title, Project -->
      <h2 class="margin-top-0"><%= @user.bio_page_name %></h2>
      <% job_title = @user.alt_job_title || @user.job_title %>
      <% if job_title.present? %>
        <p class="margin-top-2"><%= job_title %></p>
      <% end %>
      <% if @user.project.present? %>
        <p class="margin-top-2"><%= @user.project %></p>
      <% end %>
    </div>
  </div>

  <div class="grid-row grid-gap">
    <!-- Work -->
    <% if @user.work.present? %>
      <div class="grid-col-12 margin-top-5">
        <h3 class="font-sans-md text-bold">Work</h3>
        <ul class="usa-list usa-list--unstyled">
          <% @user.work.each do |work_item| %>
            <li>
              <a href="<%= work_item['link'] %>" target="_blank" rel="noopener noreferrer">
                <%= work_item['text'] || work_item['link'] %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- About -->
    <% if @user.bio.present? %>
      <div class="grid-col-12 margin-top-4">
        <h3 class="font-sans-md text-bold">About</h3>
        <div class="line-height-sans-3">
          <%= simple_format(@user.bio) %>
        </div>
      </div>
    <% end %>

    <!-- Credentials -->
    <% if @user.credentials.present? %>
      <div class="grid-col-12 margin-top-4">
        <h3 class="font-sans-md text-bold">Credentials</h3>
        <div class="line-height-sans-3">
          <p><%= @user.credentials %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
