<div class="x0-top">
  <section class="usa-section p2-top" style="min-height: calc(100vh - 286px)">
    <div class="grid-container">
      <%= render partial: 'shared/messages' %>
      <div class="grid-row grid-gap">
        <%= render partial: 'side_nav' %>
        <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
          <div class="login-header">
            <div class="login-header-overlay">
              <h1 class="x0">Your Profile</h1>
              <p class="fs1-125">Instructions about editing profile. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="login-body">
            <%= form_for(@user, url: edit_profile_path, html: {method: :post, class: 'x1-top'}) do |f| %>
              <% if @user.errors.any? %>
              <div class="usa-alert usa-alert--error" >
                <div class="usa-alert__body">
                  <div id="error_explanation">
                    <h2><%= pluralize(f.object.errors.count, "error") %> prohibited profile updates from being saved:</h2>

                    <ul>
                    <% f.object.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                </div>
              </div>
              <% end %>
              <div class="grid-container p0">
                <div class="grid-row">
                  <div class="grid-col-5">
                    <% if @user.avatar.present? && @user.avatar.exists? %>
                      <img src="<%= @user.avatar.url %>" class="avatar-profile-photo"/>
                    <% else %>
                      <i class="fas fa-user empty-user-avatar"></i>
                    <% end %>
                  </div>
                  <div class="grid-col-7">
                    <span>Photo</span><br/>
                    <p class='dm-font-color-base-dark'>
                      Blurb about photo requirements such as size, that it should be a headshot, any tips on how to take a good photo, or if they have an existing VA photo they should use here.
                    </p>
                    <p>
                      <a class='usa-button usa-button--outline' aria-controls='photo-file-upload' aria-expanded='false' id='toggle-photo' href='#'>Edit photo</a>
                    </p>
                  </div>
                </div>
                <div class=" grid-row usa-accordion__content p0 x1-bottom" id='photo-file-upload' aria-hidden="true">
                  <div class="grid-col-5">
                  </div>
                  <div class='grid-col-7'>
                    <div class='x1-bottom'>
                      <%= f.label :avatar, 'Photo' %>
                      <%= f.file_field :avatar %>
                      <br />
                    </div>
                    <% if @user.avatar.present? && @user.avatar.exists? %>
                      <%= link_to "Remove photo", edit_profile_photo_path, data: { confirm: "Are you sure?" }, method: :delete, class: 'usa-button usa-button--secondary' %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="usa-form">
                <div class="field">
                  <%= f.label :first_name, class: 'x1-top x1-bottom' %><br/>
                  <%= f.text_field :first_name, autofocus: true, class: 'usa-input', disabled: ENV['USE_NTLM'] == 'true' %>
                </div>

                <div class="field x1-top">
                  <%= f.label :last_name, class: 'x0 x1-top' %><br/>
                  <%= f.text_field :last_name, class: 'usa-input', disabled: ENV['USE_NTLM'] == 'true' %>
                </div>

                <div class="field x1-top">
                  <%= f.label :location, 'Facility', class: 'x0 x1-top' %><br/>
                  <%= f.text_field :location, class: 'usa-input', disabled: ENV['USE_NTLM'] == 'true' %>
                </div>

                <div class="field x1-top">
                  <%= f.label :phone_number, 'Work phone number', class: 'x0 x1-top' %><br/>
                  <%= f.phone_field :phone_number, autofocus: true, class: 'usa-input', disabled: ENV['USE_NTLM'] == 'true' %>
                </div>

                <div class="field x1-top">
                  <%= f.label :job_title, class: 'x0 x1-top' %><br/>
                  <%= f.text_field :job_title, class: 'usa-input', disabled: ENV['USE_NTLM'] == 'true' %>
                </div>
              </div>
              <div class="field x1-top">
                <%= f.label :bio, class: 'x0 x1-top' do %>
                  <span>Biography</span> <span class='dm-font-color-steel-grey'>(250 character limit)</span>
                  <p class='maxw-30rem dm-font-color-base-dark'>Instructions about how to write bio/description, wordcount, what type of information to include</p>
                <% end %>
                <%= f.text_area :bio, class: 'usa-input height-200px' %>
                <br />
              </div>

              <div class="actions">
                <%= f.submit "Update", class: 'usa-button usa-button-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript"> 
  document.getElementById("toggle-photo").onclick = function(event) {
    event.preventDefault();
    document.getElementById("photo-file-upload").setAttribute("aria-hidden", 'false');
  } 
</script> 
