<% provide :head_tags do %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    <%= render partial: 'edit_profile', formats: [:js] %>
  <% end %>
  <%= javascript_include_tag '_cropper', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="x0-top">
  <section class="usa-section p0-top p0-bottom" style="min-height: calc(100vh - 286px)">
    <div class="grid-container">
      <%= render partial: 'shared/messages', locals: {small_text: true} %>
      <div class="grid-row grid-gap">
        <%= render partial: 'side_nav' %>
        <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
          <div class="login-header">
            <div class="login-header-overlay">
              <h1 class="x0 font-sans-2xl">Edit profile</h1>
              <p class="font-sans-lg">
                People on the Diffusion Marketplace will get to know you with the information you share below.
                Your name, facility, work number, and job title are pulled from the VA’s Global Access List (GAL).
                To edit this, please put in a ticket with yourIT.
              </p>
            </div>
          </div>
          <div class="login-body">
            <%= form_for(@user, url: edit_profile_path, html: {method: :post, class: 'x1-top'}) do |f| %>
              <div class="display-inline-block margin-right-1">
                <%= link_to "/users/#{@user.id}", class: 'cancel-edit-profile-link' do %>
                  <button class="usa-button usa-button--base text-ink bg-base-lighter padding-2 cancel-edit-profile-button margin-right-0">
                    Cancel
                  </button>
                <% end %>
              </div>
              <div class="actions margin-bottom-4 display-inline-block">
                <%= f.submit "Save changes", class: 'usa-button usa-button-primary padding-2' %>
              </div>
              <% if @user.errors.any? %>
              <div class="usa-alert usa-alert--error" >
                <div class="usa-alert__body">
                  <div id="error_explanation">
                    <h2><%= pluralize(f.object.errors.count, "error") %> prohibited profile updates from being saved:</h2>

                    <ul>
                    <% f.object.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                </div>
              </div>
              <% end %>
              <div class="grid-container p0">
                <div class="grid-row margin-bottom-3 dm-cropper-boundary">
                  <div class="grid-col-4 margin-right-1 profile-image-left-col-setter">
                    <div class="dm-cropper-images-container avatar-profile-photo-container" data-type="user">
                      <% if @user.avatar.present? && @user.avatar.exists? %>
                          <%= image_tag @user.avatar_s3_presigned_url(:original), alt: "user avatar for #{@user.full_name}", class: 'dm-cropper-thumbnail-original avatar-profile-photo hidden'%>
                          <%= image_tag @user.avatar_s3_presigned_url(:thumb), alt: "user avatar for #{@user.full_name}", class: 'dm-cropper-thumbnail-modified avatar-profile-photo'%>
                      <% end %>
                    </div>
                    <div class="<%= @user.avatar.present? && @user.avatar.exists? ? 'profile-avatar-container bg-base-lightest radius-md cropper-image-placeholder hidden' : 'profile-avatar-container bg-base-lightest radius-md cropper-image-placeholder' %>">
                        <i class="fas fa-user empty-user-avatar text-base-lighter"></i>
                      </div>
                  </div>
                  <div class="grid-col-fill profile-image-right-col-setter">
                    <p>Photo</p>
                    <div class="text-base margin-y-1">
                      <p class="line-height-sans-505">
                        Upload a photo that clearly shows your face. You can upload a .jpg, .jpeg, or .png file and the size limit is 1GB.
                      </p>
                    </div>
                    <div class="margin-bottom-2 dm-image-editor-text hidden">
                      <p>
                        Please click "Save edits" and then "Save changes" to save and exit editor.
                      </p>
                    </div>

                  <div class="grid-row flex-align-start">
                    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
                      <%= f.hidden_field attribute, :id => attribute, :value => nil %>
                    <% end %>
                    <div class="grid-col-fill">
                      <a class="usa-button dm-btn-primary padding-2 dm-cropper-save-edit hidden" aria-controls='photo-save-edit' aria-expanded='false'>Save edits</a>
                      <a class="usa-button--outline dm-btn-primary padding-2 dm-cropper-cancel-edit hidden" aria-controls='photo-cancel-edit' aria-expanded='false'>Cancel edits</a>
                      <a class="<%= @user.avatar.present? && @user.avatar.exists? ? "usa-button--outline dm-btn-primary padding-2 dm-cropper-edit-mode" : "usa-button--outline dm-btn-primary padding-2 dm-cropper-edit-mode hidden" %>" aria-controls='photo-crop' aria-expanded='false'>Edit photo</a>
                      <div>
                        <%= f.label :avatar,
                          @user.avatar.present? && @user.avatar.exists? ? 'Upload new photo' : 'Upload photo',
                          class: @user.avatar.present? && @user.avatar.exists? ? 'dm-cropper-upload-image-label user-avatar-upload-label' : 'dm-cropper-upload-image-label usa-button--outline dm-btn-primary padding-2'
                        %>
                        <%= f.file_field :avatar, class: "hidden-upload cropper-upload-image", accept: 'image/*' %>
                      </div>
                      <div class="dm-cropper-delete-image">
                        <%= f.label :delete_avatar, 'Remove photo', class: @user.avatar.present? && @user.avatar.exists? ? 'display-inline-block text-secondary dm-cropper-delete-image-label' : 'display-inline-block text-secondary dm-cropper-delete-image-label hidden'%>
                        <%= f.check_box :delete_avatar, { class: @user.avatar.present? && @user.avatar.exists? ? 'usa-checkbox__input dm-cropper-delete-image' : 'usa-checkbox__input dm-cropper-delete-image hidden'}, 'true', 'false' %>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="usa-form edit-profile-form">
                <div class="grid-row width-full">
                  <div class="field grid-col-9">
                    <%= f.label :first_name, class: 'x1-top x1-bottom' %><br/>
                    <%= f.text_field :first_name, autofocus: true, class: 'usa-input bg-base-lightest border-base-light text-base', disabled: ENV['USE_NTLM'] == 'true' %>
                  </div>
                </div>

                <div class="grid-row width-full">
                  <div class="field margin-top-3 grid-col-9">
                    <%= f.label :last_name, class: 'x0 x1-top' %><br/>
                    <%= f.text_field :last_name, class: 'usa-input bg-base-lightest border-base-light text-base', disabled: ENV['USE_NTLM'] == 'true' %>
                  </div>
                </div>

                <div class="grid-row width-full">
                  <div class="field margin-top-3 grid-col-9">
                    <%= f.label :location, 'Facility', class: 'x0 x1-top' %><br/>
                    <%= f.text_field :location, class: 'usa-input bg-base-lightest border-base-light text-base', disabled: ENV['USE_NTLM'] == 'true' %>
                  </div>
                </div>

                <div class="grid-row width-full">
                  <div class="field margin-top-3 grid-col-9">
                    <%= f.label :phone_number, 'Work phone number', class: 'x0 x1-top' %><br/>
                    <%= f.phone_field :phone_number, autofocus: true, class: 'usa-input bg-base-lightest border-base-light text-base', disabled: ENV['USE_NTLM'] == 'true' %>
                  </div>
                </div>

                <div class="grid-row width-full">
                  <div class="field margin-top-3 grid-col-9">
                    <%= f.label :job_title, class: 'x0 x1-top' %><br/>
                    <%= f.text_field :job_title, class: 'usa-input usa-input__disabled bg-base-lightest border-base-light text-base disabled', disabled: ENV['USE_NTLM'] == 'true' %>
                  </div>
                </div>
              </div>
              <div class="field margin-top-3 grid-col-9">
                <%= f.label :bio, class: 'x0 x1-top' do %>
                  <span>Bio</span>&nbsp;<span class="text-base-light profile-bio-character-count" id="user_<%= @user.id %>_profile_bio_character_count">(0/50 characters)</span>
                  <p>Tell other users about yourself and your professional background.</p>
                <% end %>
                <%= f.text_area :bio, class: 'usa-input height-200px profile-bio' %>
                <br />
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </section>
</div>

<%# <script type="text/javascript"> 
  document.getElementById("toggle-photo").onclick = function(event) {
    event.preventDefault();
    document.getElementById("photo-file-upload").setAttribute("aria-hidden", 'false');
  } 
</script>  %>
