<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="recommended-for-you" class="usa-section p0-top p0-bottom grid-container">
  <div class="grid-col-12">
    <div class="rect-svg-blue-30v border-top-1 margin-top-10"></div>
    <h1 class="margin-top-2 margin-bottom-10 usa-prose-h1 font-sans-2xl line-height-46px">Recommended for you</h1>
    <%
      paginated_favorites = @paginated_favorite_practices
      pagy_favorites = @pagy_favorite_practices
    %>

    <% if paginated_favorites.any? %>
      <section class="recommended-favorite-practices">
        <%= render partial: 'users/recommended_for_you/practice_cards_container', locals: {
            container_classes: "paginated-favorite-practices margin-top-0 #{pagy_favorites.count <= 3 ? 'x4-25-bottom' : ''}",
            container_header_classes: 'usa-prose-h2 font-sans-xl line-height-37px margin-bottom-105',
            container_title: 'Your bookmarked practices',
            practice_data_set: paginated_favorites
        }
        %>
        <% link = pagy_link_proc(pagy_favorites) %>
        <%=  link.call(pagy_favorites.vars[:page] + 1, 'Load more', 'class="margin-bottom-10"').html_safe if pagy_favorites.count > 3 %>
      </section>
    <% end %>

    <% location_practices = @user_location_practices %>
    <section class="recommended-user-location-practices">
      <h2 class="usa-prose-h2 font-sans-xl line-height-37px <%= location_practices.any? ? 'margin-bottom-105' : 'margin-bottom-3' %> margin-top-0">
        Based on your location
      </h2>
      <% if location_practices.any? %>
        <%= render partial: 'users/recommended_for_you/practice_cards_container', locals: {
            container_classes: "user-location-practices #{location_practices.count > 3 ? 'margin-bottom-105' : ''}",
            container_header_classes: nil,
            container_title: nil,
            practice_data_set: location_practices.first(3)
        }
        %>
        <% if location_practices.count > 3 %>
          <a href="/search?query=<%= @user.location %>" class="dm-external-link margin-bottom-5" title="See more practices based on your location">
            See more practices
          </a>
        <% end %>
      <% else %>
        <p class="usa-prose-body line-height-26 margin-bottom-1">You don’t have a location listed in GAL yet.</p>
        <a target="_blank" href="https://yourit.va.gov" class="margin-bottom-5 dm-external-link usa-link--external line-height-26" title="Link to YourIT">Submit a ticket to YourIT</a>
      <% end %>
    </section>
  </div>
</div>