<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<% created_practices = Practice.where(user: current_user) %>

<div class="x0-top">
  <section class="usa-section p0-top padding-bottom-0">
    <div class="grid-container <%= created_practices.empty? && @favorite_practices.empty?  ? 'profile-min-height' : '' %>">
      <div class="grid-row margin-bottom-2px">
        <div class="usa-layout-docs__sidenav desktop:grid-col-3 margin-right-105">
          <% if @user.avatar.present? && @user.avatar.exists? %>
            <img src="<%= @user.avatar_s3_presigned_url(:thumb) %>" class="avatar-profile-photo"/>
          <% else %>
            <div class="profile-avatar-container bg-base-lightest radius-md">
              <i class="fas fa-user empty-user-avatar text-base-lighter"></i>
            </div>
          <% end %>
        </div>
        <div class="usa-layout-docs__main desktop:grid-col-fill">
          <h1 class='profile-h1 font-sans-2xl display-inline-block margin-bottom-1 margin-top-0'><%= @user.full_name %></h1>
          <div class="display-inline-block margin-left-2">
            <% if current_user == @user %>
              <%= link_to '', edit_profile_path, class: 'edit-profile-link fas fa-edit display-inline-block text-ttop' %>
            <% end %>
          </div>
          <div class='profile-job-title font-sans-lg margin-top-1'><%= @user.job_title %></div>
          <% unless @user.location.blank? %>
            <p class="margin-top-205">
              <i class="fa fa-map-marker-alt fa-2" aria-hidden="true"></i>
              <span class='x0-5-left'>
                <%= @user.location %>
              </span>
            </p>
          <% end %>
          <% unless @user.email.blank? %>
            <p class="margin-top-2">
              <i class="fas fa-envelope"></i>
              <span class='x0-5-left'>
                <%= @user.email %>
              </span>
            </p>
          <% end %>
          <% unless @user.phone_number.blank? %>
            <p class="margin-top-2">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span class='x0-5-left'>
                <%= @user.phone_number %>
              </span>
            </p>
          <% end %>
        </div>
      </div>
      <div class="grid-row margin-bottom-8">
        <div class="desktop:grid-col-3 margin-right-105"></div>
        <div class="fs1-125 desktop:grid-col-fill"><%= @user.bio %></div>
      </div>
    </div>
  </section>

  <% if @favorite_practices.any? %>
    <section class="dm-background-white margin-bottom-105">
      <div class="grid-container">
        <div class="grid-row">
          <h2 class="profile-h2 font-sans-xl margin-top-0">Favorited practices</h2>
        </div>
        <div class="grid-row grid-gap-3 favorited-practices margin-bottom-5">
          <% @favorite_practices.each do |p| %>
            <% if p.present? %>
              <div class="tablet:grid-col-3 padding-y-105 practice-card-list">
                <%= render partial: 'practices/favorite_button', locals: { practice: p, featured: false, col_4: false } %>
                <%= render partial: 'practices/marketplace_card', locals: { practice: p, featured: false } %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>

  <% if current_user && created_practices.any? %>
    <section class="dm-background-white margin-bottom-105">
      <div class="grid-container">
        <div class="grid-row">
          <h2 class="profile-h2 font-sans-xl margin-top-0">Created practices</h2>
        </div>
        <div class="grid-row grid-gap-3 created-practices margin-bottom-5">
          <% created_practices.each do |cup| %>
            <% if cup.present? %>
              <div class="tablet:grid-col-3 margin-y-105 padding-x-105 practice-card-list">
                <%= render partial: 'practices/favorite_button', locals: { practice: cup, featured: false, col_4: false } %>
                <%= render partial: 'practices/marketplace_card', locals: { practice: cup, featured: false } %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
  <% if created_practices.any? || @favorite_practices.any? %>
    <div class="grid-container">
      <div class="margin-bottom-105">
          <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
      </div>
    </div>
  <% end %>
</div>
