<div class="margin-top-0 grid-container">
  <section class="usa-section p0-top padding-bottom-0">
    <div class="<%= @created_practices.empty? && @favorite_practices.empty?  ? 'profile-min-height' : '' %>">
      <div class="grid-row margin-bottom-2px">
        <div class="usa-layout-docs__sidenav desktop:grid-col-3 margin-right-105">
          <% if @user.avatar.present? && @user.avatar.exists? %>
            <img src="<%= @user.avatar_s3_presigned_url(:thumb) %>" class="avatar-profile-photo"/>
          <% else %>
            <div class="profile-avatar-container bg-base-lightest radius-md">
              <i class="fas fa-user empty-user-avatar text-base-lighter"></i>
            </div>
          <% end %>
        </div>
        <div class="usa-layout-docs__main desktop:grid-col-fill">
          <h1 class='profile-h1 font-sans-2xl display-inline-block margin-bottom-1 margin-top-0'><%= @user.full_name %></h1>
          <div class="display-inline-block margin-left-2">
            <% if current_user == @user %>
              <%= link_to '', edit_profile_path, class: 'edit-profile-link fas fa-edit display-inline-block text-no-underline' %>
            <% end %>
          </div>
          <div class='profile-job-title font-sans-lg margin-top-1'><%= @user.job_title %></div>
          <% unless @user.location.blank? %>
            <p class="margin-top-205">
              <i class="fa fa-map-marker-alt fa-2" aria-hidden="true"></i>
              <span class="margin-left-1">
                <%= @user.location %>
              </span>
            </p>
          <% end %>
          <% unless @user.email.blank? %>
            <p class="margin-top-2">
              <i class="fas fa-envelope"></i>
              <span class="margin-left-1">
                <%= @user.email %>
              </span>
            </p>
          <% end %>
          <% unless @user.phone_number.blank? %>
            <p class="margin-top-2">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span class="margin-left-1">
                <%= @user.phone_number %>
              </span>
            </p>
          <% end %>
        </div>
      </div>
      <div class="grid-row margin-bottom-8">
        <div class="desktop:grid-col-3 margin-right-105"></div>
        <div class="font-sans-md desktop:grid-col-fill"><%= @user.bio %></div>
      </div>
    </div>
  </section>

  <% if @favorite_practices.any? %>
    <section class="bg-white">
      <div class="grid-row">
        <h2 class="profile-h2 font-sans-xl margin-top-0">Bookmarked practices</h2>
      </div>
      <div class="grid-row grid-gap-3 dm-favorited-practices">
        <% @favorite_practices.each do |p| %>
          <% if p.present? %>
            <%= render partial: 'shared/practice_card', locals: { practice: p } %>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>

  <% if current_user && @created_practices.any? %>
    <section class="bg-white">
      <div class="grid-row">
        <h2 class="profile-h2 font-sans-xl margin-top-5">Created practices</h2>
      </div>
      <div class="grid-row grid-gap-3 dm-created-practices">
        <% @created_practices.each do |p| %>
          <% if p.present? %>
            <%= render partial: 'shared/practice_card', locals: { practice: p } %>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>
</div>
