<%
  adoption_groups = {
    DiffusionHistoryStatus::STATUSES[0] => @successful_adoptions,
    DiffusionHistoryStatus::STATUSES[1] => @in_progress_adoptions,
    DiffusionHistoryStatus::STATUSES[2] => @unsuccessful_adoptions
  }

  adoption_statuses_and_text = [
    {
      status: DiffusionHistoryStatus::STATUSES[0],
      text: 'Healthcare facilities that have met adoption goals and implemented the innovation.'
    },
    {
      status: DiffusionHistoryStatus::STATUSES[1],
      text: 'Healthcare facilities that have started but not completed adopting the innovation.'
    },
    {
      status: DiffusionHistoryStatus::STATUSES[2],
      text: 'Healthcare facilities that started but stopped working towards adoption.'
    }
  ]
%>
<div class="usa-accordion usa-accordion--borderless practice-viewer-adoptions-accordion margin-top-3">
  <% adoption_groups.each do |group, histories| %>
    <% group_name = group.to_s %>
    <h2 class="usa-accordion__heading">
      <button class="usa-accordion__button padding-right-205"
              aria-expanded="false"
              aria-controls="<%= group_name.underscore %>">
        <% adoption_statuses_and_text.each do |as| %>
          <% if as[:status] === group_name %>
            <%= group_name %> adoption<%= histories&.length === 1 ? '' : 's' %> (<%= histories&.length || 0 %>)</span>
          <% end %>
        <% end %>
      </button>
    </h2>
    <div id="<%= group_name.underscore %>" class="usa-accordion__content usa-prose">
      <% if histories.present? %>
        <% histories.each do |h| %>
          <%
            dhs = h.diffusion_history_statuses.first
            fac = h.va_facility
            crh = h.clinical_resource_hub
            display_info = (dhs.get_status_display_name === DiffusionHistoryStatus::STATUSES[2] && dhs.unsuccessful_reasons.present?) || dhs.start_time.present?
          %>
          <% if fac.present? %>
            <%= link_to "#{fac[:street_address_state]}: #{fac[:official_station_name]} (#{fac[:common_name]})", va_facility_path(fac), class: "usa-link display-block #{'margin-bottom-2' unless display_info }" %>
          <% else %>
            <%= link_to "#{crh[:official_station_name]}", clinical_resource_hub_path(crh), class: "usa-link display-block #{'margin-bottom-2' unless display_info }" %>
          <% end %>
          <% if display_info %>
            <ul class="dm-adoption-info">
              <% if dhs.start_time.present? %>
                <li class="font-sans-sm">
                  <span class="font-sans-3xs">
                    Started adoption on <%= dhs.start_time&.strftime("%m/%Y") %><% if dhs.end_time.present? %>, ended on <%= dhs.end_time&.strftime("%m/%Y") %><% end %>.
                  </span>
                </li>
              <% end %>
              <% dhs.unsuccessful_reasons.each do |ur| %>
                <li class="font-sans-sm">
                  <span class="font-sans-3xs">
                    <% if ur === 5 %>
                      <%= dhs.unsuccessful_reasons_other.truncate(50) %>
                    <% else %>
                      <%= DiffusionHistoryStatus::ADOPTION_REASONS[ur] %>
                    <% end %>
                  </span>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% else %>
        <p>There are no <%= group_name.downcase %> adoptions for this innovation.</p>
      <% end %>
    </div>
  <% end %>
</div>
