<%
  successful_adoptions = @practice.diffusion_histories.get_by_successful_status
  sorted_successful = successful_adoptions.sort_by { |a| fac = a.va_facility; [fac.street_address_state, fac.official_station_name] } if successful_adoptions.any?
  in_progress_adoptions = @practice.diffusion_histories.get_by_in_progress_status
  sorted_in_progress = in_progress_adoptions.sort_by { |a| fac = a.va_facility; [fac.street_address_state, fac.official_station_name] } if in_progress_adoptions.any?
  unsuccessful_adoptions = @practice.diffusion_histories.get_by_unsuccessful_status
  sorted_unsuccessful = unsuccessful_adoptions.sort_by { |a| fac = a.va_facility; [fac.street_address_state, fac.official_station_name] } if unsuccessful_adoptions.any?

  adoption_groups = {
    DiffusionHistoryStatus::STATUSES[0] => sorted_successful,
    DiffusionHistoryStatus::STATUSES[1] => sorted_in_progress,
    DiffusionHistoryStatus::STATUSES[2] => sorted_unsuccessful
  }

  adoption_statuses_and_text = [
    {
      status: DiffusionHistoryStatus::STATUSES[0],
      text: 'Facilities that have met adoption goals and implemented the innovation.'
    },
    {
      status: DiffusionHistoryStatus::STATUSES[1],
      text: 'Facilities that have started but not completed adopting the innovation.'
    },
    {
      status: DiffusionHistoryStatus::STATUSES[2],
      text: 'Facilities that started but stopped working towards adoption.'
    }
  ]
%>
<div class="usa-accordion usa-accordion--borderless practice-viewer-adoptions-accordion margin-top-3">
  <% adoption_groups.each do |group, histories| %>
    <% group_name = group.to_s %>
    <h2 class="usa-accordion__heading">
      <button class="usa-accordion__button padding-right-205"
              aria-expanded="false"
              aria-controls="<%= group_name.underscore %>">
        <% adoption_statuses_and_text.each do |as| %>
          <% if as[:status] === group_name %>
            <span class="text-middle margin-right-05"><span class="usa-tooltip" title="<%= as[:text] %>" data-class="adoption-status-tooltip" data-position="right"><u class="dotted"><%= group_name %></u></span></span> adoption<%= histories&.length === 1 ? '' : 's' %> (<%= histories&.length || 0 %>)</span>
            <span class="fas fa-question-circle fa-2x <%= as[:status].downcase %>-modal-icon cursor-pointer desktop:display-none"></span>
          <% end %>
        <% end %>
      </button>
    </h2>
    <div id="<%= group_name.underscore %>" class="usa-accordion__content usa-prose">
      <% if histories.present? %>
        <% histories.each do |h| %>
          <%
            dhs = h.diffusion_history_statuses.first
            fac = h.va_facility
            display_info = (dhs.get_status_display_name === DiffusionHistoryStatus::STATUSES[2] && dhs.unsuccessful_reasons.present?) || dhs.start_time.present?
          %>
          <%= link_to "#{fac[:street_address_state]}: #{fac[:official_station_name]} (#{fac[:common_name]})", va_facility_path(fac), class: "usa-link display-block #{'margin-bottom-2' unless display_info }" %>
          <% if display_info %>
            <ul class="dm-adoption-info">
              <% if dhs.start_time.present? %>
                <li class="font-sans-sm">
                  <span class="font-sans-3xs">
                    Started adoption on <%= dhs.start_time&.strftime("%m/%Y") %><% if dhs.end_time.present? %>, ended on <%= dhs.end_time&.strftime("%m/%Y") %><% end %>.
                  </span>
                </li>
              <% end %>
              <% dhs.unsuccessful_reasons.each do |ur| %>
                <li class="font-sans-sm">
                  <span class="font-sans-3xs">
                    <% if ur === 5 %>
                      <%= dhs.unsuccessful_reasons_other.truncate(50) %>
                    <% else %>
                      <%= DiffusionHistoryStatus::ADOPTION_REASONS[ur] %>
                    <% end %>
                  </span>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% else %>
        <p>There are no <%= group_name.downcase %> adoptions for this innovation.</p>
      <% end %>
    </div>
    <%# Calling the modal outside of the accordion button prevents any semantic issues %>
    <% adoption_statuses_and_text.each do |as| %>
      <%= render partial: 'practices/show/mobile_partials/adoption_status_modal', locals: { status: as[:status], text: as[:text] } if as[:status] === group.to_s %>
    <% end %>
  <% end %>
</div>
