<% core_resources = @practice.practice_resources.where(resource_type: 'core', media_type: 'resource') %>
<% core_file_attachments = @practice.practice_resources.where(resource_type: 'core', media_type: 'file') %>
<% core_link_attachments = @practice.practice_resources.where(resource_type: 'core', media_type: 'link') %>
<% if core_resources.any? || core_file_attachments.any? || core_link_attachments.any? %>
  <h3 class="margin-top-2 margin-bottom-2 line-height-25px font-sans-lg">Core Resources</h3>
  <% if core_resources.any? %>
    <%= render partial: 'practices/show/implementation/resource_table', locals: {
        resource_type: 'core',
        practice: @practice
    }
    %>
  <% end %>
  <!---core files --->
  <% if core_file_attachments.any? %>
    <%= render partial: 'practices/show/implementation/resource_file_attachment', locals: {
        file_attachments: core_file_attachments
    }
    %>
  <% end %>
  <!--- core links --->
  <% if core_link_attachments.any? %>
    <%= render partial: 'practices/show/implementation/resource_link_attachment', locals: {
        link_attachments: core_link_attachments
    }
    %>
  <% end %>
<% end %>

<!--- Optional --->
<% optional_resources = @practice.practice_resources.where(resource_type: 'optional', media_type: 'resource') %>
<% optional_file_attachments = @practice.practice_resources.where(resource_type: 'optional', media_type: 'file') %>
<% optional_link_attachments = @practice.practice_resources.where(resource_type: 'optional', media_type: 'link') %>
<% if optional_resources.any? || optional_file_attachments.any? || optional_link_attachments.any? %>
  <h3 class="margin-top-2 margin-bottom-2 line-height-25px font-sans-lg">Optional Resources</h3>
  <% if optional_resources.any? %>
    <%= render partial: 'practices/show/implementation/resource_table', locals: {
        resource_type: 'optional',
        practice: @practice
    }
    %>
  <% end %>
  <!---optional files --->
  <% if optional_file_attachments.any? %>
    <%= render partial: 'practices/show/implementation/resource_file_attachment', locals: {
        file_attachments: optional_file_attachments
    }
    %>
  <% end %>
  <!--- optional links --->
  <% if optional_link_attachments.any? %>
    <%= render partial: 'practices/show/implementation/resource_link_attachment', locals: {
        link_attachments: optional_link_attachments
    }
    %>
  <% end %>
<% end %>

<!-- Support --->
<% support_resources = @practice.practice_resources.where(resource_type: 'support', media_type: 'resource') %>
<% support_file_attachments = @practice.practice_resources.where(resource_type: 'support', media_type: 'file') %>
<% support_link_attachments = @practice.practice_resources.where(resource_type: 'support', media_type: 'link') %>
<% if support_resources.any? || support_file_attachments.any? || support_link_attachments.any? %>
  <h3 class="margin-top-2 margin-bottom-2 line-height-25px font-sans-lg">Support Resources</h3>
  <% if support_resources.any? %>
    <%= render partial: 'practices/show/implementation/resource_table', locals: {
        resource_type: 'support',
        practice: @practice
    }
    %>
  <% end %>
  <!---support files --->
  <% if support_file_attachments.any? %>
    <%= render partial: 'practices/show/implementation/resource_file_attachment', locals: {
        file_attachments: support_file_attachments
    }
    %>
  <% end %>
  <!--- support links --->
  <% if support_link_attachments.any? %>
    <%= render partial: 'practices/show/implementation/resource_link_attachment', locals: {
        link_attachments: support_link_attachments
    }
    %>
  <% end %>
<% end %>
