<%
  action = params[:action]
  controller = params[:controller]
%>

<section class="grid-container">
  <div id="breadcrumbs" class="grid-col-auto usa-breadcrumb breadcrumbs-container" aria-label="Breadcrumbs">
    <ol class="usa-breadcrumb__list">
      <% unless controller == 'home' && action == 'index' %>
        <li class="usa-breadcrumb__list-item">
          <a href="/">Home</a>
        </li>
      <% end %>
      <%
        breadcrumbs = session[:breadcrumbs]
      %>

      <% breadcrumbs.each_with_index do |b, i| %>
        <%
          last_crumb = breadcrumbs.size - 1 == i
        %>

        <%# Check if the page is a page-builder page first %>
        <% if controller == 'page' && action == 'show' %>
          <% if !last_crumb && @builder_landing_page.exists? %>
            <%= render partial: 'shared/link_breadcrumb', locals: {breadcrumb: b} %>
          <% elsif last_crumb %>
            <%= render partial: 'shared/text_breadcrumb', locals: {breadcrumb: b} %>
          <% else %>
            <%= render partial: 'shared/text_breadcrumb', locals: {breadcrumb: b} %>
          <% end %>
        <% else %>
          <% if !last_crumb %>
            <%= render partial: 'shared/link_breadcrumb', locals: {breadcrumb: b} %>
          <% elsif !last_crumb && b['display'] == 'Edit' %>
            <%= render partial: 'shared/link_breadcrumb', locals: {breadcrumb: b} %>
          <% elsif last_crumb && b['display'] == 'Edit' %>
            <%= render partial: 'shared/text_breadcrumb', locals: {breadcrumb: b} %>
          <% else %>
            <%= render partial: 'shared/text_breadcrumb', locals: {breadcrumb: b} %>
          <% end %>
        <% end %>
      <% end %>
    </ol>
  </div>
</section>