<div class="usa-checkbox">
  <input class="usa-checkbox__input<%= data_class %>"
         id="<%= data_id %>"
         type="checkbox"
         name="<%= data_name %>"
         value="<%= data_value %>"
  >
  <label class="usa-checkbox__label margin-y-105" for="<%= data_id %>" title="<%= data_name %>">
    <span><%= data_label_text %></span>
  </label>
</div>