<footer class="<%= yield(:footer_classes) %> usa-footer usa-footer--big">
  <%# only show return to top on mobile views, practice show page and long practice editor pages (per design 9/21/21) %>
  <div class="bg-primary-darker padding-left-2 desktop:padding-y-5 desktop:padding-x-7 usa-footer__primary-section">
    <nav class="usa-footer__nav padding-0" aria-label="Footer navigation">
      <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
        <img src="<%= asset_path( 'dm-footer-logo.png' ) %>" alt="VA | Diffusion Marketplace footer logo"/>
        <div class="grid-row text-white margin-bottom-5">
          <p class="font-sans-md line-height-sans-6">
            An official website of the U.S. Department of Veterans Affairs
          </p>
        </div>
        <div class="grid-row margin-bottom-10">
          <div class="grid-col-3">
            <ul class="add-list-reset">
              <li class="grid-row">
                <%= link_to 'Home',
                            root_path,
                            class: 'dm-footer-link margin-bottom-2'
                %>
              </li>
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="/about#contact-us">
                  Contact us
                </a>
              </li>
              <li class="grid-row">
                <%= link_to 'Nominate an innovation',
                            nominate_an_innovation_path,
                            class: 'dm-footer-link margin-bottom-2'
                %>
              </li>
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="https://choose.va.gov/">
                  Choose VA
                </a>
              </li>
            </ul>
          </div>
          <div class="grid-col-3">
            <ul class="add-list-reset">
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="https://www.va.gov/ABOUT_VA/index.asp">
                  About VA
                </a>
              </li>
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="https://www.section508.va.gov/">
                  Accessibility support
                </a>
              </li>
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="https://www.va.gov/performance-dashboard/">
                  Performance reports
                </a>
              </li>
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="https://www.va.gov/foia/">
                  FOIA requests
                </a>
              </li>
            </ul>
          </div>
          <div class="grid-col-3">
            <ul class="add-list-reset">
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="https://www.va.gov/web/standards/disclaimer.cfm">
                  Disclaimers
                </a>
              </li>
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="/open-calls">
                  Open calls
                </a>
              </li>
              <li class="grid-row">
                <%= link_to 'Terms and conditions',
                            terms_and_conditions_path,
                            class: 'dm-footer-link margin-bottom-2'
                %>
              </li>
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="https://www.va.gov/privacy-policy/">
                  Privacy policy
                </a>
              </li>
            </ul>
          </div>
          <div class="grid-col-3">
            <ul class="add-list-reset">
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="https://www.va.gov/ormdi/NOFEAR_Select.asp">
                  No FEAR Act data
                </a>
              </li>
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="https://www.va.gov/accountability/">
                  Whistleblower Protection
                </a>
              </li>
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="https://www.va.gov/oig/">
                  Office of the Inspector General
                </a>
              </li>
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="https://www.data.va.gov/">
                  Open data
                </a>
              </li>
              <li class="grid-row">
                <a class="dm-footer-link margin-bottom-2" href="https://www.va.gov/vulnerability-disclosure-policy/">
                  Vulnerability Disclosure Policy
                </a>
              </li>
            </ul>
          </div>
        </div>
        <p class="font-sans-md line-height-sans-6 text-white">
          Looking for U.S. government information and services? <a class="dm-alt-link-white display-inline-block text-semibold" href="https://www.usa.gov">Visit USA.gov</a>
        </p>
      </section>
    </nav>
  </div>
</footer>
