<%= javascript_tag 'data-turbolinks-track': 'reload' do %>
  var forceModal = <%= @force_terms_and_conditions_modal %>;
<% end %>
<%= javascript_include_tag '_terms_and_conditions', 'data-turbolinks-track': 'reload' %>

<%= render partial: 'shared/terms_and_conditions_modal' %>

<footer class="<%= yield(:footer_classes) %>">
  <%# return to top %>
  <div class="grid-container usa-footer__return-to-top">
    <button class="dm-button--unstyled-primary dm-return-to-top width-auto">Return to top</button>
  </div>
  <%# footer actions %>
  <div class="bg-base-lightest">
    <div class="desktop:grid-container padding-x-0 desktop:padding-y-2">
      <div class="grid-row desktop:margin-x-3">
        <a class="desktop:display-inline-block desktop:grid-col-auto desktop:padding-0 desktop:border-top-0 border-top-1px border-base-light desktop:margin-right-5 grid-col-12 padding-y-2 padding-x-2 text-bold dm-footer-link" href="/">
          Home
        </a>
        <a class="desktop:display-inline-block desktop:grid-col-auto desktop:padding-0 desktop:border-top-0 border-top-1px border-base-light desktop:margin-right-5 grid-col-12  padding-y-2 padding-x-2 text-bold dm-footer-link" href="/partners">
          Partners
        </a>
        <a class="desktop:display-inline-block desktop:grid-col-auto desktop:padding-0 desktop:border-top-0 border-top-1px border-base-light desktop:margin-right-5 grid-col-12 padding-y-2 padding-x-2 text-bold dm-footer-link" href="/open-calls" >
          Open calls
        </a>
        <a class="desktop:display-inline-block desktop:grid-col-auto desktop:padding-0 desktop:border-top-0 border-top-1px border-base-light desktop:margin-right-5 grid-col-12 padding-y-2 padding-x-2 text-bold dm-footer-link" target="_blank" href="mailto:dm@agile6.com?subject=<%= URI.encode('Bug report for Diffusion Marketplace') %>&body=<%= URI.encode('Please be sure to include a step-by-step list to reproduce the error, if applicable.') %>">
          Report a bug
        </a>
        <a id="feedback-modal" class="feedback-survey-popup desktop:display-inline-block desktop:grid-col-auto desktop:padding-0 desktop:border-top-0 border-top-1px border-base-light desktop:margin-right-5 grid-col-12 padding-y-2 padding-x-2 text-bold dm-footer-link" href="#">
          Send feedback
        </a>
        <a href="https://www.va.gov/privacy-policy" target="_blank" class="desktop:display-inline-block desktop:grid-col-auto desktop:padding-0 desktop:border-top-0 border-top-1px border-base-light desktop:margin-right-5 grid-col-12 padding-y-2 padding-x-2 text-bold dm-footer-link" aria-controls="dm-terms-and-conditions-modal">
          Privacy policy
        </a>
        <a href="#dm-terms-and-conditions-modal" class="desktop:display-inline-block desktop:grid-col-auto desktop:padding-0 desktop:border-top-0 border-top-1px border-base-light desktop:margin-right-5 grid-col-12 padding-y-2 padding-x-2 text-bold dm-footer-link" aria-controls="dm-terms-and-conditions-modal" data-open-modal>
          Terms
        </a>
      </div>
    </div>
  </div>

  <div class="bg-base-lighter text-base-ink padding-y-4">
    <div class="grid-container">
      <div class="grid-row">
        <p class="font-sans-lg margin-0 text-normal">
          <span class="text-bold">VA</span> | Diffusion Marketplace
        </p>
      </div>
    </div>
  </div>
</footer>
