<%= render 'shared/usa_banner' %>
<%= render 'shared/veterans_crisis_line_modal' %>

<!-- source: https://designsystem.digital.gov/components/header/#extended -->
<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<header id="dm-nav-header" class="usa-header usa-header--extended bg-white">
  <div class="usa-navbar padding-x-0 margin-0 desktop:width-full">
    <div class="usa-logo">
      <em class="usa-logo__text">
        <a class="display-flex header-logo-link" href="/" title="Home" aria-label="Home">
          <span class='header-logo-va padding-right-2 desktop:font-sans-2xl font-sans-xl'>VA</span>
          <span class='padding-left-2 desktop:font-sans-lg font-sans-sm flex-align-self-center'>
          <span class="">Diffusion</span><br>
          <span>Marketplace</span>
          </span>
        </a>
      </em>
    </div>
    <div class="dm-navbar__secondary display-none desktop:display-flex flex-row flex-align-self-center">
      <%= render partial: 'shared/navbar_search', locals: { search_form_id: 'dm-navbar-search-desktop-form', search_field_id: 'dm-navbar-search-desktop-field', search_button_id: 'dm-navbar-search-desktop-button' } %>
      <%= render partial: 'shared/header_user_login_nav', locals: { accordion_id: 'dm-user-profile-options' } %>
    </div>
    <button id="mobileMenuBtn" class="usa-menu-btn padding-x-205">
    	<i class="fa fa-bars" aria-label="menu"></i>
    </button>
  </div>
  <nav id="primary-nav" aria-label="Primary navigation" class="usa-nav desktop:border-bottom desktop:border-base-lighter">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <img src="<%= image_url 'uswds/close.svg' %>" role="img" alt="close">
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item border-0 dm-header--mobile-searchbar desktop:display-none">
          <%= render partial: 'shared/navbar_search', locals: { search_form_id: 'dm-navbar-search-mobile-form', search_field_id: 'dm-navbar-search-mobile-field', search_button_id: 'dm-navbar-search-mobile-button' } %>
        </li>
        <li class="usa-nav__primary-item border-base-light">
          <a class="margin-y-2px desktop:margin-y-0 usa-nav__link <%= 'usa-current' if request.fullpath == '/about' %>" href="/about">
            <span class="text-normal desktop:text-semibold">About us</span>
          </a>
        </li>
        <li class="usa-nav__primary-item border-base-light">
          <a class="margin-y-2px desktop:margin-y-0 usa-nav__link <%= 'usa-current' if request.fullpath == '/competitions/shark-tank' %>" href="/competitions/shark-tank">
            <span class="text-normal desktop:text-semibold">Shark Tank</span>
          </a>
        </li>
        <li class="usa-nav__primary-item border-base-light desktop:border-bottom-0">
          <button
            class="margin-y-2px dm-text-no-underline desktop:margin-y-0 usa-accordion__button usa-nav__link border-base-light <%= 'usa-current' if request.fullpath === '/visns' || request.fullpath === '/facilities' || request.fullpath === '/diffusion-map' %>"
            aria-expanded="false"
            aria-controls="browse-by-locations-dropdown"
          >
            <span class="text-normal desktop:text-semibold padding-right-0">Browse by locations</span>
          </button>
          <ul id="browse-by-locations-dropdown" class="display-none usa-nav__submenu">
            <li class="usa-nav__submenu-item border-base-light">
              <a class="font-sans-sm desktop:font-sans-2xs margin-y-2px desktop:margin-y-0 <%= 'usa-current' if request.fullpath === '/visns' %>" href="<%= visns_path %>">
                VISN index
              </a>
            </li>
            <li class="usa-nav__submenu-item border-base-light">
              <a class="font-sans-sm desktop:font-sans-2xs margin-y-2px desktop:margin-y-0 <%= 'usa-current' if request.fullpath === '/facilities' %>" href="<%= va_facilities_path %>">
                Healthcare facility index
              </a>
            </li>
            <li class="usa-nav__submenu-item border-base-light">
              <a class="font-sans-sm desktop:font-sans-2xs margin-y-2px desktop:margin-y-0 <%= 'usa-current' if request.fullpath === '/diffusion-map' %>" href="<%= diffusion_map_path %>">
                Diffusion map
              </a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item border-base-light desktop:border-bottom-0">
          <button
            class="margin-y-2px dm-text-no-underline desktop:margin-y-0 usa-accordion__button usa-nav__link border-base-light <%= 'usa-current' if request.fullpath.include?('communities') %>"
            id="communities-dropdown-button"
            aria-expanded="false"
            aria-controls="communities-dropdown"
          >
            <span class="text-normal desktop:text-semibold padding-right-0">Communities</span>
          </button>

          <ul id="communities-dropdown" class="display-none usa-nav__submenu">
            <% communities = { "VA Immersive": "va-immersive", "Suicide Prevention": "suicide-prevention", "Age-Friendly": "age-friendly", "VHA IE Fellowships": "fellowships" }%>
            <% communities.each do |name, slug| %>
                <li class="usa-nav__submenu-item border-base-light">
                  <a class="font-sans-sm desktop:font-sans-2xs margin-y-2px desktop:margin-y-0" href="/communities/<%= slug %>">
                    <%=  name %>
                  </a>
                </li>
            <% end %>
          </ul>
        </li>
        <li class="usa-nav__primary-item border-base-light">
          <a class="margin-y-2px desktop:margin-y-0 usa-nav__link <%= 'usa-current' if request.fullpath == '/intrapreneurial-product-marketplace' %>" href="/intrapreneurial-product-marketplace">
            <span class="text-normal desktop:text-semibold">Products</span>
          </a>
        </li>
      </ul>
      <div class="usa-nav__secondary desktop:display-none">
        <%= render partial: 'shared/header_user_login_nav', locals: { accordion_id: 'dm-user-mobile-profile-options' } %>
      </div>
    </div>
  </nav>
</header>
