<%= javascript_include_tag '_header_utilities', 'data-turbolinks-track': 'reload' %>

<%= render 'shared/usa_banner' %>
<%= render 'shared/veterans_crisis_line_modal' %>
<!-- source: https://designsystem.digital.gov/components/header/#extended -->
<div class="usa-overlay"></div>
<header id="dm-nav-header" class="usa-header usa-header--extended bg-white">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <a href="/" title="Home" aria-label="Home"><span class="text-bold">VA</span> | Diffusion Marketplace</a>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav desktop:border-bottom desktop:border-base-lighter">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <img src="<%= image_url 'uswds/close.svg' %>" role="img" alt="close">
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link <%= 'usa-current' if request.fullpath == '/competitions/shark-tank' %>" href="/competitions/shark-tank">
            <span>Shark Tank</span>
          </a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link <%= 'usa-current' if request.fullpath == '/visns' %>" href="<%= visns_path %>">
            <span>VISNs</span>
          </a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link <%= 'usa-current' if request.fullpath == '/facilities' %>" href="<%= va_facilities_path %>">
            <span>Facilities</span>
          </a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link <%= 'usa-current' if request.fullpath == '/diffusion-map' %>" href="/diffusion-map">
            <span>Diffusion map</span>
          </a>
        </li>
      </ul>
      <div class="usa-nav__secondary<%= ' dm-signed-out-nav-secondary' if !user_signed_in? %>">
        <%= render 'shared/navbar_search' %>
        <ul class="usa-nav__primary usa-accordion margin-top-0 dm-nav-header-profile <%= 'dm-nav-header-profile-sign-in' if !user_signed_in? %>">
          <% if user_signed_in? %>
            <% if ENV['USE_NTLM'] == 'true' %>
              <li class="usa-nav__primary-item">
                <a class="usa-nav__link <%= 'dm-current-link' if request.fullpath == user_path(current_user) %>" href="<%= user_path(current_user) %>">
                  <span>Your profile</span>
                </a>
              </li>
            <% else %>
              <li class="usa-nav__primary-item">
                <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="dm-user-profile-options">
                  <span>Your profile</span>
                </button>
                <div id="dm-user-profile-options" class="usa-nav__submenu">
                  <div class="grid-row grid-gap-4">
                    <div class="usa-col">
                      <ul class="usa-nav__submenu-list">
                        <li class="usa-nav__submenu-item">
                          <a class="<%= 'dm-current-link' if request.fullpath == user_path(current_user) %>" href="<%= user_path(current_user) %>">
                            <span>Profile</span>
                          </a>
                        </li>
                        <li class="usa-nav__submenu-item">
                          <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          <% else %>
            <li class="usa-nav__primary-item">
              <%= link_to 'Sign in', new_user_session_path, class: 'usa-nav__link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
