<%= render 'shared/usa_banner' %>
<%# source: https://designsystem.digital.gov/components/header/ (basic header) %>
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic border-bottom bg-white">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo dm-logo-container">
        <em class="usa-logo__text">
          <a href="/" title="Home" aria-label="Home">
            VA <span class="text-normal"> | Diffusion Marketplace</span>
          </a>
        </em>
      </div>
      <div class="mobile-menu-container">
        <button class="usa-menu-btn">Menu</button>
      </div>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close">
        <img src="<%= image_url 'uswds/close.svg' %>" role="img" alt="close">
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link <%= 'dm-current-link' if request.fullpath == '/diffusion-map' %>" href="/diffusion-map">
            <span>Diffusion map</span>
          </a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link <%= 'dm-current-link' if request.fullpath == '/covid-19' %>" href="/covid-19">
            <span>COVID-19</span>
          </a>
        </li>
      </ul>
      <%= render 'shared/navbar_search' %>
      <ul class="usa-nav__primary usa-accordion margin-top-0">
        <% if user_signed_in? %>
          <% if ENV['USE_NTLM'] == 'true' %>
            <li class="usa-nav__primary-item">
              <a class="usa-nav__link dm-last-nav-link <%= 'dm-current-link' if request.fullpath == user_path(current_user) %>" href="<%= user_path(current_user) %>">
                <span>Your profile</span>
              </a>
            </li>
          <% else %>
            <li class="usa-nav__primary-item">
              <button class="usa-accordion__button usa-nav__link <%= 'dm-current-link dm-sub-nav-display' if request.fullpath == user_path(current_user) %>" aria-expanded="false" aria-controls="dm-user-profile-options">
                <span>Your profile</span>
              </button>
              <ul id="dm-user-profile-options" class="usa-nav__submenu <%= 'dm-sub-nav-display' if request.fullpath == user_path(current_user) %>" hidden="true">
                <li class="usa-nav__submenu-item">
                  <a class="<%= 'dm-current-link' if request.fullpath == user_path(current_user) %>" href="<%= user_path(current_user) %>">
                    <span>Profile</span>
                  </a>
                </li>
                <li class="usa-nav__submenu-item">
                  <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
                </li>
              </ul>
            </li>
          <% end %>
        <% else %>
          <li class="usa-nav__primary-item">
            <%= link_to 'Sign in', new_user_session_path, class: 'usa-nav__link' %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
