<% provide :head_tags do %>
  <%= javascript_include_tag '_alert_message_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<% if alert.present? %>
  <div class="usa-alert usa-alert--error margin-y-2 dm-alert-message">
    <div class="usa-alert__body">
      <p><%= alert.humanize %></p>
      <i class="fas fa-times position-absolute right-3 cursor-pointer close-alert-message"></i>
    </div>
  </div>
<% end %>
<% if flash.present? && alert.blank? %>
  <% flash.each do |key, value| %>
    <% if key == 'notice' then
         key = 'info'
       end %>
    <!-- session expired message shows two extra messages. not sure why. these conditionals: value.to_s.downcase.include?('session expired') || value.to_s.downcase == 'true' || -->
    <!-- invalid email also shows two messages. not sure why. that is this conditional: (value == 'Invalid Email or password.' && key == 'alert') -->
    <% unless value.to_s.downcase.include?('session expired') || value.to_s.downcase == 'true' || (value == 'Invalid Email or password.' && key == 'alert') %>
      <div class="usa-alert usa-alert--<%= key %> margin-y-2 <%= small_text ? 'message-icon-bg-position' : '' %> dm-alert-message">
        <div class="usa-alert__body grid-row flex-align-center">
          <div class="usa-alert__heading <%= small_text ? 'font-sans-sm margin-bottom-0' : '' %>" role="alert">
            <%= value %>
            <i class="fas fa-times position-absolute right-3 cursor-pointer close-alert-message"></i>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
