<% if alert.present? %>
  <div class="usa-alert usa-alert--error x1-bottom">
    <div class="usa-alert__body">
      <p><%= alert.humanize %></p>
    </div>
  </div>
<% end %>
<% if flash.present? && alert.blank? %>
  <% flash.each do |key, value| %>
    <% if key == 'notice' then
         key = 'info'
       end %>
    <!-- session expired message shows two extra messages. not sure why. these conditionals: value.to_s.downcase.include?('session expired') || value.to_s.downcase == 'true' || -->
    <!-- invalid email also shows two messages. not sure why. that is this conditional: (value == 'Invalid Email or password.' && key == 'alert') -->
    <% unless value.to_s.downcase.include?('session expired') || value.to_s.downcase == 'true' || (value == 'Invalid Email or password.' && key == 'alert') %>
      <div class="usa-alert usa-alert--<%= key %> margin-bottom-2 <%= small_text ? 'message-icon-bg-position' : '' %>">
        <div class="usa-alert__body grid-row flex-align-center">
          <div class="usa-alert__heading <%= small_text ? 'font-sans-sm x0-bottom' : '' %>" role="alert"><%= value %></div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
