<div class="dm-practice-card padding-y-105">
  <% if current_user %>
    <%= link_to practice_favorite_path(practice, format: :js), method: :post, remote: true, 'title': "Bookmark #{practice.name}", 'aria-label': "Bookmark #{practice.name}", 'tabindex': '-1', 'aria-hidden': 'true', 'class': "dm-practice-bookmark-btn", 'id': "dm-bookmark-button-#{practice.id}" do %>
      <i class="<% if current_user.favorite_practice_ids.include?(practice.id) %>fas fa-bookmark<% else %>far fa-bookmark<% end %> dm-favorite-icon-<%= practice.id %>"></i>
    <% end %>
  <% end %>

  <%= link_to practice, 'aria-label': "Go to #{practice.name}", 'tabindex': '-1', 'aria-hidden': 'true', class: "dm-practice-link#{practice.main_display_image.present? ? '' : ' dm-alt-practice-link'}" do %>
    <div class=" dm-practice-card-container">
      <% if practice.main_display_image.present? %>
        <div class="dm-practice-card-img-container">
          <img alt="<%= practice.name %> Marketplace Card Image" class="grid-row marketplace-card-img radius-top-sm" src="<%= practice.main_display_image_s3_presigned_url(:thumb) %>">
        </div>
      <% else %>
        <div class="dm-bg-gray-80">
          <h3 class="text-normal font-sans-lg dm-practice-title multiline-ellipses-2 margin-x-2 margin-y-4">
            <%= practice.name %>
          </h3>
        </div>
      <% end %>

      <div class="padding-105 height-card-mobile bg-white">
        <% if practice.main_display_image.present? %>
          <h3 class="text-normal font-sans-lg dm-practice-title multiline-ellipses-2 margin-top-0 margin-bottom-2">
            <%= practice.name%>
          </h3>
        <% end %>
        <div>
          <p class="multiline-ellipses-1 font-sans-sm practice-card-tagline"><%= practice.tagline %></p>
        </div>
        <div class="dm-practice-card-origin margin-bottom-2">
          <span class="line-clamp-2 font-sans-3xs text-gray-50 multiline-ellipses-3 line-height-sans-205 dm-practice-card-origin-info">
            Created in <%= practice.date_initiated.present? ? date_format(practice.date_initiated) : '(start date unknown)' %><%= practice.initiating_facility_type.present? ? " #{origin_display(practice)}" : '' %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
