<% classes ||= "" %>
<% provide :head_tags do %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    var textareaClass = "<%= textarea_class %>";
    var counterClass = "<%= counter_class %>";
    var maxCharCount = parseInt("<%= max_char_count %>");
  <% end %>
  <%= javascript_include_tag 'shared/_textarea_counter', 'data-turbolinks-track': 'reload' %>
<% end %>
<span class="text-base-light <%= counter_class %> <%= classes %>">(0/<%= max_char_count %> characters)</span>
