<section class="featured-<%= section_name %> margin-bottom-8 grid-container" role="region" aria-label="Featured <%= section_name %> section">
  <div class="grid-row desktop:grid-gap-3 featured-<%= section_name %>-content-container">
    <div class="grid-col-12 margin-bottom-4 desktop:margin-bottom-0 desktop:grid-col-5 homepage-featured-<%= section_name %>-image-container">
      <a href="<%= featured_topic_url %>">
        <span class="usa-sr-only">Visit featured <%= section_name %></span>
        <img
          class="display-block"
          src="<%= image_source %>"
          alt="<%= image_alt_text %>"/>
      </a>
    </div>
    <div class="display-none desktop:display-block desktop:grid-col-1"></div>
    <div class="grid-col-12 desktop:grid-col-6">
      <h6 class="usa-prose-h6 margin-top-0 margin-bottom-2">Featured <%= section_name %></h6>
      <h2 class="usa-prose-h2 margin-top-0 margin-bottom-2"><%= featured_h2 %></h2>
      <p class="usa-prose-body margin-bottom-2">
        <%= featured_body_text %>
      </p>
      <a href="<%= featured_topic_url %>" class="dm-button--unstyled-primary"><%= featured_link_text %></a>
    </div>
  </div>
</section>