<div class="dm-background-linear-up-lightblue-to-white">
  <!-- "Welcome" section -->
  <section class="usa-section grid-container hero">
    <div class="grid-row grid-gap">
      <h1 class="font-heading-2xl">Saving lives by diffusing best practices</h1>
      <p class="measure-none">VHA’s new Changing Lives, Saving Lives (CLSL) campaign aims to raise awareness of how
        frontline driven innovation is changing the lives of Veterans, caregivers, and employees — and in some instances
        saving Veteran lives. </p>
    </div>
    <div class="grid-row">
      <div class="tablet:grid-col-8 x1-bottom">
        &nbsp;
      </div>
      <div class="tablet:grid-col-4 display-grid-align-items-center">
        <button class="dm-button-primary">Sign up</button>
      </div>
    </div>
  </section>
  <section id="diffusion-animation-section" class="diffusion-animation-section">
  </section>

  <section class="usa-section section-worth-spreading dm-background-primary-blue dm-font-color-white">
    <div class="grid-container">
      <div class="grid-row">
        <div class="tablet:grid-col-8 x1-bottom">
          <h2>Do you have a best practice worth spreading?</h2>
          <p>You can submit a practice to the diffusion marketplace and help save lives.</p>
        </div>
        <div class="tablet:grid-col-4 display-grid-align-items-center">
          <button class="dm-button-secondary">Learn More</button>
        </div>
      </div>
    </div>
  </section>

  <section class="usa-section section-top-gold-status-intro">
    <div class="grid-container display-flex-align-items-center">
      <%= image_tag 'heart_badge.svg', alt: 'Heart' %>
      <h2 class="bold display-inline-block p1-left x0">Current Top 3 Gold Status Practices</h2>
    </div>
  </section>

  <!-- "Featured practices" section -->
  <!-- TODO: Hover state -->
  <section id="gold-practice-tiles" class="usa-section grid-container home-tiles">
    <div class="grid-row">
      <% @top_three_gold_practices.each_with_index do |practice, i| %>
        <% index = i + 1 %>
        <style>
          .dm-background-gold-tile-<%= index %>:after {
            background-image: url(<%= practice.main_display_image.url %>);
          }
        </style>
        <div class="grid-col-12 home-tile x0">
          <div class="featured-practice p1 text-center dm-background-gold-tile-<%= index %>">
            <%= image_tag "#{index}-badge.svg", class: 'center x1-top' %>
            <p class="x0">
              <span class="gold-status-first dm-font-color-white fw-100"><%= practice.name %> <%= practice.gold_status_first_line %></span>
              <br>
              <span class="gold-status-second dm-font-color-white fw-100"><%= practice.gold_status_second_line %></span>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </section>

</div>
