<div class="dm-homepage">
  <%= render partial: "shared/messages", locals: {small_text: false} %>
  <div class="font-sans-2xs shark-tank-banner padding-x-2 desktop:padding-x-7 padding-y-105">
    <p>Learn more about the <a href="/competitions/shark-tank" class="dm-alt-link-dark">2024 VHA Shark Tank Competition</a></p>
  </div>
  <!-- "Welcome" section -->
  <section class="usa-section padding-top-3 padding-bottom-7 bg-primary-darker" role="region" aria-label="Homepage welcome banner">
    <div class="grid-container">
      <div class="grid-row flex-justify-center text-white">
          <h1 class="usa-prose-h1 text-center">
            Discover VA innovations to adopt at your healthcare facility
          </h1>
        <div class="grid-col-12 desktop:grid-col-9">
            <p class="usa-prose-body margin-top-1 text-center">
              We’re a discovery and collaboration tool that curates VA’s promising innovations, encourages their diffusion, and fosters engagement with greater healthcare communities.
            </p>
          </div>
      </div>
    </div>
  </section>

  <section
    class="homepage-search grid-container margin-top-4 margin-bottom-4 desktop:margin-bottom-8 margin-top-10"
    role="region"
    aria-label="Homepage search section"
    data-categories="<%= @dropdown_categories.to_json %>"
    data-innovations="<%= @dropdown_practices.to_json %>"
    data-communities="<%= @dropdown_communities.to_json %>"
  >
    <form id="dm-homepage-search-form" class="usa-search margin-bottom-2" role="search" aria-label="Search innovations and categories">
      <div class="dm-homepage-search-container width-full">
        <input
          class="usa-input height-5"
          id="dm-homepage-search-field"
          type="search"
          name="search"
          autocomplete="off"
          placeholder="Search innovations, tags, communities..."
          aria-labelledby="dm-homepage-search-form"
        >
          <div
            id="search-dropdown"
            class="radius-md bg-white shadow-5 left-0 right-0"
            style="display: none;"
          >

          <div class="dropdown-content margin-4">
            <div class="result-section" data-type="innovation">
              <h3 class="search-header usa-prose-h3 margin-bottom-0">Innovations</h3>
              <ul id="practice-list" class="usa-list usa-list--unstyled padding-bottom-1 padding-top-1 display-block">
                <% @dropdown_practices[0..2].each do |practice| %>
                  <li class="search-result" data-practice-id=<%= practice[:id] %>>
                    <a href="/innovations/<%= practice[:slug] %>"><%= practice[:name] %></a>
                  </li>
                <% end %>
              </ul>
              <a class="browse-all-link text-bold" href="<%= search_path %>">Browse all Innovations</a>
            </div>

            <div class="result-section" data-type="category">
              <h3 class="search-header usa-prose-h3 margin-bottom-0" aria-label="Tags">Tags</h3>
              <ul id="category-list" class="usa-list usa-list--unstyled padding-bottom-1 padding-top-1 display-block">
                <% @dropdown_categories[0..2].each do |category| %>
                  <li class="search-result" data-category_id=<%= category[:id] %>>
                    <a href=<%= "/search?category=#{URI.encode_www_form_component(category[:name])}" %>><%= category[:name] %></a>
                  </li>
                <% end %>
              </ul>
              <a class="browse-all-link text-bold" href="<%= search_path %>?filters=open">Browse all Tags</a>
            </div>

            <div class="result-section" data-type="community">
              <h3 class="search-header usa-prose-h3 margin-bottom-0">Communities</h3>
              <ul id="community-list" class="usa-list usa-list--unstyled padding-bottom-1 padding-top-1 display-block">
                <% @dropdown_communities[0..2].each do |community| %>
                  <li class="search-result" data-category_id=<%= community[:id] %>>
                    <a href=<%= "/search?category=#{URI.encode_www_form_component(community[:name])}" %>><%= community[:name] %></a>
                  </li>
                <% end %>
              </ul>
              <a class="browse-all-link text-bold" href="<%= search_path %>?all_communities=true">Browse all Community Innovations</a>
            </div>
          </div>
        </div>
        <button id="dm-homepage-search-button" class="usa-button height-5 margin-right-0" type="submit">
          <span class="usa-search__submit-text">Search</span>
        </button>
      </div>
    </form>
  </section>

  <div class="grid-container">
    <section id="featured-innovations" class="mobile:margin-bottom-2 tablet:margin-bottom-10 desktop:margin-bottom-10">
      <h2 class="usa-prose-h2 tablet:margin-bottom-5 desktop:margin-bottom-5">Recent Innovations</h2>
      <div class="grid-row grid-gap">
        <div id="featured-innovation-1" class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
          <%= image_tag("homepage-image.png", class: "homepage-featured-image") %>
          <h3 id="featured-innovation-1-title" class="feature-title usa-prose-h3">Innovation Title</h3>
          <p class="usa-prose-body margin-bottom-5">
            Final Mile honors the lives and service of those whose remains are unclaimed. Final Mile is currently implemented in five VA sites and has completed over 50 Final Mile Ceremonies to date.
          </p>
          <a href="" aria-describedby="featured-innovation-1-title" class="usa-link">View Innovation</a>
        </div>
        <div id="featured-innovation-2" class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
          <%= image_tag("homepage-image.png", class: "homepage-featured-image") %>
          <h3 id="featured-innovation-2-title" class="feature-title usa-prose-h3">Innovation Title</h3>
          <p class="usa-prose-body margin-bottom-5">
            HELPP increases access to podiatry basic foot care services for patients who are at increased risk for amputation by embedding intermediate care technicians (ICTs) into rural VA clinics.
          </p>
          <a href="" aria-describedby="featured-innovation-2-title" class="usa-link">View Innovation</a>
        </div>
        <div id="featured-innovation-3" class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
          <%= image_tag("homepage-image.png", class: "homepage-featured-image") %>
          <h3 id="featured-innovation-3-title" class="feature-title usa-prose-h3">VA Resource Navigator</h3>
          <p class="usa-prose-body margin-bottom-5">
            The VA Resource Navigator is a tool designed by the Veterans Experience Office (VEO) and the Patient Centered Learning (PCL) National Program to help Veterans better find and use VA resources.
          </p>
          <a href="" aria-describedby="featured-innovation-3-title" class="usa-link">View Innovation</a>
        </div>
      </div>
    </section>
    <section id="featured-tags" class="mobile:margin-bottom-2 tablet:margin-bottom-10 desktop:margin-bottom-10">
      <h2 class="usa-prose-h2 tablet:margin-bottom-5 desktop:margin-bottom-5">Trending Tags</h2>
      <div class="grid-row grid-gap">
        <div id="featured-tag-1" class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
          <%= image_tag("homepage-image.png", class: "homepage-featured-image") %>
          <h3 id="featured-tag-1-title" class="feature-title usa-prose-h3">Suicide Prevention</h3>
          <p class="usa-prose-body margin-bottom-5">
            Check out an assembled list of innovations focused on suicide prevention.
          </p>
          <a href="/search?category=Suicide%20Prevention" aria-describedby="featured-tag-1-title" class="usa-link">Learn More</a>
        </div>
        <div id="featured-tag-2" class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
          <%= image_tag("homepage-image.png", class: "homepage-featured-image") %>
          <h3 id="featured-tag-2-title" class="feature-title usa-prose-h3">Access to Care</h3>
          <p class="usa-prose-body margin-bottom-5">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
          </p>
          <a href="/search?category=Access%20to%20Care" aria-describedby="featured-tag-2-title" class="usa-link">Learn More</a>
        </div>
        <div id="featured-tag-3" class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
          <%= image_tag("homepage-image.png", class: "homepage-featured-image") %>
          <h3 id="featured-tag-3-title" class="feature-title usa-prose-h3">Coordinated Care</h3>
          <p class="usa-prose-body margin-bottom-5">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
          </p>
          <a href="/search?category=Coordinated%20Care" aria-describedby="featured-tag-3-title" class="usa-link">Learn More</a>
        </div>
      </div>
    </section>
    <section class="mobile:margin-bottom-2 tablet:margin-bottom-10 desktop:margin-bottom-10">
      <h2 class="usa-prose-h2 tablet:margin-bottom-5 desktop:margin-bottom-5">Innovation Communities</h2>
      <div class="grid-row grid-gap">
        <div id="featured-community-1" class="grid-col-12 tablet:grid-col-6 desktop:grid-col-6">
          <%= image_tag("homepage-image.png", class: "homepage-featured-image") %>
          <h3 id="featured-community-1-title" class="feature-title usa-prose-h3">Age-Friendly</h3>
          <p class="usa-prose-body margin-bottom-5">
            Reimagining the landscape of healthcare for our aging Veteran population. 
          </p>
          <%= link_to 'View Community', '/communities/age-friendly', class: 'usa-link', 'aria-describedby': 'featured-community-1-title' %>
        </div>
        <div id="featured-community-2" class="grid-col-12 tablet:grid-col-6 desktop:grid-col-6">
          <%= image_tag("homepage-image.png", class: "homepage-featured-image") %>
          <h3 id="featured-community-2-title" class="feature-title usa-prose-h3">VA Immersive</h3>
          <p class="usa-prose-body margin-bottom-5">
            We help improve care delivery and experiences by leveraging immersive technology for falls risk assessment, neurological risk assessment, pain management, anxiety, addiction recovery, physical therapy, recreation therapy, PTSD, employee education, and more. 
          </p>
          <%= link_to 'View Community', '/communities/va-immersive', class: 'usa-link', 'aria-describedby': 'featured-community-2-title' %>
        </div>
      </div>
    </section>
    <section id="feature-nominate-innovation" class="mobile:margin-bottom-2 tablet:margin-bottom-10 desktop:margin-bottom-10">
      <div class="grid-row grid-gap">
        <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-4">
          <h2 id="submit-innovation-title" class="usa-prose-h2 tablet:margin-top-0 desktop:margin-top-0 tablet:margin-bottom-5 desktop:margin-bottom-5">Submit Innovations</h2>
          <p class="usa-prose-body margin-bottom-5">
            A staff and collaborators are welcome to nominate active innovations for consideration on the Diffusion Marketplace.
          </p>
          <%= link_to 'Nominate', nominate_an_innovation_path, class: 'usa-link', 'aria-describedby': 'submit-innovation-title' %>
        </div>
        <%= image_tag("homepage-image.png", class: "grid-col-12 tablet:grid-col-6 desktop:grid-col-8") %>
      </div>
    </section>
  </div>

  <% if @highlighted_pr.present? && @highlighted_pr.name.present? && @highlighted_pr.highlight_body.present? && @highlighted_pr.slug.present? && @highlighted_pr.highlight_attachment.exists? %>
    <%= render partial: 'home/featured_section', locals: {
        section_name: 'innovation',
        image_source: "#{@highlighted_pr.highlight_attachment_s3_presigned_url}",
        image_alt_text: "#{@highlighted_pr.name} Featured innovation image",
        featured_h2: "#{@highlighted_pr.name}",
        featured_body_text: "#{@highlighted_pr.highlight_body}",
        featured_topic_url: "/innovations/#{@highlighted_pr.slug}",
        featured_link_text: 'Featured Innovation'
      }
    %>
  <% end %>

  <section class="nominate-practice-section grid-container margin-bottom-8" role="region" aria-label="Nominate an innovation section">
    <div class="grid-row">
      <div class="grid-col-12 desktop:grid-col-6">
        <h2 class="usa-prose-h2 font-sans-xl line-height-37px margin-top-0 margin-bottom-2">Nominate an innovation</h2>
        <p class="usa-prose-body margin-bottom-2">
          Are you working on an innovation that’s making a difference at VA? Submit a nomination for the innovation to be included on the Diffusion Marketplace.
        </p>
        <a class="usa-link display-inline-block margin-bottom-0 desktop:margin-bottom-0" href="<%= nominate_an_innovation_path %>">Nominate</a>
      </div>
    </div>
  </section>
  <section class="newsletter-subscription-section bg-primary-darker desktop:padding-y-8" role="region" aria-label="Subscribe to monthly newsletter section">
    <div class="grid-container height-full">
      <div class="grid-row desktop:grid-gap-3">
        <form id="GD-snippet-form" class="usa-form text-white grid-col-12" action="https://public.govdelivery.com/accounts/USVHA/subscribers/qualify" target="_blank" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="topic_id" id="topic_id" value="USVHA_1783" />
          <fieldset class="usa-fieldset">
            <legend class="usa-legend usa-sr-only">
              Subscribe to the Diffusion Marketplace newsletter
            </legend>
            <div class="grid-col-12 desktop:grid-col-8 text-white">
              <h3 class="usa-prose-h3 margin-top-4 margin-bottom-1 desktop:margin-top-0 text-bold">Subscribe to the monthly newsletter</h3>
              <p class="usa-prose-body margin-bottom-4">Keep up to date on the latest Diffusion Marketplace news.</p>
            </div>
            <div class="grid-row grid-gap-3 flex-row flex-align-end">
              <div class="grid-col-12 desktop:grid-col-6 text-white">
                <label for="email" class="usa-label margin-top-0">Your email address</label>
                <input type="email" name="email" id="email" value="" class="usa-input margin-top-2" required="required" />
              </div>
              <div class="grid-col-12 desktop:grid-col-3 subscribe-button-container margin-top-2 margin-bottom-4 desktop:margin-top-0 desktop:margin-bottom-0">
                <button name="commit" class="dm-button--outline-white margin-right-0 margin-top-0 newsletter-subscribe-button">Subscribe</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
</div>
<%#=
Per design, we want the form to be submitted and the action to be opened in a new tab. We need to manually reset the form because it no longer functions the way GovDelivery intended it
to (user gets redirected back to the previous page when they click 'Close' on the GovDelivery side, and thus resets the form).
%>
<script>
  $('#GD-snippet-form').on('submit', function() {
      let newsletterForm = '#GD-snippet-form';
      let subscribeButton = '.newsletter-subscribe-button';
      // submit the form and then reset it
      setTimeout(function () {
        $(newsletterForm).trigger("reset");
          $(subscribeButton).blur();
      }, 1);
  });
</script>
