<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<div>
  <!-- "Welcome" section -->
  <section class="homepage-explore-all-section bg-primary-darker display-flex flex-align-center margin-bottom-5">
    <%= render partial: "shared/messages", locals: {small_text: false} %>

    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-3 display-flex justify-center margin-top-2">
          <div>
            <i class="fas fa-laptop-medical fa-9x"></i>
          </div>
        </div>
        <div class="tablet:grid-col-9 desktop:grid-col-9 ie-welcome-container text-white">
          <h1 class="usa-prose-intro font-normal font-sans-lg margin-y-3 desktop:font-bold desktop:usa-prose-h1 desktop:font-sans-2xl desktop:margin-top-0 desktop:margin-bottom-5">
            Find the next important or life-saving practice to adopt at your VA facility.
          </h1>
          <%#= link_to 'Explore all practices', explore_path, class: 'usa-button--big homepage-explore-all-button' %>
          <button class="usa-button--big homepage-explore-all-button">Explore all practices</button>
        </div>
      </div>
    </div>
  </section>

  <section class="grid-container banner-links-section">
    <%= link_to '/', class: 'relevant-to-you-banner-link', 'aria-label': 'Go to relevant to you page', 'tabindex': '-1', 'aria-hidden': 'true' do %>
      <div class="grid-row usa-alert usa-alert--info usa-alert--no-icon relevant-to-you-banner display-flex margin-bottom-5">
        <div class="desktop:grid-col-3 display-flex justify-center">
          <i class="fas fa-user-circle fa-5x"></i>
        </div>
        <div class="desktop:grid-col-6">
            <h2 class="usa-prose-h2 font-sans-xl line-height-37px margin-bottom-2 margin-top-0">Relevant to you</h2>
            <p class="line-height-26">Explore practices that are relevant to your location, role, and saved searches.</p>
        </div>
        <div class="desktop:grid-col-3 display-flex flex-align-center justify-end padding-right-5">
          <i class="fas fa-chevron-right fa-3x"></i>
        </div>
      </div>
    <% end %>

    <%= link_to '/covid-19', class: 'covid-banner-link', 'aria-label': 'Go to COVID-19 landing page', 'tabindex': '-1', 'aria-hidden': 'true' do %>
      <div class="grid-row covid-banner display-flex margin-bottom-5">
        <div class="desktop:grid-col-3 display-flex justify-center margin-top-105">
          <i class="fas fa-viruses fa-6x"></i>
        </div>
        <div class="desktop:grid-col-6">
          <h2 class="usa-prose-h2 font-sans-xl line-height-37px margin-bottom-2 margin-top-0">COVID-19</h2>
          <p class="line-height-26">
            The Diffusion Marketplace has practices that help VHA respond to COVID-19. We have assembled a group of practices for frontline staff and administrators responding
            to the changing medical landscape.
          </p>
        </div>
        <div class="desktop:grid-col-3 display-flex flex-align-center justify-end padding-right-5">
          <i class="fas fa-chevron-right fa-3x"></i>
        </div>
      </div>
    <% end %>
  </section>

  <section class="grid-container nominate-section">
    <div class="grid-row margin-bottom-5">
      <div class="display-flex">
        <div class="desktop:grid-col-3 display-flex justify-center">
          <i class="fas fa-notes-medical fa-5x"></i>
        </div>
        <div class="desktop:grid-col-6">
          <h2 class="usa-prose-h2 font-sans-xl line-height-37px margin-bottom-2 margin-top-0">Nominate a practice</h2>
          <p class="line-height-26 margin-bottom-2">
            If you have a practice that has been adopted at two or more locations, has been endorsed by a senior executive stakeholder, and is an active practice, click
            the link below to submit it to the Marketplace.
          </p>
          <%= link_to 'Start nomination', nominate_a_practice_path, class: 'usa-button--outline dm-btn-base line-height-19px' %>
        </div>
      </div>
    </div>
  </section>

  <section class="grid-container margin-bottom-5">
    <div class="grid-row grid-gap-3">
      <div class="desktop:grid-col-8">
        <div class="homepage-featured-section-container height-auto position-relative margin-bottom-3 desktop:margin-bottom-0 padding-right-4 desktop:padding-right-0">
          <div class="grid-row desktop:margin-right-2">
            <div class="grid-col-12 desktop:grid-col-8">
              <%= link_to '/covid-19', class: 'dm-internal-link homepage-featured-link' do %>
                <h2 class="font-sans-xl">COVID-19<span class="fas fa-angle-right margin-left-105"></span></h2>
              <% end %>
              <p class="line-height-sans-505 font-sans-sm">
                The Diffusion Marketplace has practices that help VHA respond to COVID-19.
                We have assembled a group of practices for frontline staff and administrators responding to the changing
                medical landscape.
              </p>
              <%= link_to 'See more', '/covid-19', class: 'usa-button--outline dm-btn-base' %>
            </div>
            <div class="grid-col-fill text-center dm-virus-image-container">
              <i class="fas fa-viruses fa-9x text-primary-darker"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="desktop:grid-col-4">
        <div class="homepage-featured-section-container height-full dm-primary-5v-background position-relative padding-right-4 desktop:padding-right-0">
          <div class="grid-row">
            <div class="grid-col-12">
              <%= link_to '/diffusion-map', class: 'dm-internal-link homepage-featured-link' do %>
                <h2 class="font-sans-xl">Diffusion map<span class="fas fa-angle-right margin-left-105"></span></h2>
              <% end %>
              <p class="line-height-sans-505 font-sans-sm">
                See practices mapped out by location.
              </p>
              <div class="dm-diffusion-map-more">
                <%= link_to 'See more', '/diffusion-map', class: 'usa-button--outline dm-btn-base' %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="padding-top-2">
    <div class="grid-container">
      <h4 class="font-sans-xl margin-bottom-2 margin-top-0 line-height-sans-205">All practices</h4>
      <p class="font-sans-lg margin-bottom-1">View all submitted and accepted practices.</p>
        <div class="grid-row grid-gap-3">
          <% @practices.each do |p| %>
            <% if p.present? %>
              <%= render partial: 'shared/practice_card', locals: { practice: p } %>
            <% end %>
          <% end %>
        </div>
    </div>
  </section>
</div>
