<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="full-view-height dm-background-white">
  <!-- "Welcome" section -->
  <section class="grid-container">
    <%= render partial: "shared/messages", locals: {small_text: false} %>

    <div class="padding-x-9 margin-y-8 dm-background-white grid-row">
      <div class="tablet:grid-col-fill ie-welcome-container">
        <div class="tablet:grid-col-auto text-center">
          <h1 class="bold font-sans-2xl margin-0 margin-bottom-1">Welcome to the Diffusion Marketplace</h1>
        </div>
      </div>
      <div class="grid-row padding-x-9">
        <div class="tablet:grid-col-fill text-center">
          <p class="measure-none margin-bottom-3 font-sans-lg padding-x-4 line-height-sans-505">
            This site is designed to help spread important and life-saving promising practices throughout the VA Healthcare System.
          </p>
        </div>
      </div>
      <div class="flex-fill ie-search-bar-container">
        <form id="homepageSearchBar" name="searchForm" action="/search" method="get" class="usa-search usa-search--big">
          <div role="search">
            <input class="usa-input home-practice-search-field" id="homepage-search-field" type="search" name="search" required title="Type at least three characters to search." autocomplete="off">
            <button class="usa-button" type="submit" id="practice-search-button">
              <span class="usa-search__submit-text">Search</span>
            </button>
          </div>
          <label for="homepage-search-field" class="font-sans-xs text-left text-base">
            Search by practice name, facility name, clinical condition, or keyword
          </label>
        </form>
      </div>
    </div>
  </section>

  <section class="margin-bottom-5">

    <div class="grid-container homepage-covid-section-container height-auto">
      <div class="grid-row">
        <div class="grid-col-8">
          <%= link_to '/covid-19', class: 'homepage-covid-link' do %>
            <h2 class="font-sans-xl">COVID-19<span class="fas fa-angle-right margin-left-105"></span></h2>
          <% end %>
          <p class="line-height-sans-505 font-sans-sm">
            Text about this type of featured practice. Have a little blurb here about why people should click here to read
            more. On a larger card, you could go into more detail as to what is contained within the sub-page and why the
            individual should choose to click this spot.
          </p>
          <%= link_to 'See more', '/covid-19', class: 'usa-button usa-button--outline' %>
        </div>
        <div class="grid-col-fill text-center virus-image-container">
          <%= image_tag('virus.png', alt: 'Virus image') %>
        </div>
      </div>
    </div>
  </section>
  
  <% if ENV['GOOGLE_API_KEY'].present? %>
    <% provide :head_tags do %>
      <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
        <%= render partial: 'maps/marker_icons', formats: [:js] %>
        <%= render partial: 'maps/map_data', formats: [:js] %>
      <% end %>
      <%= javascript_include_tag 'diffusion_history/home_map', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'diffusion_history/_map_utilities', 'data-turbolinks-track': 'reload' %>
    <% end %>
      <section class="grid-container margin-bottom-4" id="map-of-diffusion">
        <h4 class="font-sans-xl margin-bottom-1 margin-top-0 line-height-sans-205">Map of diffusion</h4>
        <p class="font-sans-lg margin-bottom-2">Explore how practices are being adopted across the country.</p>
        <div class="padding-y-105 padding-x-2 bg-gold radius-md margin-bottom-205">
          <span class="text-bold">Note:</span>&nbsp;<span>More practices will be added to this map in the next few months.</span>
        </div>
        <button id="filterResultsTrigger" class="map-filters-trigger usa-button text-bold display-block margin-bottom-105 padding-2">
          Filter results
        </button>
        <div class="width-full position-relative">
          <div id="map" style="width: 100%; height: 633px;"></div>
          <%= render 'maps/home_map_filters' %>
        </div>
    </section>
  <% end %>

  <section class="padding-top-2 margin-bottom-5">
    <div class="grid-container">
      <h4 class="font-sans-xl margin-bottom-2 margin-top-0 line-height-sans-205">All practices</h4>
      <p class="font-sans-lg margin-bottom-1">View all submitted and accepted practices.</p>
      <div class="grid-row grid-gap-3">
        <% @practices.each do |p| %>
          <% if p.present? %>
            <div class="tablet:grid-col-3 padding-y-105">
              <%= render partial: 'practices/favorite_button', locals: {practice: p, featured: false, col_4: false } %>
              <%= render partial: 'practices/marketplace_card', locals: {practice: p, featured: false} %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <div class="grid-container margin-bottom-105">
    <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
  </div>
</div>
