<!-- "Welcome" section -->

<section class="usa-section grid-container">
  <div class="grid-row grid-gap">
    <h1 class="font-heading-2xl">Saving lives by diffusing best practices</h1>
  </div>

  <div class="grid-row">
    <div class="grid-col-10">
      <p class="measure-none">VHA’s new Changing Lives, Saving Lives (CLSL) campaign aims to raise awareness of how
        frontline driven innovation is changing the lives of Veterans, caregivers, and employees — and in some instances
        saving Veteran lives. </p>
    </div>
    <div class="grid-col-2">
      <button class="dm-button-primary">Sign up</button>
    </div>
  </div>
</section>
<section id="diffusion-animation-section" class="diffusion-animation-section">

</section>

<section class="usa-section section-worth-spreading dm-background-primary-blue dm-font-color-white">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-10">
        <h2>Do you have a best practice worth spreading?</h2>
        <p>You can submit a practice to the diffusion marketplace and help save lives.</p>
      </div>
      <div class="grid-col-2 display-grid-align-items-center">
        <button class="dm-button-secondary">Learn More</button>
      </div>
    </div>
  </div>
</section>

<section class="usa-section section-top-gold-status-intro">
  <div class="grid-container display-flex-align-items-center">
    <%= image_tag Badge.find_by(short_name: 'gold_status').badge_image.url %> <h2 class="bold display-inline-block p1-left x0">Current Top 3 Gold Status Practices</h2>
  </div>
</section>

<!-- "Featured practices" section -->

<section class="usa-section grid-container home-tiles">
  <div class="grid-row grid-gap-lg">
    <% @practices.each do |practice| %>
      <style>
        .dm-background-gradient-cool-<%= practice.id %> {
          background: linear-gradient(180deg, rgba(0, 150, 246, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
          width: 100%;
          display: block;
        }

        .dm-background-gradient-cool-<%= practice.id %>:after {
          background: url(<%= practice.main_display_image.url %>);
          background-size: cover;
          opacity: 0.25;
          width: 304px;
          height: inherit;
          margin: auto 0;
          padding: inherit;
          top: 0;
          left: 11px;
          position: absolute;
          z-index: -1;
          content: "";
        }
      </style>
      <div class="grid-col-fill home-tile">
        <a href="" class="text-no-underline">

          <div class="featured-practice text-base-darkest padding-4 text-center dm-background-gradient-cool-<%= practice.id %>">
            <h1><%= link_to practice.name, practice, class: 'link-dark' %></h1>
            <p class="margin-0"><%= practice.description.truncate(50, {ommision: '...'}) %></p>
            <%= link_to 'Learn More', practice, class: 'dm-button-link-secondary' %>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</section>
