<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="bg-white">
  <!-- "Welcome" section -->
  <section class="grid-container">
    <%= render partial: "shared/messages", locals: {small_text: false} %>

    <div class="margin-y-5 bg-white grid-row">
      <div class="tablet:grid-col-fill ie-welcome-container">
        <div class="tablet:grid-col-10">
          <h1 class="bold font-sans-2xl margin-top-0 margin-bottom-2">Welcome to the Diffusion Marketplace</h1>
        </div>
      </div>
      <div class="grid-row">
        <div class="tablet:grid-col-8">
          <p class="measure-none font-sans-lg line-height-sans-505">
            This site is designed to help spread important and life-saving promising practices throughout the VA
            Healthcare System.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class=" grid-container margin-bottom-5">
    <div class="grid-row grid-gap-3">
      <div class="desktop:grid-col-8">
        <div class="homepage-featured-section-container height-auto position-relative margin-bottom-3 desktop:margin-bottom-0 padding-right-4 desktop:padding-right-0">
          <div class="grid-row desktop:margin-right-2">
            <div class="grid-col-12 desktop:grid-col-8">
              <%= link_to '/covid-19', class: 'dm-internal-link homepage-featured-link' do %>
                <h2 class="font-sans-xl">COVID-19<span class="fas fa-angle-right margin-left-105"></span></h2>
              <% end %>
              <p class="line-height-sans-505 font-sans-sm">
                The Diffusion Marketplace has practices that help VHA respond to COVID-19.
                We have assembled a group of practices for frontline staff and administrators responding to the changing
                medical landscape.
              </p>
              <%= link_to 'See more', '/covid-19', class: 'usa-button--outline dm-btn-base' %>
            </div>
            <div class="grid-col-fill text-center dm-virus-image-container">
              <i class="fas fa-viruses fa-9x text-primary-darker"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="desktop:grid-col-4">
        <div class="homepage-featured-section-container height-full dm-primary-5v-background position-relative padding-right-4 desktop:padding-right-0">
          <div class="grid-row">
            <div class="grid-col-12">
              <%= link_to '/diffusion-map', class: 'dm-internal-link homepage-featured-link' do %>
                <h2 class="font-sans-xl">Diffusion map<span class="fas fa-angle-right margin-left-105"></span></h2>
              <% end %>
              <p class="line-height-sans-505 font-sans-sm">
                See practices mapped out by location.
              </p>
              <div class="dm-diffusion-map-more">
                <%= link_to 'See more', '/diffusion-map', class: 'usa-button--outline dm-btn-base' %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="padding-top-2">
    <div class="grid-container">
      <h4 class="font-sans-xl margin-bottom-2 margin-top-0 line-height-sans-205">All practices</h4>
      <p class="font-sans-lg margin-bottom-1">View all submitted and accepted practices.</p>
        <div class="grid-row grid-gap-3">
          <% @practices.each do |p| %>
            <% if p.present? %>
              <%= render partial: 'shared/practice_card', locals: { practice: p } %>
            <% end %>
          <% end %>
        </div>
    </div>
  </section>
</div>
