<div class="dm-homepage">
  <div class="dm-system-message">
    <%= render partial: "shared/messages", locals: {small_text: false} %>
  </div>
  <!-- "Welcome" section -->
  <div class="dm-gradient-banner-318 position-absolute pin-x">
  </div>
  <section class="homepage-welcome-banner" role="region" aria-label="Homepage welcome banner">
    <div class="grid-container height-full">
      <div class="grid-row height-full flex-align-center">
        <div class="grid-col-12">
          <h1 class="usa-prose-h1 text-white margin-top-0 margin-bottom-4">Welcome to the Diffusion Marketplace</h1>
          <div class="grid-row grid-gap-3">
            <div class="grid-col-7">
              <p class="usa-prose-body text-white margin-bottom-2">
                The Diffusion Marketplace is hosted by VHA’s Diffusion of Excellence, whose mission is to identify, test, and spread promising healthcare practices across VA and beyond.
              </p>
              <%= link_to 'Learn more', explore_path, class: 'dm-alt-link-gold' %>
            </div>
            <div class="grid-col-5 homepage-banner-image-container position-absolute right-neg-105 text-white">
              <img
                class="display-block"
                src="<%= Practice.where(id: 25).first.main_display_image_s3_presigned_url(:thumb) %>"
                alt="Welcome banner image"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="homepage-search grid-container margin-top-10 margin-bottom-128" role="region" aria-label="Homepage search section">
    <form id="dm-homepage-search-form" class="usa-search margin-bottom-2" role="search">
      <label class="usa-sr-only" for="dm-homepage-search-form">
        Homepage search
      </label>
      <div class="dm-homepage-search-container width-full">
        <input class="usa-input height-5" id="dm-homepage-search-field" type="search" name="search" title="Search for practices" placeholder="&quot;Search terms&quot;">
        <button id="dm-homepage-search-button" class="usa-button height-5" type="submit">
          <span class="usa-search__submit-text">Search</span>
        </button>
      </div>
    </form>
    <p class="usa-prose-body">
      <span>Just browsing?</span> <%= link_to 'Explore all practices', explore_path, class: 'dm-primary-link' %>
    </p>
  </section>
  <%# TODO: Write conditional to only show this partial if there's a currently selected 'Featured' topic %>
  <%= render partial: 'home/featured_section', locals: {
      section_name: 'topic',
      text_alignment: 'right',
      # TODO: Add topic image source
      image_source: "#{Practice.where(id: 25).first.main_display_image_s3_presigned_url(:thumb)}",
      # TODO: Interpolate topic name in front of 'featured topic image' for alt text
      image_alt_text: 'featured topic image',
      # TODO: Add name of topic for h2
      featured_h2: 'Featured topic name',
      # TODO: Add topic text for body text
      featured_body_text: 'Proin blandit felis tincidunt justo luctus, rutrum bibendum ante accumsan. Duis eros lorem, ullamcorper a semper nec, rhoncus eu sapien. Sed tortor nisi, consequat a neque sed,
          posuere ornare felis. Maecenas rutrum quis orci sed porta. Proin posuere metus in lorem placerat semper. Aenean felis mi, auctor sed pretium fringilla, ornare quis ex.',
      # TODO: Add topic URL here
      featured_topic_url: '/',
      featured_link_text: 'topic page'
    }
  %>

  <% if @highlighted_pr.present? %>
    <%= render partial: 'home/featured_section', locals: {
        section_name: 'practice',
        text_alignment: 'left',
        # TODO: Change the image source to the new image type
        image_source: "#{@highlighted_pr.main_display_image_s3_presigned_url(:thumb)}",
        image_alt_text: "#{@highlighted_pr.name} featured practice image",
        featured_h2: "#{@highlighted_pr.name}",
        featured_body_text: "#{@highlighted_pr.highlight_body}",
        featured_topic_url: "/practices/#{@highlighted_pr.tagline}",
        featured_link_text: 'practice'
      }
    %>
  <% end %>

  <section class="grid-container">
        <div class="desktop:grid-col-7">
          <h2 class="usa-prose-h2 font-sans-xl line-height-37px margin-bottom-2 margin-top-0">Nominate a practice</h2>
          <p class="line-height-26 margin-bottom-2">
            If you have a practice that has been adopted at two or more locations, has been endorsed by a senior executive stakeholder, and is an active practice, click
            the link below to submit it to the Marketplace.
          </p>
          <a class="dm-button--outline-secondary" href="<%= nominate_a_practice_path %>">Start nomination</a>
        </div>
  </section>
</div>
