<div class="full-view-height">
  <div class="dm-background-light-blue">
    <!-- "Welcome" section -->
    <section class="grid-container hero padding-y-205 margin-bottom-2">
      <%= render "shared/messages" %>

      <div class="padding-x-4 padding-y-4 dm-background-white grid-row">
        <div class="grid-row">
          <div class="tablet:grid-col-12">
            <h1 class="bold font-sans-2xl margin-0 margin-bottom-1">Saving lives by sharing best practices</h1>
          </div>
        </div>
        <div class="grid-row">
          <div class="tablet:grid-col-9">
            <p class="measure-none margin-0 margin-bottom-205 font-sans-lg">
              The Diffusion Marketplace supports a high reliability and learning organization by diffusing best
              practices.
            </p>
            <p class="margin-0">
              Welcome to a preview of the new VA Diffusion Marketplace website. This site is designed to help spread
              important and life-saving best practices throughout the VA Healthcare System. Below are some key practices
              highlighted by the VA.
            </p>
          </div>
        </div>
      </div>

      <% if @top_practice %>
        <div class="margin-top-105">
          <div class="dm-background-white">
            <div class="grid-row">
              <% if @top_practice.main_display_image.present? %>
                <% provide(:top_practice_img_styles, raw("<style>
                  .top-practice-img {
                    background: url('#{@top_practice.main_display_image_s3_presigned_url}');
                    background-size: cover;
                    min-height: 216px;
                    height: 100%;
                  }
                </style>")) %>
                <div class='display-flex grid-col-5 highlighted-practice'>
                  <%= link_to @top_practice, class: 'grid-col-12', 'aria-label': "Go to #{@top_practice.name}", 'tabindex': '-1', 'aria-hidden': 'true' do %>
                    <div class="img top-practice-img"></div>
                  <% end %>
                  <%= render partial: 'practices/favorite_button', locals: {practice: @top_practice} %>
                </div>
              <% else %>
                <div class="grid-col-5">
                  <%= render partial: 'practices/favorite_button', locals: {practice: @top_practice} %>
                </div>
              <% end %>
              <div class="grid-col-7 padding-x-205 padding-y-4">
                <div class="grid-row margin-bottom-2">
                  <%= link_to @top_practice do %>
                    <h2 class="bold display-inline-block x0 font-sans-xl"><%= @top_practice.tagline %></h2>
                  <% end %>
                </div>
                <div class="grid-row">
                  <p class="margin-top-0 margin-bottom-1"><%= @top_practice.description %></p>
                </div>
                <div class="grid-row p1-bottom">
                  <h3 class="flex-1 fs-h5 x0 text-normal"><%= @top_practice.name %>
                    <span class="margin-x-05">|</span>
                    <span class="uppercase"><%= @top_practice.date_initiated.present? ? date_format(@top_practice.date_initiated) : '(start date unknown)' %></span>
                    <span class="margin-x-05">|</span>
                    <span class="uppercase">
                  <%= facility_name(@top_practice.initiating_facility) %>
                  </span>
                  </h3>
                </div>
                <div class="grid-row justify-center">
                  <div class="tablet:grid-col-4 display-grid-align-items-center">
                    <%= link_to 'Learn More', @top_practice, class: 'dm-button-link-secondary  display-inline-block', 'aria-label': "Learn more about #{@top_practice.name}" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </section>

    <% if @favorite_practices.any? %>
      <section class="dm-background-white margin-bottom-105 padding-top-2">
        <div class="grid-container">
          <div class="grid-row">
            <h2 class="text-normal">Favorited Practices</h2>
          </div>
          <div class="grid-row grid-gap-lg featured-practices">
            <% @favorite_practices.each do |p| %>
              <% if p.present? %>
                <div class="tablet:grid-col-4 margin-y-105 padding-x-105 practice-card-list">
                  <%= render partial: 'practices/marketplace_card', locals: {practice: p} %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    <% end %>

    <% if @featured_practices.any? %>
      <section class="dm-background-white margin-bottom-105 padding-top-2">
        <div class="grid-container">
          <div class="grid-row">
            <h2 class="text-normal">Featured Practices</h2>
          </div>
          <div class="grid-row grid-gap-lg featured-practices">
            <% @featured_practices.each do |p| %>
              <% if p.present? %>
                <div class="tablet:grid-col-4 margin-y-105 padding-x-105 practice-card-list">
                  <%= render partial: 'practices/marketplace_card', locals: {practice: p} %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    <% end %>
  </div>

  <% if ENV['GOOGLE_API_KEY'].present? %>
    <% provide :head_tags do %>
      <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
            document.addEventListener("DOMContentLoaded", function () {
                const handler = Gmaps.build('Google');
                handler.buildMap({provider: {}, internal: {id: 'map'}}, function () {
                    const markers = handler.addMarkers(<%= raw @diffusion_histories.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                });
            });
      <% end %>
    <% end %>
    <section class="grid-container margin-bottom-6" id="map-of-diffusion">
      <h2>Map of diffusion</h2>
      <div class="width-full">
        <div id="map" style="width: 100%; height: 432px;"></div>
      </div>
    </section>

  <% end %>

</div>
