<div class="dm-homepage">
  <%= render partial: "shared/messages", locals: {small_text: false} %>
  <!-- "Welcome" section -->
  <section class="homepage-welcome-banner dm-gradient-banner-318" role="region" aria-label="Homepage welcome banner">
    <div class="grid-container height-full">
      <div class="grid-row height-full flex-align-center">
        <div class="grid-col-12">
          <h1 class="usa-prose-h1 text-white margin-top-4 margin-bottom-4 desktop:margin-top-0">
            Discover VA innovations to adopt at your facility
          </h1>
          <div class="grid-row position-relative">
            <div class="homepage-welcome-banner-body-text-container grid-col-12 desktop:grid-col-7 padding-right-105">
              <p class="usa-prose-body text-white margin-bottom-2">
                We’re a discovery and collaboration tool that curates VA’s promising innovations, encourages their diffusion, and fosters engagement with greater healthcare communities.
              </p>
              <%= link_to 'Learn more', about_path, class: 'dm-alt-link-gold' %>
            </div>
            <div class="homepage-welcome-banner-image-container text-white grid-col-12 tablet:grid-col-6 desktop:grid-col-5 desktop:padding-left-105">
              <%= image_tag(
                    'homepage-image.png',
                    class: 'display-block padding-left-0',
                    alt: 'VA Secretary McDonough speaks with a clinician during his visit to the D.C. VA Medical Center in February 2021.'
                  )
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="homepage-search grid-container margin-top-4 margin-bottom-4 desktop:margin-bottom-8 desktop:margin-top-10" role="region" aria-label="Homepage search section">
    <form id="dm-homepage-search-form" class="usa-search margin-bottom-2" role="search">
      <label class="usa-sr-only" for="dm-homepage-search-form">
        Homepage search
      </label>
      <div class="dm-homepage-search-container width-full">
        <input class="usa-input height-5" id="dm-homepage-search-field" type="search" name="search" title="Search for practices" placeholder="&quot;Search terms&quot;">
        <button id="dm-homepage-search-button" class="usa-button height-5 margin-right-0" type="submit">
          <span class="usa-search__submit-text">Search</span>
        </button>
      </div>
    </form>
    <p class="usa-prose-body">
      <%= link_to 'Browse all innovations', search_path, class: 'usa-link' %>
    </p>
  </section>
  <%= render partial: 'home/popular_categories_section', locals: { section_name: 'popular categories' } if @popular_categories.any? %>

  <% if @featured_topic.present? && @featured_topic.title.present? && @featured_topic.description.present? && @featured_topic.url.present? && @featured_topic.cta_text.present? && @featured_topic.attachment.exists?%>
    <%= render partial: 'home/featured_section', locals: {
        section_name: 'topic',
        image_source: "#{@featured_topic.attachment_s3_presigned_url}",
        image_alt_text: "#{@featured_topic.title} featured topic image",
        featured_h2: "#{@featured_topic.title}",
        featured_body_text: "#{@featured_topic.description}",
        featured_topic_url: "#{@featured_topic.url}",
        featured_link_text: "#{@featured_topic.cta_text}"
      }
    %>
  <% end %>

  <% if @highlighted_pr.present? && @highlighted_pr.name.present? && @highlighted_pr.highlight_body.present? && @highlighted_pr.slug.present? && @highlighted_pr.highlight_attachment.exists? %>
    <%= render partial: 'home/featured_section', locals: {
        section_name: 'practice',
        image_source: "#{@highlighted_pr.highlight_attachment_s3_presigned_url}",
        image_alt_text: "#{@highlighted_pr.name} Featured practice image",
        featured_h2: "#{@highlighted_pr.name}",
        featured_body_text: "#{@highlighted_pr.highlight_body}",
        featured_topic_url: "/practices/#{@highlighted_pr.slug}",
        featured_link_text: 'View practice'
      }
    %>
  <% end %>

  <section class="nominate-practice-section bg-ink" role="region" aria-label="Nominate an innovation section">
    <div class="grid-container height-full">
      <div class="grid-row desktop:grid-gap-3">

        <div class="grid-col-12 desktop:grid-col-8">
          <h2 class="usa-prose-h2 font-sans-xl line-height-37px margin-bottom-2 margin-top-8 text-white desktop:margin-top-0">Nominate an innovation</h2>
          <p class="usa-prose-body margin-bottom-2 text-white">
            Are you working on an innovative practice that’s making a difference at VA? Submit a nomination for the practice to be included on the Diffusion Marketplace.
          </p>
          <a class="dm-alt-link-light display-inline-block margin-bottom-8 desktop:margin-bottom-0" href="<%= nominate_a_practice_path %>">Start nomination</a>
        </div>
      </div>
    </div>
  </section>
  <section class="newsletter-subscription-section bg-primary-darker desktop:padding-y-8" role="region" aria-label="Subscribe to monthly newsletter section">
    <div class="grid-container height-full">
      <div class="grid-row desktop:grid-gap-3">
        <form id="GD-snippet-form" class="usa-form text-white grid-col-12" action="https://public.govdelivery.com/accounts/USVHA/subscribers/qualify" target="_blank" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="topic_id" id="topic_id" value="USVHA_1783" />
          <fieldset class="usa-fieldset">
            <legend class="usa-legend usa-sr-only">
              Subscribe to the Diffusion Marketplace newsletter
            </legend>
            <div class="grid-col-12 desktop:grid-col-8 text-white">
              <h3 class="usa-prose-h3 margin-top-4 margin-bottom-1 desktop:margin-top-0 text-bold">Subscribe to the monthly newsletter</h3>
              <p class="usa-prose-body margin-bottom-4">Keep up to date on the latest Diffusion Marketplace news.</p>
            </div>
            <div class="grid-row grid-gap-3 flex-row flex-align-end">
              <div class="grid-col-12 desktop:grid-col-6 text-white">
                <label for="email" class="usa-label margin-top-0">Your email address</label>
                <input type="email" name="email" id="email" value="" class="usa-input margin-top-2" required="required" />
              </div>
              <div class="grid-col-12 desktop:grid-col-3 subscribe-button-container margin-top-2 margin-bottom-4 desktop:margin-top-0 desktop:margin-bottom-0">
                <button name="commit" class="dm-button--outline-white margin-right-0 margin-top-0 newsletter-subscribe-button">Subscribe today</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
</div>
<%#=
Per design, we want the form to be submitted and the action to be opened in a new tab. We need to manually reset the form because it no longer functions the way GovDelivery intended it
to (user gets redirected back to the previous page when they click 'Close' on the GovDelivery side, and thus resets the form).
%>
<script>
  $('#GD-snippet-form').on('submit', function() {
      let newsletterForm = '#GD-snippet-form';
      let subscribeButton = '.newsletter-subscribe-button';
      // submit the form and then reset it
      setTimeout(function () {
        $(newsletterForm).trigger("reset");
          $(subscribeButton).blur();
      }, 1);
  });
</script>
