<div class="full-view-height">
  <div class="dm-background-light-blue">
    <!-- "Welcome" section -->
    <section class="grid-container hero padding-y-205 margin-bottom-2">
      <%= render "shared/messages" %>

      <div class="padding-x-7 padding-y-5 dm-background-white grid-row">
        <h1 class="bold font-sans-2xl margin-0 margin-bottom-1">Saving lives by diffusing best practices</h1>
        <p class="measure-none margin-0">Supporting a High Reliability and Learning Organization by Diffusing Best
          Practices.</p>
      </div>

      <% if @top_practice %>
        <div class="margin-top-105">
          <div class="dm-background-white">
            <div class="grid-row">
              <% if @top_practice.main_display_image.present? %>
                <style>
                  .top-practice-img {
                    background: url('<%= @top_practice.main_display_image.url %>');
                    background-size: cover;
                  }
                </style>
                <%= link_to @top_practice, class: 'display-block', 'aria-label': "Go to #{@top_practice.name}" do %>
                  <div class="img grid-col-5 top-practice-img"></div>
                <% end %>
              <% else %>
                <div class="grid-col-5"></div>
              <% end %>
              <div class="grid-col-7 padding-x-205 padding-y-4">
                <div class="grid-row margin-bottom-2">
                  <%= link_to @top_practice do %>
                    <h2 class="bold display-inline-block x0 font-sans-xl"><%= @top_practice.tagline %></h2>
                  <% end %>
                </div>
                <div class="grid-row">
                  <p class="margin-top-0 margin-bottom-1"><%= @top_practice.description %></p>
                </div>
                <div class="grid-row p1-bottom">
                  <h5 class="flex-1 x0 text-normal"><%= @top_practice.name %>
                    <span class="margin-x-05">|</span>
                    <span class="uppercase"><%= @top_practice.date_initiated.present? ? date_format(@top_practice.date_initiated) : '(start date unknown)' %></span>
                    <span class="margin-x-05">|</span>
                    <span class="uppercase">
                  <%= facility_name(@top_practice.initiating_facility) %>
                  </span>
                  </h5>
                </div>
                <div class="grid-row justify-center">
                  <div class="tablet:grid-col-4 display-grid-align-items-center">
                    <%= link_to 'Learn More', @top_practice, class: 'dm-button-link-secondary  display-inline-block' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </section>

    <% if @featured_practices.any? %>
      <section class="dm-background-white margin-bottom-105 padding-top-2">
        <div class="grid-container">
          <div class="grid-row">
            <% @featured_practices.each do |p| %>
              <% if p.present? %>
                <div class="tablet:grid-col-4 padding-105">
                  <%= render partial: 'practices/marketplace_card', locals: {practice: p} %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    <% end %>
  </div>

</div>
