<% event_count = event_count %>
<% events.each do |event|%>
    <li class="page-event-component usa-card <%= event.column_size(event_count) %>">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h3 class="event-title">
                    <%= event&.title %>
                </h3>
            </div>
            <div id="<%= event.id %>" class="event-item-description usa-prose usa-card__body">
                <div class="event-metadata">
                  <% if event.presented_by? %>
                    <p>Presented by <%= event.presented_by%></p>
                  <% end %>
                  <% if event&.start_date.present? %>
                    <p><i class="fas fa-calendar-alt"></i><span class='sr-only'>Date: </span> <%= event.rendered_date %></span></p>
                  <% end %>
                  <% if event&.location.present? %>
                    <p><i class="fas fa-map-marker-alt"></i><span class='sr-only'>Location: </span> <%= event&.location %></span></p>
                  <% end %>
                </div>
                <p><%= event&.text&.html_safe %></p>
                <% unless event.url.blank? %>
                    <% link_text = event.url_link_text.present? ? event.url_link_text : 'View Event' %>
                    <%= link_to(link_text, event.url, 'aria-label': "#{link_text}: #{event.title}", class: set_link_classes(event.url), target: get_link_target_attribute(event.url)) %>
                <% end %>
            </div>
        </div>
    </li>
<% end %>
