<% news_item_count = news_item_count %>
<% news_items.each do |news_item| %>
    <li class="page-news-component usa-card <%= news_item.column_size(news_item_count) %>">
        <div class="usa-card__container margin-top-5">
            <% if news_item.image.present? %>
                <div class="usa-card__media--inset">
                    <div class="dm-news-img-container">
                        <img
                            src="<%= news_item.image_s3_presigned_url %>" 
                            alt="<%= news_item.image_alt_text %>"
                        />
                    </div>
                </div>
            <% end %>
            <div class="usa-card__header">
                <h3 class="news-item-title">
                    <%= link_to_if(news_item.title.present? && news_item.url.present?, news_item.title, news_item.url, class: set_link_classes(news_item.url), target: get_link_target_attribute(news_item.url)) %>
                </h3>
            </div>
            <div id="<%= news_item.id %>" class="news-item-description usa-prose usa-card__body">
                <% if news_item.published_date.present? && news_item.authors.present? %>
                    <p>Published on <%= news_item&.published_date&.strftime("%B %e, %Y") %> by <%= news_item&.authors %></p>
                <% elsif news_item.published_date.present? %>
                    <p>Published on <%= news_item&.published_date&.strftime("%B %e, %Y") %></p>
                <% elsif news_item.authors.present? %>
                    <p>Published by <%= news_item&.authors %></p>
                <% end %>
                <div><%= news_item&.text&.html_safe %></div>
            </div>
        </div>
    </li>
<% end %>
