<% news_items.each do |news_item| %>
    <li class="page-news-component usa-card tablet:grid-col-6">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h3 class="margin-bottom-2 news-item-title">
                    <a href="<%= news_item.url %>" class="<%= get_link_classes(news_item.url) %>" target="<%= get_link_target_attribute(news_item.url) %>">
                        <%= news_item.title %>
                    </a>
                </h3>
            </div>
            <div id="a<%= news_item.id %>" class="news-item-description usa-prose usa-card__body">
                <%= news_item.text.html_safe %>
            </div>
            <div class="usa-card__footer">
                <span class="news-published-date"><%= news_item&.published_date.strftime("%B %e, %Y") %></span>
            </div>
        </div>
    </li>
<% end %>
