<% news_item_count = news_item_count %>
<% news_items.each do |news_item| %>
    <li class="page-news-component usa-card <%= column_size(news_item_count) %>">
        <div class="usa-card__container margin-top-5">
            <% if news_item.image.present? %>
                <div class="usa-card__media--inset">
                    <div class="dm-news-img-container">
                        <img
                            src="<%= news_item.image_s3_presigned_url %>" 
                            alt="<%= news_item.image_alt_text %>"
                        />
                    </div>
                </div>
            <% end %>
            <div class="usa-card__header">
                <h3 class="news-item-title">
                    <%= news_item&.title %>
                </h3>
            </div>
            <div id="<%= news_item.id %>" class="news-item-description usa-prose usa-card__body">
                <% if news_item.published_date.present? && news_item.authors.present? %>
                    <p>Published on <%= news_item&.published_date&.strftime("%B %e, %Y") %> by <%= news_item&.authors %></p>
                <% elsif news_item.published_date.present? %>
                    <p>Published on <%= news_item&.published_date&.strftime("%B %e, %Y") %></p>
                <% elsif news_item.authors.present? %>
                    <p>Published by <%= news_item&.authors %></p>
                <% end %>
                <div class="margin-bottom-3"><%= news_item&.text&.html_safe %></div>
                <% unless news_item.url.blank? %>
                    <% link_text = news_item.url_link_text.present? ? news_item.url_link_text : 'View News' %>
                    <%= link_to(link_text, news_item.url, 'aria-label': "#{link_text}: #{news_item.title}", class: set_link_classes(news_item.url), target: get_link_target_attribute(news_item.url)) %>
                <% end %>
            </div>
        </div>
    </li>
<% end %>
