<% news_items.each do |news_item| %>
    <% images = news_item.page_component.page_component_images %>
    <li class="page-news-component usa-card tablet:grid-col-6">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h3 class="news-item-title">
                    <%= link_to_if(news_item.title.present? && news_item.url.present?, news_item.title, news_item.url, class: set_link_classes(news_item.url), target: get_link_target_attribute(news_item.url)) %>
                </h3>
            </div>
            <div id="<%= news_item.id %>" class="news-item-description usa-prose usa-card__body">
                <p><%= news_item&.text&.html_safe %></p>
                <% if news_item.published_date.present? && news_item.authors.present? %>
                    <p>Published on <%= news_item&.published_date&.strftime("%B %e, %Y") %> by <%= news_item&.authors %></p>
                <% elsif news_item.published_date.present? %>
                    <p>Published on <%= news_item&.published_date&.strftime("%B %e, %Y") %></p>
                <% elsif news_item.authors.present? %>
                    <p>Published by <%= news_item&.authors %></p>
                <% end %>
            </div>

            <% if images.present? %>
                <div class="grid-item-images left-align">
                    <div class="grid-row desktop:grid-gap-3">
                    <% images.each_with_index do |image, index| %>
                        <%
                        signed_image = image.image_s3_presigned_url(:thumb)
                        alt_text = image.alt_text
                        image_url = image.url
                        caption = image.caption
                        column_count = if images.count > 6
                                        '1'
                                        elsif images.count === 5
                                        '2'
                                        else
                                        "#{12 / images.count}"
                                        end
                        %>
                        <div class="grid-col-12 desktop:grid-col-<%= column_count %><%= ' margin-bottom-6' unless images.length === index + 1 %> desktop:margin-bottom-0">
                            <div class="image-container">
                            <% if image_url.present? %>
                                <a href="<%= image_url %>" aria-label="Go to <%= image_url %>" class="page-image-component-image-link">
                                <img src="<%= signed_image %>" alt="<%= alt_text %>" class="height-full width-full display-block"/>
                                </a>
                            <% else %>
                                <img src="<%= signed_image %>" alt="<%= alt_text %>" class="height-full width-full"/>
                            <% end %>
                            </div>
                            <% if caption.present? %>
                            <div class="dm-word-break-break-word dm-hyphens-auto margin-top-105">
                                <%= caption.html_safe %>
                            </div>
                            <% end %>
                        </div>
                    <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </li>
<% end %>
