<% publications.each do |publication|%>
    <div class="page-publication-component">
        <h3 class="publication-title margin-bottom-3">
            <% if publication.attachment? %>
              <%= link_to publication.attachment_s3_presigned_url,
              class: 'usa-link usa-link--external',
              target: '_blank',
              download: publication.attachment_file_name,
              'data-resource-id': publication.id,
              'data-resource-path': publication.attachment.path do %>
                <i class="far fa-file margin-right-1"></i><%=publication.title %><span class="sr-only">Download <%= publication.attachment_file_name %>/span>
              <% end %>
            <% elsif publication.url? %>
              <%= link_to(publication.title, publication.url, class: set_link_classes(publication.url), target: get_link_target_attribute(publication.url)) %>
            <% else %>
              <%= publication.title %>
            <% end %>
        </h3>
        <p>
          <%= "Published in #{publication.published_in}" if publication.published_in.present? %> <%= "on #{publication.published_date.strftime("%B %e, %Y")}" if publication.published_date.present? %>
        </p>
        <p>
          <%= "By #{publication.authors}" if publication.authors.present? %>
        </p>
    </div>
<% end %>
