<% publications_count = publications_count %>
<% publications.each do |publication| %>
  <li class="page-publication-component usa-card <%= publication.column_size(publications_count) %>">
    <div class="usa-card__container border-0">
        <div class="usa-card__header">
            <h3 class="publication-title">
              <%= publication&.title %>
            </h3>
        </div>
        <div id="<%= publication.id %>" class="publication-item-description usa-prose usa-card__body">
          <p>
            <% if publication.published_in? || publication.published_on_year? %>
              Published
              <%= "in <span class='text-italic'>#{publication.published_in}</span>".html_safe if publication.published_in? %>
              <%= publication.publication_date %>
            <% end %>
          </p>
          <p>
            <%= "By #{publication.authors}" if publication.authors.present? %>
          </p>
          <% if publication.attachment? || publication.url %>
            <% link_text = publication.url_link_text.present? ? publication.url_link_text : "Read Publication" %>
            <% if publication.attachment? %>
              <% page_component = publication.page_component %>
              <%= link_to page_resource_download_path(id: page_component.component_id, page_id: page_component.page.id.to_s),
              class: 'usa-link',
              target: '_blank',
              'aria-label': "#{link_text}: #{publication.title}" do %>
                <i class="far fa-file margin-right-1"></i><%= link_text %><span class="usa-sr-only">Download <%= publication.attachment_file_name %></span>
              <% end %>
            <% elsif publication.url? %>
              <%= link_to( link_text, publication.url, 'aria-label': "#{link_text}: #{publication.title}", class: set_link_classes(publication.url), target: get_link_target_attribute(publication.url)) %>
            <% end %>
          <% end %>
        </div>
    </div>
  </li>
<% end %>
