<div class="grid-row grid-gap display-flex flex-column flex-row-tablet">
  <div class="grid-item-text <%= component.text_alignment === "Left" ? 'order-first' : 'order-last' %> <%= component.flipped_ratio? ? 'tablet:grid-col-8' : 'tablet:grid-col-4' %>">
    <% if component.title.present? %>
      <h3 class="margin-top-0">
        <%= component.title %>
      </h3>
    <% end %>
    <% if component.url.present? && component.url_link_text.present? %>
      <a href="<%= component.url %>"
          target="<%= get_link_target_attribute(component.url) %>"
          title="Go to <%= component.url %>"
          class="<%= set_link_classes(component.url) %> display-inline-block margin-top-3">
        <%= component.url_link_text %>
      </a>
    <% end %>
    <% if component.text.present? %>
      <p><%= component.text.html_safe %></p>
    <% end %>
  </div>
  <div class="grid-item-image <%= component.flipped_ratio? ? 'tablet:grid-col-4' : 'tablet:grid-col-8' %> display-flex flex-align-center">
    <img class="usa-img width-full height-auto margin-y-auto maxh-mobile-lg"" src="<%= component.image_s3_presigned_url %>" alt="<%= component.image_alt_text %>"/>
  </div>
</div>