<% provide :head_tags do %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    var chromeWarning = <%= @page.has_chrome_warning_banner %>;
  <% end %>
  <%= javascript_include_tag 'ie', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'shared/_signed_resource', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '_page_show', 'data-turbolinks-track': 'reload' %>
<% end %>
<% accordion_ctr = 0 %>
<% page_narrow_classes = 'desktop:grid-col-8 margin-x-auto' if @page.narrow? %>
<div id="page-builder-page" class="margin-top-5">
  <section>
    <div class="dm-page-content">
      <% @page_components.each_with_index do |pc, index| %>
        <%
          component = pc.component_type.constantize.find(pc.component_id)
          last_component = @page.page_components.size - 1
        %>

        <%# Page Header and Paragraph %>
          <% if (pc.component_type == 'PageHeaderComponent' || pc.component_type == 'PageParagraphComponent') && component.text.present? %>
            <div class="grid-container">
              <div class="page-paragraph-component margin-bottom-4-important <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
                <%= component.text.html_safe %>
              </div>
            </div>
          <% end %>

        <% if pc.component_type == 'PageTripleParagraphComponent' && component.text1.present? %>
          <div class=<%='bg-primary-lighter' if component.has_background_color %>>
            <div class="grid-container">
              <div class="page-triple-paragraph-component padding-top-7 padding-bottom-7 <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
                <div class="grid-row grid-gap">
                  <div class="grid-col-12 desktop:grid-col-4">
                    <h3><%= component.title1.html_safe %></h3>
                    <p><%= component.text1.html_safe %></p>
                  </div>
                  <div class="grid-col-12 desktop:grid-col-4">
                    <h3><%= component.title2.html_safe %></h3>
                    <p><%= component.text2.html_safe %></p>
                  </div>
                  <div class="grid-col-12 desktop:grid-col-4">
                    <h3><%= component.title3.html_safe %></h3>
                    <p><%= component.text3.html_safe %></p>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <%# Page Header 2 %>
        <% case pc.component_type when 'PageHeader2Component' %>
          <div class="grid-container">
            <div class="grid-row margin-bottom-3<%= ' margin-bottom-0' if last_component === index %>">
              <h2 class="grid-col-12 desktop:grid-col-8 font-sans-xl <%= 'margin-x-auto' if @page.narrow? %>">
                <%= link_to_unless component.url.blank?, component.subtopic_title, component.url, target: get_link_target_attribute(component.url), class: set_link_classes(component.url) %>
              </h2>
              <% if component.subtopic_description.present? %>
                <div class="grid-col-12 desktop:grid-col-8 line-height-26 <%= 'margin-x-auto' if @page.narrow? %> margin-top-2">
                  <%= component.subtopic_description %>
                </div>
              <% end %>
            </div>
          </div>

        <%# Page Header 3 %>
        <% when 'PageHeader3Component' %>
          <div class="grid-container">
            <div class="<%= page_narrow_classes %> margin-bottom-3<%= ' margin-bottom-0' if last_component === index %>">
              <h3 class="font-sans-lg text-<%= component.alignment.downcase %>">
                <%= link_to_unless component.url.blank?, component.title, component.url, target: get_link_target_attribute(component.url), class: set_link_classes(component.url) %>
              </h3>
              <% if component.description.present? %>
                <div class="grid-col-12 margin-top-2 line-height-26 text-<%= component.alignment.downcase unless @page.narrow? %>">
                  <%= component.description.html_safe %>
                </div>
              <% end %>
            </div>
          </div>

        <% when 'PageBlockQuoteComponent' %>
          <div class="grid-container">
            <div class="page-block-quote-component margin-bottom-4-important <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
              <p class="font-body-xl text-medium text-ls-1">
                "<%= component.text.html_safe %>"
              </p>
              <p class="text-italic font-body-lg">
                <%= "-#{component.citation.html_safe}" %>
              </p>
            </div>
          </div>

        <%# Page Horizontal Line %>
        <% when 'PageHrComponent' %>
          <div class="grid-container">
            <hr class="flex-fill border border-base-lighter bg-base-lightest dm-section-line margin-top-0 margin-bottom-3 <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
          </div>

        <%# Accordion %>
        <% when 'PageAccordionComponent' %>
          <% accordion_ctr += 1 %>
          <div class="grid-container">
            <div id="accordion_anchor_<%= accordion_ctr %>"
                class="page-accordion-component margin-bottom-3<%= ' margin-bottom-0' if last_component == index %> <%= page_narrow_classes %>"
            >
              <div class="usa-accordion<%= ' usa-accordion--bordered' if component.has_border %>">
                <h2 class="usa-accordion__heading">
                  <button class="usa-accordion__button font-sans-sm"
                          aria-expanded="false"
                          aria-controls="a<%= component.id %>">
                    <%= component.title %>
                  </button>
                </h2>
                <div id="a<%= component.id %>" class="usa-accordion__content usa-prose">
                  <%= component.text.html_safe if component.text.present? %>
                </div>
              </div>
            </div>
          </div>

        <%# Call to Action %>
        <% when 'PageCtaComponent' %>
          <% if component.has_background_color %>
            <div class="bg-gray-90">
              <div class="grid-container margin-bottom-5">
                <div class="display-flex flex-align-center flex-justify-center <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
                  <div class="usa-prose-h4 text-white">
                    <span><%= component.cta_text %></span>
                  </div>
                  <a href="<%= component.url %>"
                    target="<%= get_link_target_attribute(component.url) %>"
                    class="dm-button--inverse-secondary margin-top-4 margin-bottom-4 margin-left-4">
                    <%= component.button_text %>
                  </a>
                </div>  
              </div>
            </div>
          <% else %>
            <div class="grid-container">
              <div class="grid-row margin-bottom-3 <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
                <div class="font-sans-lg grid-col-12 margin-bottom-2">
                  <span><%= component.cta_text %></span>
                </div>
                <a href="<%= component.url %>"
                  target="<%= get_link_target_attribute(component.url) %>"
                  class="usa-button">
                  <%= component.button_text %>
                </a>
              </div>
            </div>
          <% end %>

        <%# Event %>
        <% when 'PageEventComponent' %>
          <% if @event_ids.include?(component.id) %>
            <%
              component_index = @event_list_component_index
              elc = @event_list_components[component_index]
              @event_list_component_index = component_index + 1
            %>
            <div class="grid-container">
              <ul class="event-component-list usa-card-group dm-paginated-<%= component_index %>-events margin-bottom-4 <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
                <%= render(partial: 'events_list', locals: {events: elc[:events]}) %>
              </ul>
              <% if elc[:pagy].count > 2  %>
                <div class="text-center dm-load-more-events-<%= component_index %>-btn-container margin-bottom-4">
                  <% link = pagy_link_proc(elc[:pagy]) %>
                  <%=  link.call(elc[:pagy].vars[:page] + 1, 'Load more').html_safe %>
                </div>
              <% end %>
            </div>
          <% end %>

        <%# Image %>
        <% when 'PageImageComponent' %>
          <div class="grid-container">
            <div class="grid-row margin-bottom-3 <%= get_grid_alignment_css_class(component.alignment.downcase) %> <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
              <% if component.url.present? %>
                <a href="<%= component.url %>" target="<%= get_link_target_attribute(component.url) %>" title="Go to <%= component.url %>">
                  <%= render partial: "page/page_image", locals: { component: component } %>
                </a>
              <% else %>
                <%= render partial: "page/page_image", locals: { component: component } %>
              <% end %>
            </div>
          </div>

        <%# News %>
        <% when 'PageNewsComponent' %>
          <% if @news_items_ids.include?(component.id) %>
            <%
              component_index = @news_list_component_index
              nic = @news_items_components[component_index]
              @news_list_component_index = component_index + 1
            %>
            <div class="grid-container margin-bottom-5 <%= ' margin-bottom-0' if last_component === index %>">
              <ul class="usa-card-group news-component-list dm-paginated-<%= component_index %>-news <%= page_narrow_classes %>">
                <%= render partial:'news_items_list', locals: {news_items: nic[:news]} %>
              </ul>
              <% if nic[:pagy].count > 4 %>
                <div class="text-center dm-load-more-news-<%= component_index %>-btn-container" >
                  <% link = pagy_link_proc(nic[:pagy]) %>
                  <%=  link.call(nic[:pagy].vars[:page] + 1, 'Load more').html_safe %>
                </div>
              <% end %>
            </div>
          <% end %>

        <%# Practice List %>
        <%# note: everything EXCEPT Practice List has the page_narrow_classes applied %>
        <% when 'PagePracticeListComponent' %>
          <%
            component_index = @practice_list_component_index
            pplc = @practice_list_components[component_index]
            @practice_list_component_index = component_index + 1
          %>
          <% if pplc[:practices].any? %>
            <div class="grid-container">
              <div class="margin-bottom-2<%= ' margin-bottom-0' if last_component === index %>">
                <div class="dm-practice-card-list dm-paginated-<%= component_index %>-practices">
                  <%= render partial: 'shared/practice_cards_row', locals: { practices: pplc[:practices] } %>
                </div>
                <% if pplc[:pagy].count > 6 %>
                  <div class="text-center dm-load-more-practices-<%= component_index %>-btn-container" >
                    <% link = pagy_link_proc(pplc[:pagy]) %>
                    <%=  link.call(pplc[:pagy].vars[:page] + 1, 'Load more').html_safe %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

        <%# Publication %>
        <% when 'PagePublicationComponent' %>
          <div class="grid-container">
            <% if @publication_ids.include?(component.id) %>
              <%
                component_index = @publication_list_component_index
                plc = @publication_list_components[component_index]
                @publication_list_component_index = component_index + 1
              %>
              <% if plc[:pagy].count <= 2 # use card styling for 2 or fewer  %>
                <ul class="publication-component-list-cards usa-card-group dm-paginated-<%= component_index %>-events margin-bottom-4 <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
                  <%= render(partial: 'publications_list_cards', locals: {publications: plc[:publications]}) %>
                </ul>
              <% elsif plc[:pagy].count > 2 # use list styling for all other card lists %>
                <div class="publication-component-list dm-paginated-<%= component_index %>-publications margin-bottom-4 <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
                  <%= render(partial: 'publications_list', locals: {publications: plc[:publications]}) %>
                </div>
                <% if plc[:pagy].count > 10 # Load more button %>
                  <div class="text-center dm-load-more-publications-<%= component_index %>-btn-container">
                    <% link = pagy_link_proc(plc[:pagy]) %>
                    <%=  link.call(plc[:pagy].vars[:page] + 1, 'Load more').html_safe %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>

        <%# Simple Button %>
        <% when 'PageSimpleButtonComponent' %>
          <div class="grid-container margin-bottom-4 <%= ' margin-bottom-0' if last_component === index %>">
            <div class="grid-row flex-justify-center">
              <%= link_to component.button_text, component.url,
                  class: "page-simple-button-component usa-button dm-button--outline-secondary",
                  target: get_link_target_attribute(component.url)
              %>
            </div>
          </div>

        <%# Subpage Hyperlink %>
        <% when 'PageSubpageHyperlinkComponent' %>
          <div class="grid-container">
            <% if component.card? %>
              <div class="grid-col-12 tablet:grid-col-6 pb-link-card margin-bottom-3">
                <a class="pb-link text-no-underline" href="<%= component.url %>">
                  <div class="usa-card__container margin-0 radius-md border-width-1px">
                    <div class="pb-link-card-title text-semibold text-underline font-sans-lg line-height-25px margin-top-0 padding-x-2 padding-top-4">
                        <%= component.title %>
                    </div>
                    <div class="usa-card__body padding-x-2 padding-bottom-4">
                      <p class="usa-prose-body pb-link-card-body">
                        <%= component.description %>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            <% else %>
              <div class="grid-row margin-bottom-5 grid-col-12 desktop:grid-col-8 pb-link-default <%= 'margin-x-auto' if @page.narrow? %>">
                <a href="<%= component.url %>" class="width-full usa-link text-no-underline">
                  <h2 class="font-sans-xl display-inline margin-top-0 text-underline"><%= component.title %></h2>
                  <span class="margin-left-1 fas fa-chevron-right fa-icon-125 text-middle padding-bottom-2"></span>
                </a>
                <% if component.description.present? %>
                  <div class="font-sans-sm margin-top-2 width-full line-height-26">
                    <%= component.description %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

        <%# YouTube Player %>
        <% when 'PageYouTubePlayerComponent' %>
          <div class="grid-container">
            <div class="grid-row margin-bottom-3 <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
              <%= youtube_embed(component.url) %>
              <% if component.caption.present? %>
                <div class="font-sans-2xs line-height-135 margin-top-1 width-full line-height-15px">
                  <span class="text-bold">ABOVE:</span> <%= component.caption %>
                </div>
              <% end %>
            </div>
          </div>

        <%# Downloadable File %>
        <% when 'PageDownloadableFileComponent' %>
          <%
            description = component.description
            display_name = component.display_name
            next_component = @page.page_components.find_by(position: pc.position + 1)
          %>
          <div class="grid-container">
            <div class="grid-row <%= page_narrow_classes %> <%= next_component != nil && next_component.component_type == pc.component_type ? 'margin-bottom-1' : 'margin-bottom-3 ' %> font-sans-sm line-height-162<%= ' margin-bottom-0' if last_component === index %>">
              <%= content_tag(:span, description, class: 'margin-right-1') if description != '' %>
              <%= link_to component.attachment_s3_presigned_url,
                          class: 'usa-link usa-link--external page-downloadable-file-component',
                          target: '_blank',
                          download: display_name != '' ? display_name : component.attachment_file_name,
                          'data-resource-id': pc.component_id,
                          'data-resource-path': pc.component.attachment.path do %>
                <i class="far fa-file margin-right-1"></i><%= display_name != '' ? display_name : component.attachment_file_name %>
              <% end %>
            </div>
          </div>

        <%# Map Component %>
        <% when 'PageMapComponent' %>
          <%
            description = component&.description
            title = component&.title
            map_component_markers = @map_components_with_markers.find { |key, value| value[:component] == component }&.last[:markers]
            text_alignment = component&.description_text_alignment
          %>
          <div class="grid-container">
            <div class="page-map-component <%= page_narrow_classes %>">
              <% if title.present? %>
                <div class="font-sans-lg text-bold margin-top-9">
                  <%= content_tag(:span, title, class: 'margin-right-1') %>
                </div>
              <% end %>

              <div class="grid-row margin-top-2">
                <% map_cols = if description&.blank?
                                'grid-col-12'
                              elsif text_alignment == 'Left'
                                'grid-col-12 desktop:grid-col-9 order-2 padding-left-2'
                              elsif text_alignment == 'Right'
                                'grid-col-12 desktop:grid-col-9 padding-right-2'
                              else
                                'grid-col-12'
                              end
                %>
                <div class="margin-bottom-1 <%= map_cols %>">
                  <%= render partial: "page/page_map",
                            locals: {
                              facility_markers: map_component_markers,
                              component: component,
                              component_id: component.page_component.id }
                  %>
                </div>

                <% if description&.present? %>
                <% description_cols = if text_alignment == 'Left' || text_alignment == 'Right'
                                        'grid-col-12 desktop:grid-col-3'
                                      else
                                        'grid-col-12'
                                      end
                %>
                  <div class="<%= description_cols %> font-sans-sm line-height-162<%= ' margin-bottom-9' if last_component === index %>">
                    <p class="margin-right-1"><%= description.html_safe %></p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

        <%# Text and Images %>
        <% when 'PageCompoundBodyComponent' %>
          <div class="grid-container">
            <div
              class="page-compound-body-component <%= last_component === index ? 'margin-bottom-0 padding-bottom-0' : "padding-bottom-#{component.padding_bottom}" %> <%= "padding-top-#{component.padding_top}" %><%= page_narrow_classes %>">
              <%= render partial: 'compound_body_component', locals: { component: component } %>
            </div>
          </div>

        <%# 2:1 Image to Text %>
        <% when 'PageTwoToOneImageComponent' %>
          <div class="grid-container margin-bottom-5 <%= ' margin-bottom-0' if last_component === index %>">
            <%= render partial: 'two_to_one_image_component', locals: { component: component } %>
          </div>

        <%# 1:1 Image to Text %>
        <% when 'PageOneToOneImageComponent' %>
          <div class="grid-container margin-bottom-5 <%= ' margin-bottom-0' if last_component === index %>">
            <%= render partial: 'one_to_one_image_component', locals: { component: component } %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
