<% provide :head_tags do %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    var chromeWarning = <%= @page.has_chrome_warning_banner %>;
  <% end %>
  <%= javascript_include_tag 'ie', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '_page_show', 'data-turbolinks-track': 'reload' %>
<% end %>

<% page_narrow_classes = 'desktop:grid-col-8 margin-x-auto' if @page.narrow? %>

<div id="page-builder-page">
  <%# due to the matrix applied to the gradient banner (per design), the padding directions needed to be applied inversely, so padding-top is actually padding-bottom and vice versa %>
  <div id="page-<%= @page.id %>"
       class="grid-col-12 dm-gradient-banner<%= ' display-none' unless @page.is_visible %> margin-bottom-5 page-builder-intro-container text-white<%= @builder_landing_page.nil? || params[:page_slug].nil? ? ' padding-y-10' : ' padding-top-10 padding-bottom-6' %>"
  >
    <div class="grid-container page-builder-intro-content">
      <h1 class="font-sans-2xl margin-top-0 margin-bottom-3 usa-prose-h1">
        <%= @page.title %>
      </h1>
      <p class="font-sans-lg usa-prose-intro line-height-36 grid-col-10">
        <%= @page.description %>
      </p>
    </div>
  </div>
  <section class="grid-container">
    <div class="dm-page-content">
      <% @page_components.each_with_index do |pc, index| %>
        <%
          component = pc.component_type.constantize.find(pc.component_id)
          last_component = @page.page_components.size - 1
        %>

        <%# Page Header and Paragraph %>
        <% if (pc.component_type == 'PageHeaderComponent' || pc.component_type == 'PageParagraphComponent') && component.text.present? %>
          <div class="margin-bottom-4-important <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
            <%= component.text.html_safe %>
          </div>
        <% end %>

        <%# Page Header 2 %>
        <% case pc.component_type when 'PageHeader2Component' %>
          <div class="grid-row margin-bottom-3<%= ' margin-bottom-0' if last_component === index %>">
            <h2 class="grid-col-12 desktop:grid-col-8 font-sans-xl <%= 'margin-x-auto' if @page.narrow? %>">
              <%= component.subtopic_title %>
            </h2>
            <% if component.subtopic_description.present? %>
              <div class="grid-col-12 desktop:grid-col-8 line-height-26 <%= 'margin-x-auto' if @page.narrow? %> margin-top-2">
                <%= component.subtopic_description %>
              </div>
            <% end %>
          </div>

          <%# Page Header 3 %>
        <% when 'PageHeader3Component' %>
          <div class="<%= page_narrow_classes %> margin-bottom-3<%= ' margin-bottom-0' if last_component === index %>">
            <h3 class="font-sans-lg text-<%= component.alignment.downcase %>">
              <%= component.title %>
            </h3>
            <% if component.description.present? %>
              <div class="grid-col-12 <%= 'desktop:grid-col-8' unless @page.narrow? %> margin-top-2 line-height-26">
                <%= component.description %>
              </div>
            <% end %>
          </div>

          <%# Page Horizontal Line %>
        <% when 'PageHrComponent' %>
          <hr class="flex-fill border border-base-lighter bg-base-lightest dm-section-line margin-top-0 margin-bottom-3 <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">

          <%# Accordion %>
        <% when 'PageAccordionComponent' %>
          <div class="<%= page_narrow_classes %> margin-bottom-3<%= ' margin-bottom-0' if last_component === index %>">
            <div class="usa-accordion">
              <h2 class="usa-accordion__heading margin-bottom-2">
                <button class="usa-accordion__button font-sans-sm"
                        aria-expanded="false"
                        aria-controls="a<%= component.id %>">
                  <%= component.title %>
                </button>
              </h2>
              <div id="a<%= component.id %>" class="usa-accordion__content usa-prose">
                <% if component.text.present? %>
                  <%= component.text.html_safe %>
                <% end %>
              </div>
            </div>
          </div>

          <%# CTA %>
        <% when 'PageCtaComponent' %>
          <div class="grid-row margin-bottom-3 <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
            <div class="font-sans-lg grid-col-12 margin-bottom-2">
              <span><%= component.cta_text %></span>
            </div>
            <a href="<%= component.url %>"
               target="<%= get_link_target_attribute(component.url) %>"
               class="usa-button">
              <%= component.button_text %>
            </a>
          </div>

          <%# Image %>
        <% when 'PageImageComponent' %>
          <div class="grid-row margin-bottom-3 <%= get_grid_alignment_css_class(component.alignment.downcase) %> <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
            <% if component.url.present? %>
              <a href="<%= component.url %>" target="<%= component.url.chars.first === '/' ? '' : '_blank' %>" title="Go to <%= component.url %>">
                <%= render partial: "page/page_image", locals: { component: component } %>
              </a>
            <% else %>
              <%= render partial: "page/page_image", locals: { component: component } %>
            <% end %>
          </div>

          <%# Practice List %>
          <%# note: everything EXCEPT Practice List has the page_narrow_classes applied %>
        <% when 'PagePracticeListComponent' %>
          <%
            component_index = @practice_list_component_index
            pplc = @practice_list_components[component_index]
            @practice_list_component_index = component_index + 1
          %>
          <% if pplc[:practices].any? %>
            <div class="margin-bottom-2<%= ' margin-bottom-0' if last_component === index %>">
              <div class="dm-practice-card-list grid-row grid-gap-3 dm-paginated-<%= component_index %>-practices">
                <%= render partial: 'page/practice_list_container', locals: { practices: pplc[:practices], component_index: component_index } %>
              </div>
              <div class="text-center dm-load-more-practices-<%= component_index %>-btn-container" >
                <% link = pagy_link_proc(pplc[:pagy]) %>
                <%=  link.call(pplc[:pagy].vars[:page] + 1, 'Load more').html_safe %>
              </div>
            </div>
          <% end %>
          <%# Subpage Hyperlink %>
        <% when 'PageSubpageHyperlinkComponent' %>
            <% if component.card? %>
              <div class="grid-col-12 tablet:grid-col-6 pb-link-card margin-bottom-3">
                <a class="pb-link text-no-underline" href="<%= component.url %>">
                  <div class="usa-card__container margin-0 radius-md border-width-1px">
                    <div class="pb-link-card-title text-semibold text-underline font-sans-lg line-height-25px margin-top-0 padding-x-2 padding-top-4">
                        <%= component.title %>
                    </div>
                    <div class="usa-card__body padding-x-2 padding-bottom-4">
                      <p class="usa-prose-body pb-link-card-body">
                        <%= component.description %>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            <% else %>
              <div class="grid-row margin-bottom-5 grid-col-12 desktop:grid-col-8 pb-link-default <%= 'margin-x-auto' if @page.narrow? %>">
                <a href="<%= component.url %>" class="width-full usa-link">
                  <h2 class="font-sans-xl display-inline margin-top-0 text-underline"><%= component.title %></h2>
                  <span class="margin-left-1 fas fa-chevron-right fa-icon-125 text-middle padding-bottom-2"></span>
                </a>
                <% if component.description.present? %>
                  <div class="font-sans-sm margin-top-2 width-full line-height-26">
                    <%= component.description %>
                  </div>
                <% end %>
              </div>
            <% end %>

          <%# YouTube Player %>
        <% when 'PageYouTubePlayerComponent' %>
          <div class="grid-row margin-bottom-3 <%= page_narrow_classes %><%= ' margin-bottom-0' if last_component === index %>">
            <%= youtube_embed(component.url) %>
            <% if component.caption.present? %>
              <div class="font-sans-2xs line-height-135 margin-top-1 width-full line-height-15px">
                <span class="text-bold">ABOVE:</span> <%= component.caption %>
              </div>
            <% end %>
          </div>

          <%# Downloadable File %>
        <% when 'PageDownloadableFileComponent' %>
          <%
            description = component.description
            display_name = component.display_name
            next_component = @page.page_components.find_by(position: pc.position + 1)
          %>
          <div class="grid-row <%= page_narrow_classes %> <%= next_component != nil && next_component.component_type == pc.component_type ? 'margin-bottom-1' : 'margin-bottom-3 ' %> font-sans-sm line-height-162<%= ' margin-bottom-0' if last_component === index %>">
            <%= content_tag(:span, description, class: 'margin-right-1') if description != '' %>
            <%= link_to component.attachment_s3_presigned_url, class: 'usa-link usa-link--external', target: '_blank', download: display_name != '' ? display_name : component.attachment_file_name do %>
              <i class="far fa-file margin-right-1"></i><%= display_name != '' ? display_name : component.attachment_file_name %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
