<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<% page_narrow_classes = 'grid-col-8 margin-x-auto' if @page.narrow? %>

<div class="full-view-height dm-background-white">
  <section class="grid-container">
    <div id="page-<%= @page.id %>" class="<%= 'display-none' unless @page.is_visible %> <%= page_narrow_classes %>">
      <h1 class="font-sans-2xl margin-bottom-405 grid-col-10">
        <%= @page.title %>
      </h1>
      <p class="font-sans-lg x3-bottom grid-col-10">
        <%= @page.description %>
      </p>
    </div>
    <div class="page-content">
      <% @page.page_components.each do |pc| %>
        <% component = pc.component_type.constantize.find(pc.component_id) %>

        <%# Page Header and Paragraph %>
        <% if (pc.component_type == 'PageHeaderComponent' || pc.component_type == 'PageParagraphComponent') && component.text.present? %>
          <div class="margin-bottom-4 <%= page_narrow_classes %>">
            <%= component.text.html_safe %>
          </div>
        <% end %>

        <%# Page Header 2 %>
        <% case pc.component_type when 'PageHeader2Component' %>
          <div class="grid-row x3-bottom">
            <div class="grid-col-8 <%= 'margin-x-auto' if @page.narrow? %> heading2_subtopic_title"><%= component.subtopic_title %></div>
            <% if component.subtopic_description.present? %>
              <div class="grid-col-8 <%= 'margin-x-auto' if @page.narrow? %> heading2_subtopic_description x1-top">
                <%= component.subtopic_description %>
              </div>
            <% end %>
          </div>

          <%# Page Header 3 %>
        <% when 'PageHeader3Component' %>
          <div class="<%= page_narrow_classes %>">
            <h3 class="font-sans-lg margin-bottom-2 text-<%= component.alignment.downcase %> "><%= component.title %></h3>
            <% if component.description.present? %>
              <div class="grid-col-8 x1-top">
                <%= component.description %>
              </div>
            <% end %>
          </div>
          <%# Page Header 3 %>
        <% when 'PageHrComponent' %>
          <hr class="flex-fill border border-base-lighter bg-base-lightest section-line margin-top-0 margin-bottom-2 <%= page_narrow_classes %>">
          <%# Accordion %>
        <% when 'PageAccordionComponent' %>
          <div class="<%= page_narrow_classes %>">
            <div class="usa-accordion margin-bottom-3">
              <h2 class="usa-accordion__heading margin-bottom-2">
                <button class="usa-accordion__button font-sans-sm"
                        aria-expanded="false"
                        aria-controls="a<%= component.id %>">
                  <%= component.title %>
                </button>
              </h2>
              <div id="a<%= component.id %>" class="usa-accordion__content usa-prose">
                <% if component.text.present? %>
                  <%= component.text.html_safe %>
                <% end %>
              </div>
            </div>
          </div>

          <%# Image %>
        <% when 'PageImageComponent' %>
          <div class="grid-row x3-bottom <%= get_grid_alignment_css_class(component.alignment.downcase) %> <%= page_narrow_classes %>">
            <img class="width-auto maxh-15rem" src="<%= component.page_image_s3_presigned_url %>" alt="<%= component.page_image_s3_presigned_url %>"/>
          </div>

          <%# Practice List %>
          <%# note: everything EXCEPT Practice List has the page_narrow_classes applied %>
        <% when 'PagePracticeListComponent' %>
          <% practices_ids = component.practices %> <%# array of id strings %>
          <div class="grid-row grid-gap x1-bottom">
            <% practices_ids.each do |pr_id| %>
              <% pr = Practice.find(pr_id.to_i) %>
              <% if pr.present? %>
                <div class="tablet:grid-col-4 flex-column display-flex margin-bottom-28px">
                  <%= render partial: 'practices/favorite_button', locals: {practice: pr, featured: false, col_4: true} %>
                  <%= render partial: 'practices/marketplace_card', locals: {practice: pr, featured: false} %>
                </div>
              <% end %>
            <% end %>
          </div>

          <%# Subpage Hyperlink %>
        <% when 'PageSubpageHyperlinkComponent' %>
          <div class="grid-row x3-bottom grid-col-8 <%= 'margin-x-auto' if @page.narrow? %>">
            <a href="<%= component.url %>" class="width-100 page-subpage-hyperlink">
              <h2 class="font-sans-xl display-inline underline x0-top"><%= component.title %></h2>
              <span class="x0-5-left fas fa-chevron-right fa-icon-125 vertical-align-middle p1-bottom"></span>
            </a>
            <% if component.description.present? %>
              <div class="font-sans-sm x1-top width-100 heading2_subtopic_description">
                <%= component.description %>
              </div>
            <% end %>
          </div>

          <%# YouTube Player %>
        <% when 'PageYouTubePlayerComponent' %>
          <div class="grid-row x3-bottom <%= page_narrow_classes %>">
            <%= youtube_embed(component.url) %>
            <% if component.caption.present? %>
              <div class="font-sans-2xs line-height-135 margin-top-1 width-100 line-height-15px pb-youtube-caption">
                <span class="text-bold">ABOVE:</span> <%= component.caption %>
              </div>
            <% end %>
          </div>

          <%# Downloadable File %>
        <% when 'PageDownloadableFileComponent' %>
          <%
            description = component.description
            display_name = component.display_name
            next_component = @page.page_components.find_by(position: pc.position + 1)
          %>
          <div class="grid-row <%= page_narrow_classes %> <%= next_component != nil && next_component.component_type == pc.component_type ? 'margin-bottom-1' : 'x3-bottom' %> font-sans-sm line-height-162">
            <%= content_tag(:span, description, class: 'margin-right-1') if description != '' %>
            <%= link_to component.attachment_s3_presigned_url, class: 'pb-downloadable-file-link', target: '_blank', download: display_name != '' ? display_name : component.attachment_file_name do %>
              <i class="far fa-file margin-right-1"></i><%= display_name != '' ? display_name : component.attachment_file_name %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
