<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello<%= ' ' + @user_name %>, </p>
    <p>
      <%= @message.html_safe %>
    </p>
    <p>Visit your Innovation(s) at the following link(s) and click "Edit" to begin editing. Please note that only one person can edit the innovation at a time.</p>
    <ul>
      <% @practices.each do |practice| %>
        <li>
          <%= link_to "#{practice[:practice_name]}", practice[:show_url] %>
        </li>
      <% end %>
    </ul>
    <p>
      If you have any questions, issues, or feedback to share with us please send an email to <%= mail_to 'Marketplace@VA.gov ', 'Marketplace@VA.gov ' %>
    </p>
  </body>
  <footer>
    <%= image_tag('dm-footer-logo.png', alt: "Footer Logo") %>
  </footer>
</html>
