<%
  is_editors_or_adoptions =  params[:action] === 'editors' || params[:action] === 'adoptions'
  save_btn_pgs = ['introduction', 'overview', 'contact', 'implementation','about']
  has_save_btn = save_btn_pgs.include?(params[:action])
  save_btn_text = @practice.published ? 'Save and update' : 'Save as draft'
  save_btn_classes = @practice.published ? 'dm-button--success margin-right-0' : 'dm-button--inverse-secondary margin-right-2'
%>
<%= render partial: 'practices/shared/close_modal' unless is_editors_or_adoptions %>
<%= render partial: 'practices/shared/editing_guide_modal' %>

<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended bg-ink" id="dm-practice-editor-header">
    <div class="usa-navbar margin-0">
      <div class="grid-row flex-align-center">
        <div class="usa-logo grid-col-6 margin-0" id="extended-logo">
          <img
            class="width-6 height-6 dm-header--va-seal display-inline-block text-middle"
            src="<%= asset_path( 'va-seal.png' ) %>" alt="Seal of the Department of Veterans Affairs"
          />
          <div class="margin-0 margin-left-1 text-white line-height-sans-1 display-inline-block text-middle">
            <p class="text-bold font-sans-sm desktop-lg:font-sans-lg margin-bottom-1">Diffusion Marketplace</p>
            <p class="font-sans-3xs text-normal desktop-lg:font-sans-sm desktop-lg:text-light">Department of Veterans Affairs</p>
          </div>
        </div>
        <div class="grid-col-6 text-right">
          <% if is_editors_or_adoptions || params[:action] === 'metrics' %>
            <a href="<%= practice_path(@practice) %>" class="dm-button--close-icon bg-ink text-white margin-top-05">
              <span class="usa-sr-only">Close this window</span>
              <i class="fas fa-times"></i>
            </a>
          <% else %>
            <a href="#dm-practice-editor-close-modal" class="dm-button--close-icon bg-ink text-white margin-top-05" aria-controls="dm-practice-editor-close-modal" data-open-modal>
              <span class="usa-sr-only">Close this window</span>
              <i class="fas fa-times"></i>
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav grid-row">
      <div class="grid-col-6">
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <%= link_to 'Metrics', practice_metrics_path(@practice), class: "margin-right-3 margin-y-2px desktop-lg:margin-y-0 usa-nav__link #{'usa-current' if params[:action] === 'metrics' }" %>
          </li>
          <li class="usa-nav__primary-item">
            <a href="#dm-editing-guide-modal" class="margin-right-3 margin-y-2px desktop-lg:margin-y-0 usa-nav__link" aria-controls="dm-editing-guide-modal" data-open-modal>Editing guide</a>
          </li>
          <li class="usa-nav__primary-item">
            <%= link_to 'Edit your innovation', practice_editors_path(@practice), class: "margin-right-3 margin-y-2px desktop-lg:margin-y-0 usa-nav__link #{'usa-current' if NavigationHelper::PRACTICE_EDITOR_PAGES.include?(params[:action]) }" %>
          </li>
        </ul>
      </div>
      <div class="grid-col-6 text-right">
        <% if has_save_btn %>
          <button type="submit" class="usa-button <%= save_btn_classes %>" id="practice-editor-save-button">
            <%= save_btn_text %>
          </button>
        <% end %>
        <% if !@practice.published && save_btn_pgs.include?(params[:action]) %>
          <% if params[:action] == 'adoptions' %>
            <%= link_to 'Save and publish', practice_publication_validation_path(@practice),
                        class: 'usa-button dm-button--success margin-right-0',
                        id: 'publish-practice-button',
                        method: :patch, remote: true %>
          <% else %>
            <%= button_tag 'Save and publish',
                           class: 'usa-button dm-button--success margin-right-0',
                           id: 'publish-practice-button',
                           data: { form_action: "#{practice_publication_validation_path(@practice)}"} %>
          <% end %>
        <% end %>
      </div>
    </nav>
</header>
