<%
  practice ||= @practice
  # an "adoption" is a DiffusionHistoryStatus: if is not nil, we are editing an adoption, otherwise, we are creating
  adoption ||= nil
  status = nil
  submit_button_text = adoption ? 'Update entry' : 'Add entry'

  in_progress = 'in progress'
  planning = 'planning'
  implementing = 'implementing'
  unsuccessful = 'unsuccessful'
  complete = 'complete'
  if adoption
    adoption_status = adoption.status.downcase
    if adoption_status == in_progress || adoption_status == planning || adoption_status == implementing
      status = in_progress
    elsif adoption_status == unsuccessful
      status = unsuccessful
    else
      status = complete
    end
  end
%>
<%= form_with(url: "#{practice_create_or_update_diffusion_history_path(practice)}.js", local: false, html: {id: "adoption_form#{adoption&.diffusion_history&.id}", class: 'adoption-form'}) do |f| %>
  <%= f.hidden_field('diffusion_history_id', value: adoption.diffusion_history.id) if adoption %>
  <%= f.hidden_field('diffusion_history_status_id', value: adoption.id) if adoption %>
  <div class="margin-bottom-3 margin-top-1">

    <p class="margin-bottom-2">
      <span class="margin-right-05 text-middle">Status</span>
      <%= render partial: 'practices/adoption_status_tooltip',
         locals: {
             tooltip_title: 'In-progress: <i>Facilities that have started but not completed adopting the practice</i>.&#10;Successful: <i>Facilities that have met adoption goals and implemented the practice.</i>&#10;Unsuccessful: <i>Facilities that started but stopped working towards adoption.</i>'
         }
      %>
    </p>
    <div class="usa-radio position-relative">
      <%= radio_button(nil, 'status', 'In progress', class: 'usa-radio__input adoptions-radio-button', required: true, checked: status == in_progress ? 'checked' : false, id: "status_in_progress#{adoption&.diffusion_history&.id}") %>
      <label class='usa-radio__label' for='<%= "status_in_progress#{adoption&.diffusion_history&.id}" %>'>In-progress</label>
    </div>
    <div class="usa-radio position-relative">
      <%= radio_button(nil, 'status', 'Completed', class: 'usa-radio__input adoptions-radio-button', required: true, checked: status == complete ? 'checked' : false, id: "status_completed#{adoption&.diffusion_history&.id}") %>
      <label class='usa-radio__label' for='<%= "status_completed#{adoption&.diffusion_history&.id}" %>'>Successful</label>
    </div>
    <div class="usa-radio position-relative">
      <%= radio_button(nil, 'status', 'Unsuccessful', class: 'usa-radio__input adoptions-radio-button', required: true, checked: status == unsuccessful ? 'checked' : false, id: "status_unsuccessful#{adoption&.diffusion_history&.id}") %>
      <label class='usa-radio__label' for='<%= "status_unsuccessful#{adoption&.diffusion_history&.id}" %>'>Unsuccessful</label>
    </div>
  </div>

  <div class="margin-bottom-3">
    <p class="margin-bottom-1">
      <span class="text-bold">Adopting facility:&nbsp;</span>
      Select the state and facility where this practice is being adopted.</p>
    <div class="grid-row grid-gap-4">
      <div>
        <%
          state_select_selector = adoption ? "editor_state_select_#{adoption.id}" : 'editor_state_select'
          facility_select_selector = adoption ? "editor_facility_select_#{adoption.id}" : 'editor_facility_select'
          form_id = "adoption_form#{adoption&.diffusion_history&.id}"
        %>

        <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
            // enable/disable date adoption finished select dropdowns
          var radios = document.querySelectorAll('form[id="<%= form_id %>"] input[type=radio][name="status"]');

          function changeHandler(event) {
            var end_month_el = document.getElementById('date_ended_month<%= adoption&.diffusion_history&.id %>');
            var end_year_el = document.getElementById('date_ended_year<%= adoption&.diffusion_history&.id %>');
            if (this.value === 'In progress') {
              end_month_el.classList.add('dm-color-gray-20');
              end_month_el.disabled = true;
              end_year_el.classList.add('dm-color-gray-20');
              end_year_el.disabled = true;
            } else {
              end_month_el.classList.remove('dm-color-gray-20');
              end_month_el.disabled = false;
              end_year_el.classList.remove('dm-color-gray-20');
              end_year_el.disabled = false;
            }
          }

          Array.prototype.forEach.call(radios, function(radio) {
            radio.addEventListener('change', changeHandler);
          });
        <% end %>
        <% if adoption %>
          <% facility_id = adoption ? adoption.diffusion_history.facility_id : nil %>
          <% unless params[:reload] %>
            <% provide :head_tags do %>
              <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
                // select facility dropdowns
                $(document).on('turbolinks:load', function() {
                  var facility_id = "<%= facility_id %>";
                  var facilitySelector = "<%= facility_select_selector %>";
                  var stateSelector = "<%= state_select_selector %>";
                  getFacilitiesByState(facilityData, facilitySelector, stateSelector);
                  selectFacility(facilityData, facility_id, facilitySelector, stateSelector);
                });
              <% end %>
            <% end %>
          <% end %>
          <% if params[:reload] %>
            <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
              // select facility on reload of data after save
              var facility_id = "<%= facility_id %>";
              var facilitySelector = "<%= facility_select_selector %>";
              var stateSelector = "<%= state_select_selector %>";
              getFacilitiesByState(facilityData, facilitySelector, stateSelector);
              selectFacility(facilityData, facility_id, facilitySelector, stateSelector);
            <% end %>
          <% end %>
        <% else %>
          <% if params[:reload] %>
            <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
              var facilitySelector = "<%= facility_select_selector %>";
              var stateSelector = "<%= state_select_selector %>";
              getFacilitiesByState(facilityData, facilitySelector, stateSelector);
            <% end %>
          <% end %>
        <% end %>
        <%= label_tag state_select_selector, 'State', class: 'usa-label margin-0' %>
        <%= select_tag('', options_for_select(us_states), id: state_select_selector, name: state_select_selector, class: 'width-card-lg height-5 usa-select', required: true) %>
      </div>
      <div class="grid-col-fill">
        <%= label_tag facility_select_selector, 'Facility', class: 'usa-label margin-0' %>
        <%= select_tag(:facility_id, options_for_select([['-Select-', nil, selected: true, disabled: true, class: 'usa-select dm-color-gray-20']]), id: facility_select_selector, class: 'width-full height-5 usa-select', required: true) %>
      </div>
    </div>
  </div>

  <div class="margin-bottom-3">
    <p class="text-bold margin-bottom-1">Date adoption started <span class="text-base">(optional)</span></p>
    <div class="grid-row grid-gap-4">
      <div>
        <%= label_tag "date_started_month#{adoption&.diffusion_history&.id}", 'Month', class: 'usa-label margin-0' %>
        <%= select_month(adoption&.start_time&.present? ? date_get_month(adoption.start_time) : nil, {prompt: '-Select-', prefix: 'date_started'}, {id: "date_started_month#{adoption&.diffusion_history&.id}", class: 'width-card-lg height-5 usa-select'}) %>
      </div>
      <div class="grid-col-fill">
        <%= label_tag "date_started_year#{adoption&.diffusion_history&.id}", 'Year', class: 'usa-label margin-0' %>
        <%= select_year(adoption&.start_time&.present? ? date_get_year(adoption.start_time) : nil, {start_year: 2010, end_year: Date.today.year, prompt: '-Select-', prefix: 'date_started', default: '-Select-'}, {id: "date_started_year#{adoption&.diffusion_history&.id}", class: 'width-full height-5 usa-select'}) %>
      </div>
    </div>
  </div>

  <div class="margin-bottom-205">
    <p class="margin-bottom-1">
      <span class="text-bold">Date adoption finished <span class="text-base">(optional)</span>:&nbsp;</span>
      Successful or unsuccessful adoption must be selected to edit this field.
    </p>
    <div class="grid-row grid-gap-4">
      <% disabled = adoption&.status&.downcase == 'in progress' || adoption.nil? %>
      <div>
        <%= label_tag "date_ended_month#{adoption&.diffusion_history&.id}", 'Month', class: 'usa-label margin-0' %>
        <%= select_month(adoption&.end_time&.present? ? date_get_month(adoption.end_time) : nil, {prompt: '-Select-', prefix: 'date_ended'}, {id: "date_ended_month#{adoption&.diffusion_history&.id}", class: "width-card-lg height-5 usa-select #{disabled ? 'dm-color-gray-20' : ''}", disabled: disabled}) %>
      </div>
      <div class="grid-col-fill">
        <%= label_tag "date_ended_year#{adoption&.diffusion_history&.id}", 'Year', class: 'usa-label margin-0' %>
        <%= select_year(adoption&.end_time&.present? ? date_get_year(adoption.end_time) : nil, {start_year: 2010, end_year: Date.today.year, prompt: '-Select-', prefix: 'date_ended', default: '-Select-'}, {id: "date_ended_year#{adoption&.diffusion_history&.id}", class: "width-full height-5 usa-select #{disabled ? 'dm-color-gray-20' : ''}", disabled: disabled}) %>
      </div>
    </div>
  </div>

  <div>
    <% if adoption %>
      <%= f.button 'Cancel edits', class: 'usa-button--outline dm-btn-primary margin-right-1 padding-2', type: 'button', id: "cancel_edits_#{adoption&.diffusion_history&.id}", 'data-selector': "diffusion_history_#{adoption&.diffusion_history&.id}" %>
    <% else %>
      <%= f.button 'Clear entry', class: 'usa-button--outline dm-btn-primary margin-right-1 padding-2', type: 'button', id: 'clear_entry' %>
    <% end %>
    <button type="button" class="usa-button dm-btn-primary padding-2" id="adoption_form<%= adoption&.diffusion_history&.id %>_submit" data-disable-with="<%= submit_button_text %>" data-form-id="<%= form_id %>"><%= submit_button_text %></button>
    <% if adoption %>
      <%= link_to 'Delete entry', practice_destroy_diffusion_history_path(adoption.diffusion_history.practice, adoption.diffusion_history), method: :delete, class: 'usa-button usa-button--secondary float-right delete-entry-link', data: {confirm: 'Are you sure you want to delete this adoption entry?'} %>
    <% end %>
  </div>
<% end %>