<section class="grid-container x1-5-bottom">
  <div id="breadcrumbs" class="dm-font-color-primary-blue padding-top-2 breadcrumbs dm-font-color-super-violet-ish">
    <a href="/">Home</a>
    <span class="x0-5-left x0-5-right">›</span>

    <% session[:breadcrumbs].each do |b| %>
      <span><%= link_to b['display'] || b[:display], b['path'] || b[:path] %></span>
      <span class="x0-5-left x0-5-right">›</span>
    <% end %>

    <% if params[:action] == 'show' && params[:controller] == 'practices' %>
      <span><%= @practice.name %></span>
    <% end %>

    <% if params[:action] == 'instructions' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Edit</span>
    <% end %>

    <% if params[:action] == 'collaborators' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span><%= link_to 'Edit', practice_instructions_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Collaborators</span>
    <% end %>

    <% if params[:action] == 'overview' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span><%= link_to 'Edit', practice_instructions_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Overview</span>
    <% end %>

    <% if params[:action] == 'impact' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span><%= link_to 'Edit', practice_instructions_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Impact</span>
    <% end %>

    <% if params[:action] == 'documentation' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span><%= link_to 'Edit', practice_instructions_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Documentation</span>
    <% end %>

    <% if params[:action] == 'resources' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span><%= link_to 'Edit', practice_instructions_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Resources</span>
    <% end %>

    <% if params[:action] == 'complexity' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span><%= link_to 'Edit', practice_instructions_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Complexity</span>
    <% end %>

    <% if params[:action] == 'timeline' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span><%= link_to 'Edit', practice_instructions_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Timeline</span>
    <% end %>

    <% if params[:action] == 'risk_and_mitigation' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span><%= link_to 'Edit', practice_instructions_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Risk and mitigation</span>
    <% end %>

    <% if params[:action] == 'contact' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span><%= link_to 'Edit', practice_instructions_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Contact</span>
    <% end %>

    <% if params[:action] == 'checklist' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span><%= link_to 'Edit', practice_instructions_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Checklist</span>
    <% end %>

    <% if params[:action] == 'planning_checklist' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Planning checklist</span>
    <% end %>

    <% if params[:action] == 'committed' && params[:controller] == 'practices' %>
      <span><%= link_to @practice.name, practice_path(@practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span><%= link_to 'Next Steps', practice_planning_checklist_path(practice_id: @practice) %></span>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Confirmation</span>
    <% end %>

  </div>
</section>