
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6">
    <p class="text-bold padding-left-105">Item</p>
  </div>
  <div class="tablet:grid-col-6">
    <p class="text-bold padding-left-105">Level or requirements</p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>Implementation</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p><%= PracticesHelper::COMPLEXITY_LABELS[@practice.difficulty_aggregate - 1] %></p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>Maintenance and sustainability</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p><%= PracticesHelper::COMPLEXITY_LABELS[@practice.sustainability_aggregate - 1] %></p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>Departments required</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p><%= departments_required_display(@practice) %> </p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>IT Involvement</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p><%= @practice.it_required ? 'Yes' : 'No' %></p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>Job titles required</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p><%= @practice.additional_staffs.map(&:title).join(', ') %></p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>Hours per week</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <% hpw =  @practice.additional_staffs.map { |as| as.hours_per_week.to_i }.sum %>
    <p><%= hpw %> hour<%= hpw == 1 ? '' : 's' %> per week</p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>Duration of job</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p><%= duration_of_job_display(@practice) %></p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>New or modified approach</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p><%= @practice.process %></p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>Expected length of implementation</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p><%= @practice.implementation_time_estimate %></p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>Length of training</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p><%= @practice.training_length %></p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>Training provider</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p><%= @practice.training_provider %></p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>Required test</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p><%= @practice.training_test ? 'Yes' : 'No' %></p>
  </div>
</div>
<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p>Required license or certification</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p><%= @practice.need_new_license ? 'Yes' : 'No' %></p>
  </div>
</div>