<div class='dm-sidenav practice-edit-nav sticky' style=''>
  <div style='padding: .5rem 1rem;'
    <p>
      <b>Publishing Options</b></br>
      <span>Last Saved: <%= @practice.updated_at.strftime('%m/%d/%Y') %></span>
    </p>
    <p>
      <span>Last edited by:</span></br>
      <span><i>Username</i> on <%= @practice.updated_at.strftime('%m/%d/%Y') %></span>
    </p>
  </div>
  <div class='nav-divider'></div>

  <!-- Navigational buttons -->
  <ul class='usa-sidenav'>
    <li class='usa-sidenav__item practice-nav'>
      <div class='nav-button scroll-to' data-target='#introduction'>Practice Introduction</a>
    </li>
    <li class='usa-sidenav__item practice-nav'>
      <div class='nav-button scroll-to' data-target='#impact'>Impact</a>
    </li>
    <li class='usa-sidenav__item practice-nav'>
      <div class='nav-button scroll-to' data-target='#origin'>Origin of Practice</a>
    </li>
    <li class='usa-sidenav__item practice-nav'>
      <div class='nav-button scroll-to' data-target='#resources'>Resources Required</a>
    </li>
    <li class='usa-sidenav__item practice-nav'>
      <div class='nav-button scroll-to' data-target='#difficulty'>Difficulty</a>
    </li>
    <li class='usa-sidenav__item practice-nav'>
      <div class='nav-button scroll-to' data-target='#risks'>Risks & Mitigation</a>
    </li>
    <li class='usa-sidenav__item practice-nav'>
      <div class='nav-button scroll-to' data-target='#timeline'>Timeline & Checklist</a>
    </li>
    <li class='usa-sidenav__item practice-nav'>
      <div class='nav-button scroll-to' data-target='#support'>Support Team</a>
    </li>

    <div class='nav-divider'></div>

    <!-- Functional nav buttons --><!--
    <li class='usa-sidenav__item practice-nav'>
      <div class='nav-button'>EDIT SEARCH CRITERIA</a>
    </li>
    <li class='usa-sidenav__item practice-nav'>
      <div class='nav-button'>PREVIEW ON MARKETPLACE</a>
    </li>
    <li class='usa-sidenav__item practice-nav'>
      <div class='nav-button'>SUBMIT FOR APPROVAL</a>
    </li> -->
    <% if @practice.published %>
      <li class='usa-sidenav__item practice-nav'>
        <div class='nav-button'>UN-PUBLISH</a>
      </li>
    <% else %>
      <li class='usa-sidenav__item practice-nav'>
        <div class='nav-button'>PUBLISH</a>
      </li>
    <% end %>
    <% if @practice.published %>
      <% if @practice.highlight && !@practice.featured %>
        <li class='usa-sidenav__item practice-nav'>
          <%= link_to 'REMOVE HIGHLIGHT', un_highlight_practice_path(@practice), method: :post, class: 'nav-button', data: { confirm: 'Are you sure you wish to remove this as the highlighted practice? This may have adverse affects on the landing page.' } %>
        </li>
      <% elsif !@practice.highlight %>
        <li class='usa-sidenav__item practice-nav'>
          <%= link_to 'HIGHLIGHT', highlight_practice_path(@practice), method: :post, class: 'nav-button', data: { confirm: 'Are you sure you wish to highlight this practice? There can only be one highlighted practice.' } %>
        </li>
      <% end %>
      <% if !@practice.highlight && @practice.featured %>
        <li class='usa-sidenav__item practice-nav'>
          <%= link_to 'REMOVE FEATURE', un_feature_practice_path(@practice), method: :post, class: 'nav-button' %>
        </li>
      <% elsif !@practice.highlight && !@practice.featured %>
        <li class='usa-sidenav__item practice-nav'>
          <%= link_to 'FEATURE', feature_practice_path(@practice), method: :post, class: 'nav-button' %>
        </li>
      <% end %>
    <% end %>
    <li class='usa-sidenav__item practice-nav'>
      <div class='nav-button practice-form-submit'>SAVE ALL CHANGES</a>
    </li>
  </ul>
</div>
