
<p>Note: Please do not enter Personally Identifying Information (PII) or Personal Health Information (PHI) for any individuals, veterans, or patients into the Diffusion Marketplace. All research, data, findings, examples, and illustrations should be displayed in a general format that is ready to be shown to the public. Do not include specific data such as name, age, date of birth, social security number, etc.</p>

<%= nested_form_for(@practice, html: { multipart: true, style: 'max-width: 100%', class: 'usa-form'}) do |form| %>
  <% if practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% practice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class='usa-section'>
    <h2 id='introduction'>Practice Introduction</h2>
    <fieldset class='usa-fieldset'>
      <div class="field">
        <%= form.label :tagline, 'Descriptive Title for Practice', class: 'usa-label' %>
        <%= form.text_field :tagline, class: 'usa-input practice-input' %>
      </div>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <div class="field">
        <%= form.label :description, 'Descriptive Tagline', class: 'usa-label' %>
        <%= form.text_field :description, class: 'usa-input practice-input' %>
      </div>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <div class="field">
        <%= form.label :name, 'Official Practice Name', class: 'usa-label' %>
        <%= form.text_field :name, class: 'usa-input practice-input' %>
      </div>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <div class="field">
        <%= form.label :initiating_facility, 'Practice origin location', class: 'usa-label' %>
        <%= form.text_field :initiating_facility, class: 'usa-input practice-input' %>
      </div>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <div class="field">
        <%= form.label :main_display_image, 'Project Image', class: 'usa-label' %>
        <% if @practice.main_display_image.present? %>
          <%= image_tag @practice.main_display_image_s3_presigned_url, alt: "#{@practice.name} main image" %>
          <%#= form.cropbox :main_display_image, index: 0 %>
        <% end %>
        <%= form.file_field :main_display_image, class: 'hidden-upload' %>
        <%= form.label :main_display_image, 'Upload Image', class: 'usa-button usa-button--outline' %>
      </div>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <div class="field">
        <%= form.label :summary, 'Short Practice Summary', class: 'usa-label' %>
        <%= form.text_area :summary, class: 'usa-input practice-input', style: 'height: 10rem;' %>
      </div>
    </fieldset>
  </section>

  <section class='usa-section'>
    <span><h2>Practice Partners</h2> (Mark all that apply)</span>
    <fieldset class='field usa-fieldset'>
      <% PracticePartner.all.each do |partner| %>
        <div class='usa-checkbox'>
          <input type='checkbox' class='usa-checkbox__input' id="practice_partner_<%= partner.id %>" name='practice[practice_partner][<%= partner.id %>][value]' <%= @practice.practice_partners.include?(partner) ? "checked= 'true'" : "" %>>
          <label class='usa-checkbox__label' for="practice_partner_<%= partner.id %>"><%= partner.description %></label>
        </div>
      <% end %>
    </fieldset>
  </section>

  <section class='usa-section'>
    <h2 id='impact'>Impact</h2>

    <fieldset class='usa-fieldset'>
      <p>What is the resulting impact of this practice on veterans and staff's health care experience</p>
      <div class='grid-row'>
        <% (1..4).each do |index| %>
          <div class='grid-col usa-radio'>
            <%= radio_button('practice', 'veteran_satisfaction_aggregate', index.to_s, class: 'usa-radio__input') %>
            <label class='usa-radio__label' for='practice_veteran_satisfaction_aggregate_<%= index %>'><%= Practice::SATISFACTION_LABELS[index-1] %></label>
          </div>
        <% end %>
      </div>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <%= form.label :number_adopted, 'Number of facilities that have successfully implemented the Practice', class: 'usa-label' %>
      <%= form.text_field :number_adopted, class: 'usa-input practice-input' %>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <%= form.label :number_failed, 'Number of facilities that have attempted to implement the Practice and have NOT been successful', class: 'usa-label' %>
      <%= form.text_field :number_failed, class: 'usa-input practice-input' %>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <div style='background-color: white; border-radius: 2rem; padding: 1px 2rem 2rem; margin-top: 2rem;'>
        <h2 style='padding-top: 1.5rem'>Impact Story</h2>
        <%= form.fields_for :impact_photos do |ip| %>
          <%= ip.hidden_field :id %>
          <%= ip.link_to_remove "Remove this impact", class: 'usa-button usa-button--secondary', style: 'color: white; text-decoration: none; float: right' %>

          <% if ip.object.attachment.present? %>
            <%= image_tag ip.object.attachment_s3_presigned_url, alt: "Impact story picture #{ip.index}" %>
            <%#= ip.cropbox :attachment, index: ip.index %>
          <% end %>
          <%= ip.file_field :attachment, class: 'hidden-upload' %>
          <%= ip.label :attachment, 'Upload Image', class: 'usa-button usa-button--outline' %>

          <%= ip.label :title, class: 'usa-label' %>
          <%= ip.text_field :title, class: 'usa-input practice-input' %>
          <%= ip.label :description, class: 'usa-label' %>
          <%= ip.text_area :description, class: 'usa-input practice-input', style: 'height: 10rem' %>
        <% end %>
        <p><%= form.link_to_add "Add another Story", :impact_photos, class: 'usa-button usa-button--outline', style: 'text-decoration: none; right: 0;' %></p>
      </div>
    </fieldset>
  </section>

  <section class='usa-section'>
    <h2 id='origin'>Origin of the Practice</h2>
    <fieldset class='usa-fieldset'>
      <div style='background-color: white; border-radius: 2rem; padding: 1px 2rem 2rem;'>
        <div class="field">
          <%= form.label :origin_picture, 'Portrait Image', class: 'usa-label' %>
          <% if @practice.origin_picture.present? %>
            <%= image_tag @practice.origin_picture_s3_presigned_url, alt: "Practice's origin picture" %>
            <%#= form.cropbox :origin_picture, max_size: [200, 200], index: 0 %>
          <% end %>
          <%= form.file_field :origin_picture, class: 'hidden-upload' %>
          <%= form.label :origin_picture, 'Upload Image', class: 'usa-button usa-button--outline' %>
        </div>

        <div class="field">
          <%= form.label :origin_title, 'Title', class: 'usa-label' %>
          <%= form.text_field :origin_title, class: 'usa-input practice-input' %>
        </div>

        <div class="field">
          <%= form.label :origin_story, 'Content', class: 'usa-label' %>
          <%= form.text_area :origin_story, class: 'usa-input practice-input tall-practice-input' %>
        </div>
      </div>
    </fieldset>
  </section>

  <section class='usa-section'>
    <h2 id='resources'>Resources Required</h2>
    <fieldset class='usa-fieldset'>
      <p>So Implement</p>
      <div class='grid-row'>
        <% (1..4).each do |index| %>
          <div class='grid-col usa-radio'>
            <%= radio_button('practice', 'cost_to_implement_aggregate', index.to_s, class: 'usa-radio__input') %>
            <label class='usa-radio__label' for='practice_cost_to_implement_aggregate_<%= index %>'><%= Practice::COST_LABELS[index-1] %></label>
          </div>
        <% end %>
      </div>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <p>How long does it usually take a group to implement your practice? How long do you expect it to take?</p>
      <% Practice::TIME_ESTIMATE_OPTIONS.each do |label| %>
        <div class='grid-col usa-radio'>
          <%= radio_button('practice', 'implementation_time_estimate', label, class: 'usa-radio__input') %>
          <label class='usa-radio__label' for='practice_implementation_time_estimate_<%= label.split(' ').join('_').tr('()', '').downcase %>'><%= label %></label>
        </div>
      <% end %>
      <%= form.text_field :implementation_time_estimate_description, class: 'usa-input' %>
    </fieldset>


    <div style='background-color: white; border-radius: 2rem; padding: 1px 2rem 2rem; margin-top: 2rem;'>
      <h2>Cost to Implement</h2>
      <fieldset class='usa-fieldset'>
        <div class="field">
          <%= form.label :implentation_summary, 'Summary', class: 'usa-label' %>
          <%= form.text_area :implentation_summary, class: 'usa-input practice-input', style: 'height: 10rem;' %>
        </div>
      </fieldset>
      <fieldset class='usa-fieldset'>
        <div class="field">
          <%= form.label :implementation_fte, 'FTE', class: 'usa-label' %>
          <%= form.text_area :implementation_fte, class: 'usa-input practice-input', style: 'height: 10rem;' %>
        </div>
      </fieldset>


      <h2>Departments </h2>
      <fieldset class='usa-fieldset'>
        <p>Number of Departments required to implement the practice?</p>
        <% Practice::NUMBER_DEPARTMENTS_OPTIONS.each_with_index do |label, i| %>
          <div class='grid-col usa-radio'>
            <%= label.inspect %>
            <%= radio_button('practice', 'number_departments', i + 1, class: 'usa-radio__input') %>
            <label class='usa-radio__label' for='practice_number_departments_<%= i + 1 %>'><%= label %></label>
          </div>
        <% end %>
      </fieldset>

      <fieldset class='field usa-fieldset'>
        <p>Departments affected <span>(Mark all that apply)</span></p>
        <% Department.all.each do |dept| %>
          <div class='usa-checkbox'>
            <input type='checkbox' class='usa-checkbox__input' id="practice_department_<%= dept.id %>" name='practice[practice_department][<%= dept.id %>][value]' <%= @practice.departments.include?(dept) ? "checked= 'true'" : "" %>>
            <label class='usa-checkbox__label' for="practice_department_<%= dept.id %>"><%= dept.name %></label>
          </div>
        <% end %>
      </fieldset>

      <fieldset class='usa-fieldset'>
        <h2>Additional Staff</h2>
        <%= form.fields_for :additional_staffs do |diff| %>
          <%= diff.hidden_field :id %>
          <%= diff.link_to_remove "Remove", class: 'usa-button usa-button--secondary', style: 'color: white; text-decoration: none; float: right' %>
          <%= diff.label :title, 'Title of position', class: 'usa-label', style: 'padding-top: 2.5rem' %>
          <%= diff.text_field :title, class: 'usa-input practice-input' %>
          <%= diff.label :hours_per_week, 'Estimated Required Hours per Week', class: 'usa-label' %>
          <%= diff.text_field :hours_per_week, class: 'usa-input practice-input' %>
          <div class='grid-row' style='align-items:flex-end'>
            <div class='grid-col'>
              <%= diff.label :duration_in_weeks, 'Estimated Duration in Weeks', class: 'usa-label' %>
              <%= diff.text_field :duration_in_weeks, class: 'usa-input practice-input' %>
            </div>
            <p class='grid-col' style='text-align: center;'>Or</p>
            <div class='grid-col'>
              <%= diff.check_box :permanent, class: 'usa-checkbox__input' %>
              <%= diff.label :permanent, 'Permanent', class: 'usa-checkbox__label' %>
            </div>
          </div>

        <% end %>
        <p><%= form.link_to_add "Add Staff Position", :additional_staffs, class: 'usa-button usa-button--outline', style: 'text-decoration: none; right: 0;' %></p>
      </fieldset>

      <fieldset class='usa-fieldset'>
        <h2>Additional Resources and Supplies</h2>
        <%= form.fields_for :additional_resources do |diff| %>
          <%= diff.hidden_field :id %>
          <%= diff.link_to_remove "Remove", class: 'usa-button usa-button--secondary', style: 'color: white; text-decoration: none; float: right' %>
          <%= diff.label :description, class: 'usa-label', style: 'padding-top: 2.5rem' %>
          <%= diff.text_field :description, class: 'usa-input practice-input' %>
        <% end %>
        <p><%= form.link_to_add "Add Resource or Supply", :additional_resources, class: 'usa-button usa-button--outline', style: 'text-decoration: none; right: 0;' %></p>
      </fieldset>

      <fieldset class='usa-fieldset'>
        <h2>Training</h2>
        <%= form.label :training_provider, 'If there is training, please list who provides the training', class: 'usa-label'%>
        <%= form.text_field :training_provider, class: 'usa-input practice-input' %>

        <%= form.label :training_length, 'How long is the training?', class: 'usa-label'%>
        <%= form.text_field :training_length, class: 'usa-input practice-input' %>

        <%= form.label :required_training_summary, 'What is required (such as five videos that are 20 minutes each or attend 2 meetings)?', class: 'usa-label'%>
        <%= form.text_area :required_training_summary, class: 'usa-input practice-input tall-practice-input' %>

        <p>Is there a test involved?</p>
        <div class='grid-row'>
          <div class='grid-col usa-radio'>
            <%= radio_button('practice', 'training_test', 'true', class: 'usa-radio__input') %>
            <label class='usa-radio__label' for='practice_training_test_true'>Yes</label>

            <%= radio_button('practice', 'training_test', 'false', class: 'usa-radio__input') %>
            <label class='usa-radio__label' for='practice_training_test_false'>No</label>
          </div>
        </div>

        <p>Will a new license or certification be required?</p>
        <div class='grid-row'>
          <div class='grid-col usa-radio'>
            <%= radio_button('practice', 'need_new_license', 'true', class: 'usa-radio__input') %>
            <label class='usa-radio__label' for='practice_need_new_license_true'>Yes</label>

            <%= radio_button('practice', 'need_new_license', 'false', class: 'usa-radio__input') %>
            <label class='usa-radio__label' for='practice_need_new_license_false'>No</label>
          </div>
        </div>

        <p>Who is required to take the training?</p>
        <%= form.fields_for :required_staff_trainings do |diff| %>
          <%= diff.hidden_field :id %>
          <%= diff.link_to_remove "Remove", class: 'usa-button usa-button--secondary', style: 'color: white; text-decoration: none; float: right' %>
          <%= diff.label :title, 'Job Title', class: 'usa-label', style: 'padding-top: 2.5rem' %>
          <%= diff.text_field :title, class: 'usa-input practice-input' %>
          <%= diff.label :description, class: 'usa-label' %>
          <%= diff.text_area :description, class: 'usa-input practice-input', style: 'height: 4rem' %>
        <% end %>
        <p><%= form.link_to_add "Add Trainee", :required_staff_trainings, class: 'usa-button usa-button--outline', style: 'text-decoration: none; right: 0;' %></p>
      </fieldset>
    </div>
  </section>

  <section class='usa-section'>
    <h2 id='difficulty'>Difficulty</h2>
    <fieldset class='usa-fieldset'>
      <p>Please provide your best estimate of the Complexity of Implementation of your Practice on a scale of 1 - 4 (Complexity of getting the practice started.)</p>
      <div class='grid-row'>
        <% (1..4).each do |index| %>
          <div class='grid-col usa-radio'>
            <%= radio_button('practice', 'difficulty_aggregate', index.to_s, class: 'usa-radio__input') %>
            <label class='usa-radio__label' for='practice_difficulty_aggregate_<%= index %>'><%= Practice::COMPLEXITY_LABELS[index-1] %></label>
          </div>
        <% end %>
      </div>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <p>Please provide your best estimate of the Complexity of Maintenance and Sustainability of your Practice on a scale of 1 - 4</p>
      <div class='grid-row'>
        <% (1..4).each do |index| %>
          <div class='grid-col usa-radio'>
            <%= radio_button('practice', 'sustainability_aggregate', index.to_s, class: 'usa-radio__input') %>
            <label class='usa-radio__label' for='practice_sustainability_aggregate_<%= index %>'><%= Practice::COMPLEXITY_LABELS[index-1] %></label>
          </div>
        <% end %>
      </div>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <div style='background-color: white; border-radius: 2rem; padding: 1px 2rem 2rem; margin-top: 2rem;'>
        <p style='padding-top: 1.5rem'>In as few words as possible describe some difficulties you may encounter when implementing this practice.</p>
        <%= form.fields_for :difficulties do |diff| %>
          <%= diff.hidden_field :id %>
          <%= diff.link_to_remove "Remove", class: 'usa-button usa-button--secondary', style: 'color: white; text-decoration: none; float: right' %>
          <%= diff.label :description, class: 'usa-label', style: 'padding-top: 2.5rem' %>
          <%= diff.text_field :description, class: 'usa-input practice-input' %>
        <% end %>
        <p><%= form.link_to_add "Add another Difficulty", :difficulties, class: 'usa-button usa-button--outline', style: 'text-decoration: none; right: 0;' %></p>
      </div>
    </fieldset>
  </section>

  <section class='usa-section'>
    <h2 id='new-or-modified-approach'>New or modified approach?</h2>
    <fieldset class='usa-fieldset'>
      <p>Is this practice a New Clinical Approach or New Process? Or is this practice a process change of something already being done? (Choose one of the following.)</p>
      <div class='grid-row'>
        <div class='grid-col usa-radio'>
          <%= radio_button('practice', 'process', 'New clinical approach or new process', class: 'usa-radio__input') %>
          <label class='usa-radio__label' for='practice_process_new_clinical_approach_or_new_process'>New Clinical approach or new process</label>
        </div>
        <div class='grid-col usa-radio'>
          <%= radio_button('practice', 'process', 'Modification of an established process', class: 'usa-radio__input') %>
          <label class='usa-radio__label' for='practice_process_modification_of_an_established_process'>Modification of an established process</label>
        </div>
      </div>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <div style='background-color: white; border-radius: 2rem; padding: 1px 2rem 2rem; margin-top: 2rem;'>
        <p style='padding-top: 1.5rem'>In as few words as possible describe some difficulties you may encounter when implementing this practice.</p>
        <%= form.fields_for :difficulties do |diff| %>
          <%= diff.hidden_field :id %>
          <%= diff.link_to_remove "Remove", class: 'usa-button usa-button--secondary', style: 'color: white; text-decoration: none; float: right' %>
          <%= diff.label :description, class: 'usa-label', style: 'padding-top: 2.5rem' %>
          <%= diff.text_field :description, class: 'usa-input practice-input' %>
        <% end %>
        <p><%= form.link_to_add "Add another Difficulty", :difficulties, class: 'usa-button usa-button--outline', style: 'text-decoration: none; right: 0;' %></p>
      </div>
    </fieldset>
  </section>

  <section class='usa-section'>
    <h2 id='new-or-modified-approach'>IT Required?</h2>
    <fieldset class='usa-fieldset'>
      <p>Is Information Technology (IT) required to implement the practice?</p>
      <div class='grid-row'>
        <div class='grid-col usa-radio'>
          <%= radio_button('practice', 'it_required', true, class: 'usa-radio__input') %>
          <label class='usa-radio__label' for='practice_it_required_true'>Yes</label>
        </div>
        <div class='grid-col usa-radio'>
          <%= radio_button('practice', 'it_required', false, class: 'usa-radio__input') %>
          <label class='usa-radio__label' for='practice_it_required_false'>No</label>
        </div>
      </div>
    </fieldset>

    <fieldset class='usa-fieldset'>
      <div style='background-color: white; border-radius: 2rem; padding: 1px 2rem 2rem; margin-top: 2rem;'>
        <p style='padding-top: 1.5rem'>In as few words as possible describe some difficulties you may encounter when implementing this practice.</p>
        <%= form.fields_for :difficulties do |diff| %>
          <%= diff.hidden_field :id %>
          <%= diff.link_to_remove "Remove", class: 'usa-button usa-button--secondary', style: 'color: white; text-decoration: none; float: right' %>
          <%= diff.label :description, class: 'usa-label', style: 'padding-top: 2.5rem' %>
          <%= diff.text_field :description, class: 'usa-input practice-input' %>
        <% end %>
        <p><%= form.link_to_add "Add another Difficulty", :difficulties, class: 'usa-button usa-button--outline', style: 'text-decoration: none; right: 0;' %></p>
      </div>
    </fieldset>
  </section>

  <section class='usa-section'>
    <h2 id='risks'>Risks & Mitigations</h2>

    <fieldset class='usa-fieldset'>
      <p style='padding-top: 1.5rem'>In as few words as possible describe some risks that must be taken for your practice, and some tactics for mitigating them.</p>
      <%= form.fields_for :risk_mitigations do |rm| %>
        <div style='background-color: white; border-radius: 2rem; padding: 1px 2rem 2rem; margin-top: 2rem;'>
          <%= rm.hidden_field :id %>
          <%= rm.link_to_remove "Remove", class: 'usa-button usa-button--secondary', style: 'color: white; text-decoration: none; float: right' %>
          <p><strong>Risks</strong></p>
          <%= rm.fields_for :risks do |risk| %>
            <%= rm.hidden_field :id %>
            <%= risk.label :description, class: 'usa-label', style: 'margin-top: .5rem' %>
            <%= risk.text_area :description, class: 'usa-input practice-input', style: 'height: 4rem;' %>
          <% end %>
          <p style='margin-top: 2rem;'><strong>Mitigations</strong></p>
          <%= rm.fields_for :mitigations do |miti| %>
            <%= rm.hidden_field :id %>
            <%= miti.label :description, class: 'usa-label', style: 'margin-top: .5rem' %>
            <%= miti.text_area :description, class: 'usa-input practice-input', style:'height: 4rem;' %>
          <% end %>
        </div>
      <% end %>
      <p><%= form.link_to_add "Add another pairing", :risk_mitigations, class: 'usa-button usa-button--outline', style: 'text-decoration: none; right: 0;' %></p>
    </fieldset>
  </section>

  <section class='usa-section'>
    <h2 id='timeline'>Timeline & Toolkit</h2>

    <fieldset class='usa-fieldset'>
      <div style='background-color: white; border-radius: 2rem; padding: 1px 2rem 2rem; margin-top: 2rem;'>
        <!-- <p style='padding-top: 1.5rem'>In as few words as possible describe some difficulties you may encounter when implementing this practice.</p> -->
        <%= form.fields_for :timelines do |tl| %>
          <%= tl.hidden_field :id %>
          <%= tl.link_to_remove "Remove", class: 'usa-button usa-button--secondary', style: 'color: white; text-decoration: none; float: right' %>
          <%= tl.label :timeline, class: 'usa-label', style: 'padding-top: 2.5rem' %>
          <%= tl.text_field :timeline, class: 'usa-input practice-input' %>
          <%= tl.label :milestone, class: 'usa-label', style: 'padding-top: 2.5rem' %>
          <%= tl.text_area :milestone, class: 'usa-input practice-input tall-practice-input' %>
        <% end %>
        <p><%= form.link_to_add "Add another step", :timelines, class: 'usa-button usa-button--outline', style: 'text-decoration: none; right: 0;' %></p>
      </div>
    </fieldset>
  </section>

  <section class='usa-section'>
    <h2 id='support'>Support Team</h2>

    <fieldset class='usa-fieldset'>
      <div style='background-color: white; border-radius: 2rem; padding: 1px 2rem 2rem; margin-top: 2rem;'>
        <%= form.label :support_network_email, class: 'usa-label' %>
        <%= form.text_field :support_network_email, class: 'usa-input practice-input' %>
        <%= form.fields_for :va_employees do |vae| %>
          <%= vae.hidden_field :id %>
          <%= vae.link_to_remove "Remove this team member", class: 'usa-button usa-button--secondary', style: 'color: white; text-decoration: none; float: right' %>
          <h2 style='padding-top: 1.5rem'>Team member</h2>
          <div class='grid-row'>
            <div class='grid-col'>
              <% if vae.object.avatar.present? %>
                <%= image_tag vae.object.attachment_s3_presigned_url, alt: vae.object.name %>
                <%#= vae.cropbox :avatar, width: 200, index: vae.index %>
              <% end %>
              <%= vae.file_field :avatar, class: 'hidden-upload' %>
              <%= vae.label :avatar, 'Upload Image', class: 'usa-button usa-button--outline' %>
            </div>
            <div class='grid-col'>
              <%= vae.label :name, class: 'usa-label' %>
              <%= vae.text_field :name, class: 'usa-input practice-input' %>
              <%= vae.label :role, class: 'usa-label' %>
              <%= vae.text_field :role, class: 'usa-input practice-input' %>
            </div>
        <% end %>
        <p><%= form.link_to_add "Add another Member", :va_employees, class: 'usa-button usa-button--outline', style: 'text-decoration: none; right: 0;' %></p>
      </div>
    </fieldset>
  </section>

<% end %>
