<style>
  .marketplace-card-header-<%= practice.id %> {
  <% if practice.main_display_image.present? %> background: url(<%= practice.main_display_image.url %>);
  <% else %> background: rgba(26, 68, 128, 1);
  <% end %> background-size: cover;
    height: 150px;
  }
</style>
<% if practice.main_display_image.present? %>
  <div class="grid-row margin-bottom-2 marketplace-card-header-<%= practice.id %>"></div>
<% end %>
<div class="grid-row margin-bottom-2">
  <%= link_to practice do %>
    <h3 class="bold display-inline-block x0 font-sans-lg"><%= practice.tagline %></h3>
  <% end %>
</div>
<div class="grid-row margin-bottom-2">
  <p class="margin-top-0 margin-bottom-1"><%= practice.description %></p>
</div>
<div class="grid-row p0">
  <h5 class="flex-1 x0 text-normal"><%= practice.name %>
    <span class="margin-x-05">|</span>
    <span class="uppercase"><%= practice.date_initiated.present? ? date_format(practice.date_initiated) : '(start date unknown)' %></span>
  </h5>
</div>
<div class="grid-row margin-bottom-205">
  <h5 class="flex-1 x0 text-normal">
    <span class="uppercase">
      <%= facility_name(practice.initiating_facility) %>
    </span>
  </h5>
</div>
<div class="grid-row p1-bottom">
  <%= render partial: 'shared/badge', locals: {badges: practice.practice_partners} %>
</div>
<div class="grid-row p1-bottom">
  <p class="margin-0">
    <span class="text-bold font-ui-md"><%= practice.number_adopted.present? ? practice.number_adopted : '0' %></span>
    Facilit<%= practice.number_adopted == 1 ? 'y' : 'ies' %> have adopted this practice</p>
</div>