<div class="radius-sm border-2px border-base-lightest">
  <%
    featured ||= false
    provide(:styles, raw("<style>
    .#{featured ? "featured-" : ''}marketplace-card-header-#{practice.id}  {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      #{featured ? "height: 309px" : "height: 227px"};
      object-fit: cover;
    }
  </style>"))
  %>
  <% if practice.main_display_image.present? %>
    <%= link_to practice, 'aria-label': "Go to #{practice.name}", 'tabindex': '-1', 'aria-hidden': 'true' do %>
      <img class="img grid-row <%= featured ? "featured-" : '' %>marketplace-card-header-<%= practice.id %> radius-top-sm" src="<%= practice.main_display_image_s3_presigned_url %>">
    <% end %>
  <% else %>
    <div class="bg-base-lightest" style="<%= featured ? 'height: 309px' : 'height: 227px' %>">
      <i class="fas fa-images fa-3x text-base-lighter <%= featured ? 'tall' : '' %>"></i>
    </div>
  <% end %>

  <div class="padding-2 height-card-mobile">
    <%= link_to practice, class: 'multiline-ellipses-2 margin-bottom-1' do %>
      <h4 class="grid-col-auto bold font-sans-md practice-title">
        <%= practice.name %>
      </h4>
    <% end %>
    <div style="height: 5px"></div>
    <div class="grid-row margin-bottom-1">
      <p class="margin-top-0 margin-bottom-1 multiline-ellipses-1 line-height-sans-6 font-sans-sm"><%= practice.tagline %></p>
    </div>
    <div class="grid-row p0 flex-align-end">
      <span class="font-sans-3xs multiline-ellipses-3">
        Created in <%= practice.date_initiated.present? ? date_format(practice.date_initiated) : '(start date unknown)' %> by the <%= facility_name(practice.initiating_facility) %>
      </span>
    </div>
  </div>
</div>

