<% 
  noList ||= false
  refenceId = label.gsub(/\s+/, "").downcase
%>

<div id="<%= refenceId %>-capabilities" class="margin-bottom-3">
  <div class="usa-checkbox">
    <input class="usa-checkbox__input" id="<%= refenceId %>" type="checkbox" name="checklist" value="<%= refenceId %>">
    <label class="usa-checkbox__label margin-bottom-1" for="<%= refenceId %>"><span class="fw-bold"><%= label %>:</span></label>
    <% unless noList %>
      <ul class="margin-top-0 padding-left-6">
        <%= yield %>
      </ul>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</div>