<div class="grid-container position-relative z-top">
    <div id="dm-practice-nav" class="z-top mobile-hide">
        <ul id="dm-tabnav" class="usa-sidenav dm-tabnav">
            <li class="usa-sidenav__item">
                <%= link_to practice_instructions_path(@practice), class: 'dm-tab top-tab editor-sidenav-link scroll-to sidenav-instructions-link' do%>
                  Instructions
                <% end %>
            </li>
          <li class="usa-sidenav__item">
            <%= link_to practice_introduction_path(@practice), class: 'width-full dm-tab practice-editor-link text-middle display-inline-block editor-sidenav-link scroll-to sidenav-introduction-link' do %>
              Introduction 
            <% end %>
          </li>
            <li class="usa-sidenav__item">
                <%= link_to practice_overview_path(@practice), class: 'width-full dm-tab practice-editor-link text-middle display-inline-block editor-sidenav-link scroll-to sidenav-overview-link' do %>
                    Overview
                <% end %>
            </li>
            <li class="usa-sidenav__item">
                <%= link_to practice_contact_path(@practice), class: 'width-full dm-tab practice-editor-link text-middle display-inline-block editor-sidenav-link scroll-to sidenav-contact-link' do %>
                    Contact
                <% end %>
            </li>
            <li class="usa-sidenav__item">
                <%= link_to practice_implementation_path(@practice), class: 'width-full dm-tab practice-editor-link text-middle display-inline-block editor-sidenav-link scroll-to sidenav-checklist-link' do %>
                    Implementation
                <% end %>
            </li>
        </ul>
        <% if params[:action] != 'instructions' && params[:action] != 'adoptions' %>
          <div class="text-center">
            <%= button_tag 'Save your progress', class: 'usa-button usa-button--outline width-full padding-y-2 margin-top-1', id: 'practice-editor-save-button' %>
          </div>
        <% end %>
        <% if !@practice.published && params[:action] != 'instructions' %>
          <div class="text-center">
            <% if params[:action] == 'adoptions' %>
                <%= link_to 'Publish practice', practice_publication_validation_path(@practice), class: 'usa-button width-full padding-y-2 margin-top-1', id: 'publish-practice-button', method: :patch, remote: true %>
            <% else %>
                <%= button_tag 'Publish practice', class: 'usa-button width-full padding-y-2 margin-top-1', id: 'publish-practice-button', data: { form_action: "#{practice_publication_validation_path(@practice)}.js"}%>
            <% end %>
          </div>
        <% end %>
    </div>
</div>