<div class="grid-container position-relative z-top">
  <div id="dm-practice-nav" class="z-top mobile-hide">
    <section>
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          <%= link_to 'Metrics', innovation_metrics_path(@practice), class: "#{'usa-current' if current_page?(innovation_metrics_path(@practice))} width-full" %>
        </li>
        <li class="usa-sidenav__item">
          <%= link_to 'Editing guide', innovation_instructions_path(@practice), class: "#{'usa-current' if current_page?( innovation_instructions_path(@practice))} width-full" %>
        </li>
        <li class="usa-sidenav__item">
          <%= link_to "Edit: #{@practice.name}", innovation_introduction_path(@practice), class: "#{'usa-current' if !current_page?(innovation_instructions_path(@practice)) && !current_page?(innovation_metrics_path(@practice))}" %>
          <ul class="usa-sidenav__sublist <%= params[:controller] == 'practices' && params[:action] == 'instructions' || params[:controller] == 'practices' && params[:action] == 'metrics' ? 'side-nav-hide' : '' %>">
            <li class="usa-sidenav__item">
              <%= link_to 'Editors', innovation_editors_path(@practice), class: "#{'usa-current' if current_page?(innovation_editors_path(@practice))}" %>
            </li>
            <li class="usa-sidenav__item">
              <%= link_to 'Introduction', innovation_introduction_path(@practice), class: "#{'usa-current' if current_page?( innovation_introduction_path(@practice))}" %>
            </li>
            <li class="usa-sidenav__item">
              <%= link_to 'Adoptions', innovation_adoptions_path(@practice), class: "#{'usa-current' if current_page?( innovation_adoptions_path(@practice))} width-full" %>
            </li>
            <li class="usa-sidenav__item">
              <%= link_to 'Overview', innovation_overview_path(@practice), class: "#{'usa-current' if current_page?( innovation_overview_path(@practice))} width-full" %>
            </li>
            <li class="usa-sidenav__item">
              <%= link_to 'Implementation', innovation_implementation_path(@practice), class: "#{'usa-current' if current_page?( innovation_implementation_path(@practice))} width-full" %>
            </li>
            <li class="usa-sidenav__item">
              <%= link_to 'Contact', innovation_contact_path(@practice), class: "#{'usa-current' if current_page?( innovation_contact_path(@practice))} width-full" %>
            </li>
            <li class="usa-sidenav__item">
              <%= link_to 'About', innovation_about_path(@practice), class: "#{'usa-current' if current_page?( innovation_about_path(@practice))} width-full" %>
            </li>
            <% if params[:action] != 'instructions' && params[:action] != 'adoptions' && params[:action] != 'metrics' %>
              <li>
                <div class="text-center">
                  <%= button_tag 'Save', class: 'dm-button--outline-secondary width-full', id: 'practice-editor-save-button' %>
                </div>
              </li>
            <% end %>
            <% if !@practice.published && params[:action] != 'instructions' && params[:action] != 'metrics' %>
              <li>
                <div class="text-center">
                  <% if params[:action] == 'adoptions' %>
                    <%= link_to 'Publish innovation', practice_publication_validation_path(@practice), class: 'usa-button width-full margin-top-2', id: 'publish-practice-button', method: :patch, remote: true %>
                  <% else %>
                    <%= button_tag 'Publish innovation', class: 'usa-button width-full margin-top-2', id: 'publish-practice-button', data: { form_action: "#{practice_publication_validation_path(@practice)}.js"}%>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </section>
  </div>
</div>