<div class="grid-container-full margin-bottom-7">
  <div class="grid-row flex-align-center margin-bottom-4">
    <h2 id="resources_required" class="font-sans-xl text-bold margin-0 flex-auto margin-right-205 nav-header">Resources</h2>
    <hr class="flex-fill height-2px border border-base-lightest bg-base-lightest section-line">
  </div>
  <div class="grid-row grid-gap flex-align-center resources-section practice-section">
    <div class="flex-align-center cost-to-implement-container <%= level_aggregate_style(@practice.cost_to_implement_aggregate) %>">
      <div id="cost-aggregate">
        <% cost_to_implement_aggregate = @practice.cost_to_implement_aggregate || 0 %>
        <% (0..3).each do |index| %>
          <% if index < cost_to_implement_aggregate %>
            <%= image_tag 'dollar_dark.svg', alt: "Dollar dark #{index + 1}", class: 'height-205' %>
          <% else %>
            <%= image_tag 'dollar_light.svg', alt: "Dollar light #{index + 1}", class: 'height-205' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="tablet:grid-col-fill">
      <div class="margin-0 font-sans-xs-2 line-height-sans-505">
        Cost:
        <span class="sr-only">
          <%= pluralize(cost_to_implement_aggregate, 'dollar')%>
          out of four.
        </span>
        <span class="font-sans-xs-2 line-height-sans-505"><%= cost_aggregate_description(@practice.cost_to_implement_aggregate) %></span>
      </div>
    </div>
  </div>
</div>


<div class="grid-container-full margin-bottom-105">
  <div class="grid-row flex-align-center margin-bottom-4">
    <h2 id="departments" class="font-sans-xl text-bold margin-0 flex-auto margin-right-205 nav-header">Departments</h2>
    <hr class="flex-fill height-2px border border-base-lightest bg-base-lightest section-line">
  </div>
</div>
