<% provide :head_tags do %>
  <%= javascript_include_tag 'practice_page', 'data-turbolinks-track': 'reload' %>
<% end %>

<!-- "Practice nav" section -->
<!-- Impact Origin Resources Required Complexity Timeline Risks & Mitigation Support Team -->
<div class="grid-container position-relative z-top">
  <div id="dm-practice-nav" class="z-top mobile-hide">
    <ul id="dm-tabnav" class="usa-sidenav dm-tabnav margin-bottom-1 show-page-sidenav">
      <li class="usa-sidenav__item">
        <a href="#overview" class="dm-tab top-tab scroll-to sidebar-overview" data-target="#overview" data-turbolinks="false">Overview</a>
      </li>
      <% unless !@practice.origin_story || !@practice.origin_title %>
        <li class="usa-sidenav__item">
          <a href="#origin" class="dm-tab scroll-to sidebar-origin" data-target="#origin" data-turbolinks="false">Origin</a>
        </li>
      <% end %>
      <% if @practice.impact_photos.any? || @practice.video_files.any? || (@practice.diffusion_histories.any? && ENV['GOOGLE_API_KEY']) %>
        <li class="usa-sidenav__item">
          <a href="#impact" class="dm-tab scroll-to sidebar-impact" data-target="#impact" data-turbolinks="false">Impact</a>
        </li>
      <% end %>
      <% if @practice.cost_to_implement_aggregate.present? %>
        <li class="usa-sidenav__item">
          <a href="#resources_required" class="dm-tab scroll-to sidebar-resources_required" data-target="#resources_required" data-turbolinks="false">Resources</a>
        </li>
      <% end %>
      <% if @practice.departments.any? %>
        <li class="usa-sidenav__item">
          <a href="#departments" class="dm-tab scroll-to sidebar-departments" data-target="#departments" data-turbolinks="false">Departments</a>
        </li>
      <% end %>
      <% unless @practice.timelines.blank? %>
        <li class="usa-sidenav__item">
          <a href="#timeline_and_checklist" class="dm-tab scroll-to sidebar-timeline_and_checklist" data-target="#timeline_and_checklist" data-turbolinks="false">Timeline</a>
        </li>
      <% end %>
      <% if @practice.risk_mitigations.any? %>
        <li class="usa-sidenav__item">
          <a href="#risk_and_mitigation" class="dm-tab scroll-to sidebar-risk_and_mitigation " data-target="#risk_and_mitigation" data-turbolinks="false">Risk
            and
            mitigation</a>
        </li>
      <% end %>
      <% if @practice.va_employees.any? || @practice.support_network_email.present? %>
        <li class="usa-sidenav__item">
          <a href="#contact" class="dm-tab bottom-tab scroll-to sidebar-contact" data-target="#contact" data-turbolinks="false">Contact</a>
        </li>
      <% end %>
      <li class="usa-sidenav__item">
        <a href="#comments" class="dm-tab bottom-tab scroll-to sidebar-comments" data-target="#comments" data-turbolinks="false">Comments</a>
      </li>
    </ul>
    <div class="text-center">
      <%= link_to 'See adoption checklist', practice_planning_checklist_url(practice_id: @practice.slug), id: 'next-steps-link-in-nav', class: 'usa-button width-full p1' %>
    </div>
  </div>
</div>
<div class="practice-mobile-nav padding-1 z-top desktop:display-none display-flex justify-center">
  <%= link_to 'See adoption checklist', practice_planning_checklist_url(practice_id: @practice.slug), id: 'next-steps-link-in-mobile-nav', class: 'usa-button' %>
</div>

<section class="usa-section p2-top p2-bottom">
  <div class="grid-container position-relative">
    <% if @practice.user_id == current_user.id || current_user.roles.any? %>
      <div class="text-right position-absolute edit-practice-link">
        <%= link_to 'Edit', practice_instructions_path(@practice), class: 'usa-button usa-button--outline margin-right-0' %>
      </div>
    <% end %>
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

      <div id="practice_show" class="desktop:grid-col-6 grid-col-12 p0 overview-section practice-section">
        <%= render partial: "shared/messages", locals: {small_text: false} %>
        <% unless @practice.published && @practice.approved %>
          <div class="usa-alert usa-alert--warning">
            <div class="usa-alert__body">
              <h3 class="usa-alert__heading">This practice will not be shown in the marketplace because it is:</h3>
              <% unless @practice.published %>
                <div class="badge-container un-published-practice">
                  Not Published
                </div>
              <% end %>
              <% unless @practice.approved %>
                <div class="badge-container un-approved-practice">
                  Not Approved
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="bg-white<%#padding-5%>">
          <h1 id="overview" class="font-sans-2xl x0-top margin-bottom-2 font-family-sans text-heavy word-break-break-word hyphens-auto line-height-sans-205 nav-header">
            <%= @practice.name %>
          </h1>
          <% if current_user %>
            <div class="margin-bottom-2">
              <a href="<%= practice_favorite_path(@practice, format: :js) %>" data-method="post" data-remote="true" rel="nofollow" aria-label="Favorite <%= @practice.name %>" tabindex="-1" aria-hidden="true" class="favorite-practice-link text-no-underline margin-right-3 font-sans-xs-2 line-height-sans-505">
                <i class="
                  <% if current_user.favorite_practice_ids.include?(@practice.id) %>fas text-secondary
                  <% else %>far dm-font-color-blue-50v
                  <% end %> fa-heart favorite-icon-<%= @practice.id %> text-no-underline padding-right-105
                  ">
                </i>
                <span class="dm-font-color-blue-50v text-no-underline favorite-practice-link-text"><% if current_user.favorite_practice_ids.include?(@practice.id) %>Remove from your favorites<% else %>Add to your favorites<% end %></span>
              </a>
              <a target="_blank" aria-label="Share <%= @practice.name %>" tabindex="-1" aria-hidden="true" href="mailto:?subject=<%= email_practice_subject(@practice) %>&body=<%= email_practice_body(@practice) %>" class="text-no-underline font-sans-xs-2 line-height-sans-505">
                <span class="text-no-underline dm-font-color-blue-50v"><i class="fas fa-external-link-alt padding-right-105"></i>Share link</span>
              </a>
            </div>
          <% end %>
          <p class="font-sans-lg line-height-sans-5 margin-bottom-4"><%= @practice.tagline %></p>
        </div>
        <div <%#class="tablet:grid-col-7 padding-x-1"%>>
          <p class="practice-summary margin-0 font-sans-xs-2 line-height-sans-505 word-break-break-word hyphens-auto">
            <%= safe_join(raw(@practice.summary).split("\r\n"), tag(:br)) %>
          </p>
        </div>
      </div>
      <div class="desktop:grid-col-3 grid-col-auto z-bottom margin-top-8">
        <div class="height-auto padding-2 bg-base-lightest radius-md">
          <h4 class="margin-top-0 margin-bottom-1">Origin</h4>
          <p class="font-sans-xs-2 line-height-sans-505 margin-bottom-3">
            Created <%= origin_display(@practice) %>
            <span><%= @practice.date_initiated.present? ? "in #{date_format(@practice.date_initiated)}" : 'in (start date unknown)' %></span>
          </p>
          <% if @practice.practice_partners.any? && @practice.practice_partners.find_by(name: 'None of the above, or Unsure').nil? %>
            <h4 class="margin-top-0 margin-bottom-1">Sponsors</h4>
            <div class="<%= @practice.number_adopted.present? ? 'margin-bottom-3' : '' %>">
              <% @practice.practice_partners.each_with_index do |partner, index| %>
                <p class="font-sans-xs-2 line-height-sans-505">
                  <%= partner.name %><%= "," if @practice.practice_partners.size != index + 1 && @practice.practice_partners.size > 2 %>
                  <% concat ('and') if index == @practice.practice_partners.size - 2 && @practice.practice_partners.size >= 2 %>
                </p>
              <% end %>
            </div>
          <% else %>
            <div class="hidden"></div>
          <% end %>

          <% if @practice.number_adopted.present? %>
            <div>
              <h4 class="margin-top-0 margin-bottom-1">Adoptions</h4>
              <%# <p><%= @practice.number_failed %> <%#unsuccessful</p> %>
              <p class="margin-0 font-sans-xs-2 line-height-sans-505">
                <% number_adopted = @practice.diffusion_histories.joins(:diffusion_history_statuses).where.not(diffusion_history_statuses: {status: 'Unsuccessful'}).count %>
                <span><%= number_adopted > 0 ? number_adopted : @practice.number_adopted %></span>
                facilit<%= number_adopted == 1 ? 'y has' : 'ies have' %> adopted this practice</p>
            </div>
          <% else %>
            <div class="hidden"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%#<div class="dm-background-triangle-bottom "></div>%>

<!-- "Origin of this Practice" section -->
<% unless !@practice.origin_story || !@practice.origin_title %>
  <section class="padding-bottom-2 margin-bottom-5">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
        <div class="desktop:grid-col-9 grid-col-12 p0">
          <div class="origin-section practice-section">
            <%= render partial: 'origin' %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- "Practice content" section -->
<!-- "Impact" section -->
<% if @practice.impact_photos.any? || @practice.video_files.any? || (@practice.diffusion_histories.any? && ENV['GOOGLE_API_KEY']) %>
  <section>
    <div class="grid-container position-relative">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

        <div class="desktop:grid-col-9 grid-col-12 p0">
          <div class="margin-bottom-3 impact-section practice-section">
            <div class="grid-row flex-align-center">
              <h2 id="impact" class="font-sans-xl text-bold margin-0 flex-auto margin-right-205 nav-header">Impact</h2>
              <hr class="flex-fill height-2px border border-base-lightest bg-base-lightest section-line">
            </div>
            <% if @practice.diffusion_histories.any? %>
              <%= render partial: 'diffusion_map' %>
            <% end %>
            <% if @practice.impact_photos.any? %>
              <%= render partial: 'impact' %>
            <% end %>
            <% if @practice.video_files.any? %>
              <%= render partial: 'videos' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- "Documentation" section -->
<% if @practice.additional_documents.any? || @practice.publications.any? %>
  <section class="margin-bottom-4">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
        <div class="desktop:grid-col-9 grid-col-12 p0">
          <div class="grid-row flex-align-center margin-bottom-30px">
            <h2 class="font-sans-xl text-bold margin-y-0 flex-auto margin-right-205">Documentation</h2>
            <hr class="flex-fill height-2px border border-base-lightest bg-base-lightest section-line">
          </div>
          <% if @practice.additional_documents.any? %>
            <h3 class="font-sans-lg margin-top-0 margin-bottom-1">Downloads</h3>
            <div>
              <%= render partial: 'additional_documents' %>
            </div>
          <% else %>
            <div class="hidden"></div>
          <% end %>

          <% if @practice.publications.any? %>
            <h3 class="font-sans-lg margin-top-0 margin-bottom-1">Links</h3>
            <div>
              <%= render partial: 'publications' %>
            </div>
          <% else %>
            <div class="hidden"></div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>
<!-- "Resources Required" section -->
<section>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
      <div class="desktop:grid-col-9 grid-col-12 p0">
        <div>
          <%= render partial: 'resources_required' %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- "Departments" section -->
<% if @practice.departments.any? %>
  <section class="margin-bottom-7">
    <div>
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
          <div class="desktop:grid-col-9 grid-col-12 p0">
            <div class="departments-section practice-section">
              <%= render partial: 'departments' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- "Timeline and Checklist" section -->
<% if @practice.timelines.any? %>
  <section class="timeline-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
        <div class="desktop:grid-col-9 grid-col-12 p0">
          <div class="timeline-section practice-section">
            <%= render partial: 'timeline_and_checklist' %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- "Risks & Mitigations" section -->
<% if @practice.risk_mitigations.any? %>
  <section class="margin-bottom-7">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
        <div class="desktop:grid-col-9 grid-col-12 p0">
          <div class="risk-miti-section practice-section">
            <%= render partial: 'risks_and_mitigations' %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- "Support Team" || "Contact" section -->
<% if @practice.va_employees.any? || @practice.support_network_email.present? %>
  <section class="margin-bottom-7">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
        <div class="desktop:grid-col-9 grid-col-12 p0">
          <div class="contact-section practice-section">
            <%= render partial: 'support_team' %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
