<section class="usa-section p2-top p2-bottom">
  <div class="grid-container position-relative padding-x-9">
    <div class="grid-row padding-x-9">
      <div id="overview" class="grid-col-12">
        <%= render "shared/messages" %>

        <div class="bg-white">

          <%# <% if @practice.tagline.present? %>
            <h1 class="font-sans-3xl x0-top margin-bottom-2 font-family-sans text-heavy word-break-break-word hyphens-auto">
              <%# <%= @practice.tagline %>
              <%= @practice.name %>
            </h1>
            <div class="margin-bottom-2">
              <span class="font-sans-xs"><i class="fas fa-external-link-alt margin-right-105"></i>Share link</span>
            </div>
          <%# <% end %>
          <p class="font-sans-xl line-height-sans-5"><%= @practice.description %></p>

          <%#<div class="grid-row margin-bottom-2">
            <h2 class="flex-1 x0 fs-h5 text-normal"><%= @practice.name %>
          <%#    <span class="margin-x-05">|</span>
              <span class="uppercase"><%= @practice.date_initiated.present? ? date_format(@practice.date_initiated) : '(start date unknown)' %></span>
          <%#    <span class="margin-x-05">|</span>
              <span class="uppercase">
            <%= @facility_data.present? ? @facility_data['properties']['name'] : @practice.initiating_facility %>
          <%#</span>
            </h2>

          </div>%>
          <%#<div class="grid-row">
            <div class="grid-auto margin-right-2 display-flex-align-items-center">
              <%= render partial: 'shared/badge', locals: {badges: @practice.practice_partners} %>
          <%#  </div>
            <div class="grid-auto">
              <p class="margin-0">
                <span class="text-bold font-ui-md"><%= @practice.number_adopted.present? ? @practice.number_adopted : '0' %></span>
          <%#      Facilit<%= @practice.number_adopted == 1 ? 'y' : 'ies' %> <%#have adopted this practice</p>
            </div>%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="usa-section padding-0">
  <div class="grid-container position-relative padding-x-9">
    <div class="grid-row padding-x-9">
      <div class="grid-col-12">
        <div class="grid-row">
          <%#<div class="tablet:grid-col-5 padding-x-1 padding-top-1">
            <% if @practice.main_display_image.present? %>
              <%#= image_tag @practice.main_display_image.url(:thumb), alt: "#{@practice.name} display image" %>
          <%#    <%= image_tag @practice.main_display_image_s3_presigned_url(:thumb), alt: "#{@practice.name} display image" %>
          <%#  <% end %>
          <%#</div>%>
          <div <%#class="tablet:grid-col-7 padding-x-1"%>>
            <p class="practice-summary margin-0 font-ui-md"><%= @practice.summary %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center padding-top-6 margin-bottom-6">
    <%= link_to 'Login to see full practice', new_user_session_path, id: 'practice-page-login-link', class: 'dm-button-link display-inline-block font-sans-md line-height-sans-2' %>
  </div>
  <div class="grid-container margin-bottom-105">
    <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
  </div>
</section>
<%# <div class="dm-background-triangle-bottom "></div> %>