<!-- "Practice nav" section -->
<!-- Impact Origin Resources Required Complexity Timeline Risks & Mitigation Support Team -->
<div class="grid-container position-relative z-top">
  <div id="dm-practice-nav" class="z-top mobile-hide">
    <ul id="dm-tabnav" class="usa-sidenav dm-tabnav margin-bottom-1">
      <li class="usa-sidenav__item">
        <a href="#overview" class="dm-tab top-tab scroll-to" data-target="#overview" data-turbolinks="false">Overview</a>
      </li>
      <% if @practice.impact_photos.any? || @practice.video_files.any? || @practice.additional_documents.any? || @practice.publication_files.any? || @practice.publications.any? %>
        <li class="usa-sidenav__item">
          <a href="#impact" class="dm-tab scroll-to" data-target="#impact" data-turbolinks="false">Impact</a>
        </li>
      <% end %>
      <% unless !@practice.origin_story || !@practice.origin_title %>
        <li class="usa-sidenav__item">
          <a href="#origin" class="dm-tab scroll-to" data-target="#origin" data-turbolinks="false">Origin</a>
        </li>
      <% end %>
      <li class="usa-sidenav__item">
        <a href="#resources_required" class="dm-tab scroll-to" data-target="#resources_required" data-turbolinks="false">Resources</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="#complexity" class="dm-tab scroll-to" data-target="#complexity" data-turbolinks="false">Complexity</a>
      </li>
      <% unless @practice.timelines.blank? %>
        <li class="usa-sidenav__item">
          <a href="#timeline_and_checklist" class="dm-tab scroll-to" data-target="#timeline_and_checklist" data-turbolinks="false">Timeline</a>
        </li>
      <% end %>
      <li class="usa-sidenav__item">
        <a href="#risk_and_mitigation" class="dm-tab scroll-to" data-target="#risk_and_mitigation" data-turbolinks="false">Risk
          and
          mitigation</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="#contact" class="dm-tab bottom-tab scroll-to" data-target="#contact" data-turbolinks="false">Contact</a>
      </li>
    </ul>
    <div class="text-center">
      <a target="_blank"
         href="mailto:?subject=<%= email_practice_subject(@practice) %>&body=<%= email_practice_body(@practice) %>" class="usa-button usa-button--outline width-full margin-bottom-1">
        Share summary
      </a>
      <%= link_to 'Take the next step', practice_next_steps_url(practice_id: @practice.slug), id: 'next-steps-link-in-nav', class: 'usa-button width-full' %>
    </div>
  </div>
</div>
<div class="practice-mobile-nav padding-1 z-top desktop:display-none display-flex justify-center">
  <%= link_to 'Take the next step', practice_next_steps_url(practice_id: @practice.slug), id: 'next-steps-link-in-mobile-nav', class: 'usa-button' %>
</div>

<section class="usa-section p2-top p2-bottom">
  <div class="grid-container position-relative">
    <div class="grid-row">
      <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

      <div id="overview" class="desktop:grid-col-9 grid-col-12 p0 p1-5-right">
        <%= render "shared/messages" %>
        <% if current_user&.has_role?(:approver_editor) || current_user&.has_role?(:admin) %>
          <div class="right">
            <%= link_to 'Edit', edit_practice_path(@practice), class: 'usa-button usa-button--outline' %>
          </div>
        <% end %>
        <% unless @practice.published && @practice.approved %>
          <div class="usa-alert usa-alert--warning">
            <div class="usa-alert__body">
              <h3 class="usa-alert__heading">This practice will not be shown in the marketplace because it is:</h3>
              <% unless @practice.published %>
                <div class="badge-container un-published-practice">
                  Not Published
                </div>
              <% end %>
              <% unless @practice.approved %>
                <div class="badge-container un-approved-practice">
                  Not Approved
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="bg-white<%#padding-5%>">

          <%#<% if @practice.tagline.present? %>
            <h1 class="font-sans-3xl x0-top margin-bottom-2 font-family-sans text-heavy word-break-break-word hyphens-auto">
              <%= @practice.name %>
            </h1>
          <%#<% end %>
          <div class="margin-bottom-2">
            <span class="margin-right-3 font-sans-xs"><i class="far fa-heart margin-right-105"></i> Add to your favorites</span><span class="font-sans-xs"><i class="fas fa-external-link-alt margin-right-105"></i>Share link</span>
          </div>
          <p class="font-sans-xl"><%= @practice.description %></p>

          <%#<div class="grid-row margin-bottom-2">
            <h2 class="flex-1 x0 fs-h5 text-normal"><%= @practice.name %>
          <%#    <span class="margin-x-05">|</span>
              <span class="uppercase"><%= @practice.date_initiated.present? ? date_format(@practice.date_initiated) : '(start date unknown)' %></span>
          <%#    <span class="margin-x-05">|</span>
              <span class="uppercase">
            <%= @facility_data.present? ? @facility_data['properties']['name'] : @practice.initiating_facility %>
          <%#</span>
            </h2>

          </div>%>
          <%#<div class="grid-row">
            <div class="grid-auto margin-right-2 display-flex-align-items-center">
              <%= render partial: 'shared/badge', locals: {badges: @practice.practice_partners} %>
          <%#  </div>
            <div class="grid-auto">
              <p class="margin-0">
                <span class="text-bold font-ui-md"><%= @practice.number_adopted.present? ? @practice.number_adopted : '0' %><%#</span>
                Facilit<%= @practice.number_adopted == 1 ? 'y' : 'ies' %><%# have adopted this practice</p>
            </div>
          </div>%>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="usa-section padding-0 margin-bottom-7">
  <div class="grid-container position-relative">
    <div class="grid-row">
      <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

      <div class="desktop:grid-col-9 grid-col-12 p0 p1-5-right">
        <div class="grid-row">
        <%#  <div class="tablet:grid-col-5 padding-x-1 padding-top-1">
            <% if @practice.main_display_image.present? %>
              <%#= image_tag @practice.main_display_image.url(:thumb), alt: "#{@practice.name} display image" %>
        <%#      <%= image_tag @practice.main_display_image_s3_presigned_url(:thumb), alt: "#{@practice.name} display image" %>
        <%#    <% end %>
        <%#  </div>%>
          <div <%#class="tablet:grid-col-7 padding-x-1"%>>
            <p class="practice-summary margin-0"><%= @practice.summary %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%#<div class="dm-background-triangle-bottom "></div>%>

<!-- "Origin of this Practice" section -->
<% unless !@practice.origin_story || !@practice.origin_title %>
  <section class="padding-bottom-2 margin-bottom-5">
    <div class="grid-container">
      <div class="grid-row">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
        <div class="desktop:grid-col-9 grid-col-12 p0">
          <div>
            <%= render partial: 'origin' %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- "Practice content" section -->
<!-- "Impact" section -->
<% if @practice.impact_photos.any? || @practice.video_files.any? || @practice.additional_documents.any? || @practice.publication_files.any? || @practice.publications.any? %>
  <section>
    <div class="grid-container position-relative">
      <div class="grid-row">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

        <div class="desktop:grid-col-9 grid-col-12 p0">
          <div class="margin-bottom-7">
            <% if @practice.impact_photos.any? %>
              <%= render partial: 'impact' %>
            <% end %>
            <% if @practice.video_files.any? %>
              <%= render partial: 'videos' %>
            <% end %>
            <% if @practice.additional_documents.any? || @practice.publication_files.any? || @practice.publications.any? %>
              <div class="grid-row flex-align-center margin-bottom-4">
                <h2 class="font-sans-xl text-bold margin-0 flex-auto margin-right-205">Documentation</h2>
                <div class="height-2px border border-base-lightest flex-fill"></div>
              </div>
              <h3 class="font-sans-lg margin-top-0 margin-bottom-1">Downloads</h3>
              <div class="padding-bottom-1">
                <%= render partial: 'additional_documents' %>
                <%= render partial: 'publication_files' %>
              </div>
              <h3 class="font-sans-lg margin-top-0 margin-bottom-1">Links</h3>
              <div>
                <%= render partial: 'publications' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- "Resources Required" section -->
<section>
  <div class="grid-container">
    <div class="grid-row">
      <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
      <div class="desktop:grid-col-9 grid-col-12 p0">
        <div>
          <%= render partial: 'resources_required' %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- "Complexity" section -->
<section class="margin-bottom-7">
  <div>
    <div class="grid-container">
      <div class="grid-row">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
        <div class="desktop:grid-col-9 grid-col-12 p0">
          <div>
            <%= render partial: 'complexity' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- "Timeline and Checklist" section -->
<% if @practice.timelines.any? %>
  <section class="timeline-section">
    <div class="grid-container">
      <div class="grid-row">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
        <div class="desktop:grid-col-9 grid-col-12 p0">
          <div>
            <%= render partial: 'timeline_and_checklist' %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- "Risks & Mitigations" section -->
<% if @practice.risk_mitigations.any? %>
  <section class="margin-bottom-7">
    <div class="grid-container">
      <div class="grid-row">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
        <div class="desktop:grid-col-9 grid-col-12 p0">
          <div>
            <%= render partial: 'risks_and_mitigations' %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- "Support Team" || "Contact" section -->
<% if @practice.va_employees.any? %>
  <section class="margin-bottom-7">
    <div class="grid-container">
      <div class="grid-row">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
        <div class="desktop:grid-col-9 grid-col-12 p0">
          <div>
            <%= render partial: 'support_team' %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
