<!-- "Team" section -->
<section class="usa-section margin-y-0 p0">
    <div class="grid-row flex-align-center margin-bottom-3">
      <h2 id="contact" class="font-sans-xl text-bold margin-0 flex-auto margin-right-205">Contact</h2>
      <hr class="flex-fill height-2px border border-base-lightest bg-base-lightest dm-section-line">
    </div>
    <div class="grid-row margin-top-4 grid-gap">
      <% @practice.va_employees.each do |employee| %>
        <div class="grid-row width-mobile margin-bottom-4 flex-align-center">
          <div class="avatar-container display-flex-align-items-center flex-justify-center bg-white overflow-hidden margin-right-105 <%= employee.avatar.present? ? '' : 'width-auto' %>">
            <% if employee.avatar.present? %>
              <%= image_tag employee.avatar_s3_presigned_url(:thumb), alt: employee.name %>
            <% else %>
              <%= image_tag 'user.svg', alt: employee.name %>
            <% end %>
          </div>
          <div class="grid-col-fill">
            <h4 class="margin-y-0 font-sans-xs-2 line-height-sans-505"><%= employee.name %></h4>
            <p class="margin-y-0 font-sans-xs-2 line-height-sans-505"><%= employee.role %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="grid-row">
      <a href="mailto:<%= @practice.support_network_email || ENV['MAILER_SENDER'] %>" class="usa-button usa-button--outline padding-2">Email this support team</a>
    </div>
</section>
