<!-- "Team" section -->
<section class="usa-section margin-y-0 p0">
  <div class="grid-container">
    <h3 id="contact" class="font-sans-lg fw-bold margin-top-0 margin-bottom-6 font-ui-xl">Contact our support team for inquiries</h3>

    <div class="grid-row grid-gap-lg margin-top-4 margin-bottom-2 justify-center">
      <% @practice.va_employees.each do |employee| %>
        <div class="grid-row width-mobile margin-bottom-9">
          <div class="avatar-container rounded display-flex-align-items-center flex-justify-center dm-background-white overflow-hidden margin-right-105">
            <% if employee.avatar.present? %>
              <%= image_tag employee.avatar_s3_presigned_url, alt: employee.name %>
            <% else %>
              <%= image_tag 'user.svg', alt: employee.name %>
            <% end %>
          </div>
          <div class="grid-col-fill">
            <h4 class="margin-y-0"><%= employee.name %></h4>
            <p class="margin-y-0"><%= employee.role %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="grid-row flex-row flex-justify-center flex-align-center ">
      <a href="mailto:<%= @practice.support_network_email || ENV['MAILER_SENDER'] %>" class="dm-button-link-secondary x3-bottom">Contact</a>
    </div>

  </div>
</section>
