<% provide :main_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>

<% provide :head_tags do %>
  <%= javascript_include_tag '_assign_facility_name', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '_facilitySelect', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    var facilityData = <%= raw JSON.parse(File.read("#{Rails.root}/lib/assets/vamc.json")).to_json %>;
  <% end %>
  <%= javascript_include_tag 'practice_editor_adoptions', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

    <div id="overview" class="desktop:grid-col-9 grid-col-12 p0">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
      <section class="usa-section padding-top-0 p0-bottom introduction">
        <h1 class="font-sans-2xl line-height-46px">Adoptions</h1>
        <h2 class="text-normal font-sans-lg line-height-36">
          Share which facilities have successfully adopted your practice. All adoptions roll up to the VAMC level. Aim to update this data quarterly.
        </h2>

        <%= render 'pii_phi_alert' %>

        <div class="practice-editor-rect-svg border-top-05 border-primary-dark margin-top-5"></div>
        <h4 class="line-height-18px margin-top-3">Adoptions</h4>
        <p class="line-height-26 margin-y-2">
          Share which facilities have adopted your practice. Aim to update this data quarterly.
        </p>

        <!-- start accordions -->
        <div id="adoptions">
          <%= render partial: 'adoptions_content' %>
        </div>

        <div class="grid-row margin-top-7">
          <%= link_to practice_introduction_path(@practice), class: 'usa-button--outline dm-btn-base editor-back-to-link margin-right-1' do %>
            <i class="fas fa-sm text-no-underline margin-right-1"></i>Back
          <% end %>
          <%= link_to practice_overview_path(@practice), class: 'usa-button dm-btn-base  pe-continue editor-continue-link margin-right-1' do %>
            Continue<i class="fas fa-sm margin-left-1 text-no-underline"></i>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>