<% provide :head_tags do %>
    <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
        <%= render partial: 'checklist', formats: [:js] %>
    <% end %>
    <%= javascript_include_tag 'practice_editor_checklist', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '_practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= render 'breadcrumbs' %>
<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
    <div class="grid-row grid-gap practice-editor-min-height">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

        <div id="checklist" class="desktop:grid-col-9 grid-col-12 p0">
            <%= render partial: "shared/messages", locals: {small_text: false} %>
            <section class="usa-section padding-top-0 p0-bottom checklist">
                <h1 class="font-sans-2xl line-height-sans-205">Checklist</h1>
                <h2 class="text-normal margin-bottom-2">
                    Upload steps that will help another team prepare for adopting your practice.
                    After a facility completes this checklist, you will be notified.
                </h2>
                <%= nested_form_for(@practice, html: { multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
                    <fieldset class="usa-fieldset">
                        <legend class="usa-sr-only">Checklist</legend>

                        <h2 class="font-sans-xl">Gain permissions</h2>
                        <ul class="practice-editor-permission-ul" id="sortable_permissions" role="listbox" aria-label="Practice editor permission list">
                            <%= f.fields_for :practice_permissions, wrapper: false do |pp| %>
                                <%
                                    permission_id = pp.object.id
                                    permission_position = pp.object.position
                                %>
                                <li class="practice-editor-permission-li fields" data-id="<%= permission_id %>" role="option">
                                    <%= pp.hidden_field :id %>
                                    <%= pp.hidden_field :position, class: 'permission-position' %>
                                    <div class="permissions-container padding-205 border border-width-1px border-base-lighter radius-sm margin-top-3">
                                        <div class="position-relative">
                                            <div class="fas fa-arrows-alt font-sans-lg position-arrows checklist-arrows text-base arrows-tooltip">
                                                <span class="usa-tag tooltip-text">Drag and drop to change order</span>
                                            </div>
                                        </div>

                                        <div>
                                            <%= pp.label :name, 'Step:', class: 'usa-label text-bold display-inline-block permission-name' %>&nbsp;<span>Type the type of permissions required for this practice.</span>&nbsp;<span class="text-base-light permission-name-character-count" <% if permission_id.present? %>id="permission_<%= permission_id %>_name_character_count"<% end %>>(0/50 characters)</span>
                                            <%= pp.text_field :name, class: 'usa-input practice-input width-tablet permission-name-input', 'counter-id': "permission_#{permission_id}_name" %>
                                        </div>

                                        <div class="grid-row width-full">
                                            <div class="grid-col-11">
                                                <%= pp.label :description, 'Description (optional):', class: 'usa-label text-bold display-inline-block' %>&nbsp;<span>Type any details about the permissions here.</span>&nbsp;<span class="text-base-light permission-description-character-count" <% if permission_id.present? %>id="permission_<%= permission_id %>_description_character_count"<% end %>>(0/50 characters)</span>
                                                <%= pp.text_field :description, class: 'usa-input practice-input width-tablet permission-description', 'counter-id': "permission_#{permission_id}_description" %>
                                            </div>

                                            <div class="grid-col-fill flex-align-end permission-trash-container">
                                                <%= pp.link_to_remove '', class: "fas fa-trash-alt permission-trash text-no-underline", 'aria-label': 'Remove' %>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <% end %>
                        </ul>
                      <%= f.link_to_add :practice_permissions, class: 'fas fa-plus text-no-underline add-permission-link' do %>
                        <span class="padding-left-1 font-sans-md text-normal text-no-underline">Add another</span>
                      <% end %>

                        <h2 class="font-sans-xl">Gather resources</h2>
                        <ul class="practice-editor-resource-ul" id="sortable_resources" role="listbox" aria-label="Practice editor resource list">
                            <%= f.fields_for :additional_resources, wrapper: false do |ar| %>
                                <%
                                    resource_id = ar.object.id
                                    resource_position = ar.object.position
                                %>
                                <li class="practice-editor-resource-li fields" data-id="<%= resource_id %>" role="option">
                                    <%= ar.hidden_field :id %>
                                    <%= ar.hidden_field :position, class: 'resource-position' %>
                                    <div class="resources-container padding-205 border border-width-1px border-base-lighter radius-sm margin-top-3">
                                        <div class="position-relative">
                                            <div class="fas fa-arrows-alt font-sans-lg position-arrows checklist-arrows text-base arrows-tooltip">
                                                <span class="usa-tag tooltip-text">Drag and drop to change order</span>
                                            </div>
                                        </div>

                                        <div>
                                            <%= ar.label :name, 'Step:', class: 'usa-label text-bold display-inline-block resource-name' %>&nbsp;<span>Separately list the resources required.</span>&nbsp;<span class="text-base-light resource-name-character-count" <% if resource_id.present? %>id="resource_<%= resource_id %>_name_character_count"<% end %>>(0/50 characters)</span>
                                            <%= ar.text_field :name, class: 'usa-input practice-input width-tablet resource-name-input', 'counter-id': "resource_#{resource_id}_name" %>
                                        </div>

                                        <div class="grid-row width-full">
                                            <div class="grid-col-11">
                                                <%= ar.label :description, 'Description (optional):', class: 'usa-label text-bold display-inline-block' %>&nbsp;<span>Type any details about the resource here.</span>&nbsp;<span class="text-base-light resource-description-character-count" <% if resource_id.present? %>id="resource_<%= resource_id %>_description_character_count"<% end %>>(0/50 characters)</span>
                                                <%= ar.text_field :description, class: 'usa-input practice-input width-tablet resource-description', 'counter-id': "resource_#{resource_id}_description" %>
                                            </div>

                                            <div class="grid-col-fill flex-align-end resource-trash-container">
                                                <%= ar.link_to_remove '', class: "fas fa-trash-alt resource-trash text-no-underline", 'aria-label': 'Remove' %>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <% end %>
                        </ul>
                      <%= f.link_to_add :additional_resources, class: 'fas fa-plus text-no-underline add-resource-link' do %>
                        <span class="padding-left-1 font-sans-md text-normal text-no-underline">Add another</span>
                      <% end %>
                      <ul class="trash-can display-none"></ul>

                    </fieldset>
                <% end %>
                <div class="grid-row">
                    <%= link_to practice_contact_path(@practice), class: 'usa-button usa-button--outline editor-back-to-link margin-right-1 padding-2 text-no-underline' do %>
                        <i class="fas fa-chevron-left fa-sm text-no-underline margin-right-1"></i>Back
                    <% end %>
                </div>
            </section>
        </div>
    </div>
</div>