<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
    <div class="grid-row grid-gap practice-editor-min-height">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

        <div id="collaborators" class="desktop:grid-col-9 grid-col-12 p0">
            <%= render partial: "shared/messages", locals: {small_text: false} %>
            <section class="usa-section padding-top-0 p2-bottom collaborators">
                <h1 class="font-sans-2xl line-height-sans-205">Collaborators</h1>
                <h2 class="text-normal">Here you can add people at your facility who can help you complete this practice page.</h2>
                <%#<%= nested_form_for(@practice, html: { multipart: true, style: 'max-width: 100%', class: 'usa-form'}) do |f| %>
                <form class="usa-form collaborators-form">
                    <fieldset class="usa-fieldset">
                        <legend class="usa-sr-only">Practice Collaborators</legend>
                        <div class="width-mobile-lg">
                            <label class="usa-label text-bold" for="collaborator-name">Name:&nbsp;<span class="text-normal">Type the name of the person.</span></label>
                            <input class="usa-input" id="collaborator-name" type="text">

                            <label class="usa-label text-bold" for="collaborator-email">Email:&nbsp;<span class="text-normal">Type their email address.</span></label>
                            <input class="usa-input" id="collaborator-email" type="text">
                        </div>
                        <div class='usa-checkbox margin-top-3'>
                            <input type='checkbox' class='usa-checkbox__input' id="administrator-rights" name="administrator-rights-checkbox">
                            <label class='usa-checkbox__label' for="administrator-rights">Grant administrator rights</label>
                        </div>
                        <button class="usa-button padding-y-2 margin-y-3">Send email invite</button>
                        <button class="usa-button usa-button--unstyled text-secondary clear-collaborator-button display-block">
                            <i class="fas fa-trash-alt collab-trash padding-right-105"></i>Clear
                        </button>
                        <div class="height-2px border border-base-light flex-fill display-block"></div>
                        <button class="usa-button usa-button--unstyled dm-font-color-blue-50v add-collaborator-button">
                            <i class="fas fa-plus padding-right-105"></i>Add another
                        </button>
                <%#<% end %>
                    </fieldset>
                </form>
                <div class="grid-row margin-bottom-8">
                    <%= link_to practice_instructions_path(@practice), class: 'usa-button usa-button--outline editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline' do %>
                        <i class="fas fa-chevron-left fa-sm text-no-underline margin-right-1"></i>Back
                    <% end %>
                    <%= link_to practice_overview_path(@practice), class: 'usa-button padding-2 editor-continue-link margin-right-1 margin-bottom-5' do %>
                        Continue<i class="fas fa-chevron-right fa-sm margin-left-1 text-no-underline"></i>
                    <% end %>
                </div>
            </section>
        </div>
    </div>
</div>