<%= render 'breadcrumbs' %>
<%
    it_required = @practice.it_required
    process = @practice.process
%>

<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
    <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

        <div id="complexity" class="desktop:grid-col-9 grid-col-12 p0">
            <section class="usa-section padding-top-0 p2-bottom complexity">
                <h1 class="font-sans-3xl">Complexity</h1>
                <h2 class="text-normal">
                    Provide a detailed list of the resources required for another facility to successfully implement your practice.
                </h2>
                <div class="bg-gold padding-2 radius-md margin-bottom-5 margin-top-2">
                    <p>
                        <span class="text-bold">Note:&nbsp;</span>
                        <span>Due to differences across facility levels and resources, the following estimates should be based on a 1A facility.</span>
                    </p>
                </div>
                <%= nested_form_for(@practice, html: { multipart: true, style: 'max-width: 100%', class: 'usa-form'}) do |f| %>
                    <fieldset class="usa-fieldset">
                        <legend class="usa-sr-only">Complexity Information</legend>
                        <p>
                            <span class="text-bold">Departments:&nbsp;</span>
                            <span>Which departments may be affected during implementation of your practice?</span>
                        </p>
                        <div class="grid-row grid-gap margin-top-105">
                            <% @practice.departments.each do |department| %>
                                <div class='usa-checkbox grid-col-6'>
                                    <input type='checkbox' class='usa-checkbox__input' id="practice_department_<%= department.id %>" name='practice[department][<%= department.id %>][value]' <%= @practice.departments.include?(department) ? "checked= 'true'" : "" %>>
                                    <label class='usa-checkbox__label' for="practice_department_<%= department.id %>"><%= department.name %></label>
                                </div>
                            <% end %>
                        </div>
                        <p>
                            <span class="text-bold">IT:&nbsp;</span>
                            <span>Will Information Technology (IT) be required to implement your practice?</span>
                        </p>
                        <div class='margin-top-105 margin-bottom-4'>
                            <div class="usa-radio">
                                <%= radio_button_tag 'practice_it', :it_required, it_required ? true : false, class: 'usa-radio__input', id: "it_required_radio" %>
                                <%= label_tag 'practice_it_it_required', 'Yes', class: 'usa-radio__label', for: "it_required_radio" %>
                            </div>
                                <div class="usa-radio">
                                <%= radio_button_tag 'practice_it', :it_required, !it_required ? true : false, class: 'usa-radio__input', id: "it_not_required_radio" %>
                                <%= label_tag 'practice_it_it_required', 'No', class: 'usa-radio__label', for: "it_not_required_radio" %>
                            </div>
                        </div>
                        <p>
                            <span class="text-bold">Approach and process:&nbsp;</span>
                            <span>Which of the following best describes your practice?</span>
                        </p>
                        <div class='grid-row margin-top-105'>
                            <div class="usa-radio">
                                <%= radio_button_tag 'practice_', :process, process == 'New Clinical Approach or New Process' ? true : false, class: 'usa-radio__input', id: "new_process" %>
                                <%= label_tag 'practice_process', 'A new clinical approach or new process to the VA', class: 'usa-radio__label', for: "new_process" %>
                            </div>
                                <div class="usa-radio">
                                <%= radio_button_tag 'practice_', :process, process == 'Modification of an established process' ? true : false, class: 'usa-radio__input', id: "modified_process" %>
                                <%= label_tag 'user_practice_status_team_member', 'A modification of an existing VA approach or process', class: 'usa-radio__label', for: "modified_process" %>
                            </div>
                        </div>
                    </fieldset>
                <% end %>
        </div>
    </div>
</div>