<% provide :head_tags do %>
    <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
        <%= render partial: 'complexity', formats: [:js] %>
    <% end %>
  <%= javascript_include_tag 'practice_editor_complexity', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '_practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<%
    process = @practice.process
    it_required = @practice.it_required
    training = @practice.need_training
    training_test = @practice.training_test
    need_new_license = @practice.need_new_license
    time_estimate = @practice.implementation_time_estimate
    @no_departments = Department.find_by(name: 'None')
%>

<%= render 'breadcrumbs' %>
<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
    <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
        <div id="complexity" class="desktop:grid-col-9 grid-col-12 p0">
            <%= render "shared/messages" %>
            <section class="usa-section padding-top-0 p2-bottom complexity">
                <h1 class="font-sans-2xl line-height-sans-205">Complexity</h1>
                <h2 class="text-normal">
                    Provide a detailed list of the resources required for another facility to successfully implement your practice.
                </h2>
                <div class="bg-gold padding-2 radius-md margin-bottom-5 margin-top-2">
                    <p>
                        <span class="text-bold">Note:&nbsp;</span>
                        <span>Due to differences across facility levels and resources, the following estimates should be based on a 1A facility.</span>
                    </p>
                </div>
                <%= nested_form_for(@practice, html: { multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
                    <p>
                        <span class="text-bold">Departments:&nbsp;</span>
                        <span>Which departments may be affected during implementation of your practice?</span>
                    </p>
                    <fieldset class="usa-fieldset">
                        <div class="grid-row grid-gap margin-top-105 margin-bottom-3">
                            <% Department.order("CASE WHEN name = 'None' THEN 1 WHEN name = 'All' THEN 2 ELSE 3 END, name").each do |department| %>
                              <% if department.name == 'None' %>
                                <div class='usa-checkbox grid-col-6'>
                                  <input type='checkbox' class='usa-checkbox__input no-department-input' id="practice_department_<%= @no_departments.id %>" name="practice[department][<%= @no_departments.id %>][value]" <%= !@practice.departments.find_by(name: 'None').nil? ? "checked= 'true'" : "" %>>
                                  <label class='usa-checkbox__label' for="practice_department_<%= @no_departments.id %>">None</label>
                                </div>
                              <% elsif department.name == 'All' %>
                                <div class='usa-checkbox grid-col-6'>
                                  <input type='checkbox' class='usa-checkbox__input all-departments-input' id="practice_department_<%= department.id %>" name='practice[department][<%= department.id %>][value]' <%= @practice.departments.include?(department) ? "checked= 'true'" : "" %>>
                                  <label class='usa-checkbox__label' for="practice_department_<%= department.id %>"><%= department.name %></label>
                                </div>
                              <% else %>
                                <div class='usa-checkbox grid-col-6'>
                                    <input type='checkbox' class='usa-checkbox__input department-input' id="practice_department_<%= department.id %>" name='practice[department][<%= department.id %>][value]' <%= @practice.departments.include?(department) ? "checked= 'true'" : "" %>>
                                    <label class='usa-checkbox__label' for="practice_department_<%= department.id %>"><%= department.name %></label>
                                </div>
                              <% end %>
                            <% end %>
                        </div>
                    </fieldset>
                    <fieldset class="usa-fieldset">
                        <p>
                            <span class="text-bold">IT:&nbsp;</span>
                            <span>Will Information Technology (IT) be required to implement your practice?</span>
                        </p>
                        <div class='margin-top-105 margin-bottom-4'>
                            <div class='grid-col usa-radio'>
                                <%= radio_button('practice', 'it_required', true, class: 'usa-radio__input complexity-radio it-radio', checked: it_required == true ? 'checked' : false) %>
                                <label class='usa-radio__label complexity-it-label' for='practice_it_required_true'>Yes</label>
                            </div>
                            <div class='grid-col usa-radio'>
                                <%= radio_button('practice', 'it_required', false, class: 'usa-radio__input complexity-radio it-radio', checked: it_required == false ? 'checked' : false) %>
                                <label class='usa-radio__label complexity-it-label' for='practice_it_required_false'>No</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="usa-fieldset">
                        <p>
                            <span class="text-bold">Approach and process:&nbsp;</span>
                            <span>Which of the following best describes your practice?</span>
                        </p>
                        <div class="margin-top-105 margin-bottom-4">
                            <div class='usa-radio'>
                                <%= radio_button('practice', 'process', 'New clinical approach or new process', class: 'usa-radio__input complexity-radio process-radio', checked: process == 'New clinical approach or new process' ? 'checked' : false ) %>
                                <label class='usa-radio__label complexity-process-label' for='practice_process_new_clinical_approach_or_new_process'>A new clinical approach or new process to the VA</label>
                            </div>
                            <div class='usa-radio'>
                                <%= radio_button('practice', 'process', 'Modification of an established process', class: 'usa-radio__input complexity-radio process-radio', checked: process == 'Modification of an established process' ? 'checked' : false) %>
                                <label class='usa-radio__label complexity-process-label' for='practice_process_modification_of_an_established_process'>A modification of an existing VA approach or process</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="usa-fieldset margin-bottom-5">
                        <p>
                            <span class="text-bold">Time:&nbsp;</span>
                            <span>Estimate how long it would take another group to implement your practice.</span>
                        </p>
                        <% Practice::TIME_ESTIMATE_OPTIONS.each do |label| %>
                            <div class="grid-col usa-radio margin-top-105">
                                <%= radio_button('practice', 'implementation_time_estimate', label, class: 'usa-radio__input complexity-radio time-estimate-radio', checked: time_estimate == label ? 'checked' : false) %>
                                <label class="usa-radio__label time-estimate-label" for='practice_implementation_time_estimate_<%= label.split(' ').join('_').tr('()', '').downcase %>'><%= label %></label>
                            </div>
                        <% end %>
                        <%= f.label :implementation_time_estimate_description, class:"usa-label hidden-estimate-label" %>
                        <%= f.text_field :implementation_time_estimate_description, class: 'usa-input width-mobile-lg time-estimate-description-input' %>
                    </fieldset>
                    <fieldset class='usa-fieldset'>
                        <h2 class="font-sans-xl">Staff</h2>
                        <%= f.fields_for :additional_staffs do |diff| %>
                            <%= diff.hidden_field :id %>

                            <div class="margin-bottom-3">
                                <%= diff.label :title, 'Role:', class: 'usa-label text-bold display-inline-block' %>&nbsp;<span>Type the title or position name</span>
                                <%= diff.text_field :title, class: 'usa-input practice-input width-tablet staff-title-input' %>
                            </div>
                            <div class="margin-bottom-3 width-tablet">
                                <%= diff.label :hours_per_week, 'Hours per week:', class: 'usa-label text-bold display-inline-block margin-top-0' %>&nbsp;<span>Type the number of hours per week this person would dedicate to this practice</span>
                                <%= diff.text_field :hours_per_week, class: 'usa-input practice-input width-8 staff-hours-input' %>
                            </div>
                            <div class="margin-bottom-3">
                                <p class="text-bold margin-bottom-105">Role type</p>
                                <div class='usa-radio'>
                                    <%= diff.radio_button :permanent, true, { class: 'usa-radio__input complexity-radio permanent-radio', checked: diff.object.permanent == true ? 'checked' : 'false' } %>
                                    <%= diff.label :permanent, 'Permanent', class: 'usa-radio__label permanent-staff-label', value: true %>
                                </div>
                                <div class='usa-radio'>
                                    <%= diff.radio_button :permanent, false, { class: 'usa-radio__input complexity-radio permanent-radio', checked: diff.object.permanent == false ? 'checked' : 'false'  } %>
                                    <%= diff.label :permanent, 'Temporary', class: 'usa-radio__label permanent-staff-label', value: false %>
                                </div>
                            </div>
                            <div>
                                <%= diff.label :duration_in_weeks, 'Role duration:', class: 'usa-label text-bold display-inline-block margin-top-0' %>&nbsp;<span>Type the duration of this role in months</span>
                                <%= diff.text_field :duration_in_weeks, class: 'usa-input practice-input width-8 staff-duration-input' %>
                            </div>
                            <div class="grid-row flex-justify-end margin-right-2">
                               <%= diff.link_to_remove '', class: 'fas fa-trash-alt staff-trash text-no-underline clear-additional-staff-link', title: 'remove additional staff' %>
                            </div>
                            <div class="height-1px bg-base-lighter flex-fill display-block"></div>
                        <% end %>
                        <%= f.link_to_add :additional_staffs, class: 'fas fa-plus text-no-underline add-additional-staff-link' do %>
                            <span class="padding-left-1 font-sans-md text-normal text-no-underline">Add another</span>
                        <% end %>
                        <ul class="trash-can display-none"></ul>
                    </fieldset>
                    <fieldset class="usa-fieldset">
                        <h2 class="font-sans-xl margin-top-5">Training</h2>
                        <p class="margin-top-2">Is training required</p>
                        <div class="margin-top-105 need-training-radio-container", style="<%= training == true ? '' : 'margin-bottom: 44px;' %>">
                            <div class='usa-radio'>
                                <%= radio_button('practice', 'need_training', true, class: 'usa-radio__input complexity-radio training-required-radio', checked: training == true ? 'checked' : false) %>
                                <label class='usa-radio__label need_training_true_label' for='practice_need_training_true'>Yes</label>
                            </div>
                            <div class='usa-radio'>
                                <%= radio_button('practice', 'need_training', false, class: 'usa-radio__input complexity-radio training-required-radio', checked: training == false ? 'checked' : false) %>
                                <label class='usa-radio__label need_training_false_label' for='practice_need_training_false'>No</label>
                            </div>
                        </div>
                    </fieldset>
                    <div id="required-training-container" class="<%= training == true ? 'required-training-container-open' : 'required-training-container-closed' %>">
                        <fieldset class="usa-fieldset">
                            <div class="margin-bottom-3 margin-top-105">
                                <%= f.label :training_length, 'Training length:', class: 'usa-label text-bold display-inline-block margin-top-0' %>&nbsp;<span>Type the duration of training in hours.</span>
                                <%= f.text_field :training_length, class: 'usa-input practice-input width-10 training-length-input' %>
                            </div>
                            <p class="margin-bottom-3">
                                <span class="text-bold">Trainer(s)&nbsp;</span>
                                <span class="text-base-light">(optional)</span>
                            </p>
                            <div class="margin-bottom-3">
                                <%= f.label :training_provider, 'Name:', class: 'usa-label text-bold display-inline-block margin-top-0' %>&nbsp;<span>Type the name of the person who delivers the training</span>
                                <%= f.text_field :training_provider, class: 'usa-input practice-input width-mobile' %>
                            </div>
                            <div class="margin-bottom-3">
                                <%= f.label :training_provider_role, 'Role:', class: 'usa-label text-bold display-inline-block margin-top-0' %>&nbsp;<span>Type the title or position name.</span>
                                <%= f.text_field :training_provider_role, class: 'usa-input practice-input width-mobile' %>
                            </div>
                            <div class="margin-bottom-3">
                                <p class="margin-bottom-105">
                                    <span>Will trainees take a test?&nbsp;</span>
                                    <span class="text-base-light">(optional)</span>
                                </p>
                                <div class="usa-radio">
                                    <%= radio_button('practice', 'training_test', true, class: 'usa-radio__input complexity-radio', checked: training_test == true ? 'checked' : false) %>
                                    <label class='usa-radio__label' for='practice_training_test_true'>Yes</label>
                                </div>
                                <div class="usa-radio">
                                    <%= radio_button('practice', 'training_test', false, class: 'usa-radio__input complexity-radio', checked: training_test == false ? 'checked' : false) %>
                                    <label class='usa-radio__label' for='practice_training_test_false'>No</label>
                                </div>
                            </div>
                            <div class="margin-bottom-3">
                                <p class="margin-bottom-105">
                                    <span>Will trainees be required to obtain a new license or certification?&nbsp;</span>
                                    <span class="text-base-light">(optional)</span>
                                </p>
                                <div class="usa-radio">
                                    <%= radio_button('practice', 'need_new_license', true, class: 'usa-radio__input complexity-radio', checked: need_new_license == true ? 'checked' : false) %>
                                    <label class='usa-radio__label' for='practice_need_new_license_true'>Yes</label>
                                </div>
                                <div class="usa-radio">
                                    <%= radio_button('practice', 'need_new_license', false, class: 'usa-radio__input complexity-radio', checked: need_new_license == false ? 'checked' : false) %>
                                    <label class='usa-radio__label' for='practice_need_new_license_false'>No</label>
                                </div>
                            </div>
                            <div>
                                <p class="margin-bottom-105">For each given role, who would be required to take the training?</p>
                                <%= f.fields_for :required_staff_trainings do |diff| %>
                                    <%= diff.hidden_field :id %>
                                    <div class="staff-training-container">
                                        <div class="margin-bottom-3">
                                            <%= diff.label :title, 'Job Title', class: 'usa-label' %>
                                            <%= diff.text_field :title, class: 'usa-input practice-input width-tablet staff-training-title' %>
                                        </div>
                                        <div>
                                            <%= diff.label :description, class: 'usa-label' %>
                                            <%= diff.text_area :description, class: 'usa-input practice-input width-tablet staff-training-description', style: 'height: 4rem' %>
                                        </div>
                                        <div class="grid-row flex-justify-end margin-right-2">
                                            <%= diff.link_to_remove '', class: 'fas fa-trash-alt staff-trash text-no-underline clear-required-staff-link', title: 'remove required staff training' %>
                                        </div>
                                    </div>
                                    <div class="height-1px bg-base-lighter flex-fill display-block"></div>
                                <% end %>
                                <%= f.link_to_add :required_staff_trainings, class: 'fas fa-plus text-no-underline add-required-staff-link' do %>
                                    <span class="padding-left-1 font-sans-md text-normal text-no-underline">Add another</span>
                                <% end %>
                            </div>
                            <ul class="trash-can display-none"></ul>

                        </fieldset>
                    </div>
                <% end %>
                <div class="grid-row margin-bottom-8">
                    <%= link_to practice_resources_path(@practice), class: 'usa-button usa-button--outline editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline' do %>
                        <i class="fas fa-chevron-left fa-sm text-no-underline margin-right-1"></i>Back
                    <% end %>
                    <%= link_to practice_timeline_path(@practice, next: 'timeline'), class: 'usa-button padding-2 editor-continue-link continue-and-save margin-right-1 margin-bottom-5', 'data-next': 'timeline' do %>
                        Continue<i class="fas fa-chevron-right fa-sm margin-left-1 text-no-underline"></i>
                    <% end %>
                </div>
            </section>
        </div>
    </div>
    <div class="margin-bottom-105">
        <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
    </div>
</div>