<% provide :head_tags do %>
    <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
        <%= render partial: 'contact', formats: [:js] %>
    <% end %>
    <%= javascript_include_tag 'practice_editor_contact', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '_practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= render 'breadcrumbs' %>
<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
    <div class="grid-row grid-gap practice-editor-min-height">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

        <div class="desktop:grid-col-9 grid-col-12 p0">
            <%= render "shared/messages" %>
            <section class="usa-section padding-top-0 p2-bottom contact">
                <h1 class="font-sans-2xl line-height-sans-205">Contact</h1>
                <h2 class="text-normal margin-bottom-2">
                    This section helps people to reach out for support, ask questions, and connect about your practice.
                </h2>
                <%= nested_form_for(@practice, html: { multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
                    <fieldset class="usa-fieldset">
                        <legend class="usa-sr-only">Practice Information</legend>
                        <div>
                            <%= f.label :support_network_email, 'Email:', class: 'usa-label text-bold display-inline-block' %>&nbsp;<span>Type the email address dedicated to responding to messages for this practice.</span>
                            <%= f.text_field :support_network_email, class: 'usa-input practice-input width-tablet contact-email-input', required: true %>
                        </div>

                        <h2 class="font-sans-xl margin-top-5">Team</h2>

                        <ul class="practice-editor-contact-ul" id="sortable_contacts" role="listbox" aria-label="Practice editor contact list">
                        <%= f.fields_for :va_employees, wrapper: false do |vae| %>
                            <%
                                vae_id = vae.object.id
                                vae_avatar = vae.object.avatar
                                vae_position = vae.object.position
                            %>
                            <li class="practice-editor-contact-li fields" data-id="<%= vae_id %>">
                                <%= vae.hidden_field :id %>
                                <%= vae.hidden_field :position, class: 'contact-position' %>
                                <div class="contact-container padding-205 border border-width-1px border-base-lighter radius-sm margin-top-3">
                                    <div class="position-relative">
                                        <div class="fas fa-arrows-alt font-sans-lg position-arrows contact-arrows text-base arrows-tooltip">
                                            <span class="usa-tag tooltip-text">Drag and drop to change order</span>
                                        </div>
                                    </div>
                                    <div>
                                        <%= vae.label :name, 'Name:', class: 'usa-label text-bold display-inline-block vae-name' %>&nbsp;<span>Type the name of the person who created this practice.</span>&nbsp;<span class="text-base-light va-employee-name-character-count" <% if vae_id %> id="va_employee_<%= vae_id %>_name_character_count"<% end %>>(0/50 characters)</span>
                                        <%= vae.text_field :name, class: 'usa-input practice-input width-tablet va-employee-name-input', 'counter-id': "va_employee_#{vae_id}_name" %>
                                    </div>

                                    <div>
                                        <%= vae.label :role, 'Role:', class: 'usa-label text-bold display-inline-block' %>&nbsp;<span>Type their title or position name.</span>&nbsp;<span class="text-base-light va-employee-role-character-count" <% if vae_id %> id="va_employee_<%= vae_id %>_role_character_count"<% end %>>(0/50 characters)</span>
                                        <%= vae.text_field :role, class: 'usa-input practice-input width-tablet va-employee-role', 'counter-id': "va_employee_#{vae_id}_role" %>
                                    </div>
                                    
                                    <p class="text-bold va-employee-headshot-p margin-bottom-05">Headshot&nbsp;<span class="text-base">(optional)</span></p>
                                    <p class="width-tablet margin-bottom-05">
                                        Guidelines for a good headshot will go here. Perhaps a sentence or two that might go to the next line.
                                    </p>

                                    <div class="grid-row">
                                        <div class="grid-col-auto va-employee-headshot-col margin-top-105">
                                            <% if vae_avatar.present? %>
                                                <div class="va-employee-headshot-container">
                                                    <%= image_tag vae.object.avatar_s3_presigned_url, alt: vae.object.name, class:'va-employee-img'%>
                                                    <%#= vae.cropbox :avatar, width: 200, index: vae.index %>
                                                </div>
                                            <% else %>
                                                <div class="va-employee-headshot-container bg-base-lightest radius-md">
                                                    <i class="fas fa-user fa-3x va-employee-headshot-filler text-base-lighter"></i>
                                                </div>
                                            <% end %>
                                        </div>
                                        <div class="grid-col-10 va-employee-file-col">
                                            <% if vae_avatar.present? %>
                                                <div class="display-inline-block">
                                                    <div class="margin-bottom-1">
                                                        <%= vae.label :avatar, 'Upload new photo', class: "usa-button usa-button--unstyled add-va-employee-headshot-label" %>
                                                        <%= vae.file_field :avatar, class: 'hidden-upload', accept: 'image/*' %>
                                                    </div>
                                                    <div>
                                                        <%= vae.check_box :delete_avatar, { class: 'usa-checkbox__input practice-input delete-avatar-input'}, 'true', 'false' %>
                                                        <%= vae.label :delete_avatar, 'Remove photo', class: 'usa-checkbox__label display-inline-block' %>
                                                    </div>
                                                </div>
                                            <% else %>
                                                <div class="margin-bottom-1">
                                                    <%= vae.label :avatar, 'Upload photo', class: "usa-button padding-2 add-va-employee-headshot-label" %>
                                                    <%= vae.file_field :avatar, class: 'hidden-upload', accept: 'image/*' %>
                                                </div>
                                            <% end %>
                                        </div>
                                        <div class="grid-col-fill flex-align-end va-employee-trash-container">
                                            <%= vae.link_to_remove '', class: "fas fa-trash-alt va-employee-trash text-no-underline", title: 'Remove contact' %>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <% end %>
                        </ul>
                        <%= f.link_to_add :va_employees, class: 'fas fa-plus text-no-underline add-va-employee-link' do %>
                            <span class="padding-left-1 font-sans-md text-normal text-no-underline">Add another</span>
                        <% end %>
                        <ul class="trash-can display-none"></ul>
                    </fieldset>
                <% end %>
                <div class="grid-row margin-bottom-8">
                    <%= link_to practice_risk_and_mitigation_path(@practice), class: 'usa-button usa-button--outline editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline' do %>
                        <i class="fas fa-chevron-left fa-sm text-no-underline margin-right-1"></i>Back
                    <% end %>
                    <%= link_to practice_checklist_path(@practice), class: 'usa-button padding-2 editor-continue-link margin-right-1 margin-bottom-5' do %>
                        Continue<i class="fas fa-chevron-right fa-sm margin-left-1 text-no-underline"></i>
                    <% end %>
                </div>
            </section>
        </div>
    </div>
    <div class="margin-bottom-105">
        <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
    </div>
</div>