var PARENT_ADOPTION_ACCORDION = '.parent-adoption-accordion';
var ADOPTION_FORM_CONTAINER = '#adoption_form_container';

function hideParentAccordionContent() {
    $(PARENT_ADOPTION_ACCORDION).each(function() {
        $(this).find('div').first().attr('hidden', true);
    })
}

$('.usa-alert:not(.pii-phi-alert)').remove();
$(".sidenav-adoptions-link").find('i').addClass('green-check');
$("#adoptions").html("<%= escape_javascript(render partial: 'adoptions_content', formats: [ :html ]) %>");
<% if params[:exists] %>
  /* show the top form, hide the 'Add New Adoption' button, and close any open parent accordions when the page loads.
  This will only affect the top form alert. Any created adoptions will still have their parent accordion exposed on load */
  if ($(ADOPTION_FORM_CONTAINER).hasClass('display-none')) {
      $('#add_adoption_button').addClass('display-none');
      $(ADOPTION_FORM_CONTAINER).removeClass('display-none');
      hideParentAccordionContent();
  }
<% elsif params[:created] %>
  $(ADOPTION_FORM_CONTAINER).addClass('display-none');
  hideParentAccordionContent();
<% else %>
  $('.usa-accordion__content').attr('hidden', true);
<% end %>

<% if @dh && params[:facility_changed] %>
  $(PARENT_ADOPTION_ACCORDION).each(function() {
      if (!$(this).find('#diffusion_history_<%= @dh.id %>').length) {
          $(this).find('div').first().attr('hidden', true);
      } else {
          $(this).find('.parent-accordion-button').attr('aria-expanded', true);
          $(this).find('div').first().attr('hidden', false);
          var newTop = $("button[aria-controls='diffusion_history_<%= @dh.id %>']").offset().top - 100
          scrollTo(0, newTop);
      }
  })
<% end %>

<% if params[:existing_dh] %>
  $("button[aria-controls='diffusion_history_<%= @dh.id %>']").attr('aria-expanded', true);
  $('#diffusion_history_<%= @dh.id %>').attr('hidden', false);
  $(PARENT_ADOPTION_ACCORDION).each(function() {
    if (!$(this).find('#diffusion_history_<%= @dh.id %>').length) {
        $(this).find('div').first().attr('hidden', true);
    } else {
        $(this).find('button').attr('aria-expanded', true);
        $(this).find('div').first().attr('hidden', false);
        $(this).find('.child-accordion-button').not("button[aria-controls='diffusion_history_<%= @dh.id %>']").each(function() {
            $(this).attr('aria-expanded', false)
        })
    }
  })
<% end %>

function addTooltipHtmlAfterAjax() {
    // Add the tooltip element
    $('.usa-tooltip').append(
        '<span class="usa-tooltip__body usa-tooltip__body--right tooltip-after-ajax" role="tooltip" aria-hidden="true">' +
        'In-progress: ' +
        '<i>Facilities that have started but not completed adopting the practice</i>.\n' +
        'Successful: ' +
        '<i>Facilities that have met adoption goals and implemented the practice.</i>\n' +
        'Unsuccessful: ' +
        '<i>Facilities that started but stopped working towards adoption.</i>\n' +
        '</span>'
    );

    function setSpanAttr(el, attrName, attrVal) {
        $(el).find('span').attr(attrName, attrVal);
    }
    // Assign the hover styles
    $(document).on({
        mouseenter: function () {
            $(this).addClass('usa-tooltip__trigger');
            $(this).find('span').addClass('is-set is-visible');
            setSpanAttr(this, 'aria-hidden', false);
            $(this).removeAttr('title');
        },
        mouseleave: function () {
            $(this).find('span').removeClass('is-set is-visible');
            setSpanAttr(this, 'aria-hidden', true);
        }
    }, '.usa-tooltip');
}

$(addTooltipHtmlAfterAjax);
