<% provide :head_tags do %>
  <%= javascript_include_tag 'practice_editor_complexity', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '_practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<%
  @no_departments = Department.find_by(name: 'None')
%>

<%= render 'breadcrumbs' %>
<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>
    <div id="complexity" class="desktop:grid-col-9 grid-col-12 p0">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
      <section class="usa-section padding-top-0 p0-bottom complexity">
        <h1 class="font-sans-2xl line-height-sans-205">Complexity</h1>
        <h2 class="text-normal">
          Provide a detailed list of the resources required for another facility to successfully implement your
          practice.
        </h2>
        <div class="bg-gold padding-2 radius-md margin-bottom-5 margin-top-2">
          <p>
            <span class="text-bold">Note:&nbsp;</span>
            <span>Due to differences across facility levels and resources, the following estimates should be based on a 1A facility.</span>
          </p>
        </div>
        <%= nested_form_for(@practice, html: {multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
          <p>
            <span class="text-bold">Departments:&nbsp;</span>
            <span>Which departments may be affected during implementation of your practice?</span>
          </p>
          <fieldset class="usa-fieldset">
            <div class="grid-row grid-gap margin-top-105 margin-bottom-3">
              <% Department.order("CASE WHEN name = 'None' THEN 1 WHEN name = 'All departments equally - not a search differentiator' THEN 2 ELSE 3 END, LOWER(name)").each do |department| %>
                <% if department.name == 'None' %>
                  <div class='usa-checkbox grid-col-6'>
                    <input type='checkbox' class='usa-checkbox__input no-department-input' id="practice_department_<%= @no_departments.id %>" name="practice[department][<%= @no_departments.id %>][value]" <%= !@practice.departments.find_by(name: 'None').nil? ? "checked= 'true'" : "" %>>
                    <label class='usa-checkbox__label' for="practice_department_<%= @no_departments.id %>">None</label>
                  </div>
                <% elsif department.name == 'All departments equally - not a search differentiator' %>
                  <div class='usa-checkbox grid-col-6'>
                    <input type='checkbox' class='usa-checkbox__input all-departments-input' id="practice_department_<%= department.id %>" name='practice[department][<%= department.id %>][value]' <%= @practice.departments.include?(department) ? "checked= 'true'" : "" %>>
                    <label class='usa-checkbox__label' for="practice_department_<%= department.id %>">All</label>
                  </div>
                <% else %>
                  <div class='usa-checkbox grid-col-6'>
                    <input type='checkbox' class='usa-checkbox__input department-input' id="practice_department_<%= department.id %>" name='practice[department][<%= department.id %>][value]' <%= @practice.departments.include?(department) ? "checked= 'true'" : "" %>>
                    <label class='usa-checkbox__label' for="practice_department_<%= department.id %>"><%= department.name %></label>
                  </div>
                <% end %>
              <% end %>
            </div>
          </fieldset>
        <% end %>
        <div class="grid-row">
          <%= link_to practice_resources_path(@practice), class: 'usa-button usa-button--outline editor-back-to-link margin-right-1 padding-2 text-no-underline' do %>
            <i class="fas fa-chevron-left fa-sm text-no-underline margin-right-1"></i>Back
          <% end %>
          <%= link_to practice_timeline_path(@practice), class: 'usa-button padding-2 editor-continue-link continue-and-save margin-right-1' do %>
            Continue<i class="fas fa-chevron-right fa-sm margin-left-1 text-no-underline"></i>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>