<% provide :head_tags do %>
    <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
        <%= render partial: 'impact', formats: [:js] %>
    <% end %>
    <%# <%= javascript_include_tag 'practice_editor_impact', 'data-turbolinks-track': 'reload' %>
<% end %>

<%
    last_impact_photo_id = @practice.impact_photos.last.id
    impact_photos_length = @practice.impact_photos.length
%>

<%= render 'breadcrumbs' %>
<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
    <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

        <div id="impact" class="desktop:grid-col-9 grid-col-12 p0">
            <%= render "shared/messages" %>
            <section class="usa-section padding-top-0 p2-bottom impact">
                <h1 class="font-sans-3xl">Impact</h1>
                <h2 class="text-normal margin-bottom-2">
                    Showcase real stories of how your practice is making an impact.
                </h2>
                <%= nested_form_for(@practice, html: { multipart: true, style: 'max-width: 100%', class: 'usa-form'}) do |f| %>
                    <fieldset class="usa-fieldset">
                        <legend class="usa-sr-only">Impact</legend>
                        <div class="impact-container">
                            <%= f.fields_for :impact_photos do |ip| %>
                                <div>
                                    <p class="text-bold impact-p margin-bottom-1">Media</p>
                                    <div class='margin-bottom-1'>
                                        <div class='usa-radio'>
                                            <%= radio_button('practice', 'it_required', true, class: 'usa-radio__input') %>
                                            <label class='usa-radio__label' for='practice_it_required_true'>Upload image</label>
                                        </div>
                                        <div class='usa-radio'>
                                            <%= radio_button('practice', 'it_required', false, class: 'usa-radio__input') %>
                                            <label class='usa-radio__label' for='practice_it_required_false'>Attach video link</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-row">
                                <%
                                    photo_id = ip.object.id
                                    attachment = ip.object.attachment
                                    photo_position = ip.object.position
                                %>
                                    <%= ip.hidden_field :id %>

                                    <div class="grid-col-7">
                                        <% if attachment.present? %>
                                            <%= image_tag ip.object.attachment_s3_presigned_url, alt: "Impact story picture #{ip.index}", class: 'height-mobile practice-editor-impact-photo' %>
                                            <%#= ip.cropbox :attachment, index: ip.index %>
                                        <% else %>
                                            <div class="bg-base-lightest position-relative" style="height: 263px; width: 393px;">
                                                <i class="fas fa-images fa-4x text-base-lighter no-impact-image"></i>
                                            </div>
                                        <% end %>
                                    </div>
                                    <div class="grid-col-5">
                                        <div>
                                            <p>• Guidelines for uploading a good image</p>
                                            <p>• Guidelines for uploading a good image</p>
                                            <p>• Guidelines for uploading a good image</p>
                                        </div>
                                        <div class="margin-bottom-1">
                                            <%= ip.file_field :attachment, class: 'hidden-upload' %>
                                            <%= ip.label :attachment, "#{attachment.present? ? 'Upload new photo' : 'Upload photo'}", class: "usa-button #{ attachment.present? ? 'usa-button--unstyled' : '' } add-impact-photo-label" %>
                                        </div>
                                        <% if attachment.present? %>
                                            <div>
                                                <%= ip.check_box :delete_attachment, { class: 'usa-checkbox__input practice-input'}, 'true', 'false' %>
                                                <%= ip.label :delete_attachment, 'Remove photo', class: 'usa-checkbox__label display-inline-block' %>
                                            </div>
                                        <% end %>
                                    </div>
                                    
                                    <div class="grid-col-12">
                                        <%= ip.label :description, 'Caption:', class: 'usa-label text-bold display-inline-block' %>&nbsp;<span>Share how your practice is making a real-life impact.</span>&nbsp;<span class="text-base-light impact-caption-character-count" id="impact_caption_<%= photo_id %>_character_count">(0/300 characters)</span>
                                        <%= ip.text_area :description, class: 'usa-input practice-input practice-editor-image-caption height-15', id: "impact_photo_#{photo_id}_caption" %>
                                    </div>
                                    <div class="grid-row flex-align-center width-full">
                                        <div class="grid-col-auto <%= photo_position != 1 && impact_photos_length > 1 ? '' : 'hidden-impact' %>">
                                            <button class="usa-button usa-button--unstyled text-no-underline text-base-dark move-impact-button" id="move_impact_<%= photo_id %>_up"><span class="fas fa-chevron-up"></span>&nbsp;&nbsp;<span>Move up</span></button>
                                        </div>
                                        <div class="grid-col-auto <%= last_impact_photo_id != photo_id || photo_position == 1 && impact_photos_length != 1 ? '' : 'hidden-impact' %>">
                                            <button class="usa-button usa-button--unstyled text-no-underline text-base-dark move-impact-button" id="move_impact_<%= photo_id %>_down"><span class="fas fa-chevron-down"></span>&nbsp;&nbsp;<span>Move down</span></button>
                                        </div>
                                        <div class="grid-col-fill">
                                            <%= ip.link_to_remove class: "fas fa-trash-alt impact-trash text-no-underline clear-impact-link #{impact_photos_length == 1 ? '' : 'float-right'}" do %>
                                                    <span class="padding-left-1 font-sans-md text-normal text-no-underline"><%= impact_photos_length == 1 ? 'Clear' : 'Remove' %></span>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                                <div class="height-2px border border-base-light flex-fill display-block"></div>
                            <% end %>
                        <%#<div>
                            <%= f.fields_for :video_files do |v| %>
                        <%#        <div>
                                    <%= v.label :url, 'Link:', class: 'usa-label text-bold display-inline-block' %><%#&nbsp;<span>Type the link to the video.</span>
                                    <%= v.text_field :url, class: 'usa-input practice-input' %>
                        <%#        </div>
                                <div>
                                    <%= v.label :description, 'Caption:', class: 'usa-label text-bold display-inline-block' %><%#&nbsp;<span>Share how your practice is making a real-life impact.</span>&nbsp;<span class="text-base-light risk-character-count">(0/300 characters)</span>
                                    <%= v.text_area :description, class: 'usa-input practice-input practice-editor-video-caption height-15' %>
                        <%#        </div>
                            <% end %>
                        <%#</div>%>
                        <%= f.link_to_add :impact_photos, class: 'fas fa-plus text-no-underline add-impact-photo-link' do %>
                            <span class="padding-left-1 font-sans-md text-normal text-no-underline">Add another</span>
                        <% end %>
                    </fieldset>
                <% end %>
                <div class="grid-row margin-bottom-8">
                    <%= link_to practice_origin_path(@practice), class: 'editor-back-to-link margin-right-1' do %>
                        <button class="usa-button usa-button--outline padding-2 editor-back-to-button">
                        <i class="fas fa-chevron-left fa-sm">&nbsp;&nbsp;</i>Back
                        </button>
                    <% end %>
                    <%= link_to practice_documentation_path(@practice), class: 'editor-continue-link' do %>
                        <button class="usa-button padding-2 editor-continue-button">Continue&nbsp;&nbsp;<i class="fas fa-chevron-right fa-sm"></i>
                        </button>
                    <% end %>
                </div>
            </section>
        </div>
    </div>
</div>