<div class="dm-background-linear-up-lightblue-to-white full-view-height">
  <%= render 'shared/sub_search_nav' %>
  <section class="grid-container ">
    <%= render "shared/messages" %>
    <div class="promo dismissible dm-background-primary-blue promo-primary promo-rounded-corners-20 dm-font-color-white">
      <div class="diffusion-background-circles-promo-translucent"></div>
      <div class="grid-row flex-direction-row-reverse dismiss-row p1">
        <button type="button" class="dismiss-cross dismiss-button z-index-10"><%= icon('fas', 'times') %>
          <span class="usa-sr-only">Close</span></button>
      </div>
      <section class="promo-body p2 x1-bottom">
        <div class="grid-row">
          <div class="tablet:grid-col-8 x1-bottom">
            <h2>Do you have a best practice worth spreading?</h2>
            <p>You can submit a practice to the diffusion marketplace and help save lives.</p>
          </div>
          <div class="tablet:grid-col-4 display-grid-align-items-center">
            <button class="dm-button-secondary x1-bottom dismiss-button">Maybe Later</button>
            <button class="dm-button-secondary">Learn More</button>
          </div>
        </div>
      </section>
    </div>
  </section>

  <!-- Marketplace -->
  <section class="grid-container">
    <div class="grid-row grid-gap-lg">
      <% @practices.each_with_index do |practice, i| %>
        <% index = i + 1 %>
        <style>
          .marketplace-card-header-<%= index %> {
          <% if practice.main_display_image.present? %> background: linear-gradient(rgba(0, 42, 92, 0.59), rgba(0, 42, 92, 0.59)), url(<%= practice.main_display_image.url %>);
          <% else %> background: rgba(26, 68, 128, 1);
          <% end %>
          }
        </style>
        <div class="tablet:grid-col-4 x1-bottom">
          <div class="marketplace-card">
            <div class="marketplace-card-header marketplace-card-header-<%= index %> p2">
              <% if practice.tagline.present? %>
                <h2 class="x0 fw-100 dm-font-color-white"><%= practice.tagline %></h2>
              <% end %>
            </div>
            <div class="marketplace-card-body p2">
              <div class="marketplace-card-description dm-font-dark-black fw-100 x1-bottom">
                <%= practice.description %>
              </div>
              <div class="marketplace-card-name-location dm-font-dark-black fw-100 x1-bottom">
                <%= practice.name %> | <span class="uppercase"><%= practice.initiating_facility %></span>
              </div>
              <div class="marketplace-card-adoption dm-font-color-dark-brown display-flex-align-items-center">
                <div class="marketplace-card-number-adopted x1-right"><%= practice.number_adopted %></div>
                <div><%= "#{practice.number_adopted == 1 ? 'Facility has' : 'Facilities have'}" %> adopted this
                  practice
                </div>
              </div>
            </div>
            <div class="marketplace-footer p1">
              <div class=''>
                <% practice.badges.last(2).each do |badge| %>
                  <div class='badge-container' style='background-color: <%= badge.color %>;'>
                    <i class="<%= badge.icon %>"></i><span class='x1-left'><%= badge.name %></span>
                  </div>
                <% end %>
                <% if ((extra_badges = practice.badges.count - 2) > 0) %>
                  <div class='extra-badge'><i class="fas fa-plus"></i><span class='x1-left'><%= extra_badges %>
                    more</span>
                  </div>
                <% end %>
              </div>
              <%# practice.badges.each do |badge| %>
              <!--                <div class="marketplace-card-badge"><%#= badge.name %></div>-->
              <%# end %>
            </div>
            <div class="marketplace-card-middle display-grid">
              <div class="marketplace-card-middle-content-position margin-auto">
                <div class="x2-bottom">
                  <div class="text-center">
                    <% (0..3).each do |index| %>
                      <% if index < practice.cost_savings_aggregate %>
                        <i class="fas fa-dollar-sign large-icon-dark aggregate-icon"></i>
                      <% else %>
                        <i class="fas fa-dollar-sign large-icon-light aggregate-icon"></i>
                      <% end %>
                    <% end %>
                    <p class="fw-100">Cost Savings</p>
                  </div>
                  <div class="text-center">
                    <% (0..3).each do |index| %>
                      <% if index < practice.veteran_satisfaction_aggregate %>
                        <i class="dm dm-saluting-veteran large-icon-dark aggregate-icon"></i>
                      <% else %>
                        <i class="dm dm-saluting-veteran large-icon-light aggregate-icon"></i>
                      <% end %>
                    <% end %>
                    <p class="fw-100">Veteran Satisfaction</p>
                  </div>
                  <div class="text-center">
                    <% (0..3).each do |index| %>
                      <% if index < practice.difficulty_aggregate %>
                        <i class="fas fa-wrench large-icon-dark aggregate-icon"></i>
                      <% else %>
                        <i class="fas fa-wrench large-icon-light aggregate-icon"></i>
                      <% end %>
                    <% end %>
                    <p class="fw-100">Difficulty</p>
                  </div>
                </div>
                <div>
                  <%= link_to 'Learn More', practice, class: 'dm-button-link display-inline-block margin-0-auto' %>
                </div>
              </div>
            </div>


          </div>
        </div>
      <% end %>
    </div>
  </section>

</div>
