<main id="main-content">

  <section class="usa-section grid-container">
    <h1>All practices</h1>

    <table class="usa-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Short name</th>
          <th>Description</th>
          <th>Position</th>
          <th>Is vha field</th>
          <th>Is program office</th>
          <th>Vha visn</th>
          <th>Medical center</th>
          <th>Business case summary</th>
          <th>Support network email</th>
          <th>Va pulse link</th>
          <th>Additional notes</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @practices.each do |practice| %>
          <tr>
            <td><%= practice.name %></td>
            <td><%= practice.short_name %></td>
            <td><%= practice.description %></td>
            <td><%= practice.position %></td>
            <td>practice.is_vha_field</td>
            <td>practice.is_program_office</td>
            <td><%= practice.vha_visn %></td>
            <td><%= practice.medical_center %></td>
            <td><%= practice.business_case_summary %></td>
            <td><%= practice.support_network_email %></td>
            <td><%= practice.va_pulse_link %></td>
            <td><%= practice.additional_notes %></td>
            <td><%= link_to 'Show', practice %></td>
            <td><%= link_to 'Edit', edit_practice_path(practice) %></td>
            <td><%= link_to 'Destroy', practice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Practice', new_practice_path %>
  </section>

</main>
