<% provide :head_tags do %>
<!--  <script type="text/javascript" src="../../../practice_origin_office_lookup.json"></script>-->
  <%= javascript_include_tag '_assign_facility_name', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '_facilitySelect', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    var facilityData = <%= raw JSON.parse(File.read("#{Rails.root}/lib/assets/vamc.json")).to_json %>;
    <% initiating_facility = @practice.initiating_facility || false%>
    var officeData = '<%= raw fetch_offices %>';
    var selectedFacility = "<%= @practice.initiating_facility %>";
    debugger
  <% end %>
  <%= javascript_include_tag 'practice_editor_overview', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '_cropper', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'practice_editor_introduction', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'practice_editor_adoptions', 'data-turbolinks-track': 'reload' %>
<% end %>

<%
  partners = PracticePartner.all
  p_partners = @practice.practice_partners

  #debugger
%>

<%= render 'breadcrumbs' %>
<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
  <div class="grid-row grid-gap practice-editor-min-height">
    <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

    <div id="introduction" class="desktop:grid-col-9 grid-col-12 p0">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
      <section class="usa-section padding-top-0 p2-bottom introduction">
        <h1 class="font-sans-2xl line-height-sans-205">Introduction</h1>
        <h2 class="text-normal">Introduce your practice and provide a brief summary to people who may be unfamiliar
          with it.</h2>
        <svg class="svg">
          <rect class="rectangle21" />
        </svg>
        <%= nested_form_for(@practice, html: {multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Practice Information</legend>
            <div>
              <%= f.label :name, 'Name: ', class: 'usa-label text-bold display-block' %>
             <span>Type the official name of your practice.</span>&nbsp;<!-- <span id="practice-editor-name-character-counter" class="text-base-light">(0/50 characters)</span>-->
              <%= f.text_field :name, class: "usa-input #{ @practice.errors[:name].any? ? 'usa-input--error' : '' } display-block practice-editor-name-input" %>
              <p class="usa-error-message <%= @practice.errors[:name].any? ? 'fas fa-exclamation-circle fon' : 'display-none' %>">&nbsp;<span class="font-family-sans"><%= show_errors(@practice, :name) %></span></p>
            </div>
            <svg class="svg">
              <rect class="rectangle21" />
            </svg>
            <div>
              <%= f.label :short_name, 'Acronym ', class: 'usa-label text-bold display-block margin-top-3' %>
              <span>Type the acronym for your practice.</span><!--&nbsp;<span id="practice-editor-tagline-character-counter" class="text-base-light">(0/150 characters)</span>-->
              <div style="height:40px; width:143px">
                <%= f.text_field :short_name, class: "usa-input #{ @practice.errors[:short_name].any? ? 'usa-input--error' : '' } display-block practice-editor-short_name-input", required: true %>
              </div>
              <p class="usa-error-message <%= @practice.errors[:short_name].any? ? 'fas fa-exclamation-circle fon' : 'display-none' %>">&nbsp;<span class="font-family-sans"><%= show_errors(@practice, :short_name) %></span></p>
            </div>

            <svg class="svg">
              <rect class="rectangle21" />
            </svg>

            <p class="margin-top-3"><span class="text-bold">Thumbnail</span>&nbsp;</p>
            <span>Choose an image to represent this practice.  Use a high-quality .jpg, .jpeg, or .png file less than 32MB.  PII/PHI waivers are required for photos featuring Veterans.  Waivers must be filled out with the 'External to VA' check box selected.</span>
            <div class="grid-row margin-top-1 cropper-boundary">
              <div class="grid-col-6">
                <div class="cropper-images-container main-image" data-type="main">
                  <% if @practice.main_display_image.present? %>
                    <%= image_tag @practice.main_display_image_s3_presigned_url(:original), alt: "practice thumbnail for #{@practice.name}", class: 'height-mobile cropper-thumbnail-original radius-md hidden'%>
                    <%= image_tag @practice.main_display_image_s3_presigned_url(:thumb), alt: "practice thumbnail for #{@practice.name}", class: 'height-mobile cropper-thumbnail-modified radius-md'%>
                  <% end %>
                </div>
                <div class="<%= @practice.main_display_image.present? ? 'bg-base-lightest position-relative radius-md height-mobile cropper-image-placeholder hidden' : 'bg-base-lightest position-relative radius-md height-mobile cropper-image-placeholder'%>" style="height: 20rem; width: 20rem;">
                  <i class="fas fa-images fa-4x text-base-lighter no-impact-image"></i>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="grid-row flex-align-start">
                  <% [:crop_x, :crop_y, :crop_w, :crop_h].each { |attribute| %>
                  <%=  f.hidden_field attribute, :id => attribute, :value => nil %>
                  <% } %>
                  <div class="grid-col-fill">
                    <a class="usa-button padding-2 cropper-save-edit hidden" aria-controls='photo-save-edit' aria-expanded='false'>Save edits</a>
                    <a class="usa-button usa-button--outline padding-2 cropper-cancel-edit hidden" aria-controls='photo-cancel-edit' aria-expanded='false'>Cancel edits</a>
                    <a class="<%= @practice.main_display_image.present? ? "usa-button usa-button--outline padding-2 cropper-edit-mode" : "usa-button usa-button--outline padding-2 cropper-edit-mode hidden" %>" aria-controls='photo-crop' aria-expanded='false'>Edit image</a>
                    <div>
                      <%= f.label :main_display_image,
                                  @practice.main_display_image.present? ? 'Upload new image' : 'Upload image',
                                  class: @practice.main_display_image.present? ? 'cropper-upload-image-label' : 'cropper-upload-image-label usa-button'
                      %>
                      <%= f.file_field :main_display_image, class: "hidden-upload cropper-upload-image", accept: 'image/*' %>
                    </div>
                    <div class="cropper-delete-image">
                      <%= f.label :delete_main_display_image, 'Remove image', class: @practice.main_display_image.present? ? 'display-inline-block text-secondary cropper-delete-image-label' : 'display-inline-block text-secondary cropper-delete-image-label hidden'%>
                      <%= f.check_box :delete_main_display_image, { class: @practice.main_display_image.present? ? 'usa-checkbox__input cropper-delete-image' : 'usa-checkbox__input cropper-delete-image hidden'}, 'true', 'false' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <svg class="svg">
              <rect class="rectangle21" />
            </svg>
            <div>
              <%= f.label :summary, 'Summary ', class: 'usa-label text-bold display-block' %>
              <span>Type a short summary of your practice’s mission to engage the audience and provide initial context.</span>&nbsp;<span id="practice-editor-summary-character-counter" class="text-base-light"></span>
              <%= f.text_area :summary, class: 'usa-textarea display-block practice-editor-summary-textarea', required: true %>
            </div>
            <svg class="svg">
              <rect class="rectangle21" />
            </svg>

            <p class="margin-top-3"><span class="text-bold">Date created</span></p>
            Select the month and year this practice was created.
            <div class="grid-row grid-gap-4">
              <div>
                <%= label_tag 'editor_date_intiated_month', 'Month', class: 'usa-label' %>
                <%= select_month(@practice.date_initiated.present? ? date_get_month(@practice.date_initiated) : nil, {prompt: '-Select-', prefix: 'date_initiated'}, {id: 'editor_date_intiated_month', class: 'width-card-lg height-5 usa-select', required: true}) %>
              </div>
              <div class="grid-col-fill">
                <%= label_tag 'editor_date_intiated_year', 'Year', class: 'usa-label' %>
                <%= select_year(@practice.date_initiated.present? ? date_get_year(@practice.date_initiated) : nil, {start_year: 1970, end_year: Date.today.year, prompt: '-Select-', prefix: 'date_initiated', default: '-Select-'}, {id: 'editor_date_intiated_year', class: 'width-full height-5 usa-select', required: true}) %>
              </div>
            </div>
            <svg class="svg">
              <rect class="rectangle21" />
            </svg>
            <p class="margin-top-3"><span class="text-bold">Practice origin</span>&nbsp;</p>
            <span>Select the location where this practice originated</span>
            <div class="grid-row grid-gap margin-top-105 margin-bottom-3">
              <input type="hidden" id="_init_facility_type" value="<%= @practice.initiating_facility_type %>">

              <div class='usa-checkbox grid-col-12'>
                <%= f.radio_button :initiating_facility_type, '0', onClick: "javascript:showHidePracticeOriginFields(0);" %> Facility<br />
              </div>
              <div class='usa-checkbox grid-col-12'>
                <%= f.radio_button :initiating_facility_type, '1', onClick: "javascript:showHidePracticeOriginFields(1);" %> VISN<br />
              </div>
              <div class='usa-checkbox grid-col-12'>
                <%= f.radio_button :initiating_facility_type, '2', onClick: "javascript:showHidePracticeOriginFields(2);" %> Office<br />
              </div>
              <div class='usa-checkbox grid-col-12'>
                <%= f.radio_button :initiating_facility_type, '3', onClick: "javascript:showHidePracticeOriginFields(3);" %> Other<br />
              </div>
            </div>

            <div class="grid-row grid-gap-4">
              <div id="editor_office_dropdown" class="grid-col-fill">
                <%= label_tag 'editor_office_select', 'Office', class: 'usa-label' %>
<!--                <%#= select_tag(:initiating_department_office_id, options_for_select([['-Select-', nil, selected: true, disabled: true, class: 'usa-select dm-color-disabled']]), id: 'editor_office_select', class: 'width-full height-5 usa-select', required: true) %><br />-->
                <%= select_tag(:initiating_department_office_id, options_for_select(offices_for_select), required: true, :onChange => "chooseState(this.options[this.selectedIndex].value)") %><br />
              </div>
              <div id="editor_state_dropdown">
                <%= label_tag 'editor_state_select', 'State', class: 'usa-label' %>
                <%= select_tag('', options_for_select(us_states), id: 'editor_state_select', name: 'editor_state_select', class: 'width-card-lg height-5 usa-select', required: true) %><br />
              </div>
              <div id="editor_facility_dropdown" class="grid-col-fill">
                <%= label_tag 'editor_facility_select', 'Facility', class: 'usa-label' %>
                <%= select_tag(:facility_id, options_for_select([['-Select-', nil, selected: true, disabled: true, class: 'usa-select dm-color-disabled']]), id: 'editor_facility_select', class: 'width-full height-5 usa-select', required: true) %><br />
              </div>
            </div>
            <div id="editor_visn_dropdown">
              <%= label_tag 'editor_visn_select', 'VISN', class: 'usa-label' %>
              <%= select_tag(:initiating_visn_id, options_for_select(visns_for_select), id: 'editor_visn_select', class: 'width-full height-5 usa-select', required: true) %><br />
            </div>
            <div id="init_facility_other">
              <%= label_tag 'initiating_facility_other', 'Other', class: 'usa-label' %>
              <%= f.text_field :init_facility_other_text, :value => params[:initiating_facility_other] %>
            </div>
            <svg class="svg">
              <rect class="rectangle21" />
            </svg>
            <!--Adoptions -->
                <div id="overview" class="desktop:grid-col-9 grid-col-12 p0">
                  <%= render partial: "shared/messages", locals: {small_text: false} %>
                  <section class="usa-section padding-top-0 p0-bottom introduction">
                   <p class="margin-top-3"><span class="text-bold">Adoptions</span>&nbsp;</p>
                    <span>Share which facilities have successfully
                      adopted your practice. Aim to update this data
                      quarterly.</span>



                    <div class="font-sans-lg">
                      <div class="display-inline-block status-width">
                        <h3 class="margin-top-0 margin-bottom-105">Status</h3>
                      </div>
                      <div class="display-inline-block facility-header-width">
                        <h3 class="margin-top-0 margin-bottom-105">Facility</h3>
                      </div>
                      <div class="display-inline-block timeline-width">
                        <h3 class="margin-top-0 margin-bottom-105">Timeline</h3>
                      </div>
                      <div class="display-inline-block action-button-width">
                        &nbsp;
                      </div>
                    </div>
                    <div class="usa-accordion" id="adoptions">
                      <!-- start accordions -->
                      <%= render partial: 'adoptions_content' %>
                    </div>
<!--                    <div class="grid-row margin-top-7">-->
                      <%#= link_to practice_overview_path(@practice), class: 'usa-button usa-button--outline editor-back-to-link margin-right-1 padding-2 text-no-underline' do %>
<!--                        <i class="fas fa-chevron-left fa-sm text-no-underline margin-right-1"></i>Back-->
                      <%# end %>
                      <%#= link_to practice_origin_path(@practice), class: 'usa-button padding-2 editor-continue-link margin-right-1' do %>
<!--                        Continue<i class="fas fa-chevron-right fa-sm margin-left-1 text-no-underline"></i>-->
                      <%# end %>
<!--                    </div>-->
                  </section>
                </div>
            <!-- END Adoptions -->
            <svg class="svg">
              <rect class="rectangle21" />
            </svg>
            <p class="margin-top-3"><span class="text-bold">Awards and recognition</span>&nbsp;
            <span>Select any awards or recognitions your practice has received.</span></p>

            <svg class="svg">
              <rect class="rectangle21" />
            </svg>
            <p class="margin-top-3 margin-bottom-1"><span class="text-bold">Partners: </span><span>Select any of the following partners your practice is associated with.</span>
              <%
                no_partners = PracticePartner.where(name: 'None of the above, or Unsure')
                partners = PracticePartner.where.not(id: no_partners.ids)
                partners_list = partners + no_partners
              %>
              <% partners_list.each do |partner| %>
                <% if partner.name == 'None of the above, or Unsure' %>
                <div class='usa-checkbox practice-partner-checkbox position-relative'>
                  <input type='checkbox' class='usa-checkbox__input no-partner-input' id="practice_partner_<%= partner.id %>" name='practice[practice_partner][<%= partner.id %>][value]' <%= p_partners.include?(partner) ? "checked= 'true'" : "" %>>
                  <label class='usa-checkbox__label' id="practice_partner_<%= partner.id %>_label" for="practice_partner_<%= partner.id %>"><%= partner.name %></label>
                </div>
              <% else  %>
                <div class='usa-checkbox practice-partner-checkbox position-relative'>
                  <input type='checkbox' class='usa-checkbox__input partner-input' id="practice_partner_<%= partner.id %>" name='practice[practice_partner][<%= partner.id %>][value]' <%= p_partners.include?(partner) ? "checked= 'true'" : "" %>>
                  <label class='usa-checkbox__label' id="practice_partner_<%= partner.id %>_label" for="practice_partner_<%= partner.id %>"><%= partner.name %></label>
                </div>
              <% end %>
            <% end %>
          </fieldset>
        <% end %>
        <div class="grid-row margin-bottom-8">
          <%= link_to practice_instructions_path(@practice), class: 'usa-button usa-button--outline editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline' do %>
            <i class="fas fa-chevron-left fa-sm text-no-underline margin-right-1"></i>Back
          <% end %>
          <%= link_to practice_adoptions_path(@practice), class: 'usa-button padding-2 editor-continue-link continue-and-save margin-right-1 margin-bottom-5' do %>
            Continue<i class="fas fa-chevron-right fa-sm margin-left-1 text-no-underline"></i>
          <% end %>
        </div>
      </section>
    </div>
  </div>

  <div class="margin-bottom-105">
    <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
  </div>
</div>