<%= render 'breadcrumbs' %>

<section class="margin-top-7 margin-bottom-6">
  <div class="grid-container">
    <%= render "shared/messages" %>
    <h1 class="font-sans-3xl margin-bottom-205">Plan my practice adoption</h1>
    <p class="margin-0">
      Are you ready to build a team and adopt this practice at your facility? Here is a step-by-step checklist to lead you through the process and give you the best chance of success.
    </p>
  </div>
</section>

<section class="dm-background-light-blue margin-bottom-6">
  <div class="grid-container padding-y-3 text-center">
    <% if @practice.tagline.present? %>
      <h3 class="margin-top-0 margin-bottom-3 font-sans-lg">
        <%= @practice.tagline %>
      </h3>
    <% end %>
    <h5 class="flex-1 x0 text-normal">
      <%= @practice.name %>
      <span class="margin-x-05">|</span>
      <span class="uppercase"><%= @practice.date_initiated.present? ? date_format(@practice.date_initiated) : '(start date unknown)' %></span>
      <span class="margin-x-05">|</span>
      <span class="uppercase">
            <%= @facility_data.present? ? @facility_data['properties']['name'] : @practice.initiating_facility %>
          </span>
    </h5>
  </div>
</section>

<section id="share-practice">
  <div class="grid-container padding-x-9">
    <h2 class="font-sans-xl margin-bottom-205">Share</h2>
    <div class="grid-row">
      <div class="tablet:grid-col-3 margin-right-4 margin-bottom-5">
        <a target="_blank"
           href="mailto:?subject=<%= email_practice_subject(@practice) %>&body=<%= email_practice_body(@practice) %>" class="dm-button-link-secondary">
          Email Summary
        </a>
      </div>
      <div class="tablet:grid-col-3">
        <a target="_blank"
           href="mailto:?subject=<%= email_checklist_subject(@practice) %>&body=<%= email_checklist_body(@practice) %>"
           class="dm-button-link-secondary">
          Email Checklist
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Checklist -->

<section>
  <%= form_for :commit, url: {action: :commit }, method: :post do %>
    <!--  <form class="usa-form-large" action="<%#= practice_commit_path(practice_id: @practice.slug) %>" method="post">-->
    <div class="grid-container margin-bottom-6 padding-x-9">
      <div class="grid-row">
        <div class="grid-col-8">
          <h2 class="font-sans-xl margin-bottom-205">Checklist</h2>
          <button type="button" id="print-checklist-button" role="button" class="dm-button-secondary margin-bottom-205">Print Checklist
          </button>

          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Implementation checklist</legend>

            <!-- Implementation team -->
            <div id="implementation-team" class="margin-bottom-3">
              <div class="usa-checkbox">
                <input class="usa-checkbox__input" id="team" type="checkbox" name="checklist" value="implementation team">
                <label class="usa-checkbox__label margin-bottom-1" for="team"><span class="fw-bold">Implementation team:</span></label>
                <p class="padding-left-4 margin-top-0 margin-bottom-4">
                  You can’t do this alone! A team is needed to get it done. Here are the departments and titles of specific
                  individuals that are needed to work together to implement the practice successfully. Ideal team size is 5
                  to 10 members.
                </p>
              </div>
              <div class="padding-left-9">
                <% @practice.additional_staffs.each do |as| %>
                  <div class="usa-checkbox margin-bottom-205">
                    <input class="usa-checkbox__input" id="additional-staff-<%= as.id %>" type="checkbox" name="checklist" value="additional-staff-<%= as.id %>">
                    <label class="usa-checkbox__label margin-bottom-1" for="additional-staff-<%= as.id %>"><span class="fw-bold"><%= as.title %></span></label>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- Practice champion -->
            <%= render 'next_steps_checkbox', label: 'Practice champion', noList: true do %>
              <p class="padding-left-4 margin-0">
                Working Group needs to select a dynamic, charismatic individual who will be able to promote the practice,
                recruit additional team members, and illicit administrative support.
              </p>
            <% end %>
            <!-- -->

            <!-- Permissions required -->
            <% if @practice.practice_permissions.any? %>
              <%= render 'next_steps_checkbox', label: 'Permissions required' do %>
                <% @practice.practice_permissions.each do |permission| %>
                  <li><%= permission.description %></li>
                <% end %>
              <% end %>
            <% end %>
            <!-- -->

            <!-- IT required -->
            <% if @practice.it_required %>
            <%= render 'next_steps_checkbox', label: 'Information technology department required', noList: true %>
            <% end %>
            <!-- -->

            <!-- Departments impacted -->
            <% if @practice.departments.any? && @practice.departments.find_by(short_name: 'all').blank? && @practice.departments.find_by(short_name: 'none').blank?
            %>
              <%= render 'next_steps_checkbox', label: 'Departments' do %>
                <% @practice.departments.each do |d| %>
                      <li><%= d.name %></li>
                    <% end %>
              <% end %>
            <% end %>
            <!-- -->

            <!-- Resource capabilities -->
            <% if @practice.additional_resources.any? %>
              <%= render 'next_steps_checkbox', label: 'Resources' do %>
                <% @practice.additional_resources.each do |r| %>
                  <li><%= r.description %></li>
                <% end %>
              <% end %>
            <% end %>
            <!-- -->

            <!-- Costs list -->
            <% if @practice.costs.any? %>
              <%= render 'next_steps_checkbox', label: 'Cost' do %>
                <% @practice.costs.each do |c| %>
                  <li><%= c.description %></li>
                <% end %>
              <% end %>
            <% end %>
            <!-- -->

            <!-- Willing to provide feedback -->
            <%= render 'next_steps_checkbox', label: 'Willing to provide feedback', noList: true do %>
              <p class="padding-left-4 margin-0">
                Feedback on the implementation process and sharing the resulting data once the practice is implemented are
                a requirement/expected.
              </p>
            <% end %>
            <!-- -->
          </fieldset>
        </div>
      <div>
    </div>
    <div class="dm-background-light-blue">
      <div class="grid-container padding-y-8 padding-x-9">
        <p>By choosing to Commit to practice you are:</p>
        <ul class="margin-bottom-7">
          <li>Signifying your team's readiness after completing the above checklist.</li>
          <li>Notifying VA of your plan to implement the practice.</li>
          <li>Messaging the support team to start working with you to implement the practice.</li>
        </ul>
        <button role="button" class="dm-button-primary">Commit to this practice</button>
      </div>
    </div>
  <% end %>
  <!--  </form>-->
</section>


