<% provide :head_tags do %>
    <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
        <%= render partial: 'origin', formats: [:js] %>
    <% end %>
    <%= javascript_include_tag 'practice_editor_origin', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '_practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '_cropper', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= render 'breadcrumbs' %>
<%= render 'practice_editor_sidenav' %>

<div class="grid-container position-relative">
    <div class="grid-row grid-gap practice-editor-min-height">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

        <div id="origin" class="desktop:grid-col-9 grid-col-12 p0">
            <%= render "shared/messages" %>
            <section class="usa-section padding-top-0 p2-bottom origin">
                <h1 class="font-sans-2xl line-height-sans-205">Origin</h1>
                <h2 class="text-normal margin-bottom-2">
                    Tell the story of how your practice was started.
                </h2>
                <%= nested_form_for(@practice, authenticity_token: true, html: { multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
                    <fieldset class="usa-fieldset">
                        <legend class="usa-sr-only">Origin Information</legend>
                        <div>
                            <h2 class="font-sans-xl">Story</h2>
                            <%= f.label :origin_story, 'Origin story:', class: 'usa-label text-bold display-inline-block' %>&nbsp;<span>Type a short story describing how your practice started.</span>&nbsp;<span class="text-base-light origin-story-character-count" <% if @practice.origin_story.present? %>id="practice_<%= @practice.id %>_origin_story_character_count"<% end %>>(0/400 characters)</span>
                            <%= f.text_area :origin_story, class: 'usa-input practice-input height-card origin-story-textarea', 'counter-id': "practice_#{@practice.id}_origin_story_textarea" %>
                        </div>
                        <h2 class="font-sans-xl">Creators</h2>
                        <ul class="practice-editor-origin-ul" id="sortable_origins" role="listbox" title="Practice creators" aria-label="Practice editor practice creator list">
                            <%= f.fields_for :practice_creators, wrapper: false do |pc| %>
                                <%
                                    pc_id = pc.object.id
                                    pc_avatar = pc.object.avatar
                                %>
                                <li class="practice-editor-origin-li fields" data-id="<%= pc_id %>">
                                    <%= pc.hidden_field :position, class: 'origin-position' %>
                                    <div class="origin-container padding-205 border border-width-1px border-base-lighter radius-sm margin-top-3 cropper-boundary">
                                        <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
                                            <%= pc.hidden_field attribute, :id => attribute, :value => nil %>
                                        <% end %>
                                        <div class="position-relative">
                                            <div class="fas fa-arrows-alt font-sans-lg position-arrows origin-arrows text-base arrows-tooltip">
                                                <span class="usa-tag tooltip-text">Drag and drop to change order</span>
                                            </div>
                                            <%= pc.label :name, 'Name:', class: 'usa-label practice-creator-name text-bold display-inline-block' %>&nbsp;<span>Type the name of the person who created this practice.</span>&nbsp;<span class="text-base-light practice-creator-name-character-count" <% if pc_id.present? %>id="practice_creator_<%= pc_id %>_name_character_count"<% end %>>(0/50 characters)</span>
                                            <%= pc.text_field :name, class: 'usa-input practice-input width-tablet practice-creator-name-input', 'counter-id': "practice_creator_#{pc_id}_name" %>
                                        </div>
                                        <div>
                                            <%= pc.label :role, 'Role:', class: 'usa-label text-bold display-inline-block' %>&nbsp;<span>Type their title or position name.</span>&nbsp;<span class="text-base-light practice-creator-role-character-count" <% if pc_id.present? %>id="practice_creator_<%= pc_id %>_role_character_count"<% end %>>(0/50 characters)</span>
                                            <%= pc.text_field :role, class: 'usa-input practice-input width-tablet practice-creator-role', 'counter-id': "practice_creator_#{pc_id}_role" %>
                                        </div>

                                        <p class="text-bold headshot-title margin-bottom-05">Headshot&nbsp;<span class="text-base">(optional)</span></p>
                                        <div class="grid-row">
                                            <div class="grid-col-3 headshot-col margin-top-105 margin-right-3">
                                                <div class="cropper-images-container" data-type="origin">
                                                    <% if pc_avatar.present? %>
                                                        <%= image_tag pc.object.avatar_s3_presigned_url(:original), alt: pc.object.name, class:'cropper-thumbnail-original headshot-img hidden'%>
                                                        <%= image_tag pc.object.avatar_s3_presigned_url(:thumb), alt: pc.object.name, class:'cropper-thumbnail-modified headshot-img'%>
                                                    <% end %>
                                                </div>
                                                <div class="<%= pc_avatar.present? ? 'headshot-container bg-base-lightest radius-md cropper-image-placeholder hidden' : 'headshot-container bg-base-lightest radius-md cropper-image-placeholder'%>">
                                                    <i class="fas fa-user fa-7x headshot-filler text-base-lighter"></i>
                                                </div>
                                            </div>
                                            <div class="grid-col-8">
                                                <div class="margin-bottom-2 cropper-upload-text">
                                                    <p>
                                                        Upload a photo that clearly shows a face. You can upload a .jpg, .jpeg, or .png file and the size limit is 1GB.
                                                    </p>
                                                </div>
                                                <div class="margin-bottom-2 cropper-editor-text hidden">
                                                    <p>
                                                        Please click "Save edits" and then "Save your progress" to save and exit editor.
                                                    </p>
                                                </div>
                                                <a class="usa-button padding-2 cropper-save-edit hidden" aria-controls='photo-save-edit' aria-expanded='false'>Save edits</a>
                                                <a class="usa-button usa-button--outline padding-2 cropper-cancel-edit hidden" aria-controls='photo-cancel-edit' aria-expanded='false'>Cancel edits</a>
                                                <a class="<%= pc_avatar.present? ? "usa-button usa-button--outline padding-2 cropper-edit-mode" : "usa-button usa-button--outline padding-2 cropper-edit-mode hidden" %>" aria-controls='photo-crop' aria-expanded='false'>Edit photo</a>
                                                <div>
                                                    <%= pc.label :avatar, pc_avatar.present? ? 'Upload new photo' : 'Upload photo', class: pc_avatar.present? ? 'cropper-upload-image-label' : 'cropper-upload-image-label usa-button'%>
                                                    <%= pc.file_field :avatar, class: "hidden-upload cropper-upload-image", accept: 'image/*' %>
                                                </div>
                                                <div class="cropper-delete-image">
                                                    <%= pc.label :delete_avatar, 'Remove photo', class: pc_avatar.present? ? 'display-inline-block text-secondary cropper-delete-image-label' : 'display-inline-block text-secondary cropper-delete-image-label hidden'%>
                                                    <%= pc.check_box :delete_avatar, { class: pc_avatar.present? ? 'usa-checkbox__input' : 'usa-checkbox__input hidden'}, 'true', 'false' %>
                                                </div>
                                            </div>
                                            <div class="grid-col-fill flex-align-end trash-container">
                                                <%= pc.link_to_remove '', class: "fas fa-trash-alt origin-trash text-no-underline", title: 'remove practice creator' %>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <% end %>
                        </ul>
                        <%= f.link_to_add :practice_creators, class: 'fas fa-plus text-no-underline add-practice-creator-link' do %>
                            <span class="padding-left-1 font-sans-md text-normal text-no-underline">Add another</span>
                        <% end %>
                        <ul class="trash-can display-none"></ul>
                    </fieldset>
                <% end %>
                <div class="grid-row margin-bottom-8">
                    <%= link_to practice_adoptions_path(@practice), class: 'usa-button usa-button--outline editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline' do %>
                        <i class="fas fa-chevron-left fa-sm text-no-underline margin-right-1"></i>Back
                    <% end %>
                    <%= link_to practice_impact_path(@practice, next: 'impact'), class: 'usa-button padding-2 editor-continue-link continue-and-save margin-right-1 margin-bottom-5', 'data-next': 'impact' do %>
                        Continue<i class="fas fa-chevron-right fa-sm margin-left-1 text-no-underline"></i>
                    <% end %>
                </div>
            </section>
        </div>
    </div>
    <div class="margin-bottom-105">
        <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
    </div>
</div>