<% provide :head_tags do %>
  <%= javascript_include_tag '_assign_facility_name', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '_facilitySelect', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '_visnSelect', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '_officeSelect', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    var facilityData = <%= raw JSON.parse(File.read("#{Rails.root}/lib/assets/vamc.json")).to_json %>;
    var originData = <%= raw JSON.parse(File.read("#{Rails.root}/lib/assets/practice_origin_lookup.json")).to_json %>;
    <% initiating_facility = @practice.initiating_facility || false %>
    var selectedFacility = "<%= @practice.facility? && @practice.initiating_facility || false %>"
    var selectedDepartment = "<%= @practice.initiating_department_office_id %>"
    var selectedOffice = "<%= @practice.department? && @practice.initiating_facility || false %>"
    var selectedVisn = "<%= @practice.visn? && @practice.initiating_facility || false %>"
  <% end %>
  <%= javascript_include_tag 'practice_editor_overview', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '_cropper', 'data-turbolinks-track': 'reload' %>
<% end %>

<%
  partners = PracticePartner.all
  p_partners = @practice.practice_partners
%>

<%= render 'breadcrumbs' %>
<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
  <div class="grid-row grid-gap practice-editor-min-height">
    <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

    <div id="overview" class="desktop:grid-col-9 grid-col-12 p0">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
      <section class="usa-section padding-top-0 p0-bottom introduction">
        <h1 class="font-sans-2xl line-height-sans-205">Overview</h1>
        <h2 class="text-normal">Introduce your practice and provide a clear overview to people who may be unfamiliar
          with it.</h2>
        <%= render 'pii_phi_alert' %>
        <%= nested_form_for(@practice, html: {multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Practice Information</legend>
            <div>
              <%= f.label :name, 'Practice name: ', class: 'usa-label text-bold display-block' %>
              <span>Type the official name of your practice.</span>&nbsp;<span id="practice-editor-name-character-counter" class="text-base-light">(0/50 characters)</span>
              <%= f.text_field :name, class: "usa-input #{ @practice.errors[:name].any? ? 'usa-input--error' : '' } display-block practice-editor-name-input" %>
              <p class="usa-error-message <%= @practice.errors[:name].any? ? 'fas fa-exclamation-circle fon' : 'display-none' %>">&nbsp;<span class="font-family-sans"><%= show_errors(@practice, :name) %></span></p>
            </div>
            <div>
              <%= f.label :tagline, 'Practice tagline: ', class: 'usa-label text-bold display-block margin-top-3' %>
              <span>Type a short sentence summarizing the key outcomes of your practice.</span>&nbsp;<span id="practice-editor-tagline-character-counter" class="text-base-light">(0/150 characters)</span>
              <%= f.text_area :tagline, class: "usa-textarea #{ @practice.errors[:tagline].any? ? 'usa-input--error' : '' } display-block practice-editor-tagline-textarea", required: true %>
              <p class="usa-error-message <%= @practice.errors[:tagline].any? ? 'fas fa-exclamation-circle fon' : 'display-none' %>">&nbsp;<span class="font-family-sans"><%= show_errors(@practice, :tagline) %></span></p>
            </div>
            <p class="margin-top-3"><span class="text-bold">Practice thumbnail:</span><span> Choose an image to represent this practice. Use a high-quality .jpg, .jpeg, or .png files less than 32MB. PII/PHI Waivers are required for photos featuring Veterans. Waivers must be filled out with the ‘External to VA’ check box selected.</span>&nbsp;</p>
            <div class="grid-row margin-top-1 cropper-boundary">
              <div class="grid-col-6">
                <div class="cropper-images-container main-image" data-type="main">
                  <% if @practice.main_display_image.present? %>
                      <%= image_tag @practice.main_display_image_s3_presigned_url(:original), alt: "practice thumbnail for #{@practice.name}", class: 'height-mobile cropper-thumbnail-original radius-md hidden'%>
                      <%= image_tag @practice.main_display_image_s3_presigned_url(:thumb), alt: "practice thumbnail for #{@practice.name}", class: 'height-mobile cropper-thumbnail-modified radius-md'%>
                  <% end %>
                </div>
                <div class="<%= @practice.main_display_image.present? ? 'bg-base-lightest position-relative radius-md height-mobile cropper-image-placeholder hidden' : 'bg-base-lightest position-relative radius-md height-mobile cropper-image-placeholder'%>" style="height: 20rem; width: 20rem;">
                  <i class="fas fa-images fa-4x text-base-lighter no-impact-image"></i>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="margin-bottom-2 cropper-editor-text hidden">
                  <p>Please click "Save edits" and then "Save your progress" to save and exit editor.</p>
                </div>
                <div class="grid-row flex-align-start">
                  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
                    <%= f.hidden_field attribute, :id => attribute, :value => nil %>
                  <% end %>
                  <div class="grid-col-fill">
                    <a class="usa-button padding-2 cropper-save-edit hidden" aria-controls='photo-save-edit' aria-expanded='false'>Save edits</a>
                    <a class="usa-button usa-button--outline padding-2 cropper-cancel-edit hidden" aria-controls='photo-cancel-edit' aria-expanded='false'>Cancel edits</a>
                    <a class="<%= @practice.main_display_image.present? ? "usa-button usa-button--outline padding-2 cropper-edit-mode" : "usa-button usa-button--outline padding-2 cropper-edit-mode hidden" %>" aria-controls='photo-crop' aria-expanded='false'>Edit photo</a>
                    <div>
                      <%= f.label :main_display_image,
                        @practice.main_display_image.present? ? 'Upload new photo' : 'Upload photo',
                        class: @practice.main_display_image.present? ? 'cropper-upload-image-label' : 'cropper-upload-image-label usa-button'
                      %>
                      <%= f.file_field :main_display_image, class: "hidden-upload cropper-upload-image", accept: 'image/*' %>
                    </div>
                    <div class="cropper-delete-image">
                      <%= f.label :delete_main_display_image, 'Remove photo', class: @practice.main_display_image.present? ? 'display-inline-block text-secondary cropper-delete-image-label' : 'display-inline-block text-secondary cropper-delete-image-label hidden'%>
                      <%= f.check_box :delete_main_display_image, { class: @practice.main_display_image.present? ? 'usa-checkbox__input cropper-delete-image' : 'usa-checkbox__input cropper-delete-image hidden'}, 'true', 'false' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <%
              origin_data = JSON.parse(File.read("#{Rails.root}/lib/assets/practice_origin_lookup.json"))
            %>

            <p class="margin-top-3 margin-bottom-1"><span class="text-bold">Practice origin:</span>&nbsp;<span>Select the state and facility where this practice originated.</span>
            <div class="usa-radio margin-bottom-1 position-relative">
            <%= radio_button_tag 'practice[initiating_facility_type]', 'facility', @practice.facility? && @practice.initiating_facility.present? ? true : false, class: 'usa-radio__input initiating-facility-type-radio', id: "initiating_facility_type_facility", required: true %>
            <%= label_tag 'initiating_facility_type_facility', 'Select by facility', class: 'usa-radio__label initiating-facility-type-label x0-bottom', for: "initiating_facility_type_facility" %>
          </div>
            <div class="grid-row grid-gap-4 margin-bottom-2">
              <div>
                <%= label_tag 'editor_state_select', 'State', class: 'usa-label x0-top' %>
                <%= select_tag('', options_for_select(us_states), id: 'editor_state_select', name: 'editor_state_select', class: 'width-card-lg height-5 usa-select', required: true)%>
              </div>
              <div class="grid-col-fill">
                <%= label_tag 'editor_facility_select', 'Facility', class: 'usa-label x0-top' %>
                <%= select_tag('practice[initiating_facility]', options_for_select([['-Select-', nil, selected: true, disabled: true, class: 'usa-select dm-color-disabled']]), id: 'editor_facility_select', class: 'width-full height-5 usa-select', required: true) %>
              </div>
            </div>
            <div class="usa-radio margin-bottom-1 position-relative">
              <%= radio_button_tag 'practice[initiating_facility_type]', 'visn', @practice.visn? ? true : false, class: 'usa-radio__input initiating-facility-type-radio', id: "initiating_facility_type_visn" %>
              <%= label_tag 'initiating_facility_type_visn', 'Select by VISN', class: 'usa-radio__label initiating-facility-type-label x0-bottom', for: "initiating_facility_type_visn" %>
            </div>
            <div class="grid-row">
              <div class="margin-bottom-2 grid-col-8">
                <%= label_tag 'editor_visn_select', 'VISN', class: 'usa-label x0-top' %>
                <%= select_tag('practice[initiating_facility]', options_for_select(origin_data['visns'].collect { |v| [v['number'], v['id']] }), id: 'editor_visn_select', class: 'height-5 usa-select', include_blank: '-Select-', required: true) %>
              </div>
            </div>
            <div class="usa-radio margin-bottom-1 position-relative">
              <%= radio_button_tag 'practice[initiating_facility_type]', 'department', @practice.department? ? true : false, class: 'usa-radio__input initiating-facility-type-radio', id: "initiating_facility_type_department" %>
              <%= label_tag 'initiating_facility_type_department', 'Select by department', class: 'usa-radio__label initiating-facility-type-label x0-bottom', for: "initiating_facility_type_department" %>
            </div>
            <div class="grid-row">
              <div class="margin-bottom-1 grid-col-8">
                <%= label_tag 'editor_department_select', 'Department', class: 'usa-label x0-top' %>
                <%= select_tag('practice[initiating_department_office_id]', options_for_select(origin_data['departments'].collect { |d| [d['name'], d['id']] }), id: 'editor_department_select', class: 'height-5 usa-select', include_blank: '-Select-', required: true) %>
              </div>
            </div>
            <div class="grid-row grid-gap-4 margin-bottom-2">
              <div>
                <%= label_tag 'editor_office_state_select', 'State', class: 'usa-label x0-top' %>
                <%= select_tag('', options_for_select(us_states), id: 'editor_office_state_select', name: 'editor_office_state_select', class: 'width-card-lg height-5 usa-select', required: true) %>
              </div>
              <div class="grid-col-fill">
                <%= label_tag 'editor_office_select', 'Office', class: 'usa-label x0-top' %>
                <%= select_tag('practice[initiating_facility]', options_for_select([['-Select-', nil, selected: true, disabled: true, class: 'usa-select dm-color-disabled']]), id: 'editor_office_select', class: 'width-full height-5 usa-select', required: true) %>
              </div>
            </div>
            <div class="usa-radio position-relative">
              <%= radio_button_tag 'practice[initiating_facility_type]', 'other', @practice.other? ? true : false, class: 'usa-radio__input initiating-facility-type-radio', id: "initiating_facility_type_other" %>
              <%= label_tag 'initiating_facility_type_other', 'Select other', class: 'usa-radio__label initiating-facility-type-label x0-bottom', for: "initiating_facility_type_other" %>
            </div>
            <div class="grid-row">
              <div class="grid-col-8">
                <%= label_tag 'practice_initiating_facility_other', '', class: 'usa-label text-bold display-inline-block initiating-facility-other-label' %>
                <%= text_field_tag 'practice[initiating_facility]', "#{ @practice.initiating_facility_type == 'other' ? @practice.initiating_facility : '' }", class: 'usa-input practice-input', id: 'practice_initiating_facility_other', required: true %>
              </div>
            </div>
            <p class="margin-top-3"><span class="text-bold">Practice date:</span>&nbsp;<span>Select the month and year when this practice was created.</span>
            <div class="grid-row grid-gap-4">
              <div>
                <%= label_tag 'editor_date_intiated_month', 'Month', class: 'usa-label' %>
                <%= select_month(@practice.date_initiated.present? ? date_get_month(@practice.date_initiated) : nil, {prompt: '-Select-', prefix: 'date_initiated'}, {id: 'editor_date_intiated_month', class: 'width-card-lg height-5 usa-select', required: true}) %>
              </div>
              <div class="grid-col-fill">
                <%= label_tag 'editor_date_intiated_year', 'Year', class: 'usa-label' %>
                <%= select_year(@practice.date_initiated.present? ? date_get_year(@practice.date_initiated) : nil, {start_year: 1970, end_year: Date.today.year, prompt: '-Select-', prefix: 'date_initiated', default: '-Select-'}, {id: 'editor_date_intiated_year', class: 'width-full height-5 usa-select', required: true}) %>
              </div>
            </div>
            <div>
              <%= f.label :summary, 'Practice summary: ', class: 'usa-label text-bold display-block' %>
              <span>Type a brief summary of your practice’s mission.</span>&nbsp;<span id="practice-editor-summary-character-counter" class="text-base-light">(0/400 characters)</span>
              <%= f.text_area :summary, class: 'usa-textarea display-block practice-editor-summary-textarea', required: true %>
            </div>
            <p class="margin-top-3 margin-bottom-1"><span class="text-bold">Partners: </span><span>Select any of the following partners your practice is associated with.</span>
            <%
              no_partners = PracticePartner.where(name: 'None of the above, or Unsure')
              partners = PracticePartner.where.not(id: no_partners.ids)
              partners_list = partners + no_partners
            %>
            <% partners_list.each do |partner| %>
              <% if partner.name == 'None of the above, or Unsure' %>
                <div class='usa-checkbox practice-partner-checkbox position-relative'>
                  <input type='checkbox' class='usa-checkbox__input no-partner-input' id="practice_partner_<%= partner.id %>" name='practice[practice_partner][<%= partner.id %>][value]' <%= p_partners.include?(partner) ? "checked= 'true'" : "" %>>
                  <label class='usa-checkbox__label' id="practice_partner_<%= partner.id %>_label" for="practice_partner_<%= partner.id %>"><%= partner.name %></label>
                </div>
                <% else  %>
                  <div class='usa-checkbox practice-partner-checkbox position-relative'>
                    <input type='checkbox' class='usa-checkbox__input partner-input' id="practice_partner_<%= partner.id %>" name='practice[practice_partner][<%= partner.id %>][value]' <%= p_partners.include?(partner) ? "checked= 'true'" : "" %>>
                    <label class='usa-checkbox__label' id="practice_partner_<%= partner.id %>_label" for="practice_partner_<%= partner.id %>"><%= partner.name %></label>
                  </div>
                <% end %>
            <% end %>
          </fieldset>
        <% end %>
        <div class="grid-row">
            <%= link_to practice_instructions_path(@practice), class: 'usa-button usa-button--outline editor-back-to-link margin-right-1 padding-2 text-no-underline' do %>
                <i class="fas fa-chevron-left fa-sm text-no-underline margin-right-1"></i>Back
            <% end %>
            <%= link_to practice_adoptions_path(@practice), class: 'usa-button padding-2 editor-continue-link continue-and-save margin-right-1' do %>
                Continue<i class="fas fa-chevron-right fa-sm margin-left-1 text-no-underline"></i>
            <% end %>
        </div>
      </section>
    </div>
  </div>
</div>