<% provide :head_tags do %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    var facilityData = <%= raw JSON.parse(File.read("#{Rails.root}/lib/assets/vamc.json")).to_json %>;
    <% initiating_facility = @practice.initiating_facility || false %>
    var selectedFacility = "<%= @practice.initiating_facility %>";
  <% end %>
  <%= javascript_include_tag 'practice_editor_overview', 'data-turbolinks-track': 'reload' %>
<% end %>

<%
  partners = PracticePartner.all
%>

<%= render 'breadcrumbs' %>
<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

    <div id="overview" class="desktop:grid-col-9 grid-col-12 p0">
      <%= render "shared/messages" %>
      <section class="usa-section padding-top-0 p2-bottom introduction">
        <h1 class="font-sans-3xl">Overview</h1>
        <h2 class="text-normal">Introduce your practice and provide a clear overview to people who may be unfamiliar
          with it.</h2>
        <%= nested_form_for(@practice, html: {multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Practice Information</legend>
            <div>
              <%= f.label :name, 'Practice name: ', class: 'usa-label text-bold display-block' %>
              <span>Type the official name of your practice.</span>&nbsp;<span id="practice-editor-name-character-counter" class="text-base-light">(0/50 characters)</span>
              <%= f.text_field :name, required: true, class: "usa-input #{ @practice.errors[:name].any? ? 'usa-input--error' : '' } display-block practice-editor-name-input" %>
              <p class="usa-error-message <%= @practice.errors[:name].any? ? 'fas fa-exclamation-circle fon' : 'display-none' %>">&nbsp;<span class="font-family-sans"><%= show_errors(@practice, :name) %></span></p>
            </div>
            <div>
              <%= f.label :tagline, 'Practice tagline: ', class: 'usa-label text-bold display-block margin-top-3' %>
              <span>Type a short sentence summarizing the key outcomes of your practice.</span>&nbsp;<span id="practice-editor-tagline-character-counter" class="text-base-light">(0/150 characters)</span>
              <%= f.text_area :tagline, required: true, class: "usa-textarea #{ @practice.errors[:tagline].any? ? 'usa-input--error' : '' } display-block practice-editor-tagline-textarea" %>
              <p class="usa-error-message <%= @practice.errors[:tagline].any? ? 'fas fa-exclamation-circle fon' : 'display-none' %>">&nbsp;<span class="font-family-sans"><%= show_errors(@practice, :tagline) %></span></p>
            </div>
            <p class="margin-top-3"><span class="text-bold">Practice origin:</span>&nbsp;<span>Select the state and facility where this practice originated</span>
            <div class="grid-row grid-gap-4">
              <div>
                <%= label_tag 'editor_state_select', 'State', class: 'usa-label' %>
                <%= select_tag('', options_for_select(us_states), id: 'editor_state_select', name: 'editor_state_select', class: 'width-card-lg height-5 usa-select', required: true) %>
              </div>
              <div class="grid-col-fill">
                <%= label_tag 'editor_facility_select', 'Facility', class: 'usa-label' %>
                <%= f.select(:initiating_facility, options_for_select(['-Select-'], {selected: '-Select-', disabled: '-Select-'}), {}, {id: 'editor_facility_select', class: 'width-full height-5 usa-select', required: true}) %>
              </div>
            </div>
            <div>
              <%= f.label :summary, 'Practice summary: ', class: 'usa-label text-bold display-block' %>
              <span>Type a brief summary of your practice’s mission.</span>&nbsp;<span id="practice-editor-summary-character-counter" class="text-base-light">(0/400 characters)</span>
              <%= f.text_area :summary, required: true, class: 'usa-textarea display-block practice-editor-summary-textarea' %>
            </div>
            <p class="margin-top-3 margin-bottom-1"><span class="text-bold">Partners: </span><span>Select any of the following partners your practice is associated with.</span>
            <% partners.each do |partner| %>
              <div class='usa-checkbox practice-partner-checkbox'>
                <input type='checkbox' class='usa-checkbox__input partner-input' id="practice_partner_<%= partner.id %>" name='practice[practice_partner][<%= partner.id %>][value]' <%= @practice.practice_partners.include?(partner) ? "checked= 'true'" : "" %>>
                <label class='usa-checkbox__label' id="practice_partner_<%= partner.id %>_label" for="practice_partner_<%= partner.id %>"><%= partner.name %></label>
              </div>
            <% end %>
            <div class='usa-checkbox practice-partner-checkbox'>
              <input type='checkbox' class='usa-checkbox__input partner-input' id="no_practice_partner" <%= @practice.practice_partners.empty? ? "checked= 'true'" : "" %>>
              <label class='usa-checkbox__label' id="no_practice_partner_label" for="no_practice_partner">None of the above, or Unsure</label>
            </div>
          </fieldset>
        <% end %>
        <div class="grid-row margin-bottom-8">
            <%= link_to practice_collaborators_path(@practice), class: 'usa-button usa-button--outline editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline' do %>
                <i class="fas fa-chevron-left fa-sm text-no-underline margin-right-1"></i>Back
            <% end %>
            <%= link_to practice_origin_path(@practice), class: 'usa-button padding-2 editor-continue-link margin-right-1 margin-bottom-5' do %>
                Continue<i class="fas fa-chevron-right fa-sm margin-left-1 text-no-underline"></i>
            <% end %>
        </div>
      </section>
    </div>
  </div>

  <div class="margin-bottom-105">
    <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
  </div>
</div>