<% provide :head_tags do %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    var facilityData = <%= raw JSON.parse(File.read("#{Rails.root}/lib/assets/vamc.json")).to_json %>;
    <% initiating_facility = @practice.initiating_facility || false %>
    var selectedFacility = "<%= @practice.initiating_facility %>";
  <% end %>
  <%= javascript_include_tag 'practice_editor_overview', 'data-turbolinks-track': 'reload' %>
<% end %>

<%
  partners = PracticePartner.all
  p_partners = @practice.practice_partners
%>

<%= render 'breadcrumbs' %>
<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
  <div class="grid-row grid-gap practice-editor-min-height">
    <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

    <div id="overview" class="desktop:grid-col-9 grid-col-12 p0">
      <%= render "shared/messages" %>
      <section class="usa-section padding-top-0 p2-bottom introduction">
        <h1 class="font-sans-2xl line-height-sans-205">Overview</h1>
        <h2 class="text-normal">Introduce your practice and provide a clear overview to people who may be unfamiliar
          with it.</h2>
        <%= nested_form_for(@practice, html: {multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Practice Information</legend>
            <div>
              <%= f.label :name, 'Practice name: ', class: 'usa-label text-bold display-block' %>
              <span>Type the official name of your practice.</span>&nbsp;<span id="practice-editor-name-character-counter" class="text-base-light">(0/50 characters)</span>
              <%= f.text_field :name, class: "usa-input #{ @practice.errors[:name].any? ? 'usa-input--error' : '' } display-block practice-editor-name-input" %>
              <p class="usa-error-message <%= @practice.errors[:name].any? ? 'fas fa-exclamation-circle fon' : 'display-none' %>">&nbsp;<span class="font-family-sans"><%= show_errors(@practice, :name) %></span></p>
            </div>
            <div>
              <%= f.label :tagline, 'Practice tagline: ', class: 'usa-label text-bold display-block margin-top-3' %>
              <span>Type a short sentence summarizing the key outcomes of your practice.</span>&nbsp;<span id="practice-editor-tagline-character-counter" class="text-base-light">(0/150 characters)</span>
              <%= f.text_area :tagline, class: "usa-textarea #{ @practice.errors[:tagline].any? ? 'usa-input--error' : '' } display-block practice-editor-tagline-textarea", required: true %>
              <p class="usa-error-message <%= @practice.errors[:tagline].any? ? 'fas fa-exclamation-circle fon' : 'display-none' %>">&nbsp;<span class="font-family-sans"><%= show_errors(@practice, :tagline) %></span></p>
            </div>
            <p class="margin-top-3"><span class="text-bold">Practice thumbnail:</span>&nbsp;</p>
            <div class="grid-row margin-top-1">
              <div id="practice-thumbnail-placeholder" class="grid-col-6">
                <% if @practice.main_display_image.present? %>
                  <%= image_tag @practice.main_display_image_s3_presigned_url(:original), alt: "practice thumbnail for #{@practice.name}", class: 'height-mobile practice-editor-thumbnail-photo radius-md hidden', id: 'practice-overview-thumbnail-original'%>
                  <%= image_tag @practice.main_display_image_s3_presigned_url(:thumb), alt: "practice thumbnail for #{@practice.name}", class: 'height-mobile practice-editor-thumbnail-photo radius-md', id: 'practice-overview-thumbnail-modified'%>
                <% else %>
                  <div class="bg-base-lightest position-relative radius-md height-mobile" style="height: 320px; width: 372px;">
                    <i class="fas fa-images fa-4x text-base-lighter no-impact-image"></i>
                  </div>
                <% end %>
              </div>
              <div class="grid-col-6">
                <div class="margin-bottom-205 margin-left-5">
                  <p class="thumbnail-upload-text">Upload a clear photo that will be shown as the representative image for this practice. You can upload a .jpg, .jpeg, or .png file and the size limit is 1GB.</p>
                </div>
                <div class="grid-row margin-left-5 flex-align-start">
                  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
                    <%= f.hidden_field attribute, :id => attribute, :value => nil %>
                  <% end %>
                  <div class="grid-col-fill image-actions">
                      <a class="usa-button padding-2 hidden" aria-controls='photo-save-edit' aria-expanded='false' id='practice-overview-save-edit'>Save edits</a>
                      <a class="usa-button usa-button--outline padding-2 hidden" aria-controls='photo-cancel-edit' aria-expanded='false' id='practice-overview-cancel-edit'>Cancel edits</a>
                      <a class="<%= @practice.main_display_image.present? ? "usa-button usa-button--outline padding-2" : "usa-button usa-button--outline padding-2 hidden" %>" aria-controls='photo-crop' aria-expanded='false' id='practice-overview-crop-mode'>Edit photo</a>
                      <div>
                        <%= f.label :main_display_image,
                          @practice.main_display_image.present? ? 'Upload new photo' : 'Upload photo',
                          class: @practice.main_display_image.present? ? 'upload-main-display-image-link' : 'upload-main-display-image-link usa-button'
                        %>
                        <%= f.file_field :main_display_image, class: "hidden-upload", accept: 'image/*' %>
                      </div>
                        <%= f.label :delete_main_display_image, 'Remove photo', class: @practice.main_display_image.present? ? 'display-inline-block text-secondary remove-main-display-image-link' : 'display-inline-block text-secondary remove-main-display-image-link hidden'%>
                        <%= f.check_box :delete_main_display_image, { class: @practice.main_display_image.present? ? 'usa-checkbox__input' : 'usa-checkbox__input hidden'}, 'true', 'false' %>
                  </div>
                </div>
              </div>
            </div>
            <p class="margin-top-3"><span class="text-bold">Practice origin:</span>&nbsp;<span>Select the state and facility where this practice originated</span>
            <div class="grid-row grid-gap-4">
              <div>
                <%= label_tag 'editor_state_select', 'State', class: 'usa-label' %>
                <%= select_tag('', options_for_select(us_states), id: 'editor_state_select', name: 'editor_state_select', class: 'width-card-lg height-5 usa-select', required: true) %>
              </div>
              <div class="grid-col-fill">
                <%= label_tag 'editor_facility_select', 'Facility', class: 'usa-label' %>
                <%= f.select(:initiating_facility, options_for_select(['-Select-'], {selected: '-Select-', disabled: '-Select-'}), {}, {id: 'editor_facility_select', class: 'width-full height-5 usa-select', required: true}) %>
              </div>
            </div>
            <p class="margin-top-3"><span class="text-bold">Practice date:</span>&nbsp;<span>Select the month and year when this practice was created.</span>
            <div class="grid-row grid-gap-4">
              <div>
                <%= label_tag 'editor_date_intiated_month', 'Month', class: 'usa-label' %>
                <%= select_month(@practice.date_initiated.present? ? date_get_month(@practice.date_initiated) : nil, {prompt: '-Select-', prefix: 'date_initiated'}, {id: 'editor_date_intiated_month', class: 'width-card-lg height-5 usa-select', required: true}) %>
              </div>
              <div class="grid-col-fill">
                <%= label_tag 'editor_date_intiated_year', 'Year', class: 'usa-label' %>
                <%= select_year(@practice.date_initiated.present? ? date_get_year(@practice.date_initiated) : nil, {start_year: 1970, end_year: Date.today.year, prompt: '-Select-', prefix: 'date_initiated', default: '-Select-'}, {id: 'editor_date_intiated_year', class: 'width-full height-5 usa-select', required: true}) %>
              </div>
            </div>
            <div class="grid-row grid-gap-4">
              <div>
                <%= f.label :number_adopted, 'Practice adoptions:', class: 'usa-label text-bold display-block' %>
                <span>Type the total number of times your practice has been adopted by other facilities.</span>
                <%= f.number_field :number_adopted, class: "grid-col-3 usa-input", min: 0 %>
              </div>
            </div>
            <div>
              <%= f.label :summary, 'Practice summary: ', class: 'usa-label text-bold display-block' %>
              <span>Type a brief summary of your practice’s mission.</span>&nbsp;<span id="practice-editor-summary-character-counter" class="text-base-light">(0/400 characters)</span>
              <%= f.text_area :summary, class: 'usa-textarea display-block practice-editor-summary-textarea', required: true %>
            </div>
            <p class="margin-top-3 margin-bottom-1"><span class="text-bold">Partners: </span><span>Select any of the following partners your practice is associated with.</span>
            <% partners.each do |partner| %>
              <% if partner.name == 'None of the above, or Unsure' %>
                <div class='usa-checkbox practice-partner-checkbox position-relative'>
                  <input type='checkbox' class='usa-checkbox__input no-partner-input' id="practice_partner_<%= partner.id %>" name='practice[practice_partner][<%= partner.id %>][value]' <%= p_partners.include?(partner) ? "checked= 'true'" : "" %>>
                  <label class='usa-checkbox__label' id="practice_partner_<%= partner.id %>_label" for="practice_partner_<%= partner.id %>"><%= partner.name %></label>
                </div>
                <% else  %>
                  <div class='usa-checkbox practice-partner-checkbox position-relative'>
                    <input type='checkbox' class='usa-checkbox__input partner-input' id="practice_partner_<%= partner.id %>" name='practice[practice_partner][<%= partner.id %>][value]' <%= p_partners.include?(partner) ? "checked= 'true'" : "" %>>
                    <label class='usa-checkbox__label' id="practice_partner_<%= partner.id %>_label" for="practice_partner_<%= partner.id %>"><%= partner.name %></label>
                  </div>
                <% end %>
            <% end %>
          </fieldset>
        <% end %>
        <div class="grid-row margin-bottom-8">
            <%= link_to practice_instructions_path(@practice), class: 'usa-button usa-button--outline editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline' do %>
                <i class="fas fa-chevron-left fa-sm text-no-underline margin-right-1"></i>Back
            <% end %>
            <%= link_to practice_origin_path(@practice), class: 'usa-button padding-2 editor-continue-link margin-right-1 margin-bottom-5' do %>
                Continue<i class="fas fa-chevron-right fa-sm margin-left-1 text-no-underline"></i>
            <% end %>
        </div>
      </section>
    </div>
  </div>

  <div class="margin-bottom-105">
    <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
  </div>
</div>