<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= render 'breadcrumbs' %>

<section class="margin-top-7 margin-bottom-6" id="next-steps-top">
  <div class="grid-container">
    <%= render partial: "shared/messages", locals: {small_text: false} %>
    <div class="grid-row flex-align-end margin-bottom-105">
      <h1 class="font-sans-2xl margin-right-3 margin-y-0 grid-col-auto grid-col-auto">Adoption checklist</h1>
      <div class="grid-col-fill share-checklist-container margin-bottom-05">
        <a target="_blank"
           href="mailto:?subject=<%= email_checklist_subject(@practice) %>&body=<%= email_checklist_body(@practice) %>" class="link-primary text-super">
          <i class="fas fa-external-link-alt"></i>&nbsp;
          Share checklist
        </a>
      </div>
    </div>
    <p class="margin-0 font-sans-lg grid-col-10 line-height-36">
      Here is a step-by-step guide to give you the best chance of success for adopting this practice. After completing these
      preparatory steps, we will put you in contact with the practice team members for full adoption details.
    </p>
  </div>
</section>


<!-- Checklist -->

<section>
  <%= form_for :commit, url: {action: :commit }, method: :post do %>
    <!--  <form class="usa-form-large" action="<%#= practice_commit_path(practice_id: @practice.slug) %>" method="post">-->
    <div class="grid-container margin-bottom-6">
      <div class="grid-row grid-gap">
        <div class="grid-col-8">
          <!-- <button type="button" id="print-checklist-button" role="button" class="dm-button-secondary margin-bottom-205">Print Checklist
          </button> -->

          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Implementation checklist</legend>

            <!-- Implementation team -->
            <div id="implementation-team" class="margin-bottom-3">
              <div class="usa-checkbox">
                <input class="usa-checkbox__input" id="team" type="checkbox" name="checklist" value="implementation team">
                <label class="usa-checkbox__label margin-bottom-1" for="team"><span class="fw-bold">Implementation team</span></label>
              </div>
              <div class="padding-left-9">
                <% @practice.additional_staffs.each do |as| %>
                  <div class="usa-checkbox margin-bottom-205">
                    <input class="usa-checkbox__input" id="additional-staff-<%= as.id %>" type="checkbox" name="checklist" value="additional-staff-<%= as.id %>">
                    <label class="usa-checkbox__label margin-bottom-1" for="additional-staff-<%= as.id %>"><span class="fw-bold"><%= as.title %></span></label>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- Practice champion -->
            <%= render 'next_steps_checkbox', label: 'Practice champion', sectionId: 'practice-champion', noList: true do %>
              <p class="padding-left-4 margin-0">
                Working Group needs to select a dynamic, charismatic individual who will be able to promote the practice,
                recruit additional team members, and illicit administrative support.
              </p>
            <% end %>
            <!-- -->

            <!-- Permissions required -->
            <%
              permissions = @practice.practice_permissions
            %>
            <% if permissions.any? %>
              <%= render 'next_steps_checkbox', label: 'Permissions required', sectionId: 'permissions-required' do %>
                <% permissions.each do |permission| %>
                  <li class="<%= permissions.count > 1 ? 'margin-bottom-105' : '' %>">
                    <p class="text-bold margin-bottom-1 text-underline"><%= permission.name %></p>
                    <p><%= permission.description %></p>
                  </li>
                <% end %>
              <% end %>
            <% end %>
            <!-- -->

            <!-- IT required -->
            <% if @practice.it_required %>
            <%= render 'next_steps_checkbox', label: 'Information technology department required', noList: true, sectionId: 'it-department' %>
            <% end %>
            <!-- -->

            <!-- Departments impacted -->
            <%
              practice_departments = @practice.departments
            %>
            <% if practice_departments.where.not(name: 'None').any? %>
              <%= render 'next_steps_checkbox', label: 'Departments', sectionId: 'departments-impacted' do %>
                <% if practice_departments.where(name: 'All departments equally - not a search differentiator').present? %>
                  <li>All Departments</li>
                <% else %>
                  <% practice_departments.where.not(name: 'All departments equally - not a search differentiator').order('LOWER(name) ASC').each do |d| %>
                    <li><%= d.name %></li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <!-- -->

            <!-- Resource capabilities -->
            <%
              additional_resources = @practice.additional_resources
            %>
            <% if additional_resources.any? %>
              <%= render 'next_steps_checkbox', label: 'Resources', sectionId: 'resource-capabilities' do %>
                <% additional_resources.each do |r| %>
                  <li class="<%= additional_resources.count > 1 ? 'margin-bottom-105' : '' %>">
                    <p class="text-bold margin-bottom-1 text-underline"><%= r.name %></p>
                    <p><%= r.description %></p>
                  </li>
                <% end %>
              <% end %>
            <% end %>
            <!-- -->

            <!-- Costs list -->
            <% if @practice.costs.any? %>
              <%= render 'next_steps_checkbox', label: 'Cost', sectionId: 'costs-list' do %>
                <% @practice.costs.each do |c| %>
                  <li><%= c.description %></li>
                <% end %>
              <% end %>
            <% end %>
            <!-- -->

            <!-- Willing to provide feedback -->
            <%= render 'next_steps_checkbox', label: 'Willing to provide feedback', sectionId: 'feedback-section', noList: true do %>
              <p class="padding-left-4 margin-0">
                Feedback on the implementation process and sharing the resulting data once the practice is implemented are
                a requirement/expected.
              </p>
            <% end %>
            <!-- -->
          </fieldset>

          <h2 class="font-sans-xl margin-bottom-205">Agree to terms</h2>
          <p>
            By clicking the button below, you agree:
            <ul>
              <li>to signify the checklist is complete and your team is ready to adopt the practice</li>
              <li>to provide feedback on the practice adoption process</li>
              <li>to share result data after the practice is implemented</li>
            </ul>
          </p>
          <p class="margin-bottom-2">
            <button role="button" class="usa-button usa-button-primary">Adopt this practice</button>
          </p>
          <p>
            The VA will be notified of your plan to implement this practice and the practice support team will message you to start working on the next implementation steps.
          </p>
        </div>
        <div class="tablet:grid-col-4">
          <%= render partial: 'practices/favorite_button', locals: {practice: @practice, featured: true, col_4: false } %>
          <%= render partial: 'marketplace_card', locals: {practice: @practice, featured: false} %>
          <div class="margin-top-auto"></div>
        </div>
      </div>
    </div>
  <% end %>
  <!--  </form>-->
  <div class="grid-container margin-bottom-105">
    <p>
      <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
    </p>
  </div>
</section>


