<%= render 'breadcrumbs' %>
<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
    <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

        <div id="resources" class="desktop:grid-col-9 grid-col-12 p0">
            <section class="usa-section padding-top-0 p2-bottom resources">
                <h1 class="font-sans-3xl">Resources</h1>
                <h2 class="text-normal">
                    Provide a detailed list of the resources required for another facility to successfully implement your practice.
                </h2>
                <div class="bg-gold padding-2 radius-md margin-bottom-5 margin-top-2">
                    <p>
                        <span class="text-bold">Note:&nbsp;</span>
                        <span>Due to differences across facility levels and resources, the following estimates should be based on a 1A facility.</span>
                    </p>
                </div>
                <p>
                    <span class="text-bold">Cost:&nbsp;</span>
                    <span>Estimate the cost for another group to implement your practice. Your estimate should include costs related to physical, technological, and staff.</span>
                </p>
                <%= nested_form_for(@practice, html: { multipart: true, style: 'max-width: 100%', class: 'usa-form margin-top-105 margin-bottom-6'}) do |f| %>
                    <fieldset class="usa-fieldset">
                        <legend class="usa-sr-only">Resource Information</legend>
                        <% (1..4).each do |index| %>
                            <div class='grid-row'>
                                <div class='grid-col usa-radio'>
                                    <%= radio_button('practice', 'cost_to_implement_aggregate', index.to_s, class: 'usa-radio__input') %>
                                    <label class='usa-radio__label' for='practice_cost_to_implement_aggregate_<%= index %>'><%= Practice::COST_LABELS[index-1] %></label>
                                </div>
                            </div>
                        <% end %>
                    </fieldset>
                <% end %>
                <div class="grid-row margin-bottom-8">
                    <%= link_to practice_documentation_path(@practice), class: 'editor-back-to-link margin-right-1' do %>
                        <button class="usa-button usa-button--outline padding-2 editor-back-to-button"><i class="fas fa-chevron-left fa-sm">&nbsp;&nbsp;</i>Back</button>
                    <% end %>
                    <%= link_to practice_complexity_path(@practice), class: 'editor-continue-link' do %>
                        <button class="usa-button padding-2 editor-continue-button">Continue&nbsp;&nbsp;<i class="fas fa-chevron-right fa-sm"></i></button>
                    <% end %>
                </div>
            </section>
        </div>
    </div>
    <div class="margin-bottom-105">
        <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
    </div>
</div>