<%# Utilized the body instead of just the main element because there were white patches below main content on larger viewports %>
<% provide :body_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>
<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_card_utilities', 'data-turbolinks-track': 'false' %>
  <%= javascript_include_tag '_otherCategories', 'data-turbolinks-track': 'false' %>
  <%= javascript_tag 'data-turbolinks-track': 'false' do %>
    <%= render partial: 'search', formats: [:js] %>
  <% end %>
<% end %>
<%
  if params["query"].present?
    if !params.has_key?(:cat)
      update_category_usages
    end
  end
%>
<div id="search-page">
  <section class="grid-container margin-bottom-neg-3 tablet:margin-bottom-5">
    <%= render partial: "shared/messages", locals: {small_text: false} %>
    <form id="update-search-results-form">
      <div class="usa-search usa-search--big margin-bottom-2 grid-col-12">
        <div role="search" class="flex-column">
          <label for="dm-practice-search-field"></label>
          <div id="search-bar-container" class="display-flex">
            <input class="usa-input" id="dm-practice-search-field" title="Type at least three characters to search." autocomplete="off" type="search" name="search">
            <button id="dm-practice-search-button" class="usa-button" type="submit" name="search-button">
              <span class="usa-search__submit-text text-bold">Search</span>
            </button>
          </div>
        </div>
      </div>
      <div class="usa-accordion usa-accordion--bordered position-relative">
        <button id="mobile_filters_button" class="usa-button width-full desktop:display-none" type="button">Filters</button>
        <h2 class="usa-accordion__heading desktop-filters-accordion-heading display-none desktop:display-block">
          <button class="usa-accordion__button search-filters-accordion-button"
                  aria-expanded="false"
                  aria-controls="search_filters_dropdown">
            Filters
          </button>
        </h2>
        <div id="search_filters_dropdown" class="usa-accordion__content position-fixed top-0 right-0 left-0 bottom-0 width-full z-400 padding-0 display-none">
          <div class="mobile-modal-container">
            <div class="grid-container grid-row height-10 display-flex flex-align-center desktop:display-none">
              <div class="grid-col-3">
                <button type="button" class="fas fa-times fa-2x display-block" id="close_filters_modal"></button>
              </div>
              <div class="grid-col-6">
                <h2 class="margin-top-0 font-sans-xl line-height-37px text-center">Filters</h2>
              </div>
              <div class="grid-col-3">
                <div class="text-right">
                  <button type="button" class="dm-button--unstyled-primary width-auto" id="resetSearchFiltersButtonMobile">Reset</button>
                </div>
              </div>
            </div>
            <%= render partial: 'practices/search_partials/search_filters' %>
          </div>
        </div>
      </div>
    </form>

    <%= render partial: 'shared/search_sort_select_section', locals: {
      sort_options: [
        ['Sort by most relevant', 'most_relevant', selected: true, class: 'usa-select'],
        ['Sort by A to Z', 'a_to_z', class: 'usa-select'],
        ['Sort by most adopted innovations', 'adoptions', class: 'usa-select'],
        ['Sort by most recently added', 'added', class: 'usa-select']
      ],
      section_id: 'dm-search-practices',
      section_classes: 'dm-search-practices display-none margin-top-2',
      first_div_classes: 'grid-row margin-bottom-105 flex-align-center',
      second_div_classes: 'grid-col-12 order-first margin-top-0 dm-sort-container margin-bottom-3 desktop:margin-top-1 desktop:margin-bottom-0 desktop:margin-top-0 desktop:order-last desktop:grid-col-4'
    }
    %>
    <%= render partial: 'shared/loading_spinner', locals: { display: false, classes: "dm-loading-spinner display-none flex-justify-center flex-align-self-center margin-y-8 desktop:margin-y-10" } %>
    <%= render partial: 'shared/search_no_results', locals: { display_no_query_msg: true } %>
  </section>
</div>

