<%# Utilized the body instead of just the main element because there were white patches below main content on larger viewports %>
<% provide :body_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>
<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_card_utilities', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'shared/_signed_resource', 'data-turbolinks-track': 'false', defer: true %>
  <%= javascript_tag 'data-turbolinks-track': 'false' do %>
    <%= render partial: 'search', formats: [:js] %>
  <% end %>
<% end %>

<% if params["query"].present? %>
    <%= update_category_usages %>
<% end %>

<div id="search-page">
  <section class="grid-container margin-bottom-neg-3 margin-top-5" id="searchResultsContainer">
    <%= render partial: "shared/messages", locals: {small_text: false} %>
      <div class="grid-row margin-bottom-5">
        <div class="grid-col-12">
          <form id="update-search-results-form">
            <h2 class="usa-prose-h2 margin-bottom-5" id="searchHeader"> Search </h2>
            <div class="usa-search usa-search--big margin-bottom-2 grid-col-12">
              <div role="search" class="flex-column">
                <label for="dm-practice-search-field"></label>
                <div id="search-bar-container" class="display-flex">
                  <input
                    class="usa-input"
                    id="dm-practice-search-field"
                    title="Type at least three characters to search."
                    autocomplete="off"
                    type="search"
                    name="search"
                    placeholder="Search innovations, tags, communities..."
                  >
                  <button id="dm-practice-search-button" class="usa-button" type="submit" name="search-button">
                    <span class="usa-search__submit-text text-bold">Search</span>
                  </button>
                </div>
              </div>
            </div>
            <span id="results-summary" class="display-block desktop:display-inline margin-right-2">Results:</span>
            <button type="button" class="usa-button usa-button--unstyled display-none" id="resetSearchFiltersButton">Clear filters</button>
          </form>
        </div>
      </div>

      <div class="grid-row grid-gap">
        <div id="search-filters" class="display-none">
          <%= render 'practices/search_partials/search_filters' %>
        </div>

        <div class="desktop:grid-col-4 mobile-hide tablet-hide" id="desktop-filters-container">
          <!-- Content will be injected here via js -->
        </div>

        <div class="usa-accordion usa-accordion--bordered desktop-hide tablet:grid-col-4 mobile:grid-col-4">
          <h2 class="usa-accordion__heading">
            <button
              type="button"
              class="usa-accordion__button"
              aria-expanded="false"
              aria-controls="mobile-filters-container"
            >
              Refine Results
            </button>
          </h2>
          <div class="usa-accordion__content usa-prose" id="mobile-filters-container" >
            <!-- Content will be injected here via js -->
          </div>
        </div>
        <div class="grid-col-12 desktop:grid-col-8">
          <section id="dm-search-practices" class="dm-search-practices display-none margin-top-2 margin-left-4">
            <div id="search-results" class="grid-row"></div>
          </section>
          <%= render partial: 'shared/loading_spinner', locals: { display: false, classes: "dm-loading-spinner display-none flex-justify-center flex-align-self-center margin-y-8 desktop:margin-y-10" } %>
          <%= render partial: 'shared/search_no_results', locals: { display_no_query_msg: true } %>
        </div>
      </div>
  </section>
</div>
