<%# Utilized the body instead of just the main element because there were white patches below main content on larger viewports %>
<% provide :body_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>
<% provide :head_tags do %>
  <%= javascript_include_tag '_practice_card_utilities', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'shared/_signed_resource', 'data-turbolinks-track': 'false', defer: true %>
  <%= javascript_tag 'data-turbolinks-track': 'false' do %>
    <%= render partial: 'search', formats: [:js] %>
  <% end %>
<% end %>

<% if params["query"].present? %>
    <%= update_category_usages %>
<% end %>

<div id="search-page">
  <div class="grid-container" id="searchResultsContainer"> <!-- START DM-4910 -->
    <div class="grid-row margin-bottom-5">
      <div class="grid-col-12">
        <h2 class="usa-prose-h2 margin-bottom-5" id="searchHeader"> Search </h2>
        <span id="results-summary" class="display-block desktop:display-inline">Results:</span>
        <span class="applied-filter display-block desktop:display-inline usa-tag usa-tag--big" id="filterStyle1">{Filter applied style 1}</span>
        <span class="applied-filter display-block desktop:display-inline usa-tag usa-tag--big" id="filterStyle2">{Filter applied style 2}</span>

        <button type="button" class="usa-button usa-button--unstyled" id="resetSearchFiltersButton">Clear filters</button>
      </div>
    </div>

<%#     <div class="grid-row grid-gap">
      <!-- START DM- 4912-->
      <div id="REPLACE-with-something-about-filters" class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
        <div class="usa-accordion usa-accordion--bordered">
          <h2 class="usa-accordion__heading">
            <button
              type="button"
              class="usa-accordion__button"
              aria-expanded="true"
              aria-controls="filtersAccordion"
            >
              Filter Results
            </button>
          </h2>
        <div id="filtersAccordion" class="usa-accordion__content usa-prose">
          <fieldset class="usa-fieldset">
            <legend class="usa-legend">Communities</legend>
            <div class="usa-checkbox">
              <input
                class="usa-checkbox__input"
                id="check-historical-truth"
                type="checkbox"
                name="historical-figures"
                value="sojourner-truth"
                checked="checked"
              />
              <label class="usa-checkbox__label" for="check-historical-truth"
                >Sojourner Truth</label
              >
            </div>
            <div class="usa-checkbox">
              <input
                class="usa-checkbox__input"
                id="check-historical-douglass"
                type="checkbox"
                name="historical-figures"
                value="frederick-douglass"
              />
              <label class="usa-checkbox__label" for="check-historical-douglass"
                >Frederick Douglass</label
              >
            </div>
            <div class="usa-checkbox">
              <input
                class="usa-checkbox__input"
                id="check-historical-washington"
                type="checkbox"
                name="historical-figures"
                value="booker-t-washington"
              />
              <label class="usa-checkbox__label" for="check-historical-washington"
                >Booker T. Washington</label
              >
            </div>
          </fieldset>
          <fieldset class="usa-fieldset">
            <legend class="usa-legend">Tags</legend>
            <div class="usa-checkbox">
              <input
                class="usa-checkbox__input"
                id="check-historical-truth"
                type="checkbox"
                name="historical-figures"
                value="sojourner-truth"
                checked="checked"
              />
              <label class="usa-checkbox__label" for="check-historical-truth"
                >Sojourner Truth</label
              >
            </div>
            <div class="usa-checkbox">
              <input
                class="usa-checkbox__input"
                id="check-historical-douglass"
                type="checkbox"
                name="historical-figures"
                value="frederick-douglass"
              />
              <label class="usa-checkbox__label" for="check-historical-douglass"
                >Frederick Douglass</label
              >
            </div>
            <div class="usa-checkbox">
              <input
                class="usa-checkbox__input"
                id="check-historical-washington"
                type="checkbox"
                name="historical-figures"
                value="booker-t-washington"
              />
              <label class="usa-checkbox__label" for="check-historical-washington"
                >ADD SCROLLBARS for long list</label
              >
            </div>
          </fieldset>
          <fieldset class="usa-fieldset">
            <legend class="usa-legend usa-legend">Sort by</legend>
            <div class="usa-radio">
              <input
                class="usa-radio__input"
                id="historical-truth"
                type="radio"
                name="historical-figures"
                value="sojourner-truth"
                checked="checked"
              />
              <label class="usa-radio__label" for="historical-truth"
                >Sojourner Truth</label
              >
            </div>
            <div class="usa-radio">
              <input
                class="usa-radio__input"
                id="historical-douglass"
                type="radio"
                name="historical-figures"
                value="frederick-douglass"
              />
              <label class="usa-radio__label" for="historical-douglass"
                >Frederick Douglass</label
              >
            </div>
            <div class="usa-radio">
              <input
                class="usa-radio__input"
                id="historical-washington"
                type="radio"
                name="historical-figures"
                value="booker-t-washington"
              />
              <label class="usa-radio__label" for="historical-washington"
                >Booker T. Washington</label
              >
            </div>
          </fieldset>
          <!-- TODO: use combobox w/ arrow styling from original partial -->
          <label class="usa-label" for="fruit">Originating location</label>
          <div class="usa-combo-box">
            <select class="usa-select" name="fruit" id="fruit">
              <option value>Originating Location</option>
              <option value="apple">VA Medical Center</option>
              <option value="apricot">Clinical Resource Hub</option>
            </select>
          </div>
          <!-- TODO: use combobox w/ arrow styling from original partial -->
          <label class="usa-label" for="fruit">Adopting location</label>
          <div class="usa-combo-box">
            <select class="usa-select" name="fruit" id="fruit">
              <option value>Adopting Location</option>
              <option value="apple">VA Medical Center</option>
              <option value="apricot">Clinical Resource Hub</option>
            </select>
          </div>
        </div>
      </div>
    </div>
      <!-- END DM-4912 -->
      <!-- START DM-4913 -->
      <div id="REPLACE-with-something-about-innovation-results" class="grid-col-12 tablet:grid-col-8 desktop:grid-col-8">
        <h2 class="usa-prose-h2">Innovations</h2> <!-- TODO: set to "All Innovations" on empty search -->
        <div class="innovation-preview grid-row padding-y-3"> <!-- TODO: make the entire section clickable as a link -->
          <img src="#" class="bg-gray grid-col-3">
          <div class="innovation-preview-body grid-col-fill">
            <h3 class="usa-prose-h3 innovation-preview-title">{Innovation title}</h3>
            <p class="innovation-preview-description margin-bottom-3">{Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. And here's stuff after an elipsis}</p>
            <p class="innovation-preview-origin text-italic">By the Charles George Department of Veterans Affairs Medical Center (Ashville)</p>
          </div>
        </div>
        <div class="innovation-preview grid-row padding-y-3"> <!-- TODO: make the entire section clickable as a link -->
          <img src="#" class="bg-gray grid-col-3">
          <div class="innovation-preview-body grid-col-fill">
            <h3 class="usa-prose-h3 innovation-preview-title">{Innovation title}</h3>
            <p class="innovation-preview-description margin-bottom-3">{Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. And here's stuff after an elipsis}</p>
            <p class="innovation-preview-origin text-italic">By the {Facility Long Name} (Facility shortname)</p>
          </div>
        </div>
        <div class="innovation-preview grid-row padding-y-3"> <!-- TODO: make the entire section clickable as a link -->
          <img src="#" class="bg-gray grid-col-3">
          <div class="innovation-preview-body grid-col-fill">
          <h3 class="usa-prose-h3 innovation-preview-title">{Innovation title}</h3>
          <p class="innovation-preview-description margin-bottom-3">{Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. And here's stuff after an elipsis}</p>
          <p class="innovation-preview-origin text-italic">By {Non-facility Origin}</p>
          </div>
        </div>
        <button class="usa-button dm-button--outline-secondary">{Load more}</button>
      </div>
      <!-- END DM-4913 -->
    </div> %>
  </div>


  <section class="grid-container margin-bottom-neg-3 margin-top-5">
    <%= render partial: "shared/messages", locals: {small_text: false} %>
    <form id="update-search-results-form">
      <div class="usa-search usa-search--big margin-bottom-2 grid-col-12">
        <div role="search" class="flex-column">
          <label for="dm-practice-search-field"></label>
          <div id="search-bar-container" class="display-flex">
            <input
              class="usa-input"
              id="dm-practice-search-field"
              title="Type at least three characters to search."
              autocomplete="off"
              type="search"
              name="search"
              placeholder="Search innovations, tags, communities..."
            >
            <button id="dm-practice-search-button" class="usa-button" type="submit" name="search-button">
              <span class="usa-search__submit-text text-bold">Search</span>
            </button>
          </div>
        </div>
      </div>
      <div class="usa-accordion usa-accordion--bordered position-relative">
        <button id="mobile_filters_button" class="usa-button width-full desktop:display-none" type="button">Filters</button>
        <h2 class="usa-accordion__heading desktop-filters-accordion-heading display-none desktop:display-block">
          <button class="usa-accordion__button search-filters-accordion-button"
                  aria-expanded="false"
                  aria-controls="search_filters_dropdown">
            Filters
          </button>
        </h2>
        <div id="search_filters_dropdown" class="usa-accordion__content position-fixed top-0 right-0 left-0 bottom-0 width-full z-400 padding-0 display-none">
          <div class="mobile-modal-container">
            <div class="grid-container grid-row height-10 display-flex flex-align-center desktop:display-none">
              <div class="grid-col-3">
                <button type="button" class="fas fa-times fa-2x display-block" id="close_filters_modal"></button>
              </div>
              <div class="grid-col-6">
                <h2 class="margin-top-0 font-sans-xl line-height-37px text-center">Filters</h2>
              </div>
              <div class="grid-col-3">
                <div class="text-right">
                  <button type="button" class="dm-button--unstyled-primary width-auto" id="resetSearchFiltersButtonMobile">Reset</button>
                </div>
              </div>
            </div>
            <%= render partial: 'practices/search_partials/search_filters' %>
          </div>
        </div>
      </div>
    </form>

    <%= render partial: 'shared/search_sort_select_section', locals: {
      sort_options: [
        ['Sort by most relevant', 'most_relevant', selected: true, class: 'usa-select'],
        ['Sort by A to Z', 'a_to_z', class: 'usa-select'],
        ['Sort by most adopted innovations', 'adoptions', class: 'usa-select'],
        ['Sort by most recently added', 'added', class: 'usa-select']
      ],
      section_id: 'dm-search-practices',
      section_classes: 'dm-search-practices display-none margin-top-2',
      first_div_classes: 'grid-row margin-bottom-105 flex-align-center',
      second_div_classes: 'grid-col-12 order-first margin-top-0 dm-sort-container margin-bottom-3 desktop:margin-top-1 desktop:margin-bottom-0 desktop:margin-top-0 desktop:order-last desktop:grid-col-4'
    }
    %>
    <%= render partial: 'shared/loading_spinner', locals: { display: false, classes: "dm-loading-spinner display-none flex-justify-center flex-align-self-center margin-y-8 desktop:margin-y-10" } %>
    <%= render partial: 'shared/search_no_results', locals: { display_no_query_msg: true } %>
  </section>
</div>
