<!-- "Practice name" section -->
<div>
  <section class="usa-section p2-top p2-bottom dm-background-linear-up-lightblue-to-white">
    <div class="grid-container">
      <%= render "shared/messages" %>
      <% unless @practice.published && @practice.approved %>
      <div class="usa-alert usa-alert-warning" >
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">This practice will not be shown in the marketplace because it is:</h3>
          <% unless @practice.published %>
            <div class="badge-container un-published-practice">
              Not Published
            </div>
          <% end %>
          <% unless @practice.approved %>
            <div class="badge-container un-approved-practice">
              Not Approved
            </div>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @practice.tagline.present? %>
        <h1 class="font-heading-2xl x0-top fw-100"><%= @practice.tagline %></h1>
      <% end %>
      <p><%= @practice.description %></p>

      <div class="grid-row">
        <p class="fw-100"><%= @practice.strategic_sponsors.map(&:name).join(", ") %></p>
      </div>
      <div class="grid-row flex-row flex-justify flex-align-center x1-top">
        <h5 class="flex-1 practice-facility"><%= @practice.name %> |
          <span class="uppercase"><%= @practice.initiating_facility %></span></h5>
        <div class="flex-2">
          <div class="grid-row flex-row flex-align-center flex-justify-end">
            <% @practice.badges.last(2).each do |badge| %>
              <div class="badge-container" style="background-color: <%= badge.color %>;">
                <i class="<%= badge.icon %>"></i><span class="x1-left"><%= badge.name %></span>
              </div>
            <% end %>
            <% if ((extra_badges = @practice.badges.count - 2) > 0) %>
              <div class="extra-badge"><i class="fas fa-plus"></i><span class="x1-left"><%= extra_badges %> more</span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Practice hero image section -->

  <section class="usa-section padding-0">
    <style>
      .practice-image {
        color: white;
        padding: 3rem 6rem;
        <% if @practice.main_display_image.present? %>
          background: linear-gradient(180deg, rgba(0, 42, 92, 0) 0%, rgba(0, 42, 92, 0.8) 0.01%), url(<%= @practice.main_display_image.url %>);
        <% else %>
          background: rgba(26, 68, 128, 1);
        <% end %>
        background-position: center;
        background-size: cover;
      }
    </style>
    <div class="practice-image">
      <div class="grid-container">
        <p class="practice-summary fw-100"><%= @practice.summary %></p>
      </div>
    </div>
  </section>

  <!-- "Practice tabs" section -->

  <section class="p3-top p5-bottom dm-background-linear-gradient-up-dark-blue relative overflow-hidden">
    <div class="diffusion-background-circles aggregate-circles-position z-index-0"></div>
    <div class="grid-container x2-bottom">
      <div class="grid-row practice-aggregate-container p2">
        <div class="tablet:grid-col-fill text-center">
          <% veteran_satisfaction_aggregate = @practice.veteran_satisfaction_aggregate || 0 %>
          <% (0..3).each do |index| %>
            <% if index < veteran_satisfaction_aggregate %>
              <i class="dm dm-saluting-veteran large-icon-dark aggregate-icon"></i>
            <% else %>
              <i class="dm dm-saluting-veteran large-icon-light aggregate-icon"></i>
            <% end %>
          <% end %>
          <p class="fw-100">Impact</p>
        </div>
        <div class="tablet:grid-col-fill text-center">
          <% difficulty_aggregate = @practice.difficulty_aggregate || 0 %>
          <% (0..3).each do |index| %>
            <% if index < difficulty_aggregate %>
              <i class="fas fa-wrench large-icon-dark aggregate-icon"></i>
            <% else %>
              <i class="fas fa-wrench large-icon-light aggregate-icon"></i>
            <% end %>
          <% end %>
          <p class="fw-100">Difficulty</p>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="diffusion-background-circles-offset-translucent bottom"></div>
      <div class="grid-row">
        <div class="tablet:grid-col-4 p3-left">
          <ul class="usa-sidenav dm-tabnav">
            <li class="usa-sidenav-item>">
              <a href="#" class="usa-current dm-tab top-tab" data-target="#resources_required">Resources Required</a>
            </li>
            <li class="usa-sidenav-item>">
              <a href="#" class="dm-tab" data-target="#risks_and_mitigations">Risks &
                Mitigations</a>
            </li>
            <li class="usa-sidenav-item>">
              <a href="#" class="dm-tab" data-target="#timeline_and_checklist">Timeline & Checklist</a>
            </li>
            <li class="usa-sidenav-item>">
              <a href="#" class="dm-tab bottom-tab" data-target="#origin">Origin of this practice</a>
            </li>
          </ul>
        </div>
        <div class="tablet:grid-col-8 p0 p1-5-right">
          <div class="practice-tab-container p4-bottom">
            <div id="resources_required" class="practice-tab-content tab-active top-tab">
              <%= render partial: 'resources_required' %>
            </div>
            <div id="risks_and_mitigations" class="practice-tab-content tab-inactive">
              <%= render partial: 'risks_and_mitigations' %>
            </div>
            <div id="timeline_and_checklist" class="practice-tab-content tab-inactive">
              <%= render partial: 'timeline_and_checklist' %>
            </div>
            <div id="origin" class="practice-tab-content tab-inactive">
              <%= render partial: 'origin' %>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-row x3-top">
        <div class="grid-col-8 grid-offset-1">
          <div class="grid-row flex-column flex-justify flex-align-start dm-font-color-white">
            <div class="grid-auto">
              <h3>Ready to Commit?</h3>
            </div>
            <div class="grid-auto">
              <p>You can submit a practice to the diffusion marketplace to help save lives.</p>
            </div>
          </div>
        </div>
        <div class="grid-col-3 p1-5-right">
          <div class="grid-row flex-column flex-justify-center flex-align-center height-100">
            <button class="dm-button-secondary">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- "Team" section -->

  <section class="usa-section margin-y-0 p0 dm-background-light-blue">
    <div class="grid-container p4-left p3-top">
      <p class="font-sans-lg fw-bold">Support Team</p>
      <div class="grid-row flex-row flex-wrap">
        <% @practice.va_employees.each do |employee| %>
          <div class="tablet:grid-col-4 x2-bottom">
            <div class="grid-row flex-row flex-align-center">
              <div class="grid-col-2">
                <div class="avatar-container rounded display-flex-align-items-center dm-background-white overflow-hidden dm-font-color-primary-blue flex-justify-center">
                  <% if employee.avatar.present? %>
                    <%= image_tag employee.avatar.url, alt: employee.name %>
                  <% else %>
                    <span class="fas fa-user-circle fa-3x"></span>
                  <% end %>
                </div>
              </div>
              <div class="grid-col-9 grid-offset-1">
                <h4 class="margin-y-0"><%= employee.name %></h4>
                <p class="margin-y-0"><%= employee.role %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="grid-row flex-row flex-justify-center flex-align-center ">
        <a href="mailto:<%= @practice.support_network_email %>" class="dm-button-link x3-bottom">Contact</a>
      </div>
    </div>
  </section>
</div>
