<!-- "Practice name" section -->
<section class="usa-section p2-top p2-bottom  dm-background-light-blue">
  <div class="grid-container">
    <%= render "shared/messages" %>
    <% unless @practice.published && @practice.approved %>
      <div class="usa-alert usa-alert--warning">
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">This practice will not be shown in the marketplace because it is:</h3>
          <% unless @practice.published %>
            <div class="badge-container un-published-practice">
              Not Published
            </div>
          <% end %>
          <% unless @practice.approved %>
            <div class="badge-container un-approved-practice">
              Not Approved
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="bg-white padding-5">

      <% if @practice.tagline.present? %>
        <h1 class="font-sans-3xl x0-top margin-bottom-2 font-family-sans text-heavy ">
          <%= @practice.tagline %>
        </h1>
      <% end %>
      <p><%= @practice.description %></p>

      <!-- <div class="grid-row">
        <p class="fw-100"><%= @practice.practice_partners.map(&:name).join(", ") %></p>
      </div> -->
      <div class="grid-row margin-bottom-2">
        <h5 class="flex-1 x0 text-normal"><%= @practice.name %>
          <span class="margin-x-05">|</span>
          <span class="uppercase"><%= @practice.date_initiated.present? ? date_format(@practice.date_initiated) : '(start date unknown)' %></span>
          <span class="margin-x-05">|</span>
          <span class="uppercase"><%= @practice.initiating_facility %></span>
        </h5>

      </div>
      <div class="grid-row">
        <div class="grid-auto margin-right-2 display-flex-align-items-center">
          <%= render partial: 'shared/badge', locals: {badges: @practice.practice_partners} %>
        </div>
        <div class="grid-auto">
          <p class="margin-0">
            <span class="text-bold font-ui-md"><%= @practice.number_adopted.present? ? @practice.number_adopted : '0' %></span>
            Facilit<%= @practice.number_adopted == 1 ? 'y' : 'ies' %> have adopted this practice</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Practice hero image section -->

<section class="usa-section padding-0 dm-background-light-blue">
  <div class="grid-container margin-bottom-6">
    <div class="grid-row">
      <div class="tablet:grid-col-5 padding-x-1">
        <% if @practice.main_display_image.present? %>
          <%= image_tag @practice.main_display_image.url(:practice_show), alt: "#{@practice.name} display image" %>
        <% end %>
      </div>
      <div class="tablet:grid-col-7 padding-x-1">
        <p class="practice-summary margin-0 font-ui-md"><%= @practice.summary %></p>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button role="button" class="dm-button-primary">Next Step</button>
  </div>
</section>
<div class="dm-background-triangle-bottom "></div>

<!-- "Practice nav" section -->
<!-- Impact Origin Resources Required Complexity Timeline Risks & Mitigation Support Team -->
<div class="grid-container">
  <div class="grid-row">
    <div class="tablet:grid-col-3">
      <ul id="dm-tabnav" class="usa-sidenav dm-tabnav margin-bottom-4">
        <li class="usa-sidenav__item">
          <a href="#impact" class="dm-tab top-tab">Impact</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="#origin" class="dm-tab" data-target="#origin">Origin</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="#resources_required" class="dm-tab" data-target="#resources_required">Resources
            Required</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="#complexity" class="dm-tab " data-target="#complexity">Complexity</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="#risks_and_mitigations" class="dm-tab" data-target="#risks_and_mitigations">Risks & Mitigation</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="#timeline_and_checklist" class="dm-tab" data-target="#timeline_and_checklist">Timeline</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="#support_team" class="dm-tab bottom-tab" data-target="#support_team">Support Team</a>
        </li>
      </ul>
      <button type="button" role="button" class="dm-button-primary">Next Step</button>
    </div>
  </div>
</div>

<!-- "Practice content" section -->
<!-- "Impact" section -->
<section class="p3-top margin-y-2">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-3">&nbsp;</div>
      <div class="tablet:grid-col-9 p0 p1-5-right">
        <div class="p4-bottom">
          <%= render partial: 'impact' %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- "Origin of this Practice" section -->
<section class="p3-top margin-y-2 dm-background-light-blue">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-3">&nbsp;</div>
      <div class="tablet:grid-col-9 p0 p1-5-right">
        <div class="p4-bottom">
          <%= render partial: 'origin' %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- "Resources Required" section -->
<section class="p3-top margin-y-2">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-3">&nbsp;</div>
      <div class="tablet:grid-col-9 p0 p1-5-right">
        <div class="p4-bottom">
          <%= render partial: 'resources_required' %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- "Risks & Mitigations" section -->
<section class="p3-top margin-y-2 dm-background-light-blue">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-3">&nbsp;</div>
      <div class="tablet:grid-col-9 p0 p1-5-right">
        <div class="p4-bottom">
          <%= render partial: 'risks_and_mitigations' %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- "Timeline and Checklist" section -->
<section class="p3-top margin-y-2">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-3">&nbsp;</div>
      <div class="tablet:grid-col-9 p0 p1-5-right">
        <div class="p4-bottom">
          <%= render partial: 'timeline_and_checklist' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="dm-background-primary-blue">
  <div class="grid-container">
    <div class="grid-row padding-y-9">
      <div class="tablet:grid-col-3">&nbsp;</div>
      <div class="tablet:grid-col-9">
        <div class="grid-container-full">
          <div class="grid-row">
            <div class="tablet:grid-col-7">
              <div class="flex-column flex-justify flex-align-start dm-font-color-white">
                <div class="grid-auto">
                  <h3 class="font-ui-xl margin-0">Ready to get started?</h3>
                </div>
                <div class="grid-auto">
                  <p>By committing to this practice you can save lives.</p>
                </div>
              </div>
            </div>
            <div class="tablet:grid-col-5 p1-5-right">
              <div class="display-flex flex-justify-center flex-align-center height-100">
                <button type="button" class="dm-button-secondary">Next Step</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- "Support Team" section -->
<section class="p3-top dm-background-light-blue">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-3">&nbsp;</div>
      <div class="tablet:grid-col-9 p0 p1-5-right">
        <div class="p4-bottom">
          <%= render partial: 'support_team' %>
        </div>
      </div>
    </div>
  </div>
</section>

