<!-- "Practice name" section -->

<section class="usa-section grid-container padding-0 dm-background-linear-up-lightblue-to-white">
  <div class="diffusion-background-circles"></div>
  <h1 class="font-heading-2xl x2-top x4-left"><%= @practice.name %></h1>
  <p class="x4-left"><%= @practice.tagline %></p>

  <div class='grid-row flex-row flex-justify flex-align-center x1-top'>
    <h5 class='flex-1 practice-facility'><%= @practice.name %> | <%= @practice.initiating_facility %></h5>
    <div class='flex-2'>
      <div class='grid-row flex-row flex-align-center flex-justify-end'>
        <% @practice.badges.last(2).each do |badge|%>
          <div class='badge-container' style='background-color: <%= badge.color %>;'><i class="<%= badge.icon %>"></i><span class='x1-left'><%= badge.name %></div>
        <% end %>
        <% if ((extra_badges = @practice.badges.count - 2) > 0) %>
          <div class='extra-badge'><i class="fas fa-plus"></i><span class='x1-left'><%= extra_badges %> more</div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='grid-row practice-aggregate-container'>
    <div class="tablet:grid-col-fill text-center">
      <% (0..3).each do |index| %>
        <% if index < @practice.cost_savings_aggregate %>
          <i class="fas fa-dollar-sign large-icon-dark aggregate-icon"></i>
        <% else %>
          <i class="fas fa-dollar-sign large-icon-light aggregate-icon"></i>
        <% end %>
      <% end %>
      <p>Cost Savings</p>
    </div>
    <div class="tablet:grid-col-fill" style='text-align: center'>
      <% (0..3).each do |index| %>
        <% if index < @practice.veteran_satisfaction_aggregate %>
          <i class="fas fa-smile-beam large-icon-dark aggregate-icon"></i>
        <% else %>
          <i class="fas fa-smile-beam large-icon-light aggregate-icon"></i>
        <% end %>
      <% end %>
      <p>Patient Satisfaction</p>
    </div>
    <div class="tablet:grid-col-fill" style='text-align: center'>
      <% (0..3).each do |index| %>
        <% if index < @practice.difficulty_aggregate %>
          <i class="fas fa-wrench large-icon-dark aggregate-icon"></i>
        <% else %>
          <i class="fas fa-wrench large-icon-light aggregate-icon"></i>
        <% end %>
      <% end %>
      <p>Difficulty</p>
    </div>
  </div>
</section>

<!-- Practice hero image section -->

<section class="usa-section padding-0">
  <div class="grid-container practice-image">
    <p><%= @practice.summary %></p>
  </div>
</section>

<!-- "Practice tabs" section -->

<section class="usa-section grid-container dm-background-linear-gradient-up-dark-blue" style='position: relative'>
  <div class="diffusion-background-circles-offset-translucent" style='bottom: 0'></div>
  <div class='grid-row'>
    <div class='tablet:grid-col-4 p3-left p2-right'>
      <ul class='usa-sidenav dm-tabnav'>
        <li class='usa-sidenav-item>'>
          <a href='#' class="usa-current dm-tab" data-target='#risks_and_mitigations'>Risks & Mitigation</a>
        </li>
        <li class='usa-sidenav-item>'>
          <a href='#' class='dm-tab' data-target='#cost_and_difficulty'>Cost & Difficulty</a>
        </li>
        <li class='usa-sidenav-item>'>
          <a href='#' class='dm-tab' data-target='#timeline_and_toolkit'>Timeline & Toolkit</a>
        </li>
        <li class='usa-sidenav-item>'>
          <a href='#' class='dm-tab' data-target='#origin'>Origin of this practice</a>
        </li>
      </ul>
    </div>
    <div class='tablet:grid-col-8 p0 p1-5-right p1-5-left'>
      <div class='practice-tab-container'>
        <div id="risks_and_mitigations" class="practice-tab-content tab-active">
          <%= render partial: 'risks_and_mitigations' %>
        </div>
        <div id="cost_and_difficulty" class="practice-tab-content tab-inactive">
          <%= render partial: 'cost_and_difficulty' %>
        </div>
        <div id="timeline_and_toolkit" class="practice-tab-content tab-inactive">
          <%= render partial: 'timeline_and_toolkit' %>
        </div>
        <div id="origin" class="practice-tab-content tab-inactive">
          <%= render partial: 'origin' %>
        </div>
      </div>
    </div>
  </div>
  <div class='grid-row x3-top'>
    <div class='grid-col-8 grid-offset-1'>
      <div class='grid-row flex-column flex-justify flex-align-start dm-font-color-white'>
        <div class='grid-auto'>
          <h3>Ready to Commit?</h3>
        </div>
        <div class='grid-auto'>
          <p>You can submit a practice to the diffusion marketplace to help save lives</p>
        </div>
      </div>
    </div>
    <div class='grid-col-3 p1-5-right'>
      <div class='grid-row flex-column flex-justify-center flex-align-center height-100'>
        <button class='usa-button usa-button-outline practice-learn-more'>Learn More</button>
      </div>
    </div>
  </div>
</section>

<!-- "Team" section -->

<section class="usa-section margin-y-0 p0">
  <div class="grid-container dm-background-light-blue p4-left p3-top">
    <p class="font-sans-lg fw-bold">Support Team</p>
    <div class='grid-row flex-row flex-wrap'>
      <% @practice.va_employees.each do |employee| %>
        <div class='tablet:grid-col-4 x2-bottom'>
          <div class='grid-row flex-row flex-align-center'>
            <div class='grid-col-2'>
              <%= image_tag employee.avatar_file_name.present? ? employee.avatar_file_name : @practice.origin_picture.url  %>
            </div>
            <div class='grid-col-9 grid-offset-1'>
              <h4 class='margin-y-0'><%= employee.name %></h4>
              <p class='margin-y-0'><%= employee.job_title %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class='grid-row flex-row flex-justify-center flex-align-center'>
      <button class='usa-button usa-button-primary x3-bottom'>Contact</button>
    </div>
  </div>
</section>
