<%= render 'breadcrumbs' %>
<!-- "Practice name" section -->


<!-- Practice hero image section -->

<%= render partial: 'show_unauthenticated' unless current_user.present? %>

<%= render partial: 'show_authenticated' if current_user.present? %>

<div>
    <h2>Join the conversation</h2>
    <span><%= @practice.thread.comments.count %></span> <span><%= @practice.thread.comments.count > 1 || @practice.thread.comments.count == 0 ? 'comments' : 'comment' %></span>
</div>  %>  
<%= commontator_thread(@practice) %>




