<%= render 'breadcrumbs' %>
<!-- "Practice name" section -->


<!-- Practice hero image section -->

<%= render partial: 'show_unauthenticated' unless current_user.present? %>

<%= render partial: 'show_authenticated' if current_user.present? %>

<div>
    <h2>Join the conversation</h2>
    <%= @practice.thread.comments.count %>
    <%= commontator_thread(@practice) %>
</div>




