<!-- "Practice name" section -->

<section class="usa-section grid-container padding-y-0">
  <h1 class="font-heading-2xl"><%= @practice.name %></h1>
</section>

<!-- Practice hero image section -->

<section class="usa-hero" style="background-image:url('<%= image_url 'practice-hero.jpg' %>'); background-position:0 -330px;">
  <div class="grid-container height-card-lg" style="padding-top:10rem">
    <div class="grid-row flex-justify-end margin-bottom-1">
      <button class="usa-button">Bring this practice to your facility</button>
    </div>
    <div class="grid-row flex-justify-end">
      <button class="usa-button">Share this initiative</button>
    </div>
  </div>
</section>

<!-- "Designed to" section -->

<section class="usa-section grid-container">
  <h2 class="margin-y-0 font-sans-xl">Designed to</h2>
  <div class="grid-row">
    <div class="grid-col-fill">
      <img class="icon-large" src="<%= image_url 'check-square.svg' %>" alt="check icon">
      <p class="font-sans-md">Effectively address diabetes that is refractory to standard care</p>
    </div>
    <div class="grid-col-fill">
      <img class="icon-large" src="<%= image_url 'user-check.svg' %>" alt="user check icon">
      <p class="font-sans-md">Be suitable for practical delivery by existing HT nurses using standard HT equipment</p>
    </div>
  </div>
</section>

<!-- "Practice overview" section -->

<section class="usa-section usa-section-dark">
  <div class="grid-container">
    <h2 class="margin-y-0 font-sans-xl">Practice overview</h2>
    <p class="measure-none"><%= @practice.business_case_summary %></p>
  </div>
</section>

<!-- "Positive outcomes" section -->

<section class="usa-section grid-container">
  <h2 class="margin-top-0 margin-bottom-2 font-sans-xl">Positive outcomes</h2>

  <% unless @practice.impact_veteran_experience.empty? %>
    <div class="grid-row display-block padding-bottom-2">
      <img class="icon-positive-outcomes" src="<%= image_url 'clipboard.svg' %>" alt="clipboard icon">
      <p class="margin-left-6 font-sans-md"><%= @practice.impact_veteran_experience %></p>
    </div>
  <% end %>

  <% unless @practice.impact_veteran_satisfaction.empty? %>
    <div class="grid-row display-block padding-bottom-2">
      <img class="icon-positive-outcomes" src="<%= image_url 'doctor.svg' %>" alt="doctor icon">
      <p class="margin-left-6 font-sans-md"><%= @practice.impact_veteran_satisfaction %></p>
    </div>
  <% end %>

  <% unless @practice.impact_other_veteran_experience.empty? %>
    <div class="grid-row display-block padding-bottom-2">
      <img class="icon-positive-outcomes" src="<%= image_url 'saluting-vet.png' %>" alt="saluting vet icon">
      <p class="margin-left-6 font-sans-md"><%= @practice.impact_other_veteran_experience %></p>
    </div>
  <% end %>

  <div class="grid-row display-block padding-bottom-2">
    <img class="icon-positive-outcomes" src="<%= image_url 'dollar-sign.svg' %>" alt="dollar sign icon">

    <% unless @practice.impact_financial_estimate_saved == '0' %>
      <p class="margin-left-6 font-sans-md"><%= @practice.impact_financial_estimate_saved %></p>
    <% end %>

    <% unless @practice.impact_financial_per_veteran == '0' %>
      <p class="margin-left-6 font-sans-md"><%= @practice.impact_financial_per_veteran %></p>
    <% end %>

    <% unless @practice.impact_financial_roi == '0' %>
      <p class="margin-left-6 font-sans-md"><%= @practice.impact_financial_roi %></p>
    <% end %>

    <% unless @practice.impact_financial_other == 0 %>
      <p class="margin-left-6 font-sans-md"><%= @practice.impact_financial_other %></p>
    <% end %>

  </div>

  <div class="bg-accent-cool-light margin-x-auto margin-top-6 padding-3 maxw-675px">
    <h2 class="margin-0">Data Sources</h2>
    <ol>
      <li>Corporate Data Warehouse (CDW); data manually pulled by ORH-funded
        statisticians
      </li>
      <li>CDW; data manually pulled by ORH-funded statisticians</li>
      <li>Home Telehealth patient and clinician satisfaction surveys</li>
    </ol>
  </div>

</section>

<!-- Practice highlights section -->

<section class="usa-section padding-y-3 bg-accent-cool-light">
  <div class="grid-container grid-row text-center">
    <div class="tablet:grid-col-2">
      <h2 class="margin-top-0"><%= @practice.number_adopted %></h2>
      <p class="maxw-none">Health centers have adopted this practice</p>
    </div>
    <div class="tablet:grid-col-2">
      <h2 class="margin-top-0">LOW</h2>
      <p class="maxw-none">Risk level</p>
    </div>
    <div class="tablet:grid-col-2">
      <h2 class="margin-top-0">$$$</h2>
      <p class="maxw-none">Cost</p>
    </div>
    <div class="tablet:grid-col-2">
      <img class="icon-highlights" src="<%= image_url 'hospital.svg' %>" alt="hospital icon">
      <p class="maxw-none"><%= @practice.initiating_facility %></p>
    </div>
    <div class="tablet:grid-col-2">
      <img class="icon-highlights" src="<%= @practice.badges.first.badge_image.url %>" alt="badge icon">
      <p class="maxw-none"><%= @practice.badges.first.name %></p>
    </div>
    <div class="tablet:grid-col-2">
      <img class="icon-highlights" src="<%= image_url 'flag.svg' %>" alt="flag icon">
      <p class="maxw-none"><%= @practice.strategic_sponsors.first.name %></p>
    </div>
  </div>
</section>

<!-- "Risks & Mitigations" / "Cost & Difficulty" toggle -->

<section class="usa-section grid-container padding-bottom-4">
  <div class="grid-row">
    <div class="grid-col-auto margin-right-4">
      <button id="risks-mitigations-toggle" class="appearance-none margin-0">
        <h3 class="margin-0 section-selected">Risks & Mitigations</h3>
      </button>
    </div>
    <div class="grid-col-auto">
      <button id="cost-difficulty-toggle" class="appearance-none margin-0">
        <h3 class="margin-0">Cost & Difficulty</h3>
      </button>
    </div>
  </div>

</section>

<!-- "Risks & Mitigations" section -->

<section id="risks-mitigations" class="usa-section grid-container padding-top-0 padding-x-7">
  <% @practice.risk_and_mitigations.each do |rm| %>
    <div class="grid-row grid-gap margin-bottom-3">
      <div class="tablet:grid-col-2">
        <h3 class="margin-0">Risk</h3>
      </div>
      <div class="tablet:grid-col-fill">
        <p><%= rm.risk %></p>
      </div>
    </div>
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-2">
        <h3 class="margin-0">Mitigation</h3>
      </div>
      <div class="tablet:grid-col-fill">
        <p><%= rm.mitigation %></p>
      </div>
    </div>
  <% end %>
</section>

<!-- "Cost & Difficulty" section -->

<section id="cost-difficulty" class="usa-section grid-container padding-top-0 padding-x-7 display-none">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-fill">
      <h2 class="margin-0">$$$</h2>
      <p>cost</p>
      <p>Some cost to Implement. Modest FTE or capital investment required.</p>
      <h3>FTE</h3>
      <h3>Supplies</h3>
      <h3>Licenses</h3>
      <h3>Money</h3>
    </div>
    <div class="tablet:grid-col-fill">
      <h2 class="margin-0">🔧🔧🔧</h2>
      <p>Difficulty</p>
      <p>Some change management and system redesign to operationalize</p>
      <h3>Oversight</h3>
      <h3>Staff Training</h3>
      <h3>Buy in</h3>
    </div>
  </div>
</section>

<!-- "Team" section -->

<section class="usa-section bg-accent-cool-light">
  <div class="grid-container">
    <h2 class="margin-y-0 font-sans-xl">Team</h2>
    <% @practice.va_employees.each do |employee| %>
      <h3><%= employee.name %></h3>
    <% end %>
    <div class="margin-top-4">
      <a href="mailto:<%= @practice.support_network_email %>">
        <button class="usa-button">Contact <%= @practice.support_network_email %></button>
      </a>
      <button class="usa-button margin-top-1">Bring this practice to your facility</button>
    </div>
  </div>
</section>
