<% provide :head_tags do %>
    <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
        <%= render partial: 'timeline', formats: [:js] %>
    <% end %>
    <%= javascript_include_tag 'practice_editor_timeline', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '_practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= render 'breadcrumbs' %>
<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
    <div class="grid-row grid-gap practice-editor-min-height">
        <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

        <div id="timeline" class="desktop:grid-col-9 grid-col-12 p0">
            <%= render "shared/messages" %>
            <section class="usa-section padding-top-0 p2-bottom timeline">
                <h1 class="font-sans-2xl line-height-sans-205">Timeline</h1>
                <h2 class="text-normal">
                    This section details the estimated timeline for another facility to implement your practice.
                </h2>
                <%= nested_form_for(@practice, html: { multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
                    <fieldset class="usa-fieldset">
                        <legend class="usa-sr-only">Timeline</legend>
                        <div style='margin-top: 2rem;'>
                            <ul class="practice-editor-timeline-ul" id="sortable_timelines" role="listbox" aria-label="Practice editor timeline list">
                            <%= f.fields_for :timelines, wrapper: false do |tl| %>
                                <% 
                                    tl_id = tl.object.id
                                %>
                                <li class="practice-editor-timeline-li fields" data-id="<%= tl_id %>">
                                    <%= tl.hidden_field :position, class: 'timeline-position' %>
                                    <%= tl.hidden_field :id %>
                                    <div id="milestone_<%= tl_id %>_container"  class="padding-205 border border-width-1px border-base-lighter radius-sm margin-top-3">
                                        <div class="position-relative">
                                            <div class="fas fa-arrows-alt font-sans-lg position-arrows timeline-arrows text-base arrows-tooltip">
                                                <span class="usa-tag tooltip-text">Drag and drop to change order</span>
                                            </div>
                                            <%= tl.label :timeline, 'Time frame:', class: 'usa-label text-bold display-inline-block timeline-duration' %>&nbsp;<span>Type the time frame as Month # (e.g. Month 1, Months 2-3)</span>
                                            <%= tl.text_field :timeline, class: 'usa-input practice-input width-card timeline-input' %>
                                        </div>
                                        <%= tl.fields_for :milestones do |m| %>
                                          <%
                                            m_id = m.object.id
                                          %>
                                          <div class="grid-row width-full">
                                              <div>
                                                  <%= m.label :description, 'Milestone:', class: 'usa-label text-bold display-inline-block' %>&nbsp;<span>Type a description of the milestone.</span>&nbsp;<span class="text-base-light milestone-character-count" <% if m_id.present? %> id="milestone_<%= m_id %>_character_count" <%end%>>(0/100 characters)</span>
                                                  <%= m.text_area :description, class: 'usa-input practice-input height-10 milestone-textarea', 'counter-id': "milestone_#{m_id}_textarea" %>
                                              </div>
                                          </div>
                                        <% end %>
                                        <div class="grid-row">
                                          <div class="position-absolute bottom-0 position-relative">
                                            <%= tl.link_to_add :milestones, class: 'fas fa-plus text-no-underline add-milestone-link margin-top-105' do %>
                                              <span class="padding-left-1 font-sans-md text-normal text-no-underline">Add milestone</span>
                                            <% end %>
                                          </div>
                                          <div class="timeline-trash-container grid-col-fill position-relative">
                                            <%= tl.link_to_remove '', class: "fas fa-trash-alt timeline-trash text-no-underline position-absolute bottom-0 margin-top-105", title: 'remove timeline' %>
                                          </div>
                                        </div>
                                    </div>
                                </li>
                            <% end %>
                            </ul>
                            <%= f.link_to_add :timelines, class: 'fas fa-plus text-no-underline add-timeline-link' do %>
                                <span class="padding-left-1 font-sans-md text-normal text-no-underline">Add another</span>
                            <% end %>
                        </div>
                        <ul class="trash-can display-none"></ul>

                    </fieldset>
                <% end %>
                <div class="grid-row margin-bottom-8">
                    <%= link_to practice_complexity_path(@practice), class: 'usa-button usa-button--outline editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline' do %>
                        <i class="fas fa-chevron-left fa-sm text-no-underline margin-right-1"></i>Back
                    <% end %>
                    <%= link_to practice_risk_and_mitigation_path(@practice), class: 'usa-button padding-2 editor-continue-link margin-right-1 margin-bottom-5' do %>
                        Continue<i class="fas fa-chevron-right fa-sm margin-left-1 text-no-underline"></i>
                    <% end %>
                </div>
            </section>
        </div>
    </div>
    <div class="margin-bottom-105">
        <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
    </div>
</div>