<%# TODO: Make compatible with IE %>
<%# TODO: Hover, Click, Visited Interactions %>

<%# TODO: Make unauthenticated view %>

<%
  updated_at = @practice.updated_at.present? ? @practice.updated_at : @practice.created_at
  completed_adoptions = @practice.number_of_completed_adoptions
  in_progress_adoptions = @practice.number_of_in_progress_adoptions
  unsuccessful_adoptions = @practice.number_of_unsuccessful_adoptions
  has_practice_partners = @practice.practice_partners.any? && @practice.practice_partners.find_by(name: 'None of the above, or Unsure').nil?
  has_practice_awards = @practice.practice_awards.any?
%>

<section id="pr-view-introduction" class="grid-container margin-bottom-3">
  <div class="grid-row grid-gap-2">
    <%# practice main display image for mobile %>
    <%= render partial: 'practices/show/mobile_partials/main_display_image_container' %>
    <%# practice name %>
    <div class="desktop:grid-col-8 grid-col-12">
      <h1 class="font-sans-2xl margin-top-0 margin-bottom-1 line-height-sans-2 dm-word-break-break-word dm-hyphens-auto">
        <%= display_practice_name(@practice) %>
      </h1>
      <%# practice last update timestamp %>
      <p class="grid-col-12 font-sans-3xs text-gray-50 line-height-sans-4 margin-bottom-2">
        Last updated <%= timeago(updated_at) %>
      </p>
      <%# practice actions %>
      <div class="display-flex flex-wrap margin-bottom-2">
        <%# bookmark %>
        <a href="<%= practice_favorite_path(@practice, format: :js) %>" data-method="post" data-remote="true" rel="nofollow" aria-label="Bookmark <%= @practice.name %>" tabindex="-1" aria-hidden="true" class="dm-favorite-practice-link dm-icon-link text-no-underline font-sans-xs text-primary desktop:grid-col-3 grid-col-6 desktop:margin-bottom-0 margin-bottom-2">
          <i class="<%= current_user.favorite_practice_ids.include?(@practice.id) ? 'fas' : 'far '%> fa-bookmark dm-favorite-icon-<%= @practice.id %>  margin-right-05"></i>
          <span class="dm-favorite-practice-link-text">
            <%= current_user.favorite_practice_ids.include?(@practice.id) ? 'Bookmarked' : 'Bookmark' %>
          </span>
        </a>
        <%# share %>
        <a target="_blank" tabindex="-1" aria-hidden="true"
        aria-label="Share <%= @practice.name %>" href="mailto:?subject=<%= email_practice_subject(@practice) %>&body=<%= email_practice_body(@practice) %>" class="dm-icon-link text-no-underline text-primary font-sans-xs desktop:grid-col-3 grid-col-6 desktop:margin-bottom-0 margin-bottom-2">
          <i class="far fa-share-square margin-right-05"></i>
          <span>Share</span>
        </a>
        <%# subscribe %>
        <span class="font-sans-xs text-no-underline text-gray-50 desktop:grid-col-3 grid-col-6 margin-bottom-0">
          <i class="far fa-bell margin-right-05"></i>Subscribe
        </span>
        <%# print %>
        <a class="dm-icon-link text-no-underline font-sans-xs text-primary desktop:grid-col-3 grid-col-6 margin-bottom-0"
        onclick="window.print(); return false;">
          <i class="fas fa-print margin-right-05"></i>
          <span>Print</span>
        </a>
      </div>
      <%# practice summary %>
      <p class="margin-bottom-1 line-height-26">
        <%= safe_join(raw(@practice.summary).split("\r\n"), tag(:br)) %>
      </p>

      <%# practice maturity level %>
      <% if @practice.maturity_level.present? %>
        <%= render partial: 'practices/show/desktop_partials/maturity_level_banner' %>
      <% end %>

      <%# Container for Origin/Adoptions/Awards/Partners %>
      <div class="introduction-sections-container">

        <%# practice origin date and location %>
        <div>
          <h5 class="font-sans-3xs text-uppercase text-ls-1 line-height-15px display-inline margin-y-0">Origin:</h5>
          <p id="practice_origin_facilities_text" class="font-normal line-height-26 display-inline">
            <%
              @practice_date =  @practice.date_initiated.present? ? date_format(@practice.date_initiated) : '(start date unknown)'
              origin_facilities = @practice.practice_origin_facilities
              initiating_facility = @practice.initiating_facility
            %>
            <%= @practice_date %><%= origin_facilities.present? || initiating_facility.present? ? ',' : '' %>
              <% if origin_display_name(@practice).length > 180 %>
                <span id="origin_facility_truncated"><%= origin_display_name_trunc(@practice) %></span>
                <span id="dots">...</span>
                <span id="more_text" class="display-none">
                  <%= origin_display_name_trunc(@practice, 0, 99999) %>
                </span><a class="usa-button--unstyled dm-btn-primary" href="" onclick="seeMoreText(); return false" id="seeMore">See more</a>
              <% else %>
                <%= origin_display_name(@practice) %>
              <% end %>
            <!-- display department --->
            <% if @practice.department? %>
              <span>, <%= origin_display_department_name(@practice) %> Administration</span>
            <% end %>
          </p>
        </div>

        <%# practice adoptions %>
        <% if completed_adoptions > 0 || in_progress_adoptions > 0 || unsuccessful_adoptions > 0 %>
          <div class="grid-col-12">
            <h5 class="font-sans-3xs text-uppercase text-ls-1 line-height-15px display-inline margin-y-0">Adoptions:</h5>
            <%# TODO: link adoptions to new diffusion tracker map %>
            <p class="display-inline font-normal line-height-26">
            <% if completed_adoptions > 0 %>
              <%= completed_adoptions %>&nbsp;successful<%= ', ' if in_progress_adoptions > 0 || unsuccessful_adoptions > 0 %>
            <% end %>
            <% if in_progress_adoptions > 0 %>
              <%= in_progress_adoptions %>&nbsp;in-progress<%= ', ' if unsuccessful_adoptions > 0 %>
            <% end %>
            <% if unsuccessful_adoptions > 0 %>
              <%= unsuccessful_adoptions %>&nbsp;unsuccessful
            <% end %>
            </p>
          </div>
        <% end %>

        <%# practice awards %>
        <% if has_practice_awards %>
          <div>
            <h5 class="font-sans-3xs text-uppercase text-ls-1 line-height-15px display-inline margin-y-0">Awards and Recognition:</h5>
            <p class="display-inline font-normal line-height-26">
              <% all_awards = get_all_awards(@practice) %>
              <% if all_awards.length > 180 %>
                <%#= truncate(@all_awards.to_s, start: 0, length: 180) %>
                <span id="awards_truncated"><%= all_awards[0...180]%></span>
                <span id="dots_award">...</span>
                <span id="more_text_award">
                    <%= all_awards %>
                </span>
                <button class="usa-button--unstyled dm-btn-primary"
                        onclick="seeMoreTextAwards(); return false;"
                        id="seeMore_award">
                  See more
                </button>
              <% else %>
                <%= all_awards %>
              <% end %>
            </p>
          </div>
        <% end %>

        <%# practice partners %>
        <% if has_practice_partners %>
          <div>
            <h5 class="font-sans-3xs text-uppercase text-ls-1 line-height-15px display-inline margin-y-0">Partners:</h5>
            <p class="display-inline font-normal line-height-26">
              <% @practice.practice_partners.each_with_index do |partner, index| %>
                <a href="<%= practice_partner_path(partner) %>" class="dm-internal-link">
                  <%= partner.name %>
                </a>
                <%= ", " if @practice.practice_partners.size != index + 1 && @practice.practice_partners.size > 1 %>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="desktop:grid-col-4 mobile-hide">
      <%# practice main display image for desktop %>
      <%= render partial: 'practices/show/desktop_partials/main_display_image_container' %>
      <%# search terms(campaigns/categories/tags) for desktop %>
      <% if @practice.categories.where.not(is_other: true, name: 'Other').any? %>
        <%= render partial: 'practices/show/desktop_partials/search_terms' %>
      <% end %>
    </div>
    <%# practice updates %>
    <%# TODO: reintroduce once update feature is available %>
    <div class="desktop:grid-col-6 grid-col-12 display-none">
      <p class="grid-col-12 margin-bottom-2 font-sans-3xs">
        <span class="text-bold text-uppercase">Recent Updates</span>
      </p>
    </div>
  </div>
</section>
