<!-- Login Page -->
<div class='x0-top'>
  <section class="usa-section dm-background-linear-gradient-up-dark-blue" style='min-height: calc(100vh - 286px)'>
    <div class='grid-container'>
      <div class='login-card'>
        <div class='login-header'>
          <div class='login-header-overlay'>
            <h2 class='x0'> Diffusion Marketplace</h2>
            <p> Saving lived by diffusing best pratices</p>
          </div>
        </div>
        <div class='login-body'>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'usa-form') do |f| %>
            <%= f.label :email, class: 'usa-label x0' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'usa-input' %>

            <%= f.label :password, class: 'usa-label' %>
            <%= f.password_field :password, autocomplete: "current-password", class: 'usa-input' %>

            <% if devise_mapping.rememberable? -%>
              <fieldset class='usa-fieldset x1-top'>
                <%= f.check_box :remember_me, class: 'usa-checkbox-input' %>
                <%= f.label :remember_me, class: 'usa-checkbox-label' %>
              </fieldset>
            <% end -%>

            <div class="actions display-flex justify-center x1-top">
              <%= f.submit "Log in", class: 'usa-button usa-button-primary', style: 'border-radius: 20px; padding: 1rem 3rem' %>
            </div>
            <%= render "devise/shared/links" %>
          <% end %>
        </div>
    </div>
  </section>
</div>
