<!-- Login Page -->
<div class="x0-top">
  <section class="usa-section" style="min-height: calc(100vh - 286px)">
    <div class="grid-container">
      <div class="login-card box-shadow-card">
        <%= render "devise/shared/login_header" %>
        <div class="login-body">
          <h2>Login</h2>
          <%= render partial: "shared/messages", locals: {small_text: false} %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'usa-form x1-top'}) do |f| %>
            <%= f.label :email, class: 'usa-label x0' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'usa-input', required: true %>

            <%= f.label :password, class: 'usa-label' %>
            <%= f.password_field :password, autocomplete: "current-password", class: 'usa-input', required: true %>

            <% if devise_mapping.rememberable? -%>
              <div class="usa-fieldset x1-top">
                <div class="usa-checkbox">
                  <%= f.check_box :remember_me, class: 'usa-checkbox__input' %>
                  <%= f.label :remember_me, class: 'usa-checkbox__label' do %>
                    Remember me (Only check on a secure computer)
                  <% end %>
                </div>
              </div>
            <% end -%>

            <div class="actions display-flex justify-center x1-top">
              <%= f.submit "Log in", class: 'usa-button' %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </section>
</div>
