<%= form_with(model: strategic_sponsor, local: true) do |form| %>
  <% if strategic_sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strategic_sponsor.errors.count, "error") %> prohibited this strategic_sponsor from being saved:</h2>

      <ul>
      <% strategic_sponsor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :short_name %>
    <%= form.text_field :short_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
