<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @strategic_sponsor.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @strategic_sponsor.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @strategic_sponsor.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @strategic_sponsor.position %>
</p>

<%= link_to 'Edit', edit_strategic_sponsor_path(@strategic_sponsor) %> |
<%= link_to 'Back', strategic_sponsors_path %>
