<div class="usa-checkbox">
  <input class="usa-checkbox__input" id="cat-<%= category_id %>-input" type="checkbox" name="<%= category_name %>" value="<%= category_name %>">
  <label class="usa-checkbox__label margin-bottom-2 cat-<%= category_id %>-label" for="cat-<%= category_id %>-input"><span><%= category_name %></span></label>
</div>