
<fieldset class="usa-fieldset padding-bottom-2">
  <h4> Tags </h4>
  <div class="sub-category-checkboxes filters-scrollbar maxh-mobile">
    <% @parent_categories.each do |parent_category, sub_categories| %>
      <% if sub_categories.any? %>
        <% parent_cat_name = "#{parent_category.name.downcase.gsub(' ', '-')}" %>
        <% all_cats_checkbox_id = "cat-all-#{parent_cat_name}-input" %>
        <% parent_cat_name = parent_category.name.split(' ').join('-').downcase %>
        <div class="usa-checkbox">
          <input
            class="usa-checkbox__input all-<%= parent_cat_name %>-checkbox"
            id=<%= all_cats_checkbox_id %>
            type="checkbox"
            name="All <%= parent_cat_name %>"
            value="All <%= parent_cat_name %>"
          />
          <label class="usa-checkbox__label cat-all-<%= parent_cat_name %>-label" for=<%= all_cats_checkbox_id %>>
            <%= "All #{parent_category.name}" %>
          </label>
        </div>

        <div class="sub-category-checkboxes padding-bottom-3 margin-left-205">
          <% sub_categories.each do |category| %>
            <% category_checkbox_id = "cat-#{category.id}-input" %>
            <div class="usa-checkbox">
              <input
                class="usa-checkbox__input <%= parent_cat_name %>-checkbox"
                id=<%= category_checkbox_id %>
                type="checkbox"
                name=<%= category.name %>
                value=<%= category.name %>
                data-parent-category=<%= parent_cat_name %>
              />
              <label class="usa-checkbox__label <%= category_checkbox_id %>" for=<%= category_checkbox_id %>>
                <%= category.name %>
              </label>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</fieldset>

<hr class="border border-base-lighter margin-x-neg-205">

<fieldset class="usa-fieldset padding-top-1 padding-bottom-3">
  <p class="text-bold line-height-26 margin-bottom-1 grid-col-12 desktop:display-block">Originating Location</p>
  <%= render partial: 'practices/search_partials/visn_facility_combo_box', locals: {facility_type_selector: 'originating-facility-and-visn-select', visn_grouped_facilities: @visn_grouped_facilities} %>
  <%= render partial: 'shared/visn_info_modal', locals: { hide_modal_on_initial_load: false } %>
</fieldset>

<hr class="border border-base-lighter margin-x-neg-205">

<fieldset class="usa-fieldset padding-top-1 padding-bottom-5">
  <p class="text-bold line-height-26 margin-top-2 margin-bottom-1 grid-col-12 desktop:display-block">Adopting location</p>
  <%= render partial: 'practices/search_partials/visn_facility_combo_box', locals: {facility_type_selector: 'adopting-facility-and-visn-select', visn_grouped_facilities: @visn_grouped_facilities } %>
</fieldset>

<div class="border-base-lightest padding-1" id="filter_button_container">
  <button type="submit" id="update-search-results-button" class="usa-button filter-submit-button display-block line-height-19px" name="button">
    Apply filters
  </button>
</div>
