<div class="grid-row padding-x-3 padding-bottom-0 desktop:padding-x-0">
  <fieldset class="p0">
    <legend class="usa-sr-only">Originating Facility Filter</legend>
    <div class="bg-gray-5 margin-bottom-1 desktop:margin-bottom-0 desktop:padding-bottom-2px">
      <h2 class="usa-accordion__heading">
        <button class="usa-accordion__button mobile-origin-accordion desktop:display-none"
                aria-expanded="false"
                type="button">
          Originating facility
        </button>
      </h2>

      <div class="grid-row originating-facility-container display-none desktop:padding-bottom-3 desktop:display-block desktop:padding-x-2">
        <p class="text-bold line-height-26 margin-top-2 margin-bottom-1 grid-col-12 display-none desktop:display-block">Originating location</p>
        <%= render partial: 'practices/search_partials/visn_facility_combo_box', locals: {facility_type_selector: 'originating-facility-and-visn-select'} %>
      </div>
    </div>
  </fieldset>

  <fieldset class="p0">
    <legend class="usa-sr-only">Adopting Facility Filter</legend>
    <div class="bg-gray-5 margin-bottom-1 desktop:margin-bottom-0 desktop:padding-bottom-2px">
      <h2 class="usa-accordion__heading">
        <button class="usa-accordion__button mobile-adopting-accordion desktop:display-none"
                aria-expanded="false"
                type="button">
          Adopting facility
        </button>
      </h2>

      <div class="grid-row adopting-facility-container display-none desktop:padding-bottom-3 desktop:display-block desktop:padding-x-2">
        <p class="text-bold line-height-26 margin-top-2 margin-bottom-1 grid-col-12 display-none desktop:display-block">Adopting location</p>
        <%= render partial: 'practices/search_partials/visn_facility_combo_box', locals: {facility_type_selector: 'adopting-facility-and-visn-select'} %>
      </div>
    </div>
  </fieldset>

  <fieldset class="p0">
    <legend class="usa-sr-only">Category Filter</legend>
    <div class="bg-gray-5 desktop:padding-bottom-2px">
      <h2 class="usa-accordion__heading">
        <button class="usa-accordion__button mobile-category-accordion desktop:display-none"
                aria-expanded="false"
                type="button">
          Category
        </button>
      </h2>

      <div class="grid-row category-container display-none padding-top-2 desktop:padding-bottom-1 desktop:padding-top-0 desktop:display-flex desktop:padding-x-2">
        <p class="text-bold line-height-26 margin-y-2 grid-col-12 display-none desktop:display-block margin-top-2">
          Categories
          <%= render partial: 'shared/parent_category_modal' %>
        </p>
        <% @parent_categories.each do |pc| %>
          <%
            non_other_sub_categories = pc.sub_categories.where(is_other: false).order_by_name
            cat_placeholders = []
            if non_other_sub_categories.any?
              cat_placeholders << [Category.new(name: "All #{pc.name.downcase}", parent_category: pc)]
            end

            categories = non_other_sub_categories.any? ? cat_placeholders.first + non_other_sub_categories : []

            sliced_categories = split_data_into_three_columns(categories)
          %>

          <% if non_other_sub_categories.any? %>
            <div class="grid-row grid-col-12 category-container display-none padding-top-2 desktop:padding-bottom-1 desktop:padding-top-0 desktop:display-flex p0-left p0-right">
              <p class="line-height-26 margin-y-2 grid-col-12 display-none desktop:display-block desktop:margin-top-1 desktop:margin-bottom-0"><%= pc.name %></p>
              <% sliced_categories.each_with_index do |sc, i| %>
                <%= render partial: 'practices/search_partials/category_filter_column', locals: { categories: sc, column: i } unless i === 3 %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </fieldset>
</div>

<div class="padding-y-2 padding-x-3 border-top-2px border-base-lightest bg-white desktop:border-top-0 desktop:padding-2" id="filter_button_container">
  <button type="submit" id="update-search-results-button" class="usa-button usa-button--primary display-block width-100 desktop:margin-bottom-1 line-height-19px" name="button">
    Update results
  </button>
  <button type="button" class="usa-button usa-button--secondary display-none desktop:display-block width-full line-height-19px" id="resetSearchFiltersButton">
    Reset filters
  </button>
</div>
