<div class="grid-row">
  <fieldset class="p0">
    <legend class="usa-sr-only">Originating Facility Filter</legend>
    <div class="padding-bottom-2px bg-gray-5">
      <div class="grid-row bg-white padding-x-2">
        <p class="text-bold line-height-26 margin-top-2 margin-bottom-1 grid-col-12">Originating location</p>
        <%= render partial: 'practices/search_partials/visn_facility_combo_box', locals: {facility_type_selector: 'originating-facility-and-visn-select'} %>
      </div>
    </div>
  </fieldset>

  <fieldset class="p0">
    <legend class="usa-sr-only">Adopting Facility Filter</legend>
    <div class="padding-bottom-2px bg-gray-5">
      <div class="grid-row bg-white padding-x-2">
        <p class="text-bold line-height-26 margin-top-2 margin-bottom-1 grid-col-12">Adopting location</p>
        <%= render partial: 'practices/search_partials/visn_facility_combo_box', locals: {facility_type_selector: 'adopting-facility-and-visn-select'} %>
      </div>
    </div>
  </fieldset>

    <%
      categories = Category.where(is_other: false).where.not(name: 'Other').order(Arel.sql('LOWER(name) ASC')).uniq
      # Divide the total by three and round up if possible to make sure the categories are evenly distributed amongst the columns
      count = ((categories.count * 2) + 3) / (3 * 2)
      sliced_categories = categories.each_slice(count).to_a
    %>
    <%# When the category count is divisible by 3 with a remainder of 1, move item(s) from one array to the previous to maintain distribution %>
    <% if categories.count % 3 == 1 %>
      <%
        sliced_categories[2].insert(-1, sliced_categories[3][0])
        sliced_categories[1].insert(-1, sliced_categories[2][0], sliced_categories[2][1])
        sliced_categories[0].insert(-1, sliced_categories[1][0])
        sliced_categories[2].shift(2)
        sliced_categories[1].shift
      %>
    <% end %>

  <fieldset class="p0">
    <legend class="usa-sr-only">Category Filter</legend>
    <div class="bg-gray-5 padding-bottom-2px">
      <div class="grid-row grid-gap bg-white padding-x-2">
        <% if sliced_categories.present? %>
          <p class="text-bold line-height-26 margin-bottom-2 margin-top-1 grid-col-12">Category</p>
          <%= render partial: 'practices/search_partials/category_filter_column', locals: { categories: sliced_categories, column: 0 } %>
          <% if sliced_categories[1].present? %>
            <%= render partial: 'practices/search_partials/category_filter_column', locals: { categories: sliced_categories, column: 1 } %>
          <% end %>
          <% if sliced_categories[2].present? %>
            <%= render partial: 'practices/search_partials/category_filter_column', locals: { categories: sliced_categories, column: 2 } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </fieldset>
</div>
<div class="bg-white padding-2">
  <button type="submit" id="update-search-results-button" class="usa-button dm-btn-primary display-block width-100 margin-bottom-1" name="button">
    Update results
  </button>
  <button type="button" class="usa-button dm-btn-base display-block width-100" id="resetSearchFiltersButton">
    Reset filters
  </button>
</div>
