<h3 class="padding-bottom-1"> Refine Results </h3>

<div id="search-sort-options-container" class="padding-bottom-2" aria-label="Sort options">
  <%
    sort_options = [
      ['Sort by most relevant', 'most_relevant'],
      ['Sort by A to Z', 'a_to_z'],
      ['Sort by most adopted innovations', 'adoptions'],
      ['Sort by most recently added', 'added']
    ]
  %>
  <h4 class="text-bold">Sort By</h3>
  <% sort_options.each do |option| %>
    <div class="usa-radio">
      <input id="search_sort_option_<%= option[1] %>" class="usa-radio__input" type="radio" name="search_sort_option" value="<%= option[1] %>" <%= 'checked' if option[1] == 'adoptions' %> aria-label="<%= option[0] %>">
      <label class="usa-radio__label" for="search_sort_option_<%= option[1] %>" aria-label="<%= option[0] %>">
        <%= option[0] %>
      </label>
    </div>
  <% end %>
</div>

<hr class="border border-base-lighter margin-x-neg-205">

<fieldset class="usa-fieldset padding-bottom-2">
  <legend class="usa-legend usa-typography--h text-bold padding-bottom-1 padding-top-1">Tags</legend>
  <div class="category-filters maxh-mobile">
    <% @parent_categories.each do |parent_category, sub_categories| %>
      <% if sub_categories.any? %>
        <% parent_cat_name = "#{parent_category.name.downcase.gsub(' ', '-')}" %>
        <% all_cats_checkbox_id = "cat-all-#{parent_cat_name}-input" %>
        <% parent_cat_name = parent_category.name.split(' ').join('-').downcase %>
        <div class="usa-checkbox">
          <input
            class="usa-checkbox__input all-<%= parent_cat_name %>-checkbox"
            id=<%= all_cats_checkbox_id %>
            type="checkbox"
            name="All <%= parent_cat_name %>"
            value="All <%= parent_cat_name %>"
          />
          <label class="usa-checkbox__label cat-all-<%= parent_cat_name %>-label" for=<%= all_cats_checkbox_id %>>
            <%= "All #{parent_category.name}" %>
          </label>
        </div>

        <div class="sub-category-checkboxes padding-bottom-3 margin-left-205">
          <% sub_categories.each do |category| %>
            <% category_checkbox_id = "cat-#{category.id}-input" %>
            <% category_checkbox_label = "cat-#{category.id}-label" %>
            <div class="usa-checkbox">
              <input
                class="usa-checkbox__input <%= parent_cat_name %>-checkbox"
                id=<%= category_checkbox_id %>
                type="checkbox"
                name="<%= category.name %>"
                value="<%= category.name %>"
                data-parent-category=<%= parent_cat_name %>
              />
              <label class="usa-checkbox__label <%= category_checkbox_label %>" for=<%= category_checkbox_id %>>
                <%= category.name %>
              </label>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</fieldset>

<hr class="border border-base-lighter margin-x-neg-205">

<fieldset class="usa-fieldset padding-top-1 padding-bottom-3">
  <div id="originating-facility-container">
    <legend class="text-bold line-height-26 margin-bottom-1 grid-col-12 desktop:display-block">Originating Location</legend>
    <%= render partial: 'practices/search_partials/visn_facility_combo_box', locals: {facility_type_selector: 'originating-facility-and-visn-select', visn_grouped_facilities: @visn_grouped_facilities} %>
    <%= render partial: 'shared/visn_info_modal', locals: { hide_modal_on_initial_load: false } %>
  </div>
</fieldset>

<hr class="border border-base-lighter margin-x-neg-205">

<fieldset class="usa-fieldset padding-top-1 padding-bottom-3">
  <div id="adopting-facility-container">
    <legend class="text-bold line-height-26 margin-bottom-1 grid-col-12 desktop:display-block">Adopting location</legend>
    <%= render partial: 'practices/search_partials/visn_facility_combo_box', locals: {facility_type_selector: 'adopting-facility-and-visn-select', visn_grouped_facilities: @visn_grouped_facilities } %>
  </div>
</fieldset>

<div class="border-base-lightest padding-top-2" id="filter_button_container">
  <button type="submit" id="update-search-results-button" class="usa-button filter-submit-button display-block line-height-19px" name="button" form="update-search-results-form">
    Apply filters
  </button>
</div>
