<div class="usa-combo-box margin-top-1 margin-bottom-2 desktop:margin-y-0 desktop:grid-col-5">
  <label for="<%= facility_type_selector %>" class="line-height-26">Select by VISN or facility</label>
  <select id="<%= facility_type_selector %>" class="usa-select" name="<%= facility_type_selector %>">
    <% visn_grouped_facilities = @facilities_data.group_by{ |f| f["VISN"]} %>
    <% visn_grouped_facilities.each_with_index do |group_array, i| %>
      <%
        visn_number = group_array[0]
      %>
      <option value="VISN-id-<%= i + 1 %>">
        VISN-<%= visn_number %>
      </option>
      <%# now that the facilities are grouped by VISN, sort them by OfficialStationName %>
      <% group_array[1].sort_by { |facility| facility["OfficialStationName"] }.each do |f| %>
        <option class="margin-left-1" value="<%= f["StationNumber"] %>">
          <%= facility_name_with_common_name(f["OfficialStationName"], f["CommonName"]) %>
        </option>
      <% end %>
    <% end %>
  </select>
</div>