<%= javascript_include_tag 'batch_email' %>

<%= form_for :email, url: send_email_to_all_editors_admin_practices_path, method: :post, html: { id: 'emailForm' } do |f| %>
  <div>
    <%= f.label :subject, "Email Subject" %><br>
    <%= f.text_field :subject, id: 'emailSubject' %>
  </div>
  <div>
    <%= f.label :message, "Message" %><br>
    <%= f.text_area :message, id: 'emailMessage' %>
  </div>

  <% if @filter_params.present? %>
    <div class="filters-applied">
      <p class="usa-prose">
        <span class="font-weight-bold">
          This email will be sent to the editors of Innovations filtered by the following metrics:
        </span>
        <ul>
          <% @filter_params.each do |key, value| %>
            <li ><%= "#{key}: #{value}" %></li>
          <% end %>
        </ul>
      </p>
    </div>
  <% else %>
    <p>No specific filters applied. Email will be sent to owners and editors of all Innovations.</p>
  <% end %>

  <% if @filter_params %>
    <% @filter_params.each do |key, value| %>
      <% if value.is_a?(Hash) %>
        <% value.each do |k, v| %>
          <%= hidden_field_tag "filter_params[#{key}][#{k}]", v %>
        <% end %>
      <% else %>
        <%= hidden_field_tag "filter_params[#{key}]", value %>
      <% end %>
    <% end %>
  <% end %>

  <div class="margin-top-4">
    <button type="button" class="usa-button" id="previewEmailButton">Preview and Send</button>

  </div>
<% end %>

<%= render 'admin/practices/email_preview_modal' %>
