<%= javascript_include_tag 'batch_email' %>

<%= form_for :email, url: send_email_to_all_editors_admin_practices_path, method: :post, html: { id: 'emailForm' } do |f| %>
  <div>
    <%= f.label :subject, "Email Subject" %><br>
    <%= f.text_field :subject, id: 'emailSubject' %>
  </div>
  <div>
    <%= f.label :message, "Message" %><br>
    <%= f.text_area :message, id: 'emailMessage' %>
  </div>
  <div class="margin-top-4">
    <button type="button" class="usa-button" id="previewEmailButton">Preview Email</button>
  </div>
<% end %>

<%= render 'admin/practices/email_preview_modal' %>
