<% provide :head_tags do %>
  <%= javascript_include_tag 'practice_page', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    <%= render partial: 'products/ahoy_event_tracking', formats: [:js] if current_user.present? %>
  <% end %>
<% end %>
<section class="padding-y-0 margin-bottom-1 margin-top-0">
  <div class="grid-container position-relative">
    <div class="grid-row grid-gap">
      <div id="practice_show" class="grid-col-12 overview-section practice-section margin-y-3">
        <%= render partial: "shared/messages", locals: {small_text: false} %>
        <%= render partial: "products/product_status_banner", locals: { product: @product} %>
      </div>
    </div>
  </div>
</section>

<section id="pr-view-introduction" class="grid-container margin-bottom-3">
	<div class="grid-row grid-gap-2">
		<div class="desktop:grid-col-8 grid-col-12">
		      <h1 class="margin-top-0 margin-bottom-1 dm-word-break-break-word dm-hyphens-auto">
		      	<%= @product.name %>
		      </h1>
		      <%# innovation last update timestamp %>
		      <p class="grid-col-12 font-sans-3xs text-base line-height-sans-4 margin-bottom-2">
		        Last updated <%= timeago(@product&.updated_at) %>
		      </p>
		</div>
	</div>
</section>

<section id="practice-show-product-description" class="grid-container">
	<h2>Product Description</h2>
	<% product_description_fields = [
		[:description, "Executive Summary"],
		[:main_display_image, "Main Product Image", {heading: false}], # replace this with partial to render
		[:item_number, "Item Number"],
		[:vendor, "Vendor"],
		[:duns, "DUNS"],
		[:practice_partners, "Partners", {content: @product&.practice_partners.pluck(:name).join(', ')}],
		[:shipping_timeline_estimate, "Shipping Timeline Estimate"]
	] %>
	<% product_description_fields.each do |arr| %>
		<%	field_name, field_label, field_options = arr %>
		<% if field_options&.present? %>
			<% if field_name == :main_display_image && @product.main_display_image.exists? %>
				<%= render partial: 'main_display_image', locals: { product: @product} %>
			<% else %>
				<%= tag.h3 field_label, class: 'font-sans-lg line-height-25px margin-top-2 margin-bottom-1' unless field_options[:heading] == false %>
				<%= tag.p field_options[:content] %>
			<% end %>
		<% else # default fields %>
			<% next if @product.send(field_name.to_sym).blank? %>
			<h3 class="font-sans-lg line-height-25px margin-top-2 margin-bottom-1"><%= field_label %></h3>
			<p><%= @product.send(field_name.to_sym) %></p>
		<% end %>
	<% end %>
</section>
<section id="practice-show-intrapreneur" class="grid-container">
	<h2>Intrapreneur</h2>
	<h3><%= 'Innovator'.pluralize(@product.va_employee_practices.count) %></h3>
	<% @product.va_employee_practices.each do |innovator| %>
		<div class="innovators margin-bottom-1">
		<p><%= innovator.va_employee&.name %></p>
		<p class="text-italic"><%= innovator.va_employee&.role %></p>
		</div>
	<% end %>
	<h3>From the Innovator</h3>
	<div class="origin-story"><%= simple_format(@product.origin_story, wrapper_tag: "p") %></div>
</section>
<% if @product.practice_multimedia.any? %>
  <section id="practice-show-multimedia" class="margin-bottom-5 grid-container">
    <div class="grid-row grid-gap-2">
      <div class="desktop:grid-col-9 grid-col-12">
      	<h2>Multimedia</h2><span>TO DO: fix partial to fix different heading levels</span>
        <div class="multimedia-section practice-section">
        	<% # temporarily skip files while troubleshooting %>
        	<% multimedia = @product.practice_multimedia.where.not(resource_type: "file") %>
          <%= render partial: 'practices/show/overview/overview_sections', locals: {resources: multimedia, statement: '', title: 'Multimedia', s_area: 'multimedia'} %>
        </div>
      </div>
    </div>
  </section>
<% end %>
<section id="practice-show-order-instructions" class="grid-container">
	<h2>Order Product</h2>
	<ol class="usa-process-list">
	  <li class="usa-process-list__item">
	    <h4 class="usa-process-list__heading">Order from the Marketplace</h4>
	    <p class="margin-top-05">
	      VA employees wishing to order a product should copy and paste the details under the "Order" tab and send it to their usual service-line purchasing agent. If the order is above the purchase card threshold, contact <a class="usa-link" href="mailto:VAIMPSupport@va.gov">VAIMPSupport@va.gov</a>for information on contracting with the vendor. VA employees cannot order directly from the manufacturer unless they are authorized to do so.
	    </p>
	  </li>
	  <li class="usa-process-list__item">
	    <h4 class="usa-process-list__heading">Obtain a Completed VA Form 1091</h4>
	    <p>
	      For first-time purchases from a vendor, contact <a class="usa-link" href="mailto:VAIPMVendorizationRequest@va.gov">VAIPMVendorizationRequest@va.gov</a> to obtain a copy of the completed VA Form 10091 (FSC Vendor File Request Form).
	    </p>
	  </li>
	  <li class="usa-process-list__item">
	    <h4 class="usa-process-list__heading">Request a Local Vendor Number</h4>
	    <p>
	      Follow your local vendorization process to request the assignment of a local vendor number.
	    </p>
	  </li>
	</ol>
</section>
