<p id="notice"><%= notice %></p>

<h1>Clinical Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th>Description</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinical_locations.each do |clinical_location| %>
      <tr>
        <td><%= clinical_location.name %></td>
        <td><%= clinical_location.short_name %></td>
        <td><%= clinical_location.description %></td>
        <td><%= clinical_location.position %></td>
        <td><%= link_to 'Show', clinical_location %></td>
        <td><%= link_to 'Edit', edit_clinical_location_path(clinical_location) %></td>
        <td><%= link_to 'Destroy', clinical_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clinical Location', new_clinical_location_path %>
