<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clinical_location.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @clinical_location.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @clinical_location.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @clinical_location.position %>
</p>

<%= link_to 'Edit', edit_clinical_location_path(@clinical_location) %> |
<%= link_to 'Back', clinical_locations_path %>
