<%#
  Views that use this partial must supply the following variables:
  thread
  user
%>

<div id="commontator-thread-<%= thread.id %>-reply" class="reply">
  <% if thread.is_closed? %>
    <p><%= t 'commontator.thread.status.cannot_post' %></p>
  <% elsif !user %>
    <p><%= t 'commontator.require_login' %>.</p>
  <% else %>
    <div id="commontator-thread-<%= thread.id %>-new-comment" class="<%= thread.comments.any? ? 'margin-bottom-4' : '' %>new-comment">
      <% unless @commontator_new_comment.nil? %>
        <%=
          render partial: 'commontator/comments/form', locals: {
            comment: @commontator_new_comment, thread: thread
          }
        %>
      <% end %>
      <h5 class="font-sans-3xs line-height-15px text-bold text-ls-1 text-uppercase">
        <span id="practice-comment-count">
          <%= @practice.commontator_thread.comments.count  %>
        </span>
        <span id="practice-comment-label">
          <%= @practice.commontator_thread.comments.count == 1  ? 'comment' : 'comments' %>
        </span>
      </h5>
    </div>
  <% end %>
</div>
