<div id="va-facility-<%= va_facility.id %>-marker-modal" class="font-sans-sm padding-2">
  <%= link_to "#{va_facility.official_station_name}", va_facility_path(va_facility), class: 'marker-modal-va-facility-link display-block text-bold margin-bottom-2' %>
  <%
    practices_created_count = get_practices_created_count_by_va_facility(va_facility)
    practices_adopted_count = get_practices_adopted_count_by_va_facility(va_facility)
  %>
  <p class="margin-bottom-2"><%= practices_created_count %> practice<%= 's' if practices_created_count != 1 %> created here</p>
  <p><%= practices_adopted_count %> practice<%= 's' if practices_adopted_count != 1 %> adopted here</p>
</div>