<p id="notice"><%= notice %></p>

<h1>Job Positions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th>Description</th>
      <th>Position</th>
      <th>Job position category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_positions.each do |job_position| %>
      <tr>
        <td><%= job_position.name %></td>
        <td><%= job_position.short_name %></td>
        <td><%= job_position.description %></td>
        <td><%= job_position.position %></td>
        <td><%= job_position.job_position_category %></td>
        <td><%= link_to 'Show', job_position %></td>
        <td><%= link_to 'Edit', edit_job_position_path(job_position) %></td>
        <td><%= link_to 'Destroy', job_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job Position', new_job_position_path %>
