<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ancillary_service.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @ancillary_service.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ancillary_service.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @ancillary_service.position %>
</p>

<%= link_to 'Edit', edit_ancillary_service_path(@ancillary_service) %> |
<%= link_to 'Back', ancillary_services_path %>
