<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Diffusion Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <main id="main-content" class="<%= params[:controller] %>">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>

</html>
