<!DOCTYPE html>
<html lang="en">
  <head>
    <% if Rails.env.production? && ENV['PROD_SERVERNAME'] == "PROD" && private_path? == false %>
      <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
      <script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=VA" id="_fed_an_ua_tag"></script>
    <% end %>
    <title>Diffusion Marketplace</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content= "width=device-width, initial-scale=1, minimum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'shared/_utilityFunctions', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>
    <%= javascript_tag 'data-turbolinks-track': 'false' do %>
      <%= render partial: 'layouts/ahoy_event_tracking', formats: [:js] %>
    <% end %>
    <% if current_user.present? %>
      <%= javascript_include_tag 'session_timeout_poller.js', 'data-turbolinks-track': 'false', defer: true %>
      <%= javascript_tag 'data-turbolinks-track': 'false' do %>
        var forceModal = <%= @force_terms_and_conditions_modal %>;
      <% end %>
      <%= javascript_include_tag '_terms_and_conditions', 'data-turbolinks-track': 'false', defer: true %>
    <% end %>
    <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
      var forceModal = <%= @force_terms_and_conditions_modal %>;
    <% end %>
    <%= javascript_include_tag '_terms_and_conditions', 'data-turbolinks-track': 'reload', defer: true %>

    <%= javascript_include_tag '_header_utilities', 'data-turbolinks-track': 'false', defer: true %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="preload" as="style">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <meta name="turbolinks-cache-control" content="no-preview">
    <% if @reload_turbolinks %>
      <meta name="turbolinks-visit-control" content="reload">
    <% end %>
    <%= yield(:head_tags) %>
    <%= yield(:top_practice_img_styles) %>
    <%= yield(:styles) %>
  </head>

  <body <% if content_for?(:body_attributes) %>
          <%= yield(:body_attributes) %>
        <% end %> class="<%= yield(:body_classes) %>">
    <% is_practice_editor = params[:controller] === 'practices' && (NavigationHelper::INNOVATION_EDITOR_PAGES.include?(params[:action]) || params[:action] === 'metrics') %>
    <% is_product_editor = params[:controller] === 'products' && NavigationHelper::INNOVATION_EDITOR_PAGES.include?(params[:action]) %>
    <%= render 'shared/header' unless is_practice_editor %>
    <%= render 'practices/shared/practice_editor_header' if is_practice_editor %>
    <main
      id="main-content"
      class="<%= params[:controller] %> <%= params[:action] %>-main <%= yield(:main_classes) %><%= ' additional-return-to-top-padding' if params[:controller] === 'practices' && NavigationHelper::RETURN_TO_TOP_PAGES.include?(params[:action]) %>"
    >
      <% if session[:breadcrumbs].any? || session[:heading].present? %>
        <%= render partial: 'shared/breadcrumbs', locals: {classes: params[:controller] === 'clinical_resource_hubs' && params[:action] === 'show' ? 'margin-top-96' : nil} %>
      <% end %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' unless (is_practice_editor || is_product_editor) %>
    <%= render 'practices/shared/practice_editor_footer' if (is_practice_editor || is_product_editor) %>

    <% if current_user.present? %>
      <%= render partial: 'shared/terms_and_conditions_modal' %>
    <% end %>

    <% if @include_google_maps %>
      <script>
        function loadScript(src, callback) {
          const script = document.createElement('script');
          script.src = src;
          script.defer = true;
          script.async = true;
          script.onload = callback;
          document.head.appendChild(script);
        }

        function loadMapLibraries() {
          if (typeof google === 'undefined' || typeof google.maps === 'undefined') {
            setTimeout(loadMapLibraries, 100);
            return;
          }
          loadScript("https://cdn.jsdelivr.net/gh/mahnunchik/markerclustererplus@master/dist/markerclusterer.min.js", function() {
            loadScript("https://cdn.jsdelivr.net/gh/printercu/google-maps-utility-library-v3-read-only@master/infobox/src/infobox_packed.js", function() {
              loadScript("https://cdn.jsdelivr.net/gh/googlemaps/js-rich-marker@gh-pages/src/richmarker-compiled.js", function() {
                if (window.initialize) {
                  window.initialize();
                }
              });
            });
          });
        }

        document.addEventListener('DOMContentLoaded', function () {
          const GOOGLE_API_KEY = "<%= ENV['GOOGLE_API_KEY'] %>";
          loadScript(`https://maps.googleapis.com/maps/api/js?key=${GOOGLE_API_KEY}&loading=async`, function() {
            loadMapLibraries();
          });
        });
      </script>
    <% end %>
  </body>
</html>
